raksanalyzer/testdata/t2mpoc/src/main/mule/parentpomconversion.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<flow name="parentpomconversionFlow" doc:id="9c79ea34-9861-4cec-b0ef-521ccba11dce" >
		<http:listener doc:name="Listener" doc:id="978e5d14-1167-4238-81f6-8b07ec46bfcf" config-ref="HTTP_Listener_config" path="/addparentpomconfig"/>
		<ee:transform doc:name="Transform Message" doc:id="f10c6060-434c-40e8-bef8-b01250576ee9" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
payload.parts.pomcontent.content as String]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<ee:transform doc:name="Transform Message" doc:id="d353c11a-be72-4b67-a1df-54602caaa5c0" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
import * from dw::core::Strings
---
{
}]]></ee:set-payload>
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="contentbeforeproperties" ><![CDATA[%dw 2.0
output application/java
import * from dw::core::Strings
---
substringBefore(payload,'<properties>') ++ '<parent>
		<groupId>com.truist.eapi</groupId>
		<artifactId>MuleParentPom</artifactId>
		<version>LATEST</version>
	</parent>']]></ee:set-variable>
				<ee:set-variable variableName="propertycontent" ><![CDATA[%dw 2.0
output application/java
import * from dw::core::Strings
---
'<properties>' ++ substringBefore(substringAfter(payload,'<properties>'),'</properties>') ++ '\n<cicd.mule.version>4.4.0</cicd.mule.version>\n' ++ '</properties>']]></ee:set-variable>
				<ee:set-variable variableName="contentbeforedependencies" ><![CDATA[%dw 2.0
output application/java
import * from dw::core::Strings
---
substringAfter(substringBefore(payload,'<dependencies>'),'</properties>')]]></ee:set-variable>
				<ee:set-variable variableName="dependencycontent" ><![CDATA[%dw 2.0
output application/java
import * from dw::core::Strings
---
substringBefore(substringAfter(payload,'<dependencies>'),'</dependencies>') splitBy('\n')]]></ee:set-variable>
				<ee:set-variable variableName="contentafterdependencies" ><![CDATA[%dw 2.0
output application/java
import * from dw::core::Strings
---
substringAfter(payload,'</dependencies>')]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<foreach doc:name="For Each" doc:id="46e1b927-8d95-4baf-afbd-dd9816719413" collection="#[vars.dependencycontent default []]">
			<choice doc:name="Choice" doc:id="3966d27e-d3da-4080-8d76-06395527d61e" >
				<when expression="#[(!(payload contains('&lt;version&gt;')))]">
					<set-variable value='#[%dw 2.0&#10;output application/java&#10;var curdepcontent = vars.updateddependencycontent default ""&#10;---&#10;if(sizeOf(curdepcontent)&gt;0) curdepcontent ++ "\n" ++ payload else payload]' doc:name="Set Variable" doc:id="e21a2640-edd6-458c-80c1-9eab17868a6a" variableName="updateddependencycontent"/>
				</when>
			</choice>
		</foreach>
		<set-payload value='#[%dw 2.0&#10;---&#10;(vars.contentbeforeproperties default "") ++ (vars.propertycontent default "")  ++ (vars.contentbeforedependencies default "") ++ "&lt;dependencies&gt;" ++ (vars.updateddependencycontent default "") ++ "&lt;/dependencies&gt;" ++ (vars.contentafterdependencies default "")]' doc:name="Set Payload" doc:id="16dc2f6e-eefd-48a2-8ef7-e072dabfacbc" mimeType="application/xml"/>
		<ee:transform doc:name="Transform Message" doc:id="3214c5ff-4a4a-49bf-ab00-e88273f62b8a" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/xml
---
payload]]></ee:set-payload>
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="parentpomresponse" ><![CDATA[%dw 2.0
output application/xml
---
payload]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<parse-template doc:name="Parse Template" doc:id="3b0b80da-6dee-4683-a91a-5530e5e64745" location="web\parentpomresponse.html"/>
	</flow>
	<flow name="parentpomconversionFlow1" doc:id="7df2e604-e503-47bb-9544-9459db51af09" >
		<http:listener doc:name="Listener" doc:id="03870793-c0ec-4813-a287-222bbdad86bd" config-ref="HTTP_Listener_config" path="/addparentpom"/>
		<parse-template doc:name="Parse Template" doc:id="5bf5758e-d5b4-4dbc-8f75-ba31282b4154" location="web\addparentpom.html"/>
	</flow>
</mule>
