raksanalyzer/testdata/t2mpoc/src/main/mule/t2mpoc.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:api-gateway="http://www.mulesoft.org/schema/mule/api-gateway"
	xmlns:secure-properties="http://www.mulesoft.org/schema/mule/secure-properties"
	
	xmlns:tls="http://www.mulesoft.org/schema/mule/tls" xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns:tracing="http://www.mulesoft.org/schema/mule/tracing"
	xmlns:os="http://www.mulesoft.org/schema/mule/os" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/api-gateway http://www.mulesoft.org/schema/mule/api-gateway/current/mule-api-gateway.xsd 
http://www.mulesoft.org/schema/mule/tls http://www.mulesoft.org/schema/mule/tls/current/mule-tls.xsd 
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/os http://www.mulesoft.org/schema/mule/os/current/mule-os.xsd
http://www.mulesoft.org/schema/mule/tracing http://www.mulesoft.org/schema/mule/tracing/current/mule-tracing.xsd 
http://www.mulesoft.org/schema/mule/secure-properties http://www.mulesoft.org/schema/mule/secure-properties/current/mule-secure-properties.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="1044a46a-98f5-442c-ad71-63fa76f4c8cc">
		<http:listener-connection host="0.0.0.0" port="8081" usePersistentConnections="false" protocol="HTTPS" tlsContext="TLS_Context"/>
	</http:listener-config>
	<os:config name="ObjectStore_Config" doc:name="ObjectStore Config" doc:id="d5b9e4e4-cb13-41da-a74c-3d119578f8b4" />
	<os:object-store name="Object_store" doc:name="Object store" doc:id="5ef65e15-cb9e-44e8-a7d1-c4fe4d0bc3d2" maxEntries="100" entryTtl="10" entryTtlUnit="HOURS" expirationInterval="10" expirationIntervalUnit="HOURS" config-ref="ObjectStore_Config" />
<ee:object-store-caching-strategy name="Caching_Strategy" doc:name="Caching Strategy">
  <!-- Object Store defined for the caching strategy-->
  <os:private-object-store
    alias="CachingStrategy_ObjectStore"
    maxEntries="100"
    entryTtl="10"
    expirationInterval="5"
    config-ref="ObjectStore_Config" />
</ee:object-store-caching-strategy>
	
	<configuration-properties doc:name="Configuration properties" doc:id="9b5038d4-e5d3-4a92-b2c5-48fca3225169" file="mule-app.properties" />
	<secure-properties:config
		name="Secure_Properties_Config" doc:name="Secure Properties Config"
		doc:id="e84cf3e7-33b7-4b84-ac9f-106d67796258" file="secure.properties"
		key="${secure.key}" />
	<global-property doc:name="Global Property"
		doc:id="312c6447-8cc8-45e6-b195-74ae817e1d0d" name="secure.key"
		value="A2Sgd@gamgdTV@ms" />
		
	<api-gateway:autodiscovery apiId="${apiId}" ignoreBasePath="true" doc:name="API Autodiscovery" doc:id="bec42e52-341a-4a11-95db-fa894f8ff968" flowRef="t2mpocFlow" />
	
	<tls:context name="TLS_Context" doc:name="TLS Context"
		doc:id="b530699e-cf2c-4bc9-a07d-6ace5b7d40f0">
		<tls:key-store type="jks" path="${keystore.path}"
			alias="${keystore.alias}"
			keyPassword="${secure::lastmile.keypassword}"
			password="${secure::lastmile.keypassword}" />
	</tls:context>
	<!-- Spring config to call vault for HTTPS for ivrcasemngapi api -->
	<flow name="t2m_pocFlow" doc:id="45d0d7b3-9c6c-4715-8479-5db8fdc1b30f" >
		<http:listener doc:name="Listener" doc:id="1044a46a-98f5-442c-ad71-63fa76f4c8cc" config-ref="HTTP_Listener_config" path="${cacheupdate}"/>
		<ee:cache doc:name="Cache" doc:id="25aa8e0a-0fc4-42f3-8d61-227a0089ba6d" cachingStrategy-ref="Caching_Strategy">
			<set-variable value="#[attributes.queryParams.cache]" doc:name="Set Variable" doc:id="cd1bfea7-c3d0-4d9c-b25b-922b59af0fa9" variableName="cachevar" />
			 <logger level="INFO" doc:name="Logger" doc:id="94678bf9-465c-4bfa-9bbf-33f2ad50e0bc" message="Variable has been updated" />
			<ee:transform doc:name="Transform Message" >
    <ee:message >
      <ee:set-payload >
        <!-- A DataWeave transformation for the query results --><![CDATA[
"Cache scope has been updated"]]>
      </ee:set-payload>
    </ee:message>
  </ee:transform>
			<os:store doc:name="Store" doc:id="d12a6454-b1a1-4451-90b2-1d9f2932e921" key="cachevalue" objectStore="Object_store"/>
		</ee:cache>
	</flow>
	<flow name="t2m_pocFlow1" doc:id="33200bee-d907-46d2-844b-8d839ab23101" >
		<http:listener doc:name="Listener" doc:id="a3c3359a-b4d6-4c01-9961-633fa4481cb7" config-ref="HTTP_Listener_config" path="${cacheretrieve}"/>
		<os:retrieve doc:name="Retrieve" doc:id="58224208-611b-4199-abe3-0bd3684d74f1" key="cachevalue" objectStore="Object_store"/>
		<ee:transform doc:name="Transform Message" doc:id="07e86e01-e6ac-4f29-8a5e-30780af5dd95" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
payload as String ++ " , " ++ (vars.cachevar default "")]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="t2mpocFlow" doc:id="03b9c228-ab13-4c28-8725-5eefc02bb9e6" >
		<http:listener doc:name="Listener" doc:id="c33a801b-02d2-4269-8d2c-0b618f845ecd" config-ref="HTTP_Listener_config" path="/t2mpoc"/>
		<ee:transform doc:name="Transform Message" doc:id="a59fc168-3e67-4886-8a6d-e7ca68ad95d8" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
"t2mpoc flow testing"]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
