raksanalyzer/deleteLater/t2mpoc/src/main/mule/devtrackerread.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:email="http://www.mulesoft.org/schema/mule/email" xmlns:os="http://www.mulesoft.org/schema/mule/os"
	xmlns:file="http://www.mulesoft.org/schema/mule/file"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
http://www.mulesoft.org/schema/mule/os http://www.mulesoft.org/schema/mule/os/current/mule-os.xsd
http://www.mulesoft.org/schema/mule/email http://www.mulesoft.org/schema/mule/email/current/mule-email.xsd">
	<flow name="devtrackerreadFlow" doc:id="0a428189-ee2a-45d5-a598-77d0aed6234f" >
		<http:listener doc:name="Listener" doc:id="c57b6416-9d07-4773-9c72-d7fb7dce63b8" config-ref="HTTP_Listener_config" path="/getratelimits"/>
		<ee:transform doc:name="Transform Message" doc:id="16e5112d-6418-4806-9d6a-241f8eb5c508">
			<ee:message>
			</ee:message>
			<ee:variables>
				<ee:set-variable variableName="apiname"><![CDATA[%dw 2.0
output application/java
import * from dw::core::Strings
var apiname = payload.parts.apiname.content
---
if(apiname contains(',')) (apiname splitBy(',')) else (apiname splitBy(' '))
]]></ee:set-variable>
				<ee:set-variable variableName="branches"><![CDATA[%dw 2.0
output application/java
---
"master"]]></ee:set-variable>
				<ee:set-variable variableName="failedapis"><![CDATA[%dw 2.0
output application/java
---
""]]></ee:set-variable>
				<ee:set-variable variableName="developer" ><![CDATA[%dw 2.0
output application/java
---
payload.parts.developer.content]]></ee:set-variable>
				<ee:set-variable variableName="exportflag" ><![CDATA[%dw 2.0
output application/java
---
payload.parts.exportflag.content]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<os:retrieve doc:name="Retrieve" doc:id="6b722f4d-997e-421f-9873-2e7cb73a10ea" key="Development" objectStore="Object_store"/>
		<ee:transform doc:name="Transform Message" doc:id="836b6505-e3a4-45a6-8c93-4014ec32e180" >
			<ee:message >
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="trackerdata" ><![CDATA[%dw 2.0
output application/json
---
api : payload map(data,index)->{
	apiname : data."Git Repo Name",
	ratelimit : (data."API Rate Limit") as String { format : "#"}
}]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<ee:transform doc:name="Transform Message" doc:id="5d4f8fd7-57c6-4b82-9af1-c3b980bcda21" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
(vars.trackerdata.api distinctBy $) filter(v,i)-> (sizeOf(v.apiname)>0)]]></ee:set-payload>
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="devtrackervalues" ><![CDATA[%dw 2.0
output application/json
---
(vars.trackerdata.api distinctBy $) filter(v,i)-> (sizeOf(v.apiname)>0)]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<foreach doc:name="For Each" doc:id="c02d757b-a36b-4f52-bbb4-080e589e1833" collection="#[vars.apiname default []]">
			<try doc:name="Try" doc:id="6207326c-8b14-4b1a-8d04-64e161b61350">
			<set-variable value="#[payload]" doc:name="Set Variable" doc:id="a9f95864-c784-416b-b0d2-c0dab940f0d9" variableName="currentapiname" />
				<ee:transform doc:name="Transform Message1" doc:id="58c17d8c-9eab-4139-a905-949262e91ae1">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/java
---
"/api/v4/search?scope=projects&search=" ++ (vars.currentapiname default "") ++ "_config&private_token=" ++ "${password.gitlab}"
]]></ee:set-payload>
			</ee:message>
					<ee:variables >
						<ee:set-variable variableName="devtrackervalue" ><![CDATA[%dw 2.0
output application/java
---
(vars.devtrackervalues filter(v,i)->(v.apiname == vars.currentapiname))[0].ratelimit]]></ee:set-variable>
						<ee:set-variable variableName="envratelimits" ><![CDATA[%dw 2.0
output application/java
---
""]]></ee:set-variable>
					</ee:variables>
		
</ee:transform>
				<http:request method="GET" doc:name="request" doc:id="ee1d3cc0-a03e-46a4-bded-3018aaec9698" config-ref="GetCredential" path="#[payload]" />
				<ee:transform doc:name="Transform Message" doc:id="5e6b941e-99a3-4be0-b015-a2f42e9d13fc">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
var api=vars.currentapiname
---
if((payload filter(v,i)-> (v.name == api)).id[0]==null) (payload.id[0]) else (payload filter(v,i)-> (v.name == api)).id[0]]]></ee:set-payload>
			</ee:message>
			<ee:variables>
				<ee:set-variable variableName="projectid"><![CDATA[%dw 2.0
output application/json
var api=vars.currentapiname
---
if((payload filter(v,i)-> (v.name == api)).id[0]==null) (payload.id[0]) else (payload filter(v,i)-> (v.name == api)).id[0]]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
				<ee:transform doc:name="Transform Message" doc:id="a4e25c0e-3fe5-4155-bd9e-a086244c1f1c">
						<ee:message>
							<ee:set-payload><![CDATA[%dw 2.0
output application/java
var env=if(upper(vars.exportflag) == "NO") ("TDV,ATDV,MNE,ITE,IBF,PITE,PREP,DRL,PROD,DR,TRN") else ("PREP,PROD")

---
env splitBy(",")]]></ee:set-payload>
						</ee:message>
					</ee:transform>
				<foreach doc:name="For Each" doc:id="238f71f5-825d-4230-8465-064bb4c7ce12">
						<ee:transform doc:name="Transform Message2" doc:id="59561587-b622-4bfc-888f-6624c033d054">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/java
import * from dw::core::Strings
var path="Policies/"
var separator = if(path contains('/')) "/" else "\\"
var replacedstring = replaceAll(path,separator,'%2F')
var branch=vars.branches
var env=payload
---

"/api/v4/projects/" ++ vars.projectid ++ "/repository/files/" ++ replacedstring ++ env ++ ".policy" ++ "?ref=" ++ branch ++ "&private_token=" ++ p('password.gitlab')
]]></ee:set-payload>
			</ee:message>
							<ee:variables>
								<ee:set-variable variableName="currentenv"><![CDATA[%dw 2.0
output application/java
---
payload]]></ee:set-variable>
							</ee:variables>
		
</ee:transform>
						<http:request method="GET" doc:name="Request" doc:id="431e35e2-23eb-421c-9e65-9125ffc5c08f" config-ref="GetCredential" path="#[payload]" />
						<choice doc:name="Choice" doc:id="7176d2b0-033f-4cd6-a739-bae39991a880">
					<when expression="#[sizeOf(payload.content)&gt;20]">
						<ee:transform doc:name="Transform Message" doc:id="ce003fc7-d045-48e5-8ef9-848a2bda0f30">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
import * from dw::core::Binaries
output text/plain
---
fromBase64(payload.content as String) as String]]></ee:set-payload>
			</ee:message>
									<ee:variables>
										<ee:set-variable variableName="decryptedcontent"><![CDATA[%dw 2.0
output application/java
---
""]]></ee:set-variable>
									</ee:variables>
		</ee:transform>
								<ee:transform doc:name="Transform Message" doc:id="52180be4-94e8-4119-a3cf-000edaece71f">
									<ee:message>
										<ee:set-payload><![CDATA[%dw 2.0
output application/json
import * from dw::core::Strings
---
trim(substringAfter(((payload splitBy('\n')) filter(v,i)-> (!(v contains('#'))) and (sizeOf(trim(v default ""))>1) and (v contains("ratelimit.policy.rate")))[0],"="))
]]></ee:set-payload>
									</ee:message>
								</ee:transform>
								<set-variable value='#[%dw 2.0&#10;output application/java&#10;var envratelimits = vars.envratelimits default ""&#10;var env = vars.currentenv default ""&#10;---&#10;if(sizeOf(envratelimits)&gt;0) (envratelimits ++ "," ++ env ++ ":" ++ payload) else (env ++ ":" ++ payload)]' doc:name="Set Variable" doc:id="a1477748-436a-458e-a1b6-b5ecf617922e" variableName="envratelimits" />
								
</when>
								</choice>
					</foreach>
				<ee:transform doc:name="Transform Message" doc:id="a3d0005e-a494-4646-9605-146649d0f743" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/java
import * from dw::core::Strings
var ratelimits = vars.envratelimits default ""
---
{
	apiname : vars.currentapiname,
	devtrackervalue : vars.devtrackervalue,
	TDV : substringBefore(substringAfter(ratelimits,"TDV:"),","),
	ATDV : substringBefore(substringAfter(ratelimits,"ATDV:"),","),
	MNE : substringBefore(substringAfter(ratelimits,"MNE:"),","),
	ITE : substringBefore(substringAfter(ratelimits,"ITE:"),","),
	IBF : substringBefore(substringAfter(ratelimits,"IBF:"),","),
	PITE : substringBefore(substringAfter(ratelimits,"PITE:"),","),
	PREP : substringBefore(substringAfter(ratelimits,"PREP:"),","),
	DRL : substringBefore(substringAfter(ratelimits,"DRL:"),","),
	PROD : substringBefore(substringAfter(ratelimits,"PROD:"),","),
	DR : substringBefore(substringAfter(ratelimits,"DR:"),","),
	TRN : substringAfter(ratelimits,"TRN:")
}]]></ee:set-payload>
					</ee:message>
					<ee:variables >
						<ee:set-variable variableName="prepnproddata" ><![CDATA[%dw 2.0
output application/java
import * from dw::core::Strings
var ratelimits = vars.envratelimits default ""
---
vars.currentapiname ++ "," ++ vars.devtrackervalue ++ "," ++ substringBefore(substringAfter(ratelimits,"PREP:"),",") ++ "," ++ substringAfter(ratelimits,"PROD:")
	
]]></ee:set-variable>
					</ee:variables>
				</ee:transform>
				<set-variable value="#[%dw 2.0&#10;output application/json&#10;---&#10;(vars.apiratelimits default []) &lt;&lt; payload]" doc:name="Set Variable" doc:id="3e337005-c634-43c9-a1bb-e6c412ec9656" variableName="apiratelimits"/>
				<set-variable value='#[%dw 2.0&#10;output application/java&#10;var header = "API Name,DEV TRACKER,PREP,PROD"&#10;var prepnproddatavar = vars.prepnproddatavar default ""&#10;---&#10;if(sizeOf(prepnproddatavar)&gt;0) prepnproddatavar ++ "\n" ++ vars.prepnproddata else header ++ "\n" ++ vars.prepnproddata]' doc:name="Set Variable" doc:id="54f65d30-5644-49e1-b2a2-95ef6a1dde44" variableName="prepnproddatavar"/>
								
</try>
								
</foreach>
		<choice doc:name="Choice" doc:id="dbe7add0-65d2-4988-8180-c7c8844e81c0" >
			<when expression='#[(upper(vars.exportflag) == "NO")]'>
				<ee:transform doc:name="Transform Message" doc:id="557470f3-8643-4090-b605-0b7a97401344">
					<ee:message>
						<ee:set-payload><![CDATA[%dw 2.0
import * from dw::core::Strings
output application/xml
var apiarray = vars.apiratelimits default []
---

		table @(align:'center'):
		{
			tr : {
				td  @(class : 'reviewheader'): "API Name",
				td  @(class : 'reviewheader'): "DEV Tracker" ,
				td  @(class : 'reviewheader'): "TDV",
				td  @(class : 'reviewheader'): "ATDV",
				td  @(class : 'reviewheader'): "MNE",
				td  @(class : 'reviewheader'): "ITE",
				td  @(class : 'reviewheader'): "IBF",
				td  @(class : 'reviewheader'): "PITE",
				td  @(class : 'reviewheader'): "PREP",
				td  @(class : 'reviewheader'): "DRL",
				td  @(class : 'reviewheader'): "PROD",
				td  @(class : 'reviewheader'): "DR",
				td  @(class : 'reviewheader'): "TRN"
			},
			tr: apiarray map
			{		
						td @(class : 'reviewelement'): $.apiname,
						td @(class : 'reviewelement'): $.devtrackervalue,
						td @(class : 'reviewelement'): $.TDV,
						td @(class : 'reviewelement'): $.ATDV,
						td @(class : 'reviewelement'): $.MNE,
						td @(class : 'reviewelement'): $.ITE,
						td @(class : 'reviewelement'): $.IBF,
						td @(class : 'reviewelement'): $.PITE,
						td @(class : 'reviewelement'): $.PREP,
						td @(class : 'reviewelement'): $.DRL,
						td @(class : 'reviewelement'): $.PROD,
						td @(class : 'reviewelement'): $.DR,
						td @(class : 'reviewelement'): $.TRN
						
			}
			
		}]]></ee:set-payload>
					</ee:message>
			<ee:variables>
				<ee:set-variable variableName="prepnproddatatable"><![CDATA[%dw 2.0
import * from dw::core::Strings
output application/xml
var apiarray = vars.apiratelimits default []
---

		table @(align:'center'):
		{
			tr : {
				td  @(class : 'reviewheader'): "API Name",
				td  @(class : 'reviewheader'): "DEV Tracker" ,
				td  @(class : 'reviewheader'): "PREP",
				td  @(class : 'reviewheader'): "PROD"
				
			},
			tr: apiarray map
			{		
						td @(class : 'reviewelement'): $.apiname,
						td @(class : 'reviewelement'): $.devtrackervalue,
						td @(class : 'reviewelement'): $.PREP,
						td @(class : 'reviewelement'): $.PROD
						
						
			}
			
		}]]></ee:set-variable>
			</ee:variables>
				</ee:transform>
				<parse-template doc:name="Parse Template" doc:id="b93281fd-aa31-4100-a31a-bb893c8a9dc2" location="web\apiratelimitdata.html" />
			</when>
			<otherwise >
				<ee:transform doc:name="Transform Message" doc:id="1779ace8-ae20-4d31-82a9-e6a530667771">
					<ee:message>
						<ee:set-payload><![CDATA[%dw 2.0
output application/java
---
vars.prepnproddatavar ]]></ee:set-payload>
					</ee:message>
				</ee:transform>
				<try doc:name="Try" doc:id="8883db5a-b9db-485c-a101-feb7c90f0eb2">
			<email:send doc:name="Send" doc:id="dab086aa-101a-4e3e-81cf-2494ab3c03c9" config-ref="Email_SMTP" fromAddress="${smtp.from}" subject='#["Ratelimit Export" ++ ", status : " ++ "Pass"]'>
				<email:to-addresses>
					<email:to-address value="#[vars.developer]" />
				</email:to-addresses>
				<email:cc-addresses >
							<email:cc-address value="DL.API.T2M@truist.com" />
						</email:cc-addresses>
						<email:body contentType="text/html" encoding="UTF-8">
					<email:content><![CDATA[#[%dw 2.0
output text/plain
import * from dw::core::Strings

---
"Hi,</br></br>Please find the attached Ratelimit Export data. </br></br>Thanks & Regards,</br>T2M Ratelimit Tool"]]]></email:content>
				</email:body>
						<email:attachments><![CDATA[#[{
	"Ratelimit Export.csv" : payload
}]]]></email:attachments>
			</email:send>
			<error-handler>
				<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="5f6321b3-f7b8-4eab-91ed-11b7ee8e13e8">
					<logger level="INFO" doc:name="Logger" doc:id="a5ef4036-95e6-4f89-9b7f-128f75248ad1" message="Error sending email" />
				</on-error-continue>
			</error-handler>
		</try>
				<parse-template doc:name="Parse Template" doc:id="51857d7e-2a19-4462-ab12-cb1d069fe4b9" location="web\ratelimitexportsent.html"/>
			</otherwise>
		</choice>
	</flow>
	<flow name="devtrackerreadFlow1" doc:id="474900f7-dcef-4528-a05f-7a05affdeada" >
		<http:listener doc:name="Listener" doc:id="84df5f78-89ea-456e-a318-40e6a0a21cd8" config-ref="HTTP_Listener_config" path="/ratelimits"/>
		<parse-template doc:name="Parse Template" doc:id="30eaca26-0dad-417b-9682-5d7615066fb6" location="web\getratelimits.html"/>
	</flow>
	<flow name="devtrackerreadFlow2" doc:id="3a287735-67ea-4c89-b26d-677a8ae56851" >
		<http:listener doc:name="Listener" doc:id="1c64624a-7d1f-40c2-b077-9da914b8fc69" config-ref="HTTP_Listener_config" path="/loadtracker"/>
		<file:read doc:name="Read" doc:id="d5e41ade-231c-4c4f-ae8b-985ad11b524f" config-ref="File_Config" path="#[p('gui.apphome') ++ &quot;T2M Wave0 Development Tracker.xlsx&quot;]" outputMimeType="application/xlsx"/>
		<ee:transform doc:name="Transform Message" doc:id="8354b08e-2140-4698-aef2-43e9335be227" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<os:store doc:name="Store" doc:id="0bf00d12-4090-4f01-84b9-f06561530a1b" key="Development" failOnNullValue="false" objectStore="Object_store">
			<os:value ><![CDATA[#[%dw 2.0
output application/json
---
payload.Development]]]></os:value>
		</os:store>
		<parse-template doc:name="Parse Template" doc:id="a8997569-764f-4555-874d-55be38b6e1be" location="web\devtrackerloaded.html"/>
	</flow>
	<flow name="devtrackerreadFlow3" doc:id="d17066ae-05b3-4868-be90-51cd7d7518e3" >
		<http:listener doc:name="Listener" doc:id="2005b670-0626-4764-a670-c77f7e35b78b" config-ref="HTTP_Listener_config" path="/trackerload"/>
		<parse-template doc:name="Parse Template" doc:id="ab08e6fb-7c53-40a7-b6e2-68d08ffc0526" location="web\trackerload.html"/>
	</flow>
</mule>
