raksanalyzer/deleteLater/t2mpoc/src/main/mule/interceptcicscalls.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:file="http://www.mulesoft.org/schema/mule/file"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd">
	<file:config name="File_Config" doc:name="File Config" doc:id="4920c81c-be8d-4078-96a2-eda06db0ad1c" />
	<http:request-config name="HTTP_Request_configuration" doc:name="HTTP Request configuration" doc:id="faf5f8d4-ca88-4e87-b4b1-2fdfb21d434a" >
		<http:request-connection host="#[vars.host]" port="#[vars.port]" usePersistentConnections="false" />
	</http:request-config>
	<flow name="interceptcicscallsFlow" doc:id="e10ab189-0612-41db-83e8-705f3cc657f2" >
		<http:listener doc:name="Listener" doc:id="f9b02d64-5549-45e4-8198-4db74b3ddc4c" config-ref="HTTP_Listener_config" path="/cicsintercept/{name}"/>
		<set-payload value="#[payload]" doc:name="Set Payload" doc:id="ebadc2da-af03-4f22-85c7-05acae6b2184" mimeType="text/plain"/>
		<ee:transform doc:name="Transform Message" doc:id="a443f71c-eb89-4c06-b862-d12d15e63926" >
			<ee:message >
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="configuration" ><![CDATA[%dw 2.0
output application/json
import * from dw::core::Strings
---
replaceAll(replaceAll(attributes.uriParams.name,'!','/'),"@",",")]]></ee:set-variable>
				<ee:set-variable variableName="postdata" ><![CDATA[%dw 2.0
output text/plain
---
payload]]></ee:set-variable>
				<ee:set-variable variableName="authorization" ><![CDATA[%dw 2.0
output application/java
var auth = trim(attributes.queryParams.param default "")
---
if(sizeOf(auth)>1) auth else attributes.headers.authorization]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="baea2a8f-5431-4941-b0cf-18c1ff015b93" message="#[%dw 2.0&#10;output text/plain&#10;---&#10;(vars.configuration default 'N/A') ++ (vars.postdata default &quot;&quot;) ++ (vars.authorization default &quot;&quot;)]"/>
		<ee:transform doc:name="Transform Message" doc:id="8157900b-8e0c-46b9-bf6c-f6dfc0d0dc2d" >
			<ee:message >
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="requesturi" ><![CDATA[%dw 2.0
output application/java
import * from dw::core::Strings
---
substringBefore(vars.configuration,',')]]></ee:set-variable>
				<ee:set-variable variableName="service" ><![CDATA[%dw 2.0
output application/java
import * from dw::core::Strings
---
substringBefore(substringAfter(vars.configuration,'service='),',')]]></ee:set-variable>
				<ee:set-variable variableName="operation" ><![CDATA[%dw 2.0
output application/java
import * from dw::core::Strings
---
substringBefore(substringAfter(vars.configuration,'operation='),',')]]></ee:set-variable>
				<ee:set-variable variableName="correlationid" ><![CDATA[%dw 2.0
output application/java
import * from dw::core::Strings
---
substringBefore(substringAfter(vars.configuration,'correlationid='),',')]]></ee:set-variable>
				<ee:set-variable variableName="host" ><![CDATA[%dw 2.0
output application/java
import * from dw::core::Strings
---
substringBefore(substringAfter(vars.configuration,'host='),',')]]></ee:set-variable>
				<ee:set-variable variableName="port" ><![CDATA[%dw 2.0
output application/java
import * from dw::core::Strings
---
substringBefore(substringAfter(vars.configuration,'port='),',')]]></ee:set-variable>
				<ee:set-variable variableName="apptype" ><![CDATA[%dw 2.0
output application/java
import * from dw::core::Strings
---
substringAfter(vars.configuration,'apptype=')]]></ee:set-variable>
				<ee:set-variable variableName="program" ><![CDATA[%dw 2.0
output application/java
import * from dw::core::Strings
---
trim(vars.postdata[0 to 6])]]></ee:set-variable>
				<ee:set-variable variableName="tibcocorrelationid" ><![CDATA[%dw 2.0
output application/java
import * from dw::core::Strings
var frontpostdata = vars.postdata[0 to 49]
var lastrequesturi = replaceAll(substringBefore(vars.configuration,','),'/','')
//var operation = substringBefore(substringAfter(vars.configuration,'operation='),',')
---
(lastrequesturi default "") ++ (frontpostdata default "")]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<try doc:name="Try" doc:id="8ca804c4-02f8-4dfe-bd95-19151e256177" >
			<http:request method="POST" doc:name="Request" doc:id="6670d468-ae90-471c-81e3-f6d76538d424" config-ref="HTTP_Request_configuration" path="#[vars.requesturi]">
			<http:body><![CDATA[#[vars.postdata]]]></http:body>
			<http:headers><![CDATA[#[output application/java
---
{
	"Authorization" : vars.authorization default ""
}]]]></http:headers>
		</http:request>
			<logger level="INFO" doc:name="Logger" doc:id="906b1f96-7bed-48e7-808d-1ac184bd6677" message="#[payload]"/>
			<ee:transform doc:name="Transform Message" doc:id="5e438f92-8c44-43f6-82e0-4fb68c81a833">
			<ee:message>
			</ee:message>
			<ee:variables>
				<ee:set-variable variableName="responsepayload"><![CDATA[%dw 2.0
output application/java
---
payload]]></ee:set-variable>
					<ee:set-variable variableName="statuscode" ><![CDATA[%dw 2.0
output application/java
---
attributes.statusCode]]></ee:set-variable>
					<ee:set-variable variableName="correlationid" ><![CDATA[%dw 2.0
output application/java
---
correlationId]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
			<error-handler >
				<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="e2558cc5-4e9e-4f06-be49-892c00c37d8e" >
					<db:insert doc:name="Insert" doc:id="41b90acf-16da-40bb-af49-6fb50c24273c" config-ref="Database-Connection" >
						<db:sql ><![CDATA[INSERT INTO EAPI_MULE_T2M_CICS_INTERCEPTOR (APP_NAME,SERVICE_NAME,OPERATION_NAME,HOST,PORT,PROGRAM_ID,REQUEST_URI,RECEIVED_URI,POST_DATA,CREDENTIAL_RECEIVED,TXN_TIMESTAMP,STATUS_CODE,STATUS_DESC,STACK_TRACE,RESPONSE_PAYLOAD,RESERVE1) 
VALUES (:APP_NAME,:SERVICE_NAME,:OPERATION_NAME,:HOST,:PORT,:PROGRAM_ID,:REQUEST_URI,:RECEIVED_URI,:POST_DATA,:CREDENTIAL_RECEIVED,:TXN_TIMESTAMP,:STATUS_CODE,:STATUS_DESC,:STACK_TRACE,:RESPONSE_PAYLOAD,:RESERVE1)]]></db:sql>
						<db:input-parameters ><![CDATA[#[{
	APP_NAME : vars.apptype default "",
	SERVICE_NAME : vars.service default "",
	OPERATION_NAME : vars.operation default "",
	HOST : vars.host default "",
	PORT : vars.port default "",
	PROGRAM_ID : vars.program default "",
	REQUEST_URI : vars.requesturi default "",
	RECEIVED_URI : vars.configuration default "",
	POST_DATA : vars.postdata default "",
	CREDENTIAL_RECEIVED : vars.authorization default "",
	TXN_TIMESTAMP : (now() >> "America/New_York") as String {format: "y-MM-dd hh:m:s"},
	STATUS_CODE : '500',
	STATUS_DESC : error.detailedDescription default "",
	STACK_TRACE : write(error,'application/json') default "",
	RESPONSE_PAYLOAD : vars.responsepayload default "",
	RESERVE1 : correlationId default ""
}]]]></db:input-parameters>
					</db:insert>
				</on-error-continue>
			</error-handler>
		</try>
		<db:insert doc:name="Insert" doc:id="744e1e2f-3636-4d5a-820a-59d1a2665679" config-ref="Database-Connection">
			<db:sql><![CDATA[INSERT INTO EAPI_MULE_T2M_CICS_INTERCEPTOR (APP_NAME,SERVICE_NAME,OPERATION_NAME,HOST,PORT,PROGRAM_ID,REQUEST_URI,RECEIVED_URI,POST_DATA,CREDENTIAL_RECEIVED,TXN_TIMESTAMP,STATUS_CODE,STATUS_DESC,STACK_TRACE,RESPONSE_PAYLOAD,RESERVE1,CORRELATION_ID) 
VALUES (:APP_NAME,:SERVICE_NAME,:OPERATION_NAME,:HOST,:PORT,:PROGRAM_ID,:REQUEST_URI,:RECEIVED_URI,:POST_DATA,:CREDENTIAL_RECEIVED,:TXN_TIMESTAMP,:STATUS_CODE,:STATUS_DESC,:STACK_TRACE,:RESPONSE_PAYLOAD,:RESERVE1,:CORRELATION_ID)]]></db:sql>
			<db:input-parameters><![CDATA[#[%dw 2.0
output application/json
---
{
	APP_NAME : vars.apptype default "",
	SERVICE_NAME : vars.service default "",
	OPERATION_NAME : vars.operation default "",
	HOST : vars.host default "",
	PORT : vars.port default "",
	PROGRAM_ID : vars.program default "",
	REQUEST_URI : vars.requesturi default "",
	RECEIVED_URI : vars.configuration default "",
	POST_DATA : vars.postdata default "",
	CREDENTIAL_RECEIVED : vars.authorization default "",
	TXN_TIMESTAMP : (now() >> "America/New_York") as String {format: "y-MM-dd HH:m:s"},
	STATUS_CODE : attributes.statusCode ,
	STATUS_DESC : attributes.reasonPhrase default "",
	STACK_TRACE : (write(attributes,'application/json') ) default "",
	RESPONSE_PAYLOAD : vars.responsepayload default "",
	RESERVE1 : vars.correlationid default "",
	CORRELATION_ID : vars.tibcocorrelationid default ""
}]]]></db:input-parameters>
		</db:insert>
		<logger level="INFO" doc:name="Logger" doc:id="bafd4e79-cfba-4849-8806-3c37aba7ab3e" message="#[%dw 2.0&#10;output application/json&#10;---&#10;{&#10;	APP_NAME : vars.apptype default &quot;&quot;,&#10;	SERVICE_NAME : vars.service default &quot;&quot;,&#10;	OPERATION_NAME : vars.operation default &quot;&quot;,&#10;	HOST : vars.host default &quot;&quot;,&#10;	PORT : vars.port default &quot;&quot;,&#10;	PROGRAM_ID : vars.program default &quot;&quot;,&#10;	REQUEST_URI : vars.requesturi default &quot;&quot;,&#10;	RECEIVED_URI : vars.configuration default &quot;&quot;,&#10;	POST_DATA : vars.postdata default &quot;&quot;,&#10;	CREDENTIAL_RECEIVED : vars.authorization default &quot;&quot;,&#10;	TXN_TIMESTAMP : (now() &gt;&gt; &quot;America/New_York&quot;) as String {format: &quot;y-MM-dd HH:m:s&quot;},&#10;	STATUS_CODE : attributes.statusCode ,&#10;	STATUS_DESC : attributes.reasonPhrase default &quot;&quot;,&#10;	STACK_TRACE : (write(attributes,'application/json') ) default &quot;&quot;,&#10;	RESPONSE_PAYLOAD : vars.responsepayload default &quot;&quot;,&#10;	RESERVE1 : vars.correlationid default &quot;&quot;,&#10;	CORRELATION_ID : vars.tibcocorrelationid default &quot;&quot;&#10;}]"/>
		<ee:transform doc:name="Transform Message" doc:id="79729818-9b1d-4b8a-96b2-ee929f7a4419" >
			<ee:message >
				<ee:set-payload ><![CDATA[vars.responsepayload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="interceptcicscallsFlow1" doc:id="3c44361f-41bb-48aa-b5bf-f3585e242b34" >
		<http:listener doc:name="Listener" doc:id="f2ec4056-5916-40ba-8dd9-e198c9922046" config-ref="HTTP_Listener_config" path="/comparecics"/>
		<ee:transform doc:name="Transform Message" doc:id="cfdc6ca7-ee44-4144-8912-fe3df0cfe24c" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
{
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<db:select doc:name="Select" doc:id="c9a37c98-26af-4546-b1e2-02d2d8c6c74a" config-ref="Database-Connection">
			<db:sql><![CDATA[SELECT RESPONSE_PAYLOAD,TXN_TIMESTAMP FROM EAPI_MULE_T2M_CICS_INTERCEPTOR WHERE CORRELATION_ID = :CORRELATIONID and APP_NAME = :APPNAME ORDER BY TXN_TIMESTAMP DESC]]></db:sql>
			<db:input-parameters><![CDATA[#[{
	CORRELATIONID : vars.tibcocorrelationid,
	APPNAME : 'Tibco'
}]]]></db:input-parameters>
		</db:select>
		<ee:transform doc:name="Transform Message" doc:id="d7d845d4-800b-4fc5-af0f-3a9c1760d018">
			<ee:message>
				<ee:set-payload><![CDATA[output application/java
var resppayloaddb = (payload.'RESPONSE_PAYLOAD')[0]
var currentresppayload = vars.responsepayload
---
currentresppayload == resppayloaddb
//currentresppayload ++ resppayloaddb
++ "    " ++ trim(currentresppayload) == trim(resppayloaddb)]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<parse-template doc:name="Parse Template" doc:id="f3e7390e-7da0-46d2-9ff7-ea8160cc8533" >
			<content >abc</content>
		</parse-template>
	</flow>
	<flow name="interceptcicscallsFlow2" doc:id="4102e88d-4c6b-4066-bb12-16e0bebfdc4c" >
		<http:listener doc:name="Listener" doc:id="c17c3ed1-97b8-4ee9-b0ad-7474e4ba77df" config-ref="HTTP_Listener_config" path="/cicsinterceptor"/>
		<parse-template doc:name="Parse Template" doc:id="26c8e04b-ccb2-48b3-af8b-276d864ddf80" >
			<content >interceptor page</content>
		</parse-template>
	</flow>
</mule>
