raksanalyzer/deleteLater/test/anotherFolder/t2mpoc/src/main/mule/apireviewexceptions.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:email="http://www.mulesoft.org/schema/mule/email" xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/email http://www.mulesoft.org/schema/mule/email/current/mule-email.xsd">
	<flow name="apireviewexceptionsFlow" doc:id="9d5222c5-2f60-4325-934c-b800420691ae" >
		<http:listener doc:name="Listener" doc:id="7370492c-981e-4779-acc1-8ae7ed484825" config-ref="HTTP_Listener_config" path="/addreviewexception/{index}/{failurecount}"/>
		<ee:transform doc:name="Transform Message" doc:id="b5c6020d-5742-4a63-9c4c-a2aad41c6acb" >
			<ee:message >
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="indexid" ><![CDATA[%dw 2.0
output application/java
---
trim(attributes.uriParams.index default "")]]></ee:set-variable>
				<ee:set-variable variableName="servicename" ><![CDATA[%dw 2.0
output application/java
---
payload.parts.servicename.content]]></ee:set-variable>
				<ee:set-variable variableName="reviewtool" ><![CDATA[%dw 2.0
output application/java
---
payload.parts.reviewtool.content]]></ee:set-variable>
				<ee:set-variable variableName="approvedby" ><![CDATA[%dw 2.0
output text/plain
---
payload.parts.approvedby.content]]></ee:set-variable>
				<ee:set-variable variableName="exceptionreason" ><![CDATA[%dw 2.0
output application/java
---
payload.parts.exceptionreason.content]]></ee:set-variable>
				<ee:set-variable variableName="developer" ><![CDATA[%dw 2.0
output application/java
---
payload.parts.developer.content]]></ee:set-variable>
				<ee:set-variable variableName="failurecount" ><![CDATA[%dw 2.0
output application/java
---
trim(attributes.uriParams.failurecount default "")]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<try doc:name="Try1" doc:id="e705a29f-58f1-498d-9e74-694c816eebb7">
			<ee:transform doc:name="Transform Message" doc:id="d9b71ba1-b6dd-417e-94e6-9eb5be3e16da" >
				<ee:message >
					<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
{
}]]></ee:set-payload>
				</ee:message>
				<ee:variables >
					<ee:set-variable variableName="uri" ><![CDATA[%dw 2.0
output application/java
---
'${ocphost}' ++ "/addreviewexception/" ++ (vars.indexid default "") ++ "/" ++ (vars.failurecount default "") ++ "/" ++ (vars.developer default "") ++ "/" ++ (vars.servicename default "") ++ "/" ++ (vars.approvedby default "") ++ "/" ++ (vars.exceptionreason default "") ]]></ee:set-variable>
					<ee:set-variable variableName="rejecturi" ><![CDATA[%dw 2.0
output application/java
---
'${ocphost}' ++ "/rejectexception/" ++ (vars.developer default "") ++ "/" ++ (vars.approvedby default "") ++ "/" ++ (vars.servicename default "")]]></ee:set-variable>
				</ee:variables>
			</ee:transform>
			<email:send doc:name="Send" doc:id="2fd2b140-8202-4776-b0b2-c551a663fe92" config-ref="Email_SMTP" fromAddress="${smtp.from}" subject='#["API Review Exception - Service : " ++ (vars.servicename default "")]'>
				<email:to-addresses >
					<email:to-address value="#[vars.approvedby]" />
				</email:to-addresses>
				<email:cc-addresses >
					<email:cc-address value="DL.API.T2M@truist.com" />
					<email:cc-address value="#[vars.developer]" />
				</email:cc-addresses>
				<email:body contentType="text/html" encoding="UTF-8">
					<email:content><![CDATA[#[%dw 2.0
output text/plain
---
'Hi,<br/><br/>Exception has been logged for the API - <b>' ++ (vars.servicename default "")  ++ "</b><br/><br/>Review Tool : " ++ (vars.reviewtool default "") ++ "<br/><br/>Rule Failure Count : " ++ (vars.failurecount default "")  ++ "<br/><br/>Reason : " ++
 (vars.exceptionreason default "") ++ '<br/><br/>Developer : ' ++ (vars.developer default "") ++ '<br/><br/>Exception is pending for your approval : <a href="' ++ (vars.uri default "") ++ '">Approve</a>' ++ " / " ++ '<a href="' ++ (vars.rejecturi default "") ++ '">Reject</a>' ++ "<br/><br/>Thanks & Regards,<br/>API Review Exception Logger"]]]></email:content>
				</email:body>
			</email:send>
			<error-handler>
				<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="0def8b00-27a0-4ab1-9f2c-1472e7e6b93f">
					<logger level="INFO" doc:name="Logger" doc:id="b51c08b7-4c4e-489c-8c3e-2dc34a2cb6cb" message="Error sending email" />
				</on-error-continue>
			</error-handler>
		</try>
		<parse-template doc:name="Parse Template" doc:id="10da896e-f644-4013-93e1-72486ea4977a" location="web\exceptionresponse.html"/>
	</flow>
	<flow name="AddException" doc:id="b9aa23f0-385e-4b8f-be2d-d592ff67e216" >
		<http:listener doc:name="Listener" doc:id="658f2248-da03-4f8c-97b4-9ecb2f30c592" config-ref="HTTP_Listener_config" path="/addreviewexception/{index}/{failurecount}/{developer}/{servicename}/{approver}/{exceptionreason}"/>
		<ee:transform doc:name="Transform Message" doc:id="ccd81241-3ed1-4570-a2c7-7865afddfe53" >
			<ee:message >
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="indexid" ><![CDATA[%dw 2.0
output application/java
---
trim(attributes.uriParams.index default "")]]></ee:set-variable>
				<ee:set-variable variableName="servicename" ><![CDATA[%dw 2.0
output application/java
---
trim(attributes.uriParams.servicename default "")]]></ee:set-variable>
				<ee:set-variable variableName="approvedby" ><![CDATA[%dw 2.0
output application/java
---
trim(attributes.uriParams.approver default "")]]></ee:set-variable>
				<ee:set-variable variableName="exceptionreason" ><![CDATA[%dw 2.0
output application/java
---
trim(attributes.uriParams.exceptionreason default "")]]></ee:set-variable>
				<ee:set-variable variableName="developer" ><![CDATA[%dw 2.0
output application/java
---
trim(attributes.uriParams.developer default "")]]></ee:set-variable>
				<ee:set-variable variableName="failurecount" ><![CDATA[%dw 2.0
output application/java
---
trim(attributes.uriParams.failurecount default "")]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<try doc:name="Try" doc:id="71175591-e30f-4e9d-95a7-e73e6b786a7c" >
			<db:update doc:name="Update" doc:id="92b96895-d261-40af-9d13-c02cda92e787" config-ref="Database-Connection">
			<db:sql><![CDATA[UPDATE EAPI_MULE_T2M_REPORT SET REVIEW_FAILURE_EXCEPTION = :exceptionreason, USAGE_STATUS = :usagestatus, USED_BY=:developer, EXCEPTION_APPROVED_BY = :approver WHERE SERVICE_NAME = :servicename AND INDEX_ID = :indexid]]></db:sql>
			<db:input-parameters><![CDATA[#[{
	exceptionreason : vars.exceptionreason default "",
	usagestatus : "Pass",
	servicename : vars.servicename default "",
	indexid : vars.indexid,
	developer : vars.developer default "",
	approver : vars.approvedby default ""
}]]]></db:input-parameters>
		</db:update>
			<error-handler >
				<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="71ad6142-26cc-4e9f-af5c-962b0b8f00ef" >
					<logger level="INFO" doc:name="Logger" doc:id="c35eab84-c7e8-4742-a282-72f3382b3096" message="Error occured while updating database"/>
				</on-error-continue>
			</error-handler>
		</try>
		<try doc:name="Try1" doc:id="1311b6d1-f360-4dcb-ae5e-2f086d3439e2">
			<email:send doc:name="Send" doc:id="37f8e727-9b7a-47ec-85e1-85b02cd011be" config-ref="Email_SMTP" fromAddress="${smtp.from}" subject='#["API Review Exception - Service : " ++ (vars.servicename default "")]'>
				<email:to-addresses >
					<email:to-address value="#[vars.developer]" />
				</email:to-addresses>
				<email:cc-addresses >
					<email:cc-address value="DL.API.T2M@truist.com" />
					<email:cc-address value="#[vars.approvedby]" />
				</email:cc-addresses>
				<email:body contentType="text/html" encoding="UTF-8">
					<email:content><![CDATA[#[%dw 2.0
output text/plain
---
'Hi,<br/><br/>Exception has been approved and logged for the API - <b>' ++ (vars.servicename default "")  ++ "</b><br/><br/>Thanks & Regards,<br/>API Review Exception Logger"]]]></email:content>
				</email:body>
			</email:send>
			<error-handler>
				<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="fb02c675-5bf2-4406-9070-b83f04e8b900">
					<logger level="INFO" doc:name="Logger" doc:id="59dc76cd-aaca-43e8-b9fd-473ce43fd798" message="Error sending email" />
				</on-error-continue>
			</error-handler>
		</try>
		<parse-template doc:name="Parse Template" doc:id="2ef4be81-349e-481c-a518-75273638f0fc" location="web\exceptionapproved.html"/>
	</flow>
	<flow name="apireviewexceptionsFlow1" doc:id="1a78a0e9-4389-4039-afa3-2bc4b8a938e0" >
		<http:listener doc:name="Listener" doc:id="2636d7fc-3c65-4e01-b45a-543a438b5def" config-ref="HTTP_Listener_config" path="/apireviewexceptions"/>
		<parse-template doc:name="Parse Template" doc:id="e6df46e6-130b-4089-a85c-a10abc10fe3b" location="web\reviewexceptions.html"/>
	</flow>
	<flow name="apireviewexceptionsFlow3" doc:id="65cab25c-6645-40c4-be80-bad6cc36c474" >
		<http:listener doc:name="Listener" doc:id="fc45d159-9b5a-49f2-94a7-e26559e67659" config-ref="HTTP_Listener_config" path="/rejectexception/{developer}/{approver}/{servicename}"/>
		<ee:transform doc:name="Transform Message" doc:id="bcbef359-d5f9-471d-8328-96d4a5142469" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
{
}]]></ee:set-payload>
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="developer" ><![CDATA[%dw 2.0
output application/java
---
trim(attributes.uriParams.developer default "")]]></ee:set-variable>
				<ee:set-variable variableName="approvedby" ><![CDATA[%dw 2.0
output application/java
---
trim(attributes.uriParams.approver default "")]]></ee:set-variable>
				<ee:set-variable variableName="servicename" ><![CDATA[%dw 2.0
output application/java
---
trim(attributes.uriParams.servicename default "")]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<try doc:name="Try" doc:id="c74413f9-82c2-4fc5-bd4e-167cfaae5c01" >
			<email:send doc:name="Send" doc:id="0a3c167d-e1bf-42f8-b446-04118b0e72ec" config-ref="Email_SMTP" fromAddress="${smtp.from}" subject='#["API Review Exception - Service : " ++ (vars.servicename default "")]' >
				<email:to-addresses >
					<email:to-address value="#[vars.developer]" />
				</email:to-addresses>
				<email:cc-addresses >
					<email:cc-address value="DL.API.T2M@truist.com" />
					<email:cc-address value="#[vars.approvedby]" />
				</email:cc-addresses>
				<email:body contentType="text/html" encoding="UTF-8" >
					<email:content ><![CDATA[#[%dw 2.0
output text/plain
---
'Hi,<br/><br/>Exception has been rejected for the API - <b>' ++ (vars.servicename default "")  ++ "</b><br/><br/>Thanks & Regards,<br/>API Review Exception Logger"]]]></email:content>
				</email:body>
			</email:send>
			<error-handler >
				<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="52021ba3-7133-475e-b5a9-7e80527480e1" >
					<logger level="INFO" doc:name="Logger" doc:id="a14342fe-fafe-4d12-94c5-69573861dd1c" message="Error sending email" />
				</on-error-continue>
			</error-handler>
		</try>
		<parse-template doc:name="Parse Template" doc:id="5ead0baa-5d14-41a1-a939-36eba02ec052" location="web\exceptionrejected.html" />
	</flow>
	<flow name="apireviewexceptionsFlow2" doc:id="f477ec3a-9075-4de2-8c6b-acdd1d954fe4" >
		<http:listener doc:name="Listener" doc:id="903b3de5-c7cc-4068-bfd8-d6c823707de4" config-ref="HTTP_Listener_config" path="/getfailurecount"/>
		<ee:transform doc:name="Transform Message" doc:id="050d7bda-b5d8-428e-b676-3205a24c8056" >
			<ee:message >
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="servicename" ><![CDATA[%dw 2.0
output application/java
---
payload.parts.servicename.content]]></ee:set-variable>
				<ee:set-variable variableName="reviewtool" ><![CDATA[%dw 2.0
output application/java
---
payload.parts.reviewtool.content]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<db:select doc:name="Select" doc:id="70cde1ef-9ba2-40ad-b4eb-37ae677b3dbd" config-ref="Database-Connection">
			<db:sql ><![CDATA[SELECT INDEX_ID, FAIL_COUNT, LAST_UPDATED, REVIEW_FAILURE_EXCEPTION FROM EAPI_MULE_T2M_REPORT WHERE SERVICE_NAME = :servicename and TOOL_NAME = :reviewtool ORDER BY LAST_UPDATED DESC]]></db:sql>
			<db:input-parameters ><![CDATA[#[{
	servicename : vars.servicename default "",
	reviewtool : vars.reviewtool default ""
}]]]></db:input-parameters>
		</db:select>
		<ee:transform doc:name="Transform Message" doc:id="42d633b7-6d3e-42d0-85be-debe93254646" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload[0]]]></ee:set-payload>
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="previousexceptions" ><![CDATA[%dw 2.0
output application/json
---
payload filter(v,i)-> (v."REVIEW_FAILURE_EXCEPTION" != null)]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<ee:transform doc:name="Transform Message" doc:id="022ac24f-e96f-45b7-92cf-f7427098a477" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
{
}]]></ee:set-payload>
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="lastused" ><![CDATA[%dw 2.0
output application/java
---
payload."LAST_UPDATED"]]></ee:set-variable>
				<ee:set-variable variableName="indexid" ><![CDATA[%dw 2.0
output application/java
---
payload."INDEX_ID"]]></ee:set-variable>
				<ee:set-variable variableName="failurecount" ><![CDATA[%dw 2.0
output application/java
---
payload."FAIL_COUNT"]]></ee:set-variable>
				<ee:set-variable variableName="previousreviewexceptionsadded" ><![CDATA[%dw 2.0
output application/json
---
vars.previousexceptions."REVIEW_FAILURE_EXCEPTION" default "None"]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<parse-template doc:name="Parse Template" doc:id="6b32b02d-5809-42bf-93ee-dcb6f93404be" location="web\fetchfailures.html"/>
	</flow>
</mule>
