raksanalyzer/deleteLater/test/anotherFolder/t2mpoc/src/main/mule/mulemqtrigger.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns:email="http://www.mulesoft.org/schema/mule/email" xmlns:tls="http://www.mulesoft.org/schema/mule/tls"
	xmlns:ibm-mq="http://www.mulesoft.org/schema/mule/ibm-mq"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/tls http://www.mulesoft.org/schema/mule/tls/current/mule-tls.xsd http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/ibm-mq http://www.mulesoft.org/schema/mule/ibm-mq/current/mule-ibm-mq.xsd
http://www.mulesoft.org/schema/mule/email http://www.mulesoft.org/schema/mule/email/current/mule-email.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd">
	
	<tls:context name="Policy_TLS_Context"
		doc:name="TLS Context" doc:id="8ced47e2-cc3c-4440-9cc8-ab577160313d">
		<tls:trust-store path="${ts.path}"
			password="${secure::wmq.password}" type="jks" />
		<tls:key-store type="jks" path="${ks.path}"
			alias="${ks.alias}" keyPassword="${secure::truststore.wmq.keypassword}"
			password="${secure::truststore.wmq.keypassword}" />
	</tls:context>

	<!-- IBM MQ config for archiveappdata api -->
	<ibm-mq:config name="TDV"
		doc:name="IBM MQ Config" doc:id="8c032524-9324-4e54-8c4b-9fabb92cd01f">
		<ibm-mq:connection
			username="${secure::wmq.userid}" cipherSuite="${wmq.cipherSuite}"
			tlsContext="Policy_TLS_Context">
			<reconnection>
				<reconnect count="${wmq.reconnection.attempts}"
					frequency="${wmq.reconnection.frequency}" />
			</reconnection>
			<ibm-mq:connection-mode>
				<ibm-mq:client queueManager="${qmanager.tdv}"
					connectionNameList="${wmq.connectionNameList}"
					channel="${channel.tdv}" host="${wmq.host}" port="${wmq.port}" />
			</ibm-mq:connection-mode>
			<ibm-mq:caching-strategy>
				<ibm-mq:default-caching
					sessionCacheSize="${wmq.sessionCacheSize}" />
			</ibm-mq:caching-strategy>
		</ibm-mq:connection>
	</ibm-mq:config>
	
	<ibm-mq:config name="ATDV"
		doc:name="IBM MQ Config" doc:id="3153ef30-94b4-445b-9543-b6cb870f836f">
		<ibm-mq:connection
			username="${secure::wmq.userid}" cipherSuite="${wmq.cipherSuite}"
			tlsContext="Policy_TLS_Context">
			<reconnection>
				<reconnect count="${wmq.reconnection.attempts}"
					frequency="${wmq.reconnection.frequency}" />
			</reconnection>
			<ibm-mq:connection-mode>
				<ibm-mq:client queueManager="${qmanager.atdv}"
					connectionNameList="${wmq.connectionNameList}"
					channel="${channel.atdv}" host="${wmq.host}" port="${wmq.port}" />
			</ibm-mq:connection-mode>
			<ibm-mq:caching-strategy>
				<ibm-mq:default-caching
					sessionCacheSize="${wmq.sessionCacheSize}" />
			</ibm-mq:caching-strategy>
		</ibm-mq:connection>
	</ibm-mq:config>
	
	<ibm-mq:config name="MNE"
		doc:name="IBM MQ Config" doc:id="aa6b25a8-24d1-4374-a877-f2d68756a0e8">
		<ibm-mq:connection
			username="${secure::wmq.userid}" cipherSuite="${wmq.cipherSuite}"
			tlsContext="Policy_TLS_Context">
			<reconnection>
				<reconnect count="${wmq.reconnection.attempts}"
					frequency="${wmq.reconnection.frequency}" />
			</reconnection>
			<ibm-mq:connection-mode>
				<ibm-mq:client queueManager="${qmanager.mne}"
					connectionNameList="${wmq.connectionNameList}"
					channel="${channel.mne}" host="${wmq.host}" port="${wmq.port}" />
			</ibm-mq:connection-mode>
			<ibm-mq:caching-strategy>
				<ibm-mq:default-caching
					sessionCacheSize="${wmq.sessionCacheSize}" />
			</ibm-mq:caching-strategy>
		</ibm-mq:connection>
	</ibm-mq:config>
	
	<ibm-mq:config name="ITE"
		doc:name="IBM MQ Config" doc:id="dd787f93-17d1-4492-a3ff-e8fdd8dac3f4">
		<ibm-mq:connection
			username="${secure::wmq.userid}" cipherSuite="${wmq.cipherSuite}"
			tlsContext="Policy_TLS_Context">
			<reconnection>
				<reconnect count="${wmq.reconnection.attempts}"
					frequency="${wmq.reconnection.frequency}" />
			</reconnection>
			<ibm-mq:connection-mode>
				<ibm-mq:client queueManager="${qmanager.ite}"
					connectionNameList="${wmq.connectionNameList.ite}"
					channel="${channel.ite}" host="${wmq.host.sit}" port="${wmq.port}" />
			</ibm-mq:connection-mode>
			<ibm-mq:caching-strategy>
				<ibm-mq:default-caching
					sessionCacheSize="${wmq.sessionCacheSize}" />
			</ibm-mq:caching-strategy>
		</ibm-mq:connection>
	</ibm-mq:config>
	
	<ibm-mq:config name="PITE"
		doc:name="IBM MQ Config" doc:id="3dd02435-4aeb-4b42-88fa-9e46956b74a6">
		<ibm-mq:connection
			username="${secure::wmq.userid}" cipherSuite="${wmq.cipherSuite}"
			tlsContext="Policy_TLS_Context">
			<reconnection>
				<reconnect count="${wmq.reconnection.attempts}"
					frequency="${wmq.reconnection.frequency}" />
			</reconnection>
			<ibm-mq:connection-mode>
				<ibm-mq:client queueManager="${qmanager.pite}"
					connectionNameList="${wmq.connectionNameList.ite}"
					channel="${channel.pite}" host="${wmq.host.sit}" port="${wmq.port}" />
			</ibm-mq:connection-mode>
			<ibm-mq:caching-strategy>
				<ibm-mq:default-caching
					sessionCacheSize="${wmq.sessionCacheSize}" />
			</ibm-mq:caching-strategy>
		</ibm-mq:connection>
	</ibm-mq:config>
	
	<ibm-mq:config name="IBF"
		doc:name="IBM MQ Config" doc:id="e8ef495f-bb50-4b0b-9dd8-5254935513e1">
		<ibm-mq:connection
			username="${secure::wmq.userid}" cipherSuite="${wmq.cipherSuite}"
			tlsContext="Policy_TLS_Context">
			<reconnection>
				<reconnect count="${wmq.reconnection.attempts}"
					frequency="${wmq.reconnection.frequency}" />
			</reconnection>
			<ibm-mq:connection-mode>
				<ibm-mq:client queueManager="${qmanager.ibf}"
					connectionNameList="${wmq.connectionNameList.ite}"
					channel="${channel.ibf}" host="${wmq.host.sit}" port="${wmq.port}" />
			</ibm-mq:connection-mode>
			<ibm-mq:caching-strategy>
				<ibm-mq:default-caching
					sessionCacheSize="${wmq.sessionCacheSize}" />
			</ibm-mq:caching-strategy>
		</ibm-mq:connection>
	</ibm-mq:config>
	
	<ibm-mq:config name="TRN"
		doc:name="IBM MQ Config" doc:id="f9b56120-b8d9-409e-a5db-2061c09a94b1">
		<ibm-mq:connection
			username="${secure::wmq.userid}" cipherSuite="${wmq.cipherSuite}"
			tlsContext="Policy_TLS_Context">
			<reconnection>
				<reconnect count="${wmq.reconnection.attempts}"
					frequency="${wmq.reconnection.frequency}" />
			</reconnection>
			<ibm-mq:connection-mode>
				<ibm-mq:client queueManager="${qmanager.trn}"
					connectionNameList="${wmq.connectionNameList.ite}"
					channel="${channel.trn}" host="${wmq.host.sit}" port="${wmq.port}" />
			</ibm-mq:connection-mode>
			<ibm-mq:caching-strategy>
				<ibm-mq:default-caching
					sessionCacheSize="${wmq.sessionCacheSize}" />
			</ibm-mq:caching-strategy>
		</ibm-mq:connection>
	</ibm-mq:config>
	
	<ibm-mq:config name="TPP"
		doc:name="IBM MQ Config" doc:id="7ea9137c-fa1a-4865-a7a8-140c55b2fcf0">
		<ibm-mq:connection
			username="${secure::wmq.userid}" cipherSuite="${wmq.cipherSuite}"
			tlsContext="Policy_TLS_Context">
			<reconnection>
				<reconnect count="${wmq.reconnection.attempts}"
					frequency="${wmq.reconnection.frequency}" />
			</reconnection>
			<ibm-mq:connection-mode>
				<ibm-mq:client queueManager="${qmanager.tpp}"
					connectionNameList="${wmq.connectionNameList.prep}"
					channel="${channel.tpp}" host="${wmq.host.prep}" port="${wmq.port}" />
			</ibm-mq:connection-mode>
			<ibm-mq:caching-strategy>
				<ibm-mq:default-caching
					sessionCacheSize="${wmq.sessionCacheSize}" />
			</ibm-mq:caching-strategy>
		</ibm-mq:connection>
	</ibm-mq:config>
	
	<ibm-mq:config name="DRL"
		doc:name="IBM MQ Config" doc:id="b461abf8-6483-4155-9d9f-3fee47553402">
		<ibm-mq:connection
			username="${secure::wmq.userid}" cipherSuite="${wmq.cipherSuite}"
			tlsContext="Policy_TLS_Context">
			<reconnection>
				<reconnect count="${wmq.reconnection.attempts}"
					frequency="${wmq.reconnection.frequency}" />
			</reconnection>
			<ibm-mq:connection-mode>
				<ibm-mq:client queueManager="${qmanager.drl}"
					connectionNameList="${wmq.connectionNameList.drl}"
					channel="${channel.drl}" host="${wmq.host.drl}" port="${wmq.port}" />
			</ibm-mq:connection-mode>
			<ibm-mq:caching-strategy>
				<ibm-mq:default-caching
					sessionCacheSize="${wmq.sessionCacheSize}" />
			</ibm-mq:caching-strategy>
		</ibm-mq:connection>
	</ibm-mq:config>
	
	<ibm-mq:config name="Batch"
		doc:name="IBM MQ Config" doc:id="577dc52f-7414-46be-a487-04e6823c9fbb">
		<ibm-mq:connection
			username="${secure::wmq.userid}" cipherSuite="${wmq.cipherSuite}">
			<reconnection>
				<reconnect count="${wmq.reconnection.attempts}"
					frequency="${wmq.reconnection.frequency}" />
			</reconnection>
			<ibm-mq:connection-mode>
				<ibm-mq:client queueManager="${qmanager.tdv}"
					connectionNameList="${wmq.connectionNameList}"
					channel="TDV10.MUL.T2M.SVRCON" host="${wmq.host}" port="${wmq.port}" />
			</ibm-mq:connection-mode>
			<ibm-mq:caching-strategy>
				<ibm-mq:default-caching
					sessionCacheSize="${wmq.sessionCacheSize}" />
			</ibm-mq:caching-strategy>
		</ibm-mq:connection>
	</ibm-mq:config>
	
	<flow name="mulemqtriggerFlow" doc:id="d28c6f83-5e01-4bcc-88aa-486ac36110da" >
		<http:listener doc:name="Listener" doc:id="f83a440f-cbd8-4486-b698-673681669134" config-ref="HTTP_Listener_config" path="/mqtrigger"/>
		<ee:transform doc:name="Transform Message" doc:id="6c7bf1e9-4c95-47fd-b237-d7e885eca647" >
			<ee:message >
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="queuename" ><![CDATA[%dw 2.0
output application/java
---
payload.parts.queuename.content]]></ee:set-variable>
				<ee:set-variable variableName="queuemanager" ><![CDATA[%dw 2.0
output application/java
var env = trim(payload.parts.environment.content default "TDV")
var devenv = "TDV,ATDV,MNE"
var sitenv = "ITE,PITE,TRN,IBF"
var tppenv = "TPP,DRL"
---
if(devenv contains(env)) "MUL_DEV_QM1" else
if(sitenv contains(env)) "MULSITQM1" else
if(tppenv contains(env)) "MULTPPQM1" else "MUL_DEV_QM1"
]]></ee:set-variable>
				<ee:set-variable variableName="channel" ><![CDATA[%dw 2.0
output application/java
---
payload.parts.channel.content]]></ee:set-variable>
				<ee:set-variable variableName="triggermessage" ><![CDATA[payload.parts.triggermessage.content]]></ee:set-variable>
				<ee:set-variable variableName="environment" ><![CDATA[%dw 2.0
output application/java
---
trim(payload.parts.environment.content default "TDV")]]></ee:set-variable>
				<ee:set-variable variableName="chartTable" ><![CDATA[%dw 2.0
output application/java
---
""]]></ee:set-variable>
				<ee:set-variable variableName="developer" ><![CDATA[%dw 2.0
output application/java
---
payload.parts.developer.content]]></ee:set-variable>
				<ee:set-variable variableName="servicename" ><![CDATA[%dw 2.0
output application/java
---
payload.parts.servicename.content]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<try doc:name="Try" doc:id="436239fc-539b-4cae-ab1f-2b78f705abc5" >
			<choice doc:name="Choice" doc:id="9d7cede1-1b4b-4e4d-b22e-a4fd292711ac">
			<when expression="#[vars.queuemanager == 'MUL_DEV_QM1']">
				<choice doc:name="Choice" doc:id="0e617aa1-26ab-4279-940d-260e65205817">
					<when expression="#[vars.environment == 'TDV']">
						<ibm-mq:publish doc:name="Publish" doc:id="0be0f11b-7c2d-444f-9b37-ae792c23fae3" config-ref="TDV" destination='#[vars.queuename default ""]'>
			<ibm-mq:message>
				<ibm-mq:body><![CDATA[#[vars.triggermessage]]]></ibm-mq:body>
			</ibm-mq:message>
		</ibm-mq:publish>
					</when>
					<when expression="#[vars.environment == 'ATDV']">
						<ibm-mq:publish doc:name="Publish" doc:id="0854551b-262f-4363-8a45-921cc510daca" config-ref="ATDV" destination='#[vars.queuename default ""]'>
			<ibm-mq:message>
				<ibm-mq:body><![CDATA[#[vars.triggermessage]]]></ibm-mq:body>
			</ibm-mq:message>
		</ibm-mq:publish>
					</when>
					<otherwise>
						<ibm-mq:publish doc:name="Publish1" doc:id="3ddb1668-54d1-4835-a3ef-14edf069ef1b" config-ref="MNE" destination='#[vars.queuename default ""]'>
			<ibm-mq:message>
				<ibm-mq:body><![CDATA[#[vars.triggermessage]]]></ibm-mq:body>
			</ibm-mq:message>
		</ibm-mq:publish>
					</otherwise>
				</choice>
			</when>
			<when expression="#[vars.queuemanager == 'MULSITQM1']">
				<choice doc:name="Choice" doc:id="94d81303-7395-4f27-b627-be4c0259eff6">
					<when expression="#[vars.environment == 'ITE']">
						<ibm-mq:publish doc:name="Publish1" doc:id="42f6565a-60a0-4ee6-a4e7-5f44435a9d2b" config-ref="ITE" destination='#[vars.queuename default ""]'>
			<ibm-mq:message>
				<ibm-mq:body><![CDATA[#[vars.triggermessage]]]></ibm-mq:body>
			</ibm-mq:message>
		</ibm-mq:publish>
					</when>
					<when expression="#[vars.environment == 'PITE']">
						<ibm-mq:publish doc:name="Publish2" doc:id="c1a0c111-6365-4bee-bda1-3ae3f44d912f" config-ref="PITE" destination='#[vars.queuename default ""]'>
			<ibm-mq:message>
				<ibm-mq:body><![CDATA[#[vars.triggermessage]]]></ibm-mq:body>
			</ibm-mq:message>
		</ibm-mq:publish>
					</when>
					<when expression="#[vars.environment == 'IBF']">
						<ibm-mq:publish doc:name="Publish3" doc:id="80704768-cc77-4613-8e8b-ebc47046d0a9" config-ref="IBF" destination='#[vars.queuename default ""]'>
			<ibm-mq:message>
				<ibm-mq:body><![CDATA[#[vars.triggermessage]]]></ibm-mq:body>
			</ibm-mq:message>
		</ibm-mq:publish>
					</when>
					<otherwise>
						<ibm-mq:publish doc:name="Publish4" doc:id="9880162c-f40a-4364-aeeb-6542181bb93a" config-ref="TRN" destination='#[vars.queuename default ""]'>
			<ibm-mq:message>
				<ibm-mq:body><![CDATA[#[vars.triggermessage]]]></ibm-mq:body>
			</ibm-mq:message>
		</ibm-mq:publish>
					</otherwise>
				</choice>
			</when>
			<otherwise>
				<choice doc:name="Choice" doc:id="b9d8294c-6249-4b71-8b16-e7474f6cae48">
					<when expression="#[vars.environment == 'TPP']">
						<ibm-mq:publish doc:name="Publish2" doc:id="d1aa361e-db00-406a-af0b-2ea7ee0b5c3b" config-ref="TPP" destination='#[vars.queuename default ""]'>
			<ibm-mq:message>
				<ibm-mq:body><![CDATA[#[vars.triggermessage]]]></ibm-mq:body>
			</ibm-mq:message>
		</ibm-mq:publish>
					</when>
					<otherwise>
						<ibm-mq:publish doc:name="Publish" doc:id="c4cf833e-91d3-42d2-a602-b323de425910" config-ref="DRL" destination='#[vars.queuename default ""]'>
			<ibm-mq:message>
				<ibm-mq:body><![CDATA[#[vars.triggermessage]]]></ibm-mq:body>
			</ibm-mq:message>
		</ibm-mq:publish>
					</otherwise>
				</choice>
			</otherwise>
		</choice>
			<logger level="INFO" doc:name="Logger" doc:id="d9fa10fd-09bb-4cc2-9016-7ff053639569" message="#[payload]" />
			<ee:transform doc:name="Transform Message" doc:id="9001bd80-a361-4871-b09a-155437c7625a">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	"TDV" : {
		"Queue Name" : vars.queuename default "",
		"Queue Manager" : p('qmanager.tdv'),
		"Channel" : p('channel.tdv'),
		"Message" : vars.triggermessage default ""
	},
	"ATDV" : {
		"Queue Name" : vars.queuename default "",
		"Queue Manager" : p('qmanager.atdv'),
		"Channel" : p('channel.atdv'),
		"Message" : vars.triggermessage default ""
	},
	"MNE" : {
		"Queue Name" : vars.queuename default "",
		"Queue Manager" : p('qmanager.mne'),
		"Channel" : p('channel.mne'),
		"Message" : vars.triggermessage default ""
	},
	"ITE" : {
		"Queue Name" : vars.queuename default "",
		"Queue Manager" : p('qmanager.ite'),
		"Channel" : p('channel.ite'),
		"Message" : vars.triggermessage default ""
	},
	"PITE" : {
		"Queue Name" : vars.queuename default "",
		"Queue Manager" : p('qmanager.pite'),
		"Channel" : p('channel.pite'),
		"Message" : vars.triggermessage default ""
	},
	"IBF" : {
		"Queue Name" : vars.queuename default "",
		"Queue Manager" : p('qmanager.ibf'),
		"Channel" : p('channel.ibf'),
		"Message" : vars.triggermessage default ""
	},
	"TRN" : {
		"Queue Name" : vars.queuename default "",
		"Queue Manager" : p('qmanager.trn'),
		"Channel" : p('channel.trn'),
		"Message" : vars.triggermessage default ""
	},
	"TPP" : {
		"Queue Name" : vars.queuename default "",
		"Queue Manager" : p('qmanager.tpp'),
		"Channel" : p('channel.tpp'),
		"Message" : vars.triggermessage default ""
	},
	"DRL" : {
		"Queue Name" : vars.queuename default "",
		"Queue Manager" : p('qmanager.drl'),
		"Channel" : p('channel.drl'),
		"Message" : vars.triggermessage default ""
	}
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
			<ee:transform doc:name="Transform Message1" doc:id="4e724f08-7837-49d8-87e3-d1f63eb4a820">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
import * from dw::core::Strings
output application/xml
var env = vars.environment default ""
---

		p @(class:'mqtriggeredconfig',align:'center'):
		{
			
						
						span : "Queue Name : " ++ payload[env]."Queue Name",
						br : "",
						span : "Queue Manager : " ++ payload[env]."Queue Manager",
						br : "",
						span : "Channel : " ++ payload[env]."Channel",
						br : "",
						span : "Message : " ++ payload[env]."Message",
			
			
		}]]></ee:set-payload>
			</ee:message>
			<ee:variables>
					<ee:set-variable variableName="channel" ><![CDATA[%dw 2.0
import * from dw::core::Strings
output application/java
var env = vars.environment default ""
---
payload[env]."Channel"]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
			<ee:transform doc:name="Transform Message2" doc:id="c206c430-519f-4f40-acc1-4c082a5c7c1e">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/java
---
write(payload, "application/xml")]]></ee:set-payload>
			</ee:message>
			<ee:variables>
			</ee:variables>
		</ee:transform>
			<ee:transform doc:name="Transform Message3" doc:id="4aa55dbd-bc8d-415f-a73c-be834e9c35a1">
			<ee:message />
			<ee:variables>
				<ee:set-variable variableName="chartTable"><![CDATA[%dw 2.0
import * from dw::core::Strings
---
substringAfter(payload,">")]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
			<ee:transform doc:name="Transform Message4" doc:id="232756ad-43c0-468a-b820-af076250934b">
			<ee:message>
			</ee:message>
			<ee:variables>
				<ee:set-variable variableName="email_details"><![CDATA[%dw 2.0
output application/java
---
'narendranadh.kilari@truist.com']]></ee:set-variable>
				<ee:set-variable variableName="attachment"><![CDATA[payload]]></ee:set-variable>
				<ee:set-variable variableName="emailsubject"><![CDATA[%dw 2.0
import * from dw::core::Strings
output text/plain
---
"API review report for - " ++ (vars.currentapiname default "")]]></ee:set-variable>
				<ee:set-variable variableName="overallstatus"><![CDATA[%dw 2.0
output application/java
---
if(payload contains("Fail")) '<span class="failed">Fail</span>' else '<span class="passed">Pass</span>']]></ee:set-variable>
				<ee:set-variable variableName="passcount"><![CDATA[%dw 2.0
output application/java
import * from dw::core::Strings
---
(payload countMatches "Pass") default 0]]></ee:set-variable>
				<ee:set-variable variableName="failcount"><![CDATA[%dw 2.0
output application/java
import * from dw::core::Strings
---
(payload countMatches "Fail") default 0]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
			<try doc:name="Try1" doc:id="1759162b-0f25-49c1-ba41-00886ddf1ba5">
			<email:send doc:name="Send" doc:id="f91e1720-ea8c-4a76-9a12-402702309b5f" config-ref="Email_SMTP" fromAddress="${smtp.from}" subject="#[&quot;Mule MQ Trigger - Queue : &quot; ++ (vars.queuename default &quot;&quot;) ++ &quot;, Status : &quot; ++ 'Pass']">
				<email:to-addresses>
						<email:to-address value="DL.API.T2M@truist.com" />
				</email:to-addresses>
				<email:cc-addresses >
						<email:cc-address value="#[vars.developer]" />
					</email:cc-addresses>
				<email:body contentType="text/html" encoding="UTF-8">
					<email:content><![CDATA[#[%dw 2.0
output text/plain
---
'Message has been triggered over MQ Queue. ' ++ (vars.queuename default "")]]]></email:content>
				</email:body>
			</email:send>
			<error-handler>
				<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="e46ff77e-f08e-4fae-b1a6-4c9a0465cf8f">
					<logger level="INFO" doc:name="Logger" doc:id="5582929b-f16c-4b87-b95d-ecd8522067fa" message="Error sending email" />
				</on-error-continue>
			</error-handler>
		</try>
			<try doc:name="Try2" doc:id="bd028d13-d58a-4680-b764-9168cfb9db9c">
			<db:insert doc:name="Insert" doc:id="d4a9dc5f-e904-478f-88a4-533704d78609" config-ref="Database-Connection">
				<db:sql><![CDATA[INSERT INTO EAPI_MULE_T2M_REPORT (TOOL_NAME, SERVICE_NAME, BRANCH_NAME, MQ_QUEUE_NAME, MQ_QUEUE_MANAGER, MQ_CHANNEL, USAGE_STATUS, FAIL_COUNT, PASS_COUNT, USED_BY, LAST_UPDATED,MQ_MESSAGE)
VALUES (:toolname, :servicename, :branchname, :queuename, :qmanagername, :channel, :usagestatus, :failcount, :passcount, :usedby, :lastupdated, :triggermessage)]]></db:sql>
				<db:input-parameters><![CDATA[#[{
	'toolname' : "Mule MQ Trigger",
	'servicename' : vars.servicename default "",
	'branchname' : '',
	'queuename' : vars.queuename,
	'qmanagername' : vars.queuemanager,
	'channel' : vars.channel,
	'usagestatus' : "Pass",
	'failcount' : "N/A",
	'passcount': "N/A",
	'usedby' : vars.developer,
	'lastupdated' : (now() >> "America/New_York") as String {format: "y-MM-dd HH:m:s"},
	'triggermessage' : vars.triggermessage
}]]]></db:input-parameters>
			</db:insert>
			<error-handler>
				<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="ff8c3e47-ffc4-410b-ab3c-e1d0e7964a6d">
					<logger level="INFO" doc:name="Logger" doc:id="e2f92166-717b-4d89-9856-828e6be7f7db" message="Error inserting in to database" />
				</on-error-continue>
			</error-handler>
		</try>
			<parse-template doc:name="Parse Template" doc:id="8b4f7cc1-dc46-4ff6-95b7-b4257473cb08" location="web\triggerresponse.html" />
			<error-handler >
				<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="f89adb04-1a98-484e-a01b-9f4f266c9510" >
					<set-variable value="#[error.detailedDescription]" doc:name="Set Variable" doc:id="36003850-9a50-45e6-8e6c-95d73afe34b2" variableName="errorresponse"/>
					<parse-template doc:name="Parse Template" doc:id="86e6967a-d01b-4f07-b1e5-a7a09f40ec60" location="web\errorresponse.html"/>
				</on-error-continue>
			</error-handler>
		</try>
	</flow>
	<flow name="mulemqtriggerhome" doc:id="b36012da-c5ac-4942-8947-6461200efdbe" >
		<http:listener doc:name="Listener" doc:id="f940ff22-1637-4515-88d8-88ff9cc3ddd6" config-ref="HTTP_Listener_config" path="/mulemqtrigger"/>
		<parse-template doc:name="Parse Template" doc:id="96ce2cd9-73d1-472c-a24a-0f10b8b8d893" location="web\mulemqtrigger.html"/>
	</flow>
	<flow name="mulemqtriggerFlow1" doc:id="d4e4284d-fe4f-4a8d-9697-a4631cb71894" >
		<http:listener doc:name="Listener" doc:id="1b107f3d-e601-4b39-a8a4-4eb556886ba1" config-ref="HTTP_Listener_config" path="/consumequeue"/>
		<set-variable value="MUL.ESP.WIREDAILYREPORTAPI.TDV.L" doc:name="Set Variable" doc:id="6f255b93-b121-4cb7-b50b-553485d338bb" variableName="batchqueue"/>
		<ibm-mq:consume doc:name="Consume" doc:id="dc2ac41f-fa74-45f6-a0fb-f82035b75b02" config-ref="Batch" destination='#[vars.batchqueue default ""]' ackMode="IMMEDIATE">
			<ibm-mq:consumer-type >
				<ibm-mq:queue-consumer />
			</ibm-mq:consumer-type>
		</ibm-mq:consume>
		<logger level="INFO" doc:name="Logger" doc:id="3f4b7e85-c02a-4aab-857e-7fb8ea5e2c16" message='#[payload ++" has been received over " ++ (vars.batchqueue default "")]'/>
	</flow>
	<flow name="mulemqtriggerFlow2" doc:id="2f4f9a20-6425-4591-8579-789b65cc787a" >
		<http:listener doc:name="Listener" doc:id="d1ecdb10-9429-4e21-87f0-945644831e80" config-ref="HTTP_Listener_config" path="/consume"/>
		<ee:transform doc:name="Transform Message" doc:id="3d6adb03-1926-4d48-9c74-d99688da46ec" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
{
}]]></ee:set-payload>
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="queue" ><![CDATA[%dw 2.0
output application/java
---
trim(payload.parts.queuename.content default "")]]></ee:set-variable>
				<ee:set-variable variableName="numberofmsgs" ><![CDATA[%dw 2.0
output application/java
---
trim(payload.parts.numberofmsgs.content default "")]]></ee:set-variable>
				<ee:set-variable variableName="servicename" ><![CDATA[%dw 2.0
output application/java
---
trim(payload.parts.servicename.content default "")]]></ee:set-variable>
				<ee:set-variable variableName="environment" ><![CDATA[%dw 2.0
output application/java
---
trim(payload.parts.environment.content default "")]]></ee:set-variable>
				<ee:set-variable variableName="developer" ><![CDATA[%dw 2.0
output application/java
---
trim(payload.parts.developer.content default "")]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<try doc:name="Try" doc:id="7267fd43-02d3-4036-80cd-83911b901481" >
			<choice doc:name="Choice" doc:id="ff26e014-15a0-45d5-aa91-9b2a800ef3c7">
			<when expression='#[vars.environment == "TDV"]'>
				<foreach doc:name="For Each" doc:id="e665f975-b09f-4311-b299-6266626e2f43" collection="#[0 to (vars.numberofmsgs default 0)]">
					<ibm-mq:consume doc:name="Consume" doc:id="5cb3bbaa-8fc5-48d2-9e35-5420ac79b254" config-ref="TDV" destination="#[vars.queue]" ackMode="IMMEDIATE">
					<ibm-mq:consumer-type>
						<ibm-mq:queue-consumer />
					</ibm-mq:consumer-type>
				</ibm-mq:consume>
				</foreach>
			</when>
			<when expression='#[vars.environment == "ATDV"]'>
				<foreach doc:name="For Each" doc:id="8d757d5f-5d22-4420-a28e-87f845df008f" collection="#[0 to (vars.numberofmsgs default 0)]">
					<ibm-mq:consume doc:name="Consume" doc:id="f10345ba-1421-42bc-8aed-329e27b0d5a2" config-ref="ATDV" destination="#[vars.queue]" ackMode="IMMEDIATE">
					<ibm-mq:consumer-type>
						<ibm-mq:queue-consumer />
					</ibm-mq:consumer-type>
				</ibm-mq:consume>
				</foreach>
			</when>
			<when expression='#[vars.environment == "MNE"]'>
				<foreach doc:name="For Each" doc:id="1e8808fc-2727-48c5-8bbd-ff0f705184c8" collection="#[0 to (vars.numberofmsgs default 0)]">
					<ibm-mq:consume doc:name="Consume" doc:id="57c1b46c-9467-40b5-811c-22ab2424e9bd" config-ref="MNE" destination="#[vars.queue]" ackMode="IMMEDIATE">
					<ibm-mq:consumer-type>
						<ibm-mq:queue-consumer />
					</ibm-mq:consumer-type>
				</ibm-mq:consume>
				</foreach>
			</when>
			<when expression='#[vars.environment == "ITE"]'>
				<foreach doc:name="For Each" doc:id="48541df2-b0d7-4189-b125-2bd83d73780d" collection="#[0 to (vars.numberofmsgs default 0)]">
					<ibm-mq:consume doc:name="Consume" doc:id="c1c2bd65-c7bd-47a4-a6ef-0f6ba7199a30" config-ref="ITE" destination="#[vars.queue]" ackMode="IMMEDIATE">
					<ibm-mq:consumer-type>
						<ibm-mq:queue-consumer />
					</ibm-mq:consumer-type>
				</ibm-mq:consume>
				</foreach>
			</when>
			<when expression='#[vars.environment == "IBF"]'>
				<foreach doc:name="For Each" doc:id="373e026c-473d-4b4a-9dbf-c1f95a28aff8" collection="#[0 to (vars.numberofmsgs default 0)]">
					<ibm-mq:consume doc:name="Consume" doc:id="b98f6044-0c4b-4c64-a846-9f43dd8cacb6" config-ref="IBF" destination="#[vars.queue]" ackMode="IMMEDIATE">
					<ibm-mq:consumer-type>
						<ibm-mq:queue-consumer />
					</ibm-mq:consumer-type>
				</ibm-mq:consume>
				</foreach>
			</when>
			<when expression='#[vars.environment == "PITE"]'>
				<foreach doc:name="For Each" doc:id="f8a9e0df-0161-4d6d-b827-fc618ecd6210" collection="#[0 to (vars.numberofmsgs default 0)]">
					<ibm-mq:consume doc:name="Consume" doc:id="7dc1e019-2781-4f0a-bba6-761d04b36157" config-ref="PITE" destination="#[vars.queue]" ackMode="IMMEDIATE">
					<ibm-mq:consumer-type>
						<ibm-mq:queue-consumer />
					</ibm-mq:consumer-type>
				</ibm-mq:consume>
				</foreach>
			</when>
			<when expression='#[vars.environment == "PREP"]'>
				<foreach doc:name="For Each" doc:id="60bfc094-4b5a-4c7b-8787-5a42fbee5f79" collection="#[0 to (vars.numberofmsgs default 0)]">
					<ibm-mq:consume doc:name="Consume" doc:id="d6084673-df88-4ae0-8dfe-d3445adc8375" config-ref="TPP" destination="#[vars.queue]" ackMode="IMMEDIATE">
					<ibm-mq:consumer-type>
						<ibm-mq:queue-consumer />
					</ibm-mq:consumer-type>
				</ibm-mq:consume>
				</foreach>
			</when>
			<when expression='#[vars.environment == "DRL"]'>
				<foreach doc:name="For Each" doc:id="22de2cc2-1fb8-4d01-b756-a674f87d7fbb" collection="#[0 to (vars.numberofmsgs default 0)]">
					<ibm-mq:consume doc:name="Consume" doc:id="c416e2f8-4900-474f-b995-16eb95c55ef4" config-ref="DRL" destination="#[vars.queue]" ackMode="IMMEDIATE">
					<ibm-mq:consumer-type>
						<ibm-mq:queue-consumer />
					</ibm-mq:consumer-type>
				</ibm-mq:consume>
				</foreach>
			</when>
				<otherwise >
					<foreach doc:name="For Each" doc:id="43e29542-54d1-459c-bb6b-6017a5771679" collection="#[0 to (vars.numberofmsgs default 0)]">
					<ibm-mq:consume doc:name="Consume" doc:id="23b800eb-4ceb-4d8e-b4ea-2a92ffebf9b5" config-ref="TRN" destination="#[vars.queue]" ackMode="IMMEDIATE">
					<ibm-mq:consumer-type>
						<ibm-mq:queue-consumer />
					</ibm-mq:consumer-type>
				</ibm-mq:consume>
				</foreach>
				</otherwise>
		</choice>
			<try doc:name="Try" doc:id="90102637-2859-4342-899b-427cfaf6373e" >
				<email:send doc:name="Send" doc:id="b7827df8-9b5a-4fc4-825a-860c815c8894" config-ref="Email_SMTP" fromAddress="${smtp.from}" subject="#[&quot;Mule MQ Consumer - Queue : &quot; ++ (vars.queue default &quot;&quot;) ++ &quot;, Status : &quot; ++ 'Pass']" >
					<email:to-addresses >
						<email:to-address value="DL.API.T2M@truist.com" />
					</email:to-addresses>
					<email:cc-addresses >
						<email:cc-address value="#[vars.developer]" />
					</email:cc-addresses>
					<email:body contentType="text/html" encoding="UTF-8" >
						<email:content ><![CDATA[#[%dw 2.0
output text/plain
---
(vars.numberofmsgs default "") ++ ' Messages have been consumed from the queue. ' ++ (vars.queue default "")]]]></email:content>
					</email:body>
				</email:send>
				<error-handler >
					<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="a711b5ae-4894-428a-af7e-1087a850fc3b" >
						<logger level="INFO" doc:name="Logger" doc:id="d5c3ef74-f69a-4e78-b22a-84862394644f" message="Error sending email" />
					</on-error-continue>
				</error-handler>
			</try>
			<try doc:name="Try1" doc:id="a3b3ee84-1f66-4e19-9d87-5b00ce601704" >
				<db:insert doc:name="Insert" doc:id="a2b976a0-6367-4a65-b3b9-d679a4bd22ee" config-ref="Database-Connection" >
					<db:sql ><![CDATA[INSERT INTO EAPI_MULE_T2M_REPORT (TOOL_NAME, SERVICE_NAME, BRANCH_NAME, MQ_QUEUE_NAME, MQ_CONSUMER_ENVIRONMENT,MQ_CONSUMER_NOOFMSGS,USAGE_STATUS, USED_BY, LAST_UPDATED)
VALUES (:toolname, :servicename, :branchname, :queuename, :environment, :numofmsgs, :usagestatus, :usedby, :lastupdated)]]></db:sql>
					<db:input-parameters ><![CDATA[#[{
	'toolname' : "Mule MQ Consumer",
	'servicename' : vars.servicename default "",
	'branchname' : '',
	'queuename' : vars.queue,
	'environment' : vars.environment,
	'numofmsgs' : vars.numberofmsgs,
	'usagestatus' : "Pass",
	'usedby' : vars.developer,
	'lastupdated' : (now() >> "America/New_York") as String {format: "y-MM-dd HH:m:s"}

}]]]></db:input-parameters>
				</db:insert>
				<error-handler >
					<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="e086bbec-60f4-4444-bf32-52dbb15efcff" >
						<logger level="INFO" doc:name="Logger" doc:id="c7a7d52a-bfe6-4452-bd27-5cce9075f37d" message="Error inserting in to database" />
					</on-error-continue>
				</error-handler>
			</try>
			<parse-template doc:name="Parse Template" doc:id="b88f52b1-9fdd-4e0d-9ae3-036c7f2fdbe9" location="web\mqconsumesuccess.html" />
			<error-handler >
				<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="ee8f457a-ed4d-44e9-8b81-8c0a1b6a1893" >
					<parse-template doc:name="Parse Template" doc:id="4675bca9-d1c3-48c7-8f4b-aac7ca5f0f57" location="web\mqconsumeerror.html"/>
				</on-error-continue>
			</error-handler>
		</try>
	</flow>
	<flow name="mulemqtriggerFlow3" doc:id="370c5af3-da5f-415a-b84a-fc6d326f1f6e" >
		<http:listener doc:name="Listener" doc:id="701aebc0-fc65-4034-ae03-1e0518abf3ba" config-ref="HTTP_Listener_config" path="/mqconsumer"/>
		<parse-template doc:name="Parse Template" doc:id="fd4e2dd6-5451-4328-a05f-7e414a7d4e8c" location="web\mqconsumer.html"/>
	</flow>
</mule>
