raksanalyzer/deleteLater/test/anotherFolder/t2mpoc/src/main/mule/t2mdbexport.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns:email="http://www.mulesoft.org/schema/mule/email" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/email http://www.mulesoft.org/schema/mule/email/current/mule-email.xsd http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	
	<db:config name="Database-Connection"
		doc:name="Database Config"
		doc:id="bcb2903b-9858-4cbd-8fa6-40fc4922c90d">
		<db:generic-connection url="jdbc:sqlserver://wil-sqltst05.bbtnet.com:1433;DatabaseName=EAPIUTILSDB;encrypt=true;trustServerCertificate=true;" user="SV-MULEAPIUTILSDB" password="sql5678" driverClassName="com.microsoft.sqlserver.jdbc.SQLServerDriver"/>
	</db:config>
	<email:smtp-config name="Email_SMTP" doc:name="Email SMTP" doc:id="1e458940-e8e1-4b89-919c-c6e227a8880c" >
		<email:smtp-connection host="${smtp.hostname}" port="${smtp.port}" connectionTimeout="50" readTimeout="50" writeTimeout="50">

		</email:smtp-connection>
	</email:smtp-config>
	
	<flow name="t2mdbexportFlow" doc:id="810b8818-d926-473a-9835-ee6952b6f74b" >
		<scheduler doc:name="Scheduler" doc:id="17e6aafe-926e-49e2-b2c7-3a37eb3913e0" >
			<scheduling-strategy >
				<cron expression="0 45 16 ? * MON-FRI *" timeZone="America/New_York" />
			</scheduling-strategy>
		</scheduler>
		<logger level="INFO" doc:name="Logger" doc:id="3bde5e67-e45e-44fd-95cb-f57632267abb" message="Daily review report has been triggered" />
		<db:select doc:name="Select" doc:id="3eb45017-d30d-4024-87db-f489aa99065c" config-ref="Database-Connection" >
			<db:sql ><![CDATA[SELECT TOOL_NAME, SERVICE_NAME, BRANCH_NAME, USAGE_STATUS, FAIL_COUNT, PASS_COUNT, USED_BY, LAST_UPDATED, REVIEW_FAILURE_EXCEPTION, EXCEPTION_APPROVED_BY FROM EAPI_MULE_T2M_REPORT ORDER BY LAST_UPDATED DESC]]></db:sql>
		</db:select>
		<ee:transform doc:name="Transform Message" doc:id="49066764-49a2-4ae9-aaf5-da0a2771c68b" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="dbresponse" ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<ee:transform doc:name="Transform Message1" doc:id="b1edf3dd-0f4d-4a07-bc78-168e5a612fd9" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/xlsx header=true
---
"T2MReview" : payload map(data,index)->{ 
	"SERVICE_NAME" : data."SERVICE_NAME", 
	"TOOL_NAME" : data."TOOL_NAME", 
	"BRANCH_NAME" : data."BRANCH_NAME", 
	"USAGE_STATUS" : data."USAGE_STATUS", 
	"PASS_COUNT" : data."PASS_COUNT", 
	"FAIL_COUNT" : data."FAIL_COUNT", 
	"USED_BY" : data."USED_BY", 
	"LAST_UPDATED" : data."LAST_UPDATED"
}
]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<set-payload value="#[payload]" doc:name="Set Payload" doc:id="faa813aa-a04c-4b4c-9e91-c93f3cfb7978" />
		<ee:transform doc:name="Transform Message2" doc:id="6823bd08-1e78-4979-9354-43fa7869cf75" >
			<ee:message />
			<ee:variables >
				<ee:set-variable variableName="email_details" ><![CDATA[%dw 2.0
output application/java
---
vars.emailId['email']]]></ee:set-variable>
				<ee:set-variable variableName="attachment" ><![CDATA[payload]]></ee:set-variable>
				<ee:set-variable variableName="filename" ><![CDATA["T2M_Review_Tool_Report.xlsx"]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<foreach doc:name="For Each" doc:id="e35e9595-a65b-41b0-ac98-3b57429f39e1" collection="#[vars.dbresponse default []]">
			<ee:transform doc:name="Transform Message" doc:id="00bec4ae-82b8-4d85-b8e3-0e64eb283e88">
				<ee:message>
					<ee:set-payload><![CDATA[output text/plain
var exceptionflag = payload."REVIEW_FAILURE_EXCEPTION" default ""
var usagestatus = if(sizeOf(exceptionflag)>1) ((payload."USAGE_STATUS" default "") ++ "(E)") else ((payload."USAGE_STATUS" default ""))
---
(payload."SERVICE_NAME" default "") ++ "," ++ (payload."TOOL_NAME" default "") ++ "," ++ usagestatus ++ "," ++ (payload."BRANCH_NAME" default "") ++ "," ++ (payload."USED_BY" default "") ++ "," ++ (payload."LAST_UPDATED" default "")
]]></ee:set-payload>
				</ee:message>
			</ee:transform>
			<set-variable value='#[output text/plain&#10;var currentdata = vars.apireviewsummary default ""&#10;var header = "Service Name, Tool Name, Status, Branch, Developer, Lastupdated"&#10;---&#10;if(sizeOf(vars.apireviewsummary default "")&gt;1)&#10;	if((vars.apireviewsummary default "") contains(payload))&#10;	(vars.apireviewsummary default "")&#10;	else&#10;	(vars.apireviewsummary default "") ++ "\n" ++ payload&#10;else&#10;	header ++ "\n" ++ payload]' doc:name="Set Variable" doc:id="fa9dffe3-c4e6-47fb-a090-7c6d5275e8ee" variableName="apireviewsummary" />
		</foreach>
		<ee:transform doc:name="Transform Message3" doc:id="9602c730-7129-4721-9b49-7c014568f16a" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
trim(vars.apireviewsummary default "")]]></ee:set-payload>
			</ee:message>
			<ee:variables >
				
				<ee:set-variable variableName="apisavailable" ><![CDATA[%dw 2.0
output application/json
---
(vars.dbresponse."SERVICE_NAME" filter(v,i) -> ((!(v contains("_config")))) and (sizeOf(trim(v default ""))>0)) distinctBy ((num) -> num)]]></ee:set-variable>
				
			</ee:variables>
		</ee:transform>
		<ee:transform doc:name="Transform Message4" doc:id="d1fccb48-4eb8-4c7b-9056-d7623dde01a6" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
import * from dw::core::Strings
---
(vars.apisavailable) map(v,i)->{
	api : trim(v) ++ "," ++ trim(substringBefore(substringAfter(payload,(trim(v) ++ ",Service Code Quality Check,")),',')) ++ "," ++ trim(substringAfterLast(substringBefore(substringAfter(payload,(trim(v) ++ ",Service Code Quality Check,")),'\n'),',')) ++ "," ++  trim(substringBefore(substringAfter(payload,(trim(v) ++ ",Service Config Quality Check,")),',')) ++ "," ++ trim(substringAfterLast(substringBefore(substringAfter(payload,(trim(v) ++ ",Service Config Quality Check,")),'\n'),","))
}]]></ee:set-payload>
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="apisreviewsummaryconsolidation" ><![CDATA[%dw 2.0
output application/java
---
payload]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<ee:transform doc:name="Transform Message5" doc:id="83ef27b3-0e24-4df2-9ba2-1ba9c4cf301f" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
payload.api]]></ee:set-payload>
			</ee:message>
			<ee:variables >
			</ee:variables>
		</ee:transform>
		<ee:transform doc:name="Transform Message6" doc:id="642f0daa-8698-4dec-a57c-594fffb02983" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
import * from dw::core::Strings
output application/xml
var apiarray = payload default []
---

		table @(class:'solutionadded',align:'center',border:'4'):
		{
			tr : {
				td @(class:'reviewheader',align:'center',bgcolor:'#14a098',color:'white'):{
					font @(color: 'white') : "API Name" 
				} ,
				td @(class:'reviewheader',align:'center',bgcolor:'#14a098',color:'white'): {
					font @(color: 'white') : "Code Review"
					},
				td @(class:'reviewheader',align:'center',bgcolor:'#14a098',color:'white'): {
					font @(color: 'white') : "Reviewed Date"
					},
				td @(class:'reviewheader',align:'center',bgcolor:'#14a098',color:'white'): {
					font @(color: 'white') : "Config Review"
					},
				td @(class:'reviewheader',align:'center',bgcolor:'#14a098',color:'white'): {
					font @(color: 'white') : "Reviewed Date"
					},
				td @(class:'reviewheader',align:'center',bgcolor:'#14a098',color:'white'): {
					font @(color: 'white') : "Config Created"
					},
				td @(class:'reviewheader',align:'center',bgcolor:'#14a098',color:'white'): {
					font @(color: 'white') : "Response Check"
					}
			},
			tr: apiarray map 
			{		
						td @(class:'reviewelement',padding:'5'): substringBefore(trim($),','),
						td @(class:'reviewelement',align:'center',padding:'5'): if(sizeOf(trim(substringBefore(substringAfter(trim($),','),',')))==0) 'Not Found' else trim(substringBefore(substringAfter(trim($),','),',')),
						td @(class:'reviewelement',align:'center',padding:'5'): if(sizeOf(substringBefore(substringAfter(substringAfter($,','),','),','))==0) 'Not Found' else substringBefore(substringAfter(substringAfter($,','),','),','),
						td @(class:'reviewelement',align:'center',padding:'5'): if(sizeOf(trim(substringAfterLast(substringBeforeLast(trim($),','),',')))==0) 'Not Found' else substringAfterLast(substringBeforeLast(trim($),','),','),
						td @(class:'reviewelement',align:'center',padding:'5'): if(sizeOf(substringAfterLast($,','))==0) 'Not Found' else substringAfterLast($,','),
						td @(class:'reviewelement',align:'center',padding:'5'): if(vars.apireviewsummary contains((substringBefore(trim($),',')) ++ (",Mule Config Creator"))) "Yes" else "No",
						td @(class:'reviewelement',align:'center',padding:'5'): if(vars.apireviewsummary contains((substringBefore(trim($),',')) ++ (",Compare API Responses"))) "Yes" else "No"
			}
			
		}]]></ee:set-payload>
			</ee:message>
			<ee:variables >
			</ee:variables>
		</ee:transform>
		<ee:transform doc:name="Transform Message7" doc:id="e87984a9-031a-41f9-98f0-0a3991e3bea9" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
write(payload, "application/xml")]]></ee:set-payload>
			</ee:message>
			<ee:variables />
		</ee:transform>
		<ee:transform doc:name="Transform Message8" doc:id="eb9cd7aa-0680-41b7-8f6e-fcf49748098c" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output text/plain
import * from dw::core::Strings
---

replaceAll(replaceAll(replaceAll(replaceAll(replaceAll(replaceAll(replaceAll(payload,'Fail','<span class="failed">Fail</span>'),"Pass",'<span class="passed">Pass</span>'),'Not Found','<span class="notfound">Not Found</span>'),'(E)','<span class="exceptionadded">(E)</span>'),'Not Created','<span class="failed">No</span>'),'Not Compared','<span class="failed">No</span>'),'configchecked','<span class="passed">Yes</span>')]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<email:send doc:name="Send" doc:id="57e1b14d-9694-44db-bfa5-7db22ced0575" config-ref="Email_SMTP" fromAddress="${smtp.from}" subject='#["T2M Review Tool Report - Daily"]'>
			<reconnect blocking="false" />
			<email:to-addresses>
				<email:to-address value="DL.API.T2M@truist.com" />
			</email:to-addresses>
			<email:body contentType="text/html" encoding="UTF-8">
				<email:content><![CDATA[#[%dw 2.0
output text/plain
import * from dw::core::Strings
---
"${email.body}" ++ payload ++ "${email.signature}"]]]></email:content>
			</email:body>
			<email:attachments><![CDATA[#[%dw 2.0
output application/xlsx header=true
---
{'$(vars.filename)' : vars.attachment }]]]></email:attachments>
		</email:send>
	</flow>
	<flow name="t2mdbexportFlow1" doc:id="4a97e6bd-a0c6-4461-84b1-dfe7af448ed3" >
		<http:listener doc:name="Listener" doc:id="6ed0fa4b-1a2e-4ce5-9d07-68a087d866d8" config-ref="HTTP_Listener_config" path="${t2mdbexport}"/>
		<db:select doc:name="Select" doc:id="94fc2cb5-152c-4090-8d67-ac243999180e" config-ref="Database-Connection" >
			<db:sql ><![CDATA[SELECT TOOL_NAME, SERVICE_NAME, BRANCH_NAME, USAGE_STATUS, FAIL_COUNT, PASS_COUNT, USED_BY, LAST_UPDATED, REVIEW_FAILURE_EXCEPTION, EXCEPTION_APPROVED_BY FROM EAPI_MULE_T2M_REPORT ORDER BY LAST_UPDATED DESC]]></db:sql>
		</db:select>
		<ee:transform doc:name="Transform Message" doc:id="28fbaeaf-a54c-4aa8-83b8-deef2deba110" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="dbresponse" ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<ee:transform doc:name="Transform Message1" doc:id="dfcc2af2-f2bc-4626-b617-14be12b5ddcf" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/xlsx header=true
---
"T2MReview" : payload map(data,index)->{ 
	"SERVICE_NAME" : data."SERVICE_NAME", 
	"TOOL_NAME" : data."TOOL_NAME", 
	"BRANCH_NAME" : data."BRANCH_NAME", 
	"USAGE_STATUS" : data."USAGE_STATUS", 
	"PASS_COUNT" : data."PASS_COUNT", 
	"FAIL_COUNT" : data."FAIL_COUNT", 
	"USED_BY" : data."USED_BY", 
	"LAST_UPDATED" : data."LAST_UPDATED"
}
]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<set-payload value="#[payload]" doc:name="Set Payload" doc:id="b6341ecf-a95e-4c10-ac35-9ad258474155" />
		<ee:transform doc:name="Transform Message2" doc:id="b95eb1d2-689b-4043-9a24-b1a7f074dd5e" >
			<ee:message />
			<ee:variables >
				<ee:set-variable variableName="email_details" ><![CDATA[%dw 2.0
output application/java
---
vars.emailId['email']]]></ee:set-variable>
				<ee:set-variable variableName="attachment" ><![CDATA[payload]]></ee:set-variable>
				<ee:set-variable variableName="filename" ><![CDATA["T2M_Review_Tool_Report.xlsx"]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<foreach doc:name="For Each" doc:id="7d94a485-3df0-416d-ab85-41a65b84f595" collection="#[vars.dbresponse default []]">
			<ee:transform doc:name="Transform Message" doc:id="6cca51f3-6646-40a2-8318-2567cf8f8421">
				<ee:message>
					<ee:set-payload><![CDATA[output text/plain
var exceptionflag = payload."REVIEW_FAILURE_EXCEPTION" default ""
var usagestatus = if(sizeOf(exceptionflag)>1) ((payload."USAGE_STATUS" default "") ++ "(E)") else ((payload."USAGE_STATUS" default ""))
---
(payload."SERVICE_NAME" default "") ++ "," ++ (payload."TOOL_NAME" default "") ++ "," ++ usagestatus ++ "," ++ (payload."BRANCH_NAME" default "") ++ "," ++ (payload."USED_BY" default "") ++ "," ++ (payload."LAST_UPDATED" default "")
]]></ee:set-payload>
				</ee:message>
			</ee:transform>
			<set-variable value='#[output text/plain&#10;var currentdata = vars.apireviewsummary default ""&#10;var header = "Service Name, Tool Name, Status, Branch, Developer, Lastupdated"&#10;---&#10;if(sizeOf(vars.apireviewsummary default "")&gt;1)&#10;	if((vars.apireviewsummary default "") contains(payload))&#10;	(vars.apireviewsummary default "")&#10;	else&#10;	(vars.apireviewsummary default "") ++ "\n" ++ payload&#10;else&#10;	header ++ "\n" ++ payload]' doc:name="Set Variable" doc:id="379714e0-2341-4033-82b8-389de1c302bc" variableName="apireviewsummary" />
		</foreach>
		<ee:transform doc:name="Transform Message3" doc:id="7eb5dc60-422e-4b4e-b7fa-a274e3fa93cb" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
trim(vars.apireviewsummary default "")]]></ee:set-payload>
			</ee:message>
			<ee:variables >
				
				<ee:set-variable variableName="apisavailable" ><![CDATA[%dw 2.0
output application/json
---
(vars.dbresponse."SERVICE_NAME" filter(v,i) -> ((!(v contains("_config")))) and (sizeOf(trim(v default ""))>0)) distinctBy ((num) -> num)]]></ee:set-variable>
				
			</ee:variables>
		</ee:transform>
		<ee:transform doc:name="Transform Message4" doc:id="e01ff422-ed58-44a3-9e5e-958e4aa48209" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
import * from dw::core::Strings
---
(vars.apisavailable) map(v,i)->{
	api : trim(v) ++ "," ++ trim(substringBefore(substringAfter(payload,(trim(v) ++ ",Service Code Quality Check,")),',')) ++ "," ++ trim(substringAfterLast(substringBefore(substringAfter(payload,(trim(v) ++ ",Service Code Quality Check,")),'\n'),',')) ++ "," ++  trim(substringBefore(substringAfter(payload,(trim(v) ++ ",Service Config Quality Check,")),',')) ++ "," ++ trim(substringAfterLast(substringBefore(substringAfter(payload,(trim(v) ++ ",Service Config Quality Check,")),'\n'),","))
}]]></ee:set-payload>
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="apisreviewsummaryconsolidation" ><![CDATA[%dw 2.0
output application/java
---
payload]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<ee:transform doc:name="Transform Message5" doc:id="aff2448f-f04b-43a9-b204-6688e4dcd532" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
payload.api]]></ee:set-payload>
			</ee:message>
			<ee:variables >
			</ee:variables>
		</ee:transform>
		<ee:transform doc:name="Transform Message6" doc:id="18e24366-d626-4426-a163-44856662f70d" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
import * from dw::core::Strings
output application/xml
var apiarray = payload default []
---

		table @(class:'solutionadded',align:'center',border:'4'):
		{
			tr : {
				td @(class:'reviewheader',align:'center',bgcolor:'#14a098',color:'white'):{
					font @(color: 'white') : "API Name" 
				} ,
				td @(class:'reviewheader',align:'center',bgcolor:'#14a098',color:'white'): {
					font @(color: 'white') : "Code Review"
					},
				td @(class:'reviewheader',align:'center',bgcolor:'#14a098',color:'white'): {
					font @(color: 'white') : "Reviewed Date"
					},
				td @(class:'reviewheader',align:'center',bgcolor:'#14a098',color:'white'): {
					font @(color: 'white') : "Config Review"
					},
				td @(class:'reviewheader',align:'center',bgcolor:'#14a098',color:'white'): {
					font @(color: 'white') : "Reviewed Date"
					},
				td @(class:'reviewheader',align:'center',bgcolor:'#14a098',color:'white'): {
					font @(color: 'white') : "Config Created"
					},
				td @(class:'reviewheader',align:'center',bgcolor:'#14a098',color:'white'): {
					font @(color: 'white') : "Response Check"
					}
			},
			tr: apiarray map 
			{		
						td @(class:'reviewelement',padding:'5'): substringBefore(trim($),','),
						td @(class:'reviewelement',align:'center',padding:'5'): if(sizeOf(trim(substringBefore(substringAfter(trim($),','),',')))==0) 'Not Found' else trim(substringBefore(substringAfter(trim($),','),',')),
						td @(class:'reviewelement',align:'center',padding:'5'): if(sizeOf(substringBefore(substringAfter(substringAfter($,','),','),','))==0) 'Not Found' else substringBefore(substringAfter(substringAfter($,','),','),','),
						td @(class:'reviewelement',align:'center',padding:'5'): if(sizeOf(trim(substringAfterLast(substringBeforeLast(trim($),','),',')))==0) 'Not Found' else substringAfterLast(substringBeforeLast(trim($),','),','),
						td @(class:'reviewelement',align:'center',padding:'5'): if(sizeOf(substringAfterLast($,','))==0) 'Not Found' else substringAfterLast($,','),
						td @(class:'reviewelement',align:'center',padding:'5'): if(vars.apireviewsummary contains((substringBefore(trim($),',')) ++ (",Mule Config Creator"))) "Yes" else "No",
						td @(class:'reviewelement',align:'center',padding:'5'): if(vars.apireviewsummary contains((substringBefore(trim($),',')) ++ (",Compare API Responses"))) "Yes" else "No"
			}
			
		}]]></ee:set-payload>
			</ee:message>
			<ee:variables >
			</ee:variables>
		</ee:transform>
		<ee:transform doc:name="Transform Message7" doc:id="92050549-efdf-4d99-b315-01c734d7e3a6" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
write(payload, "application/xml")]]></ee:set-payload>
			</ee:message>
			<ee:variables />
		</ee:transform>
		<ee:transform doc:name="Transform Message8" doc:id="bba05bbd-9429-4438-8a3c-9b3c940ee7bb" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output text/plain
import * from dw::core::Strings
---

replaceAll(replaceAll(replaceAll(replaceAll(replaceAll(replaceAll(replaceAll(payload,'Fail','<span class="failed">Fail</span>'),"Pass",'<span class="passed">Pass</span>'),'Not Found','<span class="notfound">Not Found</span>'),'(E)','<span class="exceptionadded">(E)</span>'),'Not Created','<span class="failed">No</span>'),'Not Compared','<span class="failed">No</span>'),'configchecked','<span class="passed">Yes</span>')]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<email:send doc:name="Send" doc:id="71dcaf98-25a1-41d1-b6cc-4f883ce996e2" config-ref="Email_SMTP" fromAddress="${smtp.from}" subject='#["T2M Review Tool Report - Daily"]'>
			<reconnect blocking="false" />
			<email:to-addresses>
				<email:to-address value="DL.API.T2M@truist.com" />
			</email:to-addresses>
			<email:body contentType="text/html" encoding="UTF-8">
				<email:content><![CDATA[#[%dw 2.0
output text/plain
import * from dw::core::Strings
---
"${email.body}" ++ payload ++ "${email.signature}"]]]></email:content>
			</email:body>
			<email:attachments><![CDATA[#[%dw 2.0
output application/xlsx header=true
---
{'$(vars.filename)' : vars.attachment }]]]></email:attachments>
		</email:send>
		<parse-template doc:name="Parse Template" doc:id="50d9bfc9-1d98-4a24-b55f-e357fc0b39d9" location="web\t2mdailyreviewreport.html"/>
	</flow>
	<flow name="ReviewSummary" doc:id="9836bb98-c570-43a6-a807-75708555c4c3" >
		<http:listener doc:name="Listener" doc:id="a625f3d7-e788-4444-980b-fb894ccedfe1" config-ref="HTTP_Listener_config" path="/t2mapisummary"/>
		<ee:transform doc:name="Transform Message" doc:id="8d926f6b-2ea7-4d32-a691-dcf3332407d4" >
			<ee:message >
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="inputapis" ><![CDATA[%dw 2.0
output text/plain
import * from dw::core::Strings
---
if(sizeOf(trim(payload))>1)
payload.parts.inputapis.content default "" else ""
]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<db:select doc:name="Select" doc:id="0a74599b-18f6-4c83-8d60-85c856d087c1" config-ref="Database-Connection">
			<db:sql><![CDATA[SELECT TOOL_NAME, SERVICE_NAME, BRANCH_NAME, USAGE_STATUS, FAIL_COUNT, PASS_COUNT, USED_BY, LAST_UPDATED, REVIEW_FAILURE_EXCEPTION, EXCEPTION_APPROVED_BY FROM EAPI_MULE_T2M_REPORT ORDER BY LAST_UPDATED DESC]]></db:sql>
		</db:select>
		<choice doc:name="Choice" doc:id="706dd92e-f3eb-4cc4-a7da-1932bf32bd9a" >
			<when expression='#[(sizeOf(vars.inputapis default "")&gt;1)]'>
				<ee:transform doc:name="Transform Message" doc:id="707feb31-d5fb-4240-8a29-79a5328a58d8" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload map(data,index)-> {
	api : if(vars.inputapis contains(data."SERVICE_NAME")) (data) else "" 
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
				<ee:transform doc:name="Transform Message" doc:id="740cb594-fd25-492b-b080-d6d0d416b674" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
(payload.api) filter(v,i)-> (sizeOf(v)>0)]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</when>
			<otherwise >
				<ee:transform doc:name="Transform Message" doc:id="5df89780-0a5f-4b8b-b5ea-8577eae3a710">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
					<ee:variables >
						<ee:set-variable variableName="dboutputpayload" ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-variable>
					</ee:variables>
		</ee:transform>
			</otherwise>
		</choice>
		<ee:transform doc:name="Transform Message" doc:id="5baa9aac-8f7d-4362-9f14-29c02175f735" >
			<ee:message >
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="mapdata" ><![CDATA[%dw 2.0
output application/json
---
payload map(data,index)->{
	mapdata : (data."SERVICE_NAME" default "") ++ "," ++ (data."TOOL_NAME" default "") ++ "," ++ 
	(if(sizeOf(vars.dboutputpayload filter(v,i) -> ((v."SERVICE_NAME" default "") == (data."SERVICE_NAME" default "")) and ((v."TOOL_NAME" default "") == (data."TOOL_NAME" default "")) and (sizeOf(v."REVIEW_FAILURE_EXCEPTION" default "")>5))>0) ("Pass(E)") else ((data."USAGE_STATUS" default "")))
	++ "," ++ (data."BRANCH_NAME" default "") ++ "," ++ (data."USED_BY" default "") ++ "," ++ (data."LAST_UPDATED" default "")

}
]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<set-variable value='#[%dw 2.0&#10;output text/plain&#10;---&#10;vars.mapdata.mapdata joinBy("\n")]' doc:name="Set Variable" doc:id="0c76067f-dda8-4d12-9e40-bf41051cacfa" variableName="apireviewsummary"/>
		
		<ee:transform doc:name="Transform Message" doc:id="85163cb8-939f-4f0b-9874-3051c9e45964">
				<ee:message>
					<ee:set-payload><![CDATA[%dw 2.0
output application/java
---
trim(vars.apireviewsummary default "")]]></ee:set-payload>
				</ee:message>
			<ee:variables >
				<ee:set-variable variableName="apisavailable" ><![CDATA[%dw 2.0
output application/json
---
(payload."SERVICE_NAME" filter(v,i) -> ((!(v contains("_config")))) and (sizeOf(trim(v default ""))>0)) distinctBy ((num) -> num)]]></ee:set-variable>
				<ee:set-variable variableName="codereviewcount" ><![CDATA[%dw 2.0
output application/java
import * from dw::core::Strings
var apisummary = vars.apireviewsummary default ""
---
apisummary countMatches('Service Code Quality Check')]]></ee:set-variable>
				<ee:set-variable variableName="configreviewcount" ><![CDATA[%dw 2.0
output application/java
import * from dw::core::Strings
var apisummary = vars.apireviewsummary default ""
---
apisummary countMatches('Service Config Quality Check')]]></ee:set-variable>
				<ee:set-variable variableName="configcreatorcount" ><![CDATA[%dw 2.0
output application/java
import * from dw::core::Strings
var apisummary = vars.apireviewsummary default ""
---
apisummary countMatches('Mule Config Creator')]]></ee:set-variable>
				<ee:set-variable variableName="configextractcount" ><![CDATA[%dw 2.0
output application/java
import * from dw::core::Strings
var apisummary = vars.apireviewsummary default ""
---
apisummary countMatches('MuleConfigExtractor')]]></ee:set-variable>
				<ee:set-variable variableName="lastcodereviewdate" ><![CDATA[%dw 2.0
output application/java
import * from dw::core::Strings
var apisummary = vars.apireviewsummary default ""
---
trim(substringAfterLast(substringBefore(substringAfter(apisummary,'Service Code Quality Check'),'\n'),','))]]></ee:set-variable>
				<ee:set-variable variableName="lastconfigreviewdate" ><![CDATA[%dw 2.0
output application/java
import * from dw::core::Strings
var apisummary = vars.apireviewsummary default ""
---
trim(substringAfterLast(substringBefore(substringAfter(apisummary,'Service Config Quality Check'),'\n'),','))
]]></ee:set-variable>
				<ee:set-variable variableName="lastconfigcreatordate" ><![CDATA[%dw 2.0
output application/java
import * from dw::core::Strings
var apisummary = vars.apireviewsummary default ""
---
trim(substringAfterLast(substringBefore(substringAfter(apisummary,'Mule Config Creator'),'\n'),','))
]]></ee:set-variable>
				<ee:set-variable variableName="lastconfigextractdate" ><![CDATA[%dw 2.0
output application/java
import * from dw::core::Strings
var apisummary = vars.apireviewsummary default ""
---
trim(substringAfterLast(substringBefore(substringAfter(apisummary,'MuleConfigExtractor'),'\n'),','))
]]></ee:set-variable>
				<ee:set-variable variableName="mqtriggercount" ><![CDATA[%dw 2.0
output application/java
import * from dw::core::Strings
var apisummary = vars.apireviewsummary default ""
---
apisummary countMatches('Mule MQ Trigger')]]></ee:set-variable>
				<ee:set-variable variableName="lastmqtriggerdate" ><![CDATA[%dw 2.0
output application/java
import * from dw::core::Strings
var apisummary = vars.apireviewsummary default ""
---
trim(substringAfterLast(substringBefore(substringAfter(apisummary,'Mule MQ Trigger'),'\n'),','))]]></ee:set-variable>
				<ee:set-variable variableName="apireviewexceptioncount" ><![CDATA[%dw 2.0
output application/java
var exceptions = payload filter(v,i)->(!(v."REVIEW_FAILURE_EXCEPTION" == null))
---
sizeOf(exceptions default 0)]]></ee:set-variable>
				<ee:set-variable variableName="apiswithreviewexceptions" ><![CDATA[%dw 2.0
output application/java
var exceptions = payload filter(v,i)->(!(v."REVIEW_FAILURE_EXCEPTION" == null))
---
exceptions]]></ee:set-variable>
				<ee:set-variable variableName="apiresponsecomparisoncount" ><![CDATA[%dw 2.0
output application/java
import * from dw::core::Strings
var apisummary = vars.apireviewsummary default ""
---
apisummary countMatches('Compare API Responses')]]></ee:set-variable>
				<ee:set-variable variableName="lastresponsecomparisondate" ><![CDATA[%dw 2.0
output application/java
import * from dw::core::Strings
var apisummary = vars.apireviewsummary default ""
---
trim(substringAfterLast(substringBefore(substringAfter(apisummary,'Compare API Responses'),'\n'),','))]]></ee:set-variable>
				<ee:set-variable variableName="mqconsumercount" ><![CDATA[%dw 2.0
output application/java
import * from dw::core::Strings
var apisummary = vars.apireviewsummary default ""
---
apisummary countMatches('Mule MQ Consumer')]]></ee:set-variable>
				<ee:set-variable variableName="lastmqconsumerdate" ><![CDATA[%dw 2.0
output application/java
import * from dw::core::Strings
var apisummary = vars.apireviewsummary default ""
---
trim(substringAfterLast(substringBefore(substringAfter(apisummary,'Mule MQ Consumer'),'\n'),','))]]></ee:set-variable>
			
</ee:variables>
			</ee:transform>
		<ee:transform doc:name="Transform Message" doc:id="9027f013-eb69-4ed6-a3a1-26c743aa1f84">
				<ee:message>
					<ee:set-payload><![CDATA[%dw 2.0
output application/json
import * from dw::core::Strings
---
(vars.apisavailable) map(v,i)->{
	api : trim(v) ++ "," ++ trim(substringBefore(substringAfter(payload,(trim(v) ++ ",Service Code Quality Check,")),',')) ++ "," ++ trim(substringAfterLast(substringBefore(substringAfter(payload,(trim(v) ++ ",Service Code Quality Check,")),'\n'),',')) ++ "," ++  trim(substringBefore(substringAfter(payload,(trim(v) ++ ",Service Config Quality Check,")),',')) ++ "," ++ trim(substringAfterLast(substringBefore(substringAfter(payload,(trim(v) ++ ",Service Config Quality Check,")),'\n'),","))
}]]></ee:set-payload>
				</ee:message>
				<ee:variables>
					<ee:set-variable variableName="apisreviewsummaryconsolidation"><![CDATA[%dw 2.0
output application/java
---
payload]]></ee:set-variable>
				<ee:set-variable variableName="muleconfigcreatorapis" ><![CDATA[%dw 2.0
output application/json
import * from dw::core::Strings
var configcreatorapis = (payload splitBy('\n')) filter(v,i)-> (v contains('Mule Config Creator'))
---
configcreatorapis map(v,i)->{
	api : trim(v) ++ "," ++ trim(substringBefore(substringAfter(payload,(trim(v) ++ ",Mule Config Creator,")),',')) ++ "," ++ trim(substringAfterLast(substringBefore(substringAfter(payload,(trim(v) ++ ",Mule Config Creator,")),'\n'),','))
}
]]></ee:set-variable>
				<ee:set-variable variableName="finalapiswithreviewexceptions" ><![CDATA[%dw 2.0
output application/json
import * from dw::core::Strings
var apis = vars.apiswithreviewexceptions
---
(apis) map(v,i)->{
	api : trim(v."SERVICE_NAME") ++ "," ++ trim(v."TOOL_NAME") ++ "," ++ trim(v."REVIEW_FAILURE_EXCEPTION") ++ "," ++ trim(v."USED_BY") ++ "," ++ trim(v."EXCEPTION_APPROVED_BY" default "SwatiAgrawal@truist.com") ++ "," ++ trim(v."LAST_UPDATED") 
}
]]></ee:set-variable>
				
</ee:variables>
			</ee:transform>
		<ee:transform doc:name="Transform Message" doc:id="cd28d408-9ee9-45c2-ba2c-c7fb30b60ea8" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
payload.api]]></ee:set-payload>
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="configcreatorapis" ><![CDATA[%dw 2.0
output application/java
---
vars.muleconfigcreatorapis.api]]></ee:set-variable>
				<ee:set-variable variableName="finalapiswithreviewexceptions" ><![CDATA[%dw 2.0
output application/java
---
vars.finalapiswithreviewexceptions.api]]></ee:set-variable>
			</ee:variables>
		
</ee:transform>
		<ee:transform doc:name="Transform Message" doc:id="59cb009e-8c2f-433a-ae73-6c906e41fee1" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
import * from dw::core::Strings
output application/xml
var apiarray = payload default []
---

		table @(class:'solutionadded',align:'center'):
		{
			tr : {
				td @(class:'reviewheader',align:'center'): "API Name",
				td @(class:'reviewheader',align:'center'): "Code Review",
				td @(class:'reviewheader',align:'center'): "Reviewed Date",
				td @(class:'reviewheader',align:'center'): "Config Review",
				td @(class:'reviewheader',align:'center'): "Reviewed Date",
				td @(class:'reviewheader',align:'center'): "Config Created",
				td @(class:'reviewheader',align:'center'): "Response Check"
			},
			tr: apiarray map 
			{		
						td @(class:'reviewelement'): substringBefore(trim($),','),
						td @(class:'reviewelement',align:'center'): if(sizeOf(trim(substringBefore(substringAfter(trim($),','),',')))==0) 'Not Found' else trim(substringBefore(substringAfter(trim($),','),',')),
						td @(class:'reviewelement',align:'center'): if(sizeOf(substringBefore(substringAfter(substringAfter($,','),','),','))==0) 'Not Found' else substringBefore(substringAfter(substringAfter($,','),','),','),
						td @(class:'reviewelement',align:'center'): if(sizeOf(trim(substringAfterLast(substringBeforeLast(trim($),','),',')))==0) 'Not Found' else substringAfterLast(substringBeforeLast(trim($),','),','),
						td @(class:'reviewelement',align:'center'): if(sizeOf(substringAfterLast($,','))==0) 'Not Found' else substringAfterLast($,','),
						td @(class:'reviewelement',align:'center'): if(vars.apireviewsummary contains((substringBefore(trim($),',')) ++ (",Mule Config Creator"))) "configchecked" else "Not Created",
						td @(class:'reviewelement',align:'center'): if(vars.apireviewsummary contains((substringBefore(trim($),',')) ++ (",Compare API Responses"))) "configchecked" else "Not Compared"
			
			}
			
		}]]></ee:set-payload>
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="configcreatorapitable" ><![CDATA[%dw 2.0
import * from dw::core::Strings
output application/xml
var apiarray = vars.configcreatorapis default []
---

		table @(class:'dropdowntable',align:'center'):
		{
			tr : {
				td @(class:'reviewheader',align:'center'): "API Name",
				td @(class:'reviewheader',align:'center'): "Code Review",
				td @(class:'reviewheader',align:'center'): "Reviewed Date",
				td @(class:'reviewheader',align:'center'): "Config Review",
				td @(class:'reviewheader',align:'center'): "Reviewed Date"
			},
			tr: apiarray map 
			{		
						td @(class:'reviewelement'): substringBefore(trim($),','),
						td @(class:'reviewelement',align:'center'): if(sizeOf(trim(substringBefore(substringAfter(trim($),','),',')))==0) 'Not Found' else trim(substringBefore(substringAfter(trim($),','),',')),
						td @(class:'reviewelement',align:'center'): if(sizeOf(substringBefore(substringAfter(substringAfter($,','),','),','))==0) 'Not Found' else substringBefore(substringAfter(substringAfter($,','),','),','),
						td @(class:'reviewelement',align:'center'): if(sizeOf(trim(substringAfterLast(substringBeforeLast(trim($),','),',')))==0) 'Not Found' else substringAfterLast(substringBeforeLast(trim($),','),','),
						td @(class:'reviewelement',align:'center'): if(sizeOf(substringAfterLast($,','))==0) 'Not Found' else substringAfterLast($,',')
			}
			
		}]]></ee:set-variable>
				<ee:set-variable variableName="apiswithreviewexceptionscontent" ><![CDATA[%dw 2.0
import * from dw::core::Strings
output application/xml
var apiarray = vars.finalapiswithreviewexceptions default []
---

		table @(class:'dropdowntable',align:'center'):
		{
			tr : {
				td @(class:'reviewheader',align:'center'): "API Name",
				td @(class:'reviewheader',align:'center'): "Tool Name",
				td @(class:'reviewheader',align:'center'): "Exception Logged",
				td @(class:'reviewheader',align:'center'): "Exception Logged By",
				td @(class:'reviewheader',align:'center'): "Exception Approved By",
				td @(class:'reviewheader',align:'center'): "Exception Updated Date"
			},
			tr: apiarray map 
			{		
						td @(class:'reviewelement'): substringBefore(trim($),','),
						td @(class:'reviewelement',align:'center'): trim(substringBefore(substringAfter(trim($),','),',')),
						td @(class:'reviewelement',align:'center'): trim(substringBefore(substringAfter(substringAfter($,','),','),',')),
						td @(class:'reviewelement',align:'center'): trim(substringAfterLast(substringBeforeLast(substringBeforeLast($,','),','),',')),
						td @(class:'reviewelement',align:'center'): substringAfterLast(substringBeforeLast(trim($),','),','),
						td @(class:'reviewelement',align:'center'): substringAfterLast($,',')
			}
			
		}]]></ee:set-variable>
				<ee:set-variable variableName="originalcontent" ><![CDATA[%dw 2.0
import * from dw::core::Strings
output application/xml
var apiarray = payload default []
---

		table @(class:'solutionadded',align:'center'):
		{
			tr : {
				td @(class:'reviewheader',align:'center'): "API Name",
				td @(class:'reviewheader',align:'center'): "Code Review",
				td @(class:'reviewheader',align:'center'): "Reviewed Date",
				td @(class:'reviewheader',align:'center'): "Config Review",
				td @(class:'reviewheader',align:'center'): "Reviewed Date"
			},
			tr: apiarray map 
			{		
						td @(class:'reviewelement'): substringBefore(trim($),','),
						td @(class:'reviewelement',align:'center'): if(sizeOf(trim(substringBefore(substringAfter(trim($),','),',')))==0) 'Not Found' else trim(substringBefore(substringAfter(trim($),','),',')),
						td @(class:'reviewelement',align:'center'): if(sizeOf(substringBefore(substringAfter(substringAfter($,','),','),','))==0) 'Not Found' else substringBefore(substringAfter(substringAfter($,','),','),','),
						td @(class:'reviewelement',align:'center'): if(sizeOf(trim(substringAfterLast(substringBeforeLast(trim($),','),',')))==0) 'Not Found' else substringAfterLast(substringBeforeLast(trim($),','),','),
						td @(class:'reviewelement',align:'center'): if(sizeOf(substringAfterLast($,','))==0) 'Not Found' else substringAfterLast($,',')
			
			}
			
		}]]></ee:set-variable>
			</ee:variables>
		
</ee:transform>
		<ee:transform doc:name="Transform Message" doc:id="4cfb3ac0-c576-4f22-87e8-96c916a36d8b" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
write(payload, "application/xml")]]></ee:set-payload>
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="originalcontentstring" ><![CDATA[%dw 2.0
output application/java
---
write(vars.originalcontent, "application/xml")]]></ee:set-variable>
			</ee:variables>
		
</ee:transform>
		<ee:transform doc:name="Transform Message" doc:id="11aca510-0cfb-46ad-958c-990f4bfae241" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output text/plain
import * from dw::core::Strings
---

replaceAll(replaceAll(replaceAll(replaceAll(replaceAll(replaceAll(replaceAll(payload,'Fail','<span class="failed">Fail</span>'),"Pass",'<span class="passed">Pass</span>'),'Not Found','<span class="notfound">Not Found</span>'),'(E)','<span class="exceptionadded">(E)</span>'),'Not Created','<span class="failed">No</span>'),'Not Compared','<span class="failed">No</span>'),'configchecked','<span class="passed">Yes</span>')]]></ee:set-payload>
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="originalcontentreplaced" ><![CDATA[%dw 2.0
output text/plain
import * from dw::core::Strings
---

replaceAll(replaceAll(replaceAll(replaceAll(vars.originalcontentstring,'Fail','<span class="failed">Fail</span>'),"Pass",'<span class="passed">Pass</span>'),'Not Found','<span class="notfound">Not Found</span>'),'(E)','<span class="exceptionadded">(E)</span>')]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<ee:transform doc:name="Transform Message" doc:id="652926b7-2705-416a-9022-277b1574dd6d" >
			<ee:message >
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="filteredallpass" ><![CDATA[%dw 2.0
output application/java
import * from dw::core::Strings
var payloadarray = vars.originalcontentreplaced splitBy('</tr>')
---
payloadarray map(data,index)->{
	api : if((data countMatches('Pass'))>1) data ++ "</tr>" else ""
}]]></ee:set-variable>
				<ee:set-variable variableName="filteredallfail" ><![CDATA[%dw 2.0
output application/java
import * from dw::core::Strings
var payloadarray = vars.originalcontentreplaced splitBy('</tr>')
---
payloadarray map(data,index)->{
	api : if((data countMatches('Fail'))>1) data ++ "</tr>" else ""
}]]></ee:set-variable>
				<ee:set-variable variableName="filteredpartialpass" ><![CDATA[%dw 2.0
output application/java
import * from dw::core::Strings
var payloadarray = vars.originalcontentreplaced splitBy('</tr>')
---
payloadarray map(data,index)->{
	api : if((data countMatches('Pass'))==1) data ++ "</tr>" else ""
}]]></ee:set-variable>
				<ee:set-variable variableName="codecheckpassapis" ><![CDATA[%dw 2.0
output application/json
import * from dw::core::Strings
var payloadarray = vars.originalcontentreplaced splitBy('</tr>')
---
payloadarray map(data,index)->{
	api : if((substringBefore(substringAfter(data,'<span'),'</span') contains('Pass')) and (substringBeforeLast(substringAfterLast(data,'<span'),'</span') contains('Fail'))) data else ""
}]]></ee:set-variable>
				<ee:set-variable variableName="configcheckpassapis" ><![CDATA[%dw 2.0
output application/json
import * from dw::core::Strings
var payloadarray = vars.originalcontentreplaced splitBy('</tr>')
---
payloadarray map(data,index)->{
	api : if((substringBefore(substringAfter(data,'<span'),'</span') contains('Fail')) and (substringBeforeLast(substringAfterLast(data,'<span'),'</span') contains('Pass'))) data else ""
}]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<ee:transform doc:name="Transform Message" doc:id="9eb5e8fa-e078-4bce-9eb6-1d43ccc13a9d" >
			<ee:message >
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="allpassedapis" ><![CDATA[%dw 2.0
import * from dw::core::Strings
output application/java
var apiarray = (vars.filteredallpass default '') filter(v,i)-> sizeOf(v.api)>1
---
apiarray.api joinBy('')
]]></ee:set-variable>
				<ee:set-variable variableName="allfailedapis" ><![CDATA[%dw 2.0
import * from dw::core::Strings
output application/java
var apiarray = (vars.filteredallfail default '') filter(v,i)-> sizeOf(v.api)>1
---
apiarray.api joinBy('')
]]></ee:set-variable>
				<ee:set-variable variableName="partialpassapis" ><![CDATA[%dw 2.0
import * from dw::core::Strings
output application/java
var apiarray = (vars.filteredpartialpass default '') filter(v,i)-> sizeOf(v.api)>1
---
apiarray.api joinBy('')
]]></ee:set-variable>
				<ee:set-variable variableName="allpassapiscount" ><![CDATA[%dw 2.0
import * from dw::core::Strings
output application/java
var apiarray = (vars.filteredallpass default '') filter(v,i)-> sizeOf(v.api)>1
---
sizeOf(apiarray.api)
]]></ee:set-variable>
				<ee:set-variable variableName="allfailedapiscount" ><![CDATA[%dw 2.0
import * from dw::core::Strings
output application/java
var apiarray = (vars.filteredallfail default '') filter(v,i)-> sizeOf(v.api)>1
---
sizeOf(apiarray.api)
]]></ee:set-variable>
				<ee:set-variable variableName="partialpassapiscount" ><![CDATA[%dw 2.0
import * from dw::core::Strings
output application/java
var apiarray = (vars.filteredpartialpass default '') filter(v,i)-> sizeOf(v.api)>1
---
sizeOf(apiarray.api)
]]></ee:set-variable>
				<ee:set-variable variableName="codecheckpassapiscount" ><![CDATA[%dw 2.0
import * from dw::core::Strings
output application/java
var apiarray = (vars.codecheckpassapis default '') filter(v,i)-> sizeOf(v.api)>1
---
sizeOf(apiarray.api)
]]></ee:set-variable>
				<ee:set-variable variableName="codecheckpassedapis" ><![CDATA[%dw 2.0
import * from dw::core::Strings
output application/java
var apiarray = (vars.codecheckpassapis default '') filter(v,i)-> sizeOf(v.api)>1
---
apiarray.api joinBy('')
]]></ee:set-variable>
				<ee:set-variable variableName="configcheckpassedapis" ><![CDATA[%dw 2.0
import * from dw::core::Strings
output application/java
var apiarray = (vars.configcheckpassapis default '') filter(v,i)-> sizeOf(v.api)>1
---
apiarray.api joinBy('')
]]></ee:set-variable>
				<ee:set-variable variableName="configcheckpassapiscount" ><![CDATA[%dw 2.0
import * from dw::core::Strings
output application/java
var apiarray = (vars.configcheckpassapis default '') filter(v,i)-> sizeOf(v.api)>1
---
sizeOf(apiarray.api)
]]></ee:set-variable>
				<ee:set-variable variableName="consolidatedexceptionaddedapis" ><![CDATA[vars.apiswithreviewexceptionscontent]]></ee:set-variable>
				<ee:set-variable variableName="exceptionaddedapiscount" ><![CDATA[%dw 2.0
output application/java
---
sizeOf(vars.finalapiswithreviewexceptions)]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<ee:transform doc:name="Transform Message" doc:id="45702b4b-a3ce-4c76-9656-b6356535768f" >
			<ee:message >
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="consolidatedallpassapis" ><![CDATA[%dw 2.0
output text/plain
---
'<table class="dropdowntable" align="center"><tr><td class="reviewheader" align="center">API Name</td><td class="reviewheader" align="center">Code Review</td><td class="reviewheader" align="center">Reviewed Date</td><td class="reviewheader" align="center">Config Review</td><td class="reviewheader" align="center">Reviewed Date</td></tr>'++
(vars.allpassedapis default "")
++
'</tr></table>']]></ee:set-variable>
				<ee:set-variable variableName="consolidatedallfailapis" ><![CDATA[%dw 2.0
output text/plain
---
'<table class="dropdowntable" align="center"><tr><td class="reviewheader" align="center">API Name</td><td class="reviewheader" align="center">Code Review</td><td class="reviewheader" align="center">Reviewed Date</td><td class="reviewheader" align="center">Config Review</td><td class="reviewheader" align="center">Reviewed Date</td></tr>'++
(vars.allfailedapis default "")
++
'</tr></table>']]></ee:set-variable>
				<ee:set-variable variableName="consolidatedpartialpassapis" ><![CDATA[%dw 2.0
output text/plain
---
'<table class="dropdowntable" align="center"><tr><td class="reviewheader" align="center">API Name</td><td class="reviewheader" align="center">Code Review</td><td class="reviewheader" align="center">Reviewed Date</td><td class="reviewheader" align="center">Config Review</td><td class="reviewheader" align="center">Reviewed Date</td></tr>'++
(vars.partialpassapis default "")
++
'</tr></table>']]></ee:set-variable>
				<ee:set-variable variableName="consolidatedcodecheckpassapis" ><![CDATA[%dw 2.0
output text/plain
---
'<table class="dropdowntable" align="center"><tr><td class="reviewheader" align="center">API Name</td><td class="reviewheader" align="center">Code Review</td><td class="reviewheader" align="center">Reviewed Date</td><td class="reviewheader" align="center">Config Review</td><td class="reviewheader" align="center">Reviewed Date</td></tr>'++
(vars.codecheckpassedapis default "")
++
'</tr></table>']]></ee:set-variable>
				<ee:set-variable variableName="consolidatedconfigcheckpassedapis" ><![CDATA[%dw 2.0
output text/plain
---
'<table class="dropdowntable" align="center"><tr><td class="reviewheader" align="center">API Name</td><td class="reviewheader" align="center">Code Review</td><td class="reviewheader" align="center">Reviewed Date</td><td class="reviewheader" align="center">Config Review</td><td class="reviewheader" align="center">Reviewed Date</td></tr>'++
(vars.configcheckpassedapis default "")
++
'</tr></table>']]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<parse-template doc:name="Parse Template" doc:id="82404b96-cbcc-4c4a-bbbc-991e53c3be66" location="web\apireviewsummary.html">
		</parse-template>
	</flow>
	<flow name="t2mdbexportFlow2" doc:id="132dc04d-4704-4f1b-9bec-b50224d3c856" >
		<http:listener doc:name="Listener" doc:id="e3f5b4e4-5b5c-43da-a4ef-7cca65000cf7" config-ref="HTTP_Listener_config" path="/t2mtools"/>
		<parse-template doc:name="Parse Template" doc:id="4ad1a230-23ac-4d3f-af2f-6e3fa4cedc74" location="web\t2mtools.html"/>
	</flow>
</mule>
