raksanalyzer/deleteLater/servicequalitycheck/src/main/mule/configdataextract.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:api-gateway="http://www.mulesoft.org/schema/mule/api-gateway" xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns:email="http://www.mulesoft.org/schema/mule/email"
	xmlns:compression="http://www.mulesoft.org/schema/mule/compression" xmlns:scripting="http://www.mulesoft.org/schema/mule/scripting" xmlns:java="http://www.mulesoft.org/schema/mule/java" xmlns:os="http://www.mulesoft.org/schema/mule/os" xmlns:tls="http://www.mulesoft.org/schema/mule/tls" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:file="http://www.mulesoft.org/schema/mule/file" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/tls http://www.mulesoft.org/schema/mule/tls/current/mule-tls.xsd
http://www.mulesoft.org/schema/mule/os http://www.mulesoft.org/schema/mule/os/current/mule-os.xsd
http://www.mulesoft.org/schema/mule/java http://www.mulesoft.org/schema/mule/java/current/mule-java.xsd
http://www.mulesoft.org/schema/mule/scripting http://www.mulesoft.org/schema/mule/scripting/current/mule-scripting.xsd
http://www.mulesoft.org/schema/mule/compression http://www.mulesoft.org/schema/mule/compression/current/mule-compression.xsd
http://www.mulesoft.org/schema/mule/email http://www.mulesoft.org/schema/mule/email/current/mule-email.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/api-gateway http://www.mulesoft.org/schema/mule/api-gateway/current/mule-api-gateway.xsd">
	<http:request-config name="HTTP_Request_configuration" doc:name="HTTP Request configuration" doc:id="45818080-31c0-4e68-b4be-d2e51bccdc2c" >
		<http:request-connection protocol="HTTPS" host="gitlab.bbtnet.com" port="443">
			<tls:context >
				<tls:trust-store insecure="true" />
			</tls:context>
		</http:request-connection>
	</http:request-config>
	<ee:object-store-caching-strategy name="Caching_Strategy" doc:name="Caching Strategy" doc:id="3f8b51af-83ca-4397-86fc-7ea777578f56" keyGenerationExpression="#[vars.serviceName ++ payload]" objectStore="Object_store"/>
	<os:object-store name="Object_store" doc:name="Object store" doc:id="87bc9909-5c9a-4a44-8c57-258a09590ff9" entryTtl="5" expirationIntervalUnit="HOURS" expirationInterval="5" entryTtlUnit="HOURS"/>
	<http:request-config name="PWDDecrypt" doc:name="HTTP Request configuration" doc:id="22e6f618-67e0-476e-83e4-b668930e20d1" >
		<http:request-connection host="api-admin.eapi.truist-dev.com" port="443" usePersistentConnections="false" protocol="HTTPS">
			<http:authentication >
				<http:basic-authentication username="eapidev" password="4Hi8$pW@k!"/>
			</http:authentication>
		</http:request-connection>
	</http:request-config>
	<http:request-config name="GetCredential" doc:name="HTTP Request configuration" doc:id="707435c7-7aa9-4ed1-a4d1-5a2724e379d8" >
		<http:request-connection protocol="HTTPS" host="gitlab.bbtnet.com" port="443" usePersistentConnections="false" >
			<http:authentication >
				<http:basic-authentication username="${username.gitlab}" password="${password.gitlab}" />
			</http:authentication>
		</http:request-connection>
	</http:request-config>
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="98914c6a-8217-43f2-a9f8-bdd66a6a6d41" basePath="/testingraks" >
		<http:listener-connection host="0.0.0.0" port="8081" usePersistentConnections="${persistence}"/>
	</http:listener-config>
	<flow name="configdataextractFlow-main" doc:id="85923dee-0664-4ab1-b9c4-2e17db49a9a6" >
		<http:listener doc:name="Listener" doc:id="00686776-0672-4fc7-bf41-f02c44a8d925" path="${gui.propertyExtract}" allowedMethods="GET,POST" config-ref="HTTP_GUIListener_config"/>
		<ee:transform doc:name="Transform Message" doc:id="ef7c59ce-7962-4728-a4f4-d47b1989cc92" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
payload]]></ee:set-payload>
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="propertyFolder" ><![CDATA[%dw 2.0
output application/java
import * from dw::core::Strings
---
lower(substringAfter(payload.parts.folder.content, "_"))]]></ee:set-variable>
				<ee:set-variable variableName="generate_page_header"><![CDATA[%dw 2.0
output application/java
---
"${page_header}"]]></ee:set-variable>
				<ee:set-variable variableName="generate_page_status"><![CDATA[%dw 2.0
output application/java
---
"${generate_page_status}"]]></ee:set-variable>
				<ee:set-variable variableName="generate_page_title"><![CDATA[%dw 2.0
output application/java
---
"${page_title}"]]></ee:set-variable>
				<ee:set-variable variableName="generate_page_background_color"><![CDATA[%dw 2.0
output application/java
---
"${page_background_color}"]]></ee:set-variable>
				<ee:set-variable variableName="client_logo"><![CDATA[%dw 2.0
output application/java
---
"${client_logo}"]]></ee:set-variable>
				<ee:set-variable variableName="button_color"><![CDATA[%dw 2.0
output application/java
---
"${button_color}"]]></ee:set-variable>
				<ee:set-variable variableName="filename" ><![CDATA[%dw 2.0
output application/java
---
payload.parts.file.headers.'Content-Disposition'.filename]]></ee:set-variable>
				<ee:set-variable variableName="filepath" ><![CDATA["${gui.workingdirectory}"]]></ee:set-variable>
				<ee:set-variable variableName="directoryPath" ><![CDATA["${gui.directoryPath}"]]></ee:set-variable>
				<ee:set-variable variableName="font_color" ><![CDATA[%dw 2.0
output application/java
---
"${font_color}"]]></ee:set-variable>
				<ee:set-variable variableName="fileSeparator" ><![CDATA[%dw 2.0
output application/java
---
if((vars.propertyFolder default "") contains("/")) "//" else "\\"]]></ee:set-variable>
				<ee:set-variable variableName="startTime" ><![CDATA[now()]]></ee:set-variable>
				<ee:set-variable variableName="serviceName" ><![CDATA[%dw 2.0
output application/java
import * from dw::core::Strings
---
lower(substringAfter(payload.parts.folder.content, "_"))]]></ee:set-variable>
				<ee:set-variable variableName="orgName" ><![CDATA[%dw 2.0
output application/java
import * from dw::core::Strings
---
lower(substringBefore(payload.parts.folder.content, "_"))]]></ee:set-variable>
				<ee:set-variable variableName="configServiceName" ><![CDATA[%dw 2.0
output application/java
---
if(payload.parts.folder.content contains(",")) (payload.parts.folder.content splitBy(",")) else (payload.parts.folder.content splitBy(" ") default [])]]></ee:set-variable>
				<ee:set-variable variableName="actionURI" ><![CDATA[%dw 2.0
import * from dw::core::Strings
output application/java
---
if(attributes.headers.host default "" contains "api") ("/" ++ "${web.uri}") else ""]]></ee:set-variable>
				<ee:set-variable variableName="multipleservices" ><![CDATA[%dw 2.0
output application/java
---
if(payload.parts.folder.content contains(",")) ("Yes") else "No"]]></ee:set-variable>
				<ee:set-variable variableName="rawFlag" ><![CDATA[output application/java
import * from dw::core::Strings
---
if(payload.parts.rawflag.content contains(":")) trim(substringAfterLast(payload.parts.rawflag.content,":")) else payload.parts.rawflag.content]]></ee:set-variable>
				<ee:set-variable variableName="path" ><![CDATA[output application/java
import * from dw::core::Strings
---
payload.parts.path.content default ""]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<!-- <file:list doc:name="List" doc:id="b2c3b570-cf6e-478c-975d-46dec1813b1e" directoryPath="#[vars.propertyFolder]" recursive="true" config-ref="File_Config">
			<file:matcher filenamePattern="*.{properties,policy,deploy}" />
		</file:list> -->
		
		<try doc:name="Try" doc:id="312ace16-302c-44e5-8868-bd10f58d7058">
			<file:delete doc:name="Delete" doc:id="7765841e-fcff-4e00-ae5c-93d90bdc853f" config-ref="File_Config" path='#["${gui.reportLocation}"]' />
			<error-handler>
				<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="5ec12b6b-21d1-4ec1-9fab-b5b483291b82">
					<logger level="INFO" doc:name="Logger" doc:id="4083f4ec-80b1-49c2-bd71-6803f3acb81b" message="Workspace is clean" />
				</on-error-continue>
			</error-handler>
		</try>
		<foreach doc:name="For Each" doc:id="b951db4e-2a82-415c-b5bb-cfb8a8f22e2f" collection="#[vars.configServiceName default []]" counterVariableName="servicecounter">
			<try doc:name="Try" doc:id="3d43b653-e6a7-44c4-84bf-d24be429caa9" >
			<set-variable value='#[if(payload contains("_config")) payload else payload ++ "_config"]' doc:name="Set Variable" doc:id="1ec09d3b-e058-46fe-9b21-89ad3cfb2692" variableName="configServiceName"/>
			<java:new doc:name="New" doc:id="470064f5-2d5a-45b1-a69c-925db6aefd8e" class="com.org.propertyutil.GitCloneRepo" constructor="GitCloneRepo()" />
		<java:invoke method="GitCloneBranch(java.lang.String,java.lang.String,java.lang.String,java.lang.String,java.lang.String,java.lang.String)" doc:name="Clone Repo" doc:id="af208127-63ba-4848-bc95-6136059ad5a6" instance="#[payload]" class="com.org.propertyutil.GitCloneRepo">
			<java:args><![CDATA[#[%dw 2.0
---
{
	arg0 : "${repo.eapi01}" ++ (vars.path default "EAPI01") ++ "//" ++ (vars.configServiceName default "") ++ ".git" ,
	arg1 : "${username.gitlab}",
	arg2 : "${password.gitlab}",
	arg3 : "master",
	arg4 : "${gui.apphome}" ++ vars.configServiceName ++ "//",
	arg5 : "${gui.inputLocation}" ++ vars.configServiceName ++ "_" ++ now().hour ++ now().minutes ++ now().seconds ++ "//"
}]]]></java:args>
		</java:invoke>
		<logger level="INFO" doc:name="Logger" doc:id="97deb006-ef99-4a34-9676-03e076abe8fe" message='#[payload ++ " ==============================&gt;" ++ vars.servicecounter ++ " &lt;=============================="]'/>
			<file:list doc:name="List" doc:id="2093c526-14fc-484d-92e4-d15adfaa8c64" config-ref="File_Config" directoryPath='#[import * from dw::core::Strings&#10;---&#10;&#10;substringAfterLast(payload,",")]' target="FilesList" recursive="true">
				<file:matcher directories="EXCLUDE" symLinks="EXCLUDE" />
			</file:list>
		<ee:transform doc:name="Transform Message" doc:id="d0a8a059-6364-496d-80ac-e7f123b96928">
			<ee:message>
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
flatten( (vars.filesList..path filter (v , i) -> v contains (".properties"))  +  (vars.filesList..path filter (v , i) -> v contains (".deploy")) + (vars.filesList..path filter (v , i) -> v contains (".policy")))


	
	]]></ee:set-payload>
			</ee:message>
			<ee:variables>
				<ee:set-variable variableName="serviceName"><![CDATA[%dw 2.0
output application/java
import * from dw::core::Strings
---
if(vars.multipleservices=="Yes") "multiple" else lower(substringBefore(vars.configServiceName, "_"))]]></ee:set-variable>
				<ee:set-variable variableName="PNumOfEnv"><![CDATA[%dw 2.0
output application/json
---
sizeOf(vars.filesList..path filter (v , i) -> v contains (".properties")) as Number]]></ee:set-variable>
				<ee:set-variable variableName="DNumOfEnv"><![CDATA[%dw 2.0
output application/json
---
sizeOf(vars.filesList..path filter (v , i) -> v contains (".deploy")) as Number]]></ee:set-variable>
				<ee:set-variable variableName="PoNumOfEnv" ><![CDATA[%dw 2.0
output application/json
---
sizeOf(vars.filesList..path filter (v , i) -> v contains (".policy")) as Number]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
			<ee:transform doc:name="Transform Message" doc:id="265a91d4-905f-4d1e-8218-84e0ca2220ad" >
				<ee:message >
					<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
flatten( (payload filter (v , i) -> v contains ("OCP"))  +  (payload filter (v , i) -> v contains (".deploy")) + (payload filter (v , i) -> v contains (".policy")))
]]></ee:set-payload>
				</ee:message>
				<ee:variables >
					<ee:set-variable variableName="CurrentPropertyData" ><![CDATA[""]]></ee:set-variable>
					<ee:set-variable variableName="finalData" ><![CDATA[""]]></ee:set-variable>
				</ee:variables>
			</ee:transform>
			<foreach doc:name="For Each" doc:id="f3c7e94b-e96e-4f76-9053-fd8e6b78e098" collection='#[payload]'>
			<set-variable value="#[payload]" doc:name="Set Variable" doc:id="4fbb812a-bba9-4a86-b45c-bdaeda6b3c2b" variableName="currentPayload"/>
			<file:read doc:name="Read" doc:id="b3ae12af-14cc-4085-b879-8633b6aa5be6" config-ref="File_Config" path="#[payload]"/>
			<ee:transform doc:name="Transform Message" doc:id="4945499a-4e70-4a60-ae68-2cdd714e22df" >
				<ee:message >
					<ee:set-payload ><![CDATA[%dw 2.0
import fromBase64 , toBase64 from dw::core::Binaries
output application/java
---
read((payload),"text/plain") splitBy ("\n")
]]></ee:set-payload>
				</ee:message>
			</ee:transform>
			<foreach doc:name="For Each" doc:id="1d41d0c5-213c-46fe-9439-ea5105d82876" collection="#[payload]">
				<ee:transform doc:name="Transform Message" doc:id="daf1eb3b-423a-4ee1-91fa-35112a07e40d" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
payload]]></ee:set-payload>
					</ee:message>
					<ee:variables >
						<ee:set-variable variableName="currentkey" ><![CDATA[%dw 2.0
output application/java
import * from dw::core::Strings
---
(substringBefore(payload,"="))]]></ee:set-variable>
						<ee:set-variable variableName="currentValue" ><![CDATA[%dw 2.0
output application/java
import * from dw::core::Strings
---
substringAfter(payload,"=")]]></ee:set-variable>
					</ee:variables>
				</ee:transform>
				<choice doc:name="Choice" doc:id="5ec4e268-3c3a-46be-9ed3-2628d6c4fe91" >
					<when expression='#[%dw 2.0
&#10;import * from dw::core::Strings
&#10;---
&#10;(sizeOf(vars.currentkey default "")&gt;0) and (sizeOf(substringAfter(vars.currentPropertyData default "",((trim(vars.currentKey) ++ "~") default "")))&lt;1)]'>
						<set-payload value="#[vars.FilesList]" doc:name="Set Payload" doc:id="2c10e461-3792-4b93-abba-0fc32eb0f6a5" />
						<ee:transform doc:name="Transform Message" doc:id="5c1640a2-c117-4648-9a33-e81de286d753">
							<ee:message>
								<ee:set-payload><![CDATA[%dw 2.0
import * from dw::core::Strings
output application/java
---
payload..path filter (v , i) -> v contains (substringAfterLast(vars.currentPayload,"."))

//payload..path filter (v , i) -> v contains ("TDV")
]]></ee:set-payload>
							</ee:message>
						</ee:transform>
						<foreach doc:name="For Each" doc:id="c47e0cc3-ed3e-42dd-b149-f3d4c4177645" collection="#[payload]">
							<set-variable value="#[payload]" doc:name="Set Variable" doc:id="5e5ba0e9-bc3d-4772-8af8-ae8cbf7b8880" variableName="currentFileName"/>
							<file:read doc:name="Read" doc:id="a189a9c9-6773-481c-8067-943312e34c28" config-ref="File_Config" path="#[payload]" outputMimeType="text/plain"/>
							<ee:transform doc:name="Transform Message" doc:id="f9795a28-d166-4301-b2a0-bb682fb428b7">
										<ee:message>
											<ee:set-payload><![CDATA[%dw 2.0
import fromBase64 , toBase64 from dw::core::Binaries
output application/json
---
read((payload),"text/plain")
]]></ee:set-payload>
										</ee:message>
									</ee:transform>
							<ee:transform doc:name="Transform Message" doc:id="55863dba-6c5b-413a-a8cb-8f905eca12e7">
										<ee:message>
											<ee:set-payload><![CDATA[%dw 2.0
output application/java
import * from dw::core::Strings
var key= trim(vars.currentKey) default '' ++ "="
var data=(payload replace "= " with "=") replace " =" with "=" 
var value= (substringAfter(data,key)) 
var RespEnvValue=if(sizeOf((substringBefore(substringAfter(payload,key),'\n')))>0)((substringBefore(substringAfter(payload,key),'\n'))) else (substringAfterLast(payload,(key default "")))
---
if(value contains '\n')((substringBefore(substringAfter(data,key),'\n')))
 else ((substringAfter(data,key)) )
//(substringBefore(substringAfter(payload,key),'\n')) default ""
//if((sizeOf(RespEnvValue)>0) )(RespEnvValue)  else ("NoValue")
//if((sizeOf(RespEnvValue replace "=" with "")>0)) (substringAfter(RespEnvValue,'=')) else ("NoValue")]]></ee:set-payload>
										</ee:message>
								<ee:variables >
								</ee:variables>
									</ee:transform>
							<choice doc:name="Choice" doc:id="ce3089f1-60e5-4525-96f3-76b4faf904c7" >
									<when expression='#[%dw 2.0&#10;import * from dw::core::Strings&#10;var fileseparator = if(vars.currentFileName contains("/")) "/" else "\\"&#10;var filename = substringBefore(substringAfterLast(vars.currentFileName,fileseparator),".")&#10;---&#10;(payload contains("^{")) and ((filename != "DR") and (filename != "PROD"))]'>
										<try doc:name="Try" doc:id="3d13e4a3-29da-4bb4-9994-018afcdbebaa" >
											<set-variable value='#[payload]' doc:name="Set Variable" doc:id="88c9f186-6ee6-44a3-a9c1-8f979ec239b8" variableName="encpwd"/>
											<set-payload value='#[%dw 2.0&#10;output application/x-www-form-urlencoded&#10;---&#10;{&#10;"password":vars.encpwd,&#10;"mode":"decrypt",&#10;"algType":"gcm"&#10;}]' doc:name="Set Payload" doc:id="477e53de-30af-4a9e-bfc8-10d0fec0de79" />
											<http:request method="POST" doc:name="Request" doc:id="e8d46dd8-71f9-48f1-8a25-b9532045b31f" config-ref="PWDDecrypt" path="/encryption-utility-np/home/nonprod/convert">
											<http:headers><![CDATA[#[{
	"Content-Type" : "application/x-www-form-urlencoded",
	"Accept" : "*/*",
	"Accept-Encoding" : "gzip, deflate, br",
	"Connection" : "keep-alive"
}]]]></http:headers>
										</http:request>
											<error-handler >
												<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="71699de9-18bb-4aea-8c34-4ee5ce55b0f2" >
													<set-payload value='#[%dw 2.0&#10;output application/java&#10;---&#10;vars.encpwd]' doc:name="Set Payload" doc:id="ed882072-bad1-4742-95bb-0461726a70ac" />
												</on-error-continue>
											</error-handler>
										</try>
									</when>
								</choice>
								<ee:transform doc:name="Transform Message" doc:id="de30963d-a4dd-45e9-b248-e85f8b52cd70">
										<ee:message>
											<ee:set-payload><![CDATA[%dw 2.0
import * from dw::core::Strings
var slash = if(vars.currentFileName contains "/") "/" else "\\"
var PENV =  (substringBeforeLast(substringAfterLast(vars.currentFileName,slash),("." ++ substringAfterLast(vars.currentPayload,".")))) ++ ("." ++ substringAfterLast(vars.currentPayload,"."))
var RENV = (substringBeforeLast(substringAfterLast(vars.currentFileName,slash),("." ++ substringAfterLast(vars.currentPayload,".")))) ++ ("." ++ substringAfterLast(vars.currentPayload,"."))

---
trim(vars.currentkey) ++ "~" ++ (if(vars.currentFileName contains (".properties")) PENV else RENV) ++ "~" ++ (if(payload == "") "**No Value Found**" else payload)]]></ee:set-payload>
										</ee:message>
										<ee:variables>
										</ee:variables>
									</ee:transform>
							<ee:transform doc:name="Transform Message" doc:id="695e9afd-03e1-4e2f-9bed-b51615112a4a">
										<ee:message>
										</ee:message>
										<ee:variables>
											<ee:set-variable variableName="CurrentPropertyData"><![CDATA[%dw 2.0
output application/java
var keyCount = (sizeOf((vars.currentPropertyData default "") find((trim(vars.currentKey) ++ '~') default ""))) as Number
var fileCount = if(vars.currentFileName contains (".properties")) (vars.PNumOfEnv as Number) else if (vars.currentFileName contains (".deploy")) (vars.DNumOfEnv as Number) else if(vars.currentFileName contains (".policy")) (vars.PoNumOfEnv as Number) else 0
---
if(keyCount == (fileCount - (1))) ("@^" ++ payload ++ "~" ++ (vars.currentPropertyData default "")) else (payload ++ "~" ++ (vars.currentPropertyData default ""))]]></ee:set-variable>
										</ee:variables>
									</ee:transform>
							<!-- <choice doc:name="Choice" doc:id="d006f1fb-3aba-468d-aff7-b41b172a274b" >
								<when expression='#[vars.currentFileName contains(".deploy")]'>
									<ee:transform doc:name="Transform Message" doc:id="3697e579-c309-4426-bbee-8b629805edb3">
										<ee:message>
											<ee:set-payload><![CDATA[%dw 2.0
import * from dw::core::Strings
var ENV = (substringBeforeLast(substringAfterLast(vars.currentFileName,"/"),("." ++ substringAfterLast(vars.currentPayload,".")))) ++ ("." ++ substringAfterLast(vars.currentPayload,"."))
-&#45;&#45;
trim(vars.currentkey) ++ "~" ++ ENV ++ "~" ++ payload]]></ee:set-payload>
										</ee:message>
										<ee:variables />
									</ee:transform>
									<ee:transform doc:name="Transform Message" doc:id="0062329d-f4d6-4764-ba99-37230d16bafb" >
										<ee:message />
										<ee:variables >
											<ee:set-variable variableName="CurrentPropertyData" ><![CDATA[%dw 2.0
output application/java
var keyCount = (sizeOf((vars.currentPropertyData default "") find(trim(vars.currentKey) default ""))) as Number
-&#45;&#45;
if(keyCount == ((vars.DNumOfEnv as Number) - (1))) ("@^" ++ payload ++ "~" ++ (vars.currentPropertyData default "")) else (payload ++ "~" ++ (vars.currentPropertyData default ""))
]]></ee:set-variable>
										</ee:variables>
									</ee:transform>
	
								</when>
								<otherwise >
									<ee:transform doc:name="Transform Message" doc:id="f14de816-566f-4ed1-b4fd-0264ad2ea02e">
										<ee:message>
											<ee:set-payload><![CDATA[%dw 2.0
import * from dw::core::Strings
var ENV = (substringBeforeLast(substringAfterLast(vars.currentFileName,"/"),("." ++ substringAfterLast(vars.currentPayload,".")))) ++ ("." ++ substringAfterLast(vars.currentPayload,"."))
-&#45;&#45;
trim(vars.currentkey) ++ "~" ++ ENV ++ "~" ++ (if(payload == "") "NA" else payload)]]></ee:set-payload>
										</ee:message>
										<ee:variables />
									</ee:transform>
									<ee:transform doc:name="Transform Message" doc:id="32bb180b-ceb9-41de-9a38-81871fcd110a" >
										<ee:message />
										<ee:variables >
											<ee:set-variable variableName="CurrentPropertyData" ><![CDATA[%dw 2.0
output application/java
var keyCount = (sizeOf((vars.currentPropertyData default "") find(trim(vars.currentKey) default ""))) as Number
-&#45;&#45;
if(keyCount == ((vars.PoNumOfEnv  as Number) - (1))) ("@^" ++ payload ++ "~" ++ (vars.currentPropertyData default "")) else (payload ++ "~" ++ (vars.currentPropertyData default ""))]]></ee:set-variable>
										</ee:variables>
									</ee:transform>
								</otherwise>
							</choice>-->
							<!-- <logger level="INFO" doc:name="Logger" doc:id="a72b36d2-7eda-4bf6-b780-e883d48acc45" message="#[vars.CurrentPropertyData]" /> -->
						
</foreach>
					
</when>
				</choice>
	 		</foreach>
			<ee:transform doc:name="Transform Message" doc:id="49c035f3-6558-4241-a388-02cf22d1c222">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/java
import * from dw::core::Strings
---
(substringAfter(vars.currentPropertyData,"@^")) default "" splitBy("@^")]]></ee:set-payload>
			</ee:message>
				<ee:variables >
					<ee:set-variable variableName="propertyFileName" ><![CDATA[%dw 2.0
output application/java
import * from dw::core::Strings
---
("${gui.reportLocation}") ++ vars.configServiceName  ++ ".xlsx"]]></ee:set-variable>
				</ee:variables>
		</ee:transform>
			<choice doc:name="Choice" doc:id="1924df7c-b61d-46ae-861d-a650bf7dbf7b">
					<when expression="#[sizeOf(payload) &gt; 0]">
					<ee:transform doc:name="Transform Message" doc:id="f29d2f98-572c-44e2-b988-5026a0794c65">
					<ee:message>
					</ee:message>
					<ee:variables>
							<ee:set-variable variableName="finalData"><![CDATA[%dw 2.0
						output application/json
						import * from dw::core::Strings
						var property = payload filter(value,index)-> (value contains (".properties"))
						var policy = payload filter(value,index)-> (value contains (".policy"))
						var deploy = payload filter(value,index)-> (value contains (".deploy"))
						
						---
						{ Properties : (property  map ((data,index) -> { 
								PropertyName						:   (substringBefore(data,"~")) default '',
								"TDV" 			:	substringBefore(substringAfter(data,(substringBefore(data,"~")) ++ "~TDV.properties~"),"~") default '',
								TDV1    :	substringBefore(substringAfter(data,(substringBefore(data,"~")) ++ "~TDV1.properties~"),"~") default '',
					  			ATDV	: 	substringBefore(substringAfter(data,(substringBefore(data,"~")) ++ "~ATDV.properties~"),"~") default '',						
								ITE 	:	substringBefore(substringAfter(data,(substringBefore(data,"~")) ++ "~ITE.properties~"),"~") default '',
								PITE    :	substringBefore(substringAfter(data,(substringBefore(data,"~")) ++ "~PITE.properties~"),"~") default '',
								MNE     :   substringBefore(substringAfter(data,(substringBefore(data,"~")) ++ "~MNE.properties~"),"~") default '',
								//MNE1 	:	substringBefore(substringAfter(data,(substringBefore(data,"~")) ++ "~MNE1.properties~"),"~") default '',
								MNE2 	:	substringBefore(substringAfter(data,(substringBefore(data,"~")) ++ "~MNE2.properties~"),"~") default '',
								IBF 	:	substringBefore(substringAfter(data,(substringBefore(data,"~")) ++ "~IBF.properties~"),"~") default '',
								TRN 	:	substringBefore(substringAfter(data,(substringBefore(data,"~")) ++ "~TRN.properties~"),"~") default '',		
								PREP 	:	substringBefore(substringAfter(data,(substringBefore(data,"~")) ++ "~PREP.properties~"),"~") default '',
								DRL 	:	substringBefore(substringAfter(data,(substringBefore(data,"~")) ++ "~DRL.properties~"),"~") default '',
								PROD 	:	substringBefore(substringAfter(data,(substringBefore(data,"~")) ++ "~PROD.properties~"),"~") default '',
								DR 		:	substringBefore(substringAfter(data,(substringBefore(data,"~")) ++ "~DR.properties~"),"~") default ''
														
								//"Remarks"							:   (substringBefore(data,"~")) default '' == "http.private.port" 
								})),
									
								Deploy : (deploy map ((data1,index1) ->{
								DeploymentPropertyName	: (substringBefore(data1,"~")) default '',
								TDV 	:	substringBefore(substringAfter(data1,(substringBefore(data1,"~")) ++ "~TDV.deploy~"),"~") default '',
								TDV1    :	substringBefore(substringAfter(data1,(substringBefore(data1,"~")) ++ "~TDV1.deploy~"),"~") default '',
					  			ATDV	: 	substringBefore(substringAfter(data1,(substringBefore(data1,"~")) ++ "~ATDV.deploy~"),"~") default '',						
								ITE 	:	substringBefore(substringAfter(data1,(substringBefore(data1,"~")) ++ "~ITE.deploy~"),"~") default '',
								PITE    :	substringBefore(substringAfter(data1,(substringBefore(data1,"~")) ++ "~PITE.deploy~"),"~") default '',
								MNE     :   substringBefore(substringAfter(data1,(substringBefore(data1,"~")) ++ "~MNE.deploy~"),"~") default '',
								//MNE1 	:	substringBefore(substringAfter(data1,(substringBefore(data1,"~")) ++ "~MNE1.deploy~"),"~") default '',
								MNE2 	:	substringBefore(substringAfter(data1,(substringBefore(data1,"~")) ++ "~MNE2.deploy~"),"~") default '',
								IBF 	:	substringBefore(substringAfter(data1,(substringBefore(data1,"~")) ++ "~IBF.deploy~"),"~") default '',
								TRN 	:	substringBefore(substringAfter(data1,(substringBefore(data1,"~")) ++ "~TRN.deploy~"),"~") default '',
								PREP 	:	substringBefore(substringAfter(data1,(substringBefore(data1,"~")) ++ "~PREP.deploy~"),"~") default '',
								DRL 	:	substringBefore(substringAfter(data1,(substringBefore(data1,"~")) ++ "~DRL.deploy~"),"~") default '',
								PROD 	:	substringBefore(substringAfter(data1,(substringBefore(data1,"~")) ++ "~PROD.deploy~"),"~") default '',
								DR 		:	substringBefore(substringAfter(data1,(substringBefore(data1,"~")) ++ "~DR.deploy~"),"~") default ''
								})),
								
								Policy : (policy map ((data2,index2) ->{
								PolicyName	: (substringBefore(data2,"~")) default '',
								TDV 	:	substringBefore(substringAfter(data2,(substringBefore(data2,"~")) ++ "~TDV.policy~"),"~") default '',
								TDV1    :	substringBefore(substringAfter(data2,(substringBefore(data2,"~")) ++ "~TDV1.policy~"),"~") default '',
					  			ATDV	: 	substringBefore(substringAfter(data2,(substringBefore(data2,"~")) ++ "~ATDV.policy~"),"~") default '',						
								ITE 	:	substringBefore(substringAfter(data2,(substringBefore(data2,"~")) ++ "~ITE.policy~"),"~") default '',
								PITE    :	substringBefore(substringAfter(data2,(substringBefore(data2,"~")) ++ "~PITE.policy~"),"~") default '',
								MNE     :   substringBefore(substringAfter(data2,(substringBefore(data2,"~")) ++ "~MNE.policy~"),"~") default '',
								//MNE1 	:	substringBefore(substringAfter(data2,(substringBefore(data2,"~")) ++ "~MNE1.policy~"),"~") default '',
								MNE2 	:	substringBefore(substringAfter(data2,(substringBefore(data2,"~")) ++ "~MNE2.policy~"),"~") default '',
								IBF 	:	substringBefore(substringAfter(data2,(substringBefore(data2,"~")) ++ "~IBF.policy~"),"~") default '',
								TRN 	:	substringBefore(substringAfter(data2,(substringBefore(data2,"~")) ++ "~TRN.policy~"),"~") default '',
								PREP 	:	substringBefore(substringAfter(data2,(substringBefore(data2,"~")) ++ "~PREP.policy~"),"~") default '',
								DRL 	:	substringBefore(substringAfter(data2,(substringBefore(data2,"~")) ++ "~DRL.policy~"),"~") default '',
								PROD 	:	substringBefore(substringAfter(data2,(substringBefore(data2,"~")) ++ "~PROD.policy~"),"~") default '',
								DR 		:	substringBefore(substringAfter(data2,(substringBefore(data2,"~")) ++ "~DR.policy~"),"~") default ''
							}))
									}
							]]></ee:set-variable>
					</ee:variables>
				</ee:transform>
					<choice doc:name="Choice" doc:id="8b312d30-a0f2-416e-a184-2efbf2919250">
							<when expression='#[vars.rawFlag == "Yes"]'>
								<ee:transform doc:name="Transform Message" doc:id="06f3d826-5eda-4ae4-ae19-3a4a587efc8d">
									<ee:message>
										<ee:set-payload><![CDATA[output text/plain
---
write(payload,"application/java")]]></ee:set-payload>
									</ee:message>
									<ee:variables >
										<ee:set-variable variableName="extractedContent" ><![CDATA[payload]]></ee:set-variable>
									</ee:variables>
								</ee:transform>
								<file:write doc:name="Write" doc:id="1a5ed527-77e3-49b8-9d0f-f9f389f271ea" config-ref="File_Config" path='#["${gui.reportLocation}" ++ vars.configServiceName ++ "_raw.txt"]' />
								<set-payload value="#[vars.extractedContent]" doc:name="Set Payload" doc:id="d9911c96-03ef-4267-8301-21364ded7d74" />
								<ee:transform doc:name="Transform Message" doc:id="bf17d1b5-ac36-4da1-b907-fdad21bc7640" >
									<ee:message >
										<ee:set-payload ><![CDATA[                        %dw 2.0
						output application/xlsx header=true 
						import * from dw::core::Strings
						var property = payload filter(value,index)-> (value contains (".properties"))
						var policy = payload filter(value,index)-> (value contains (".policy"))
						var deploy = payload filter(value,index)-> (value contains (".deploy"))
						//property files related
						var AAAV = if((sizeOf(valuesOf((vars.finalData.Policy default [] filter ((value, index) -> (value.PolicyName contains  "security.policy.version")))[0]) default [] filter ((value, index) -> (value ==  p('AAA.policy.version' ))))) == 13) "" else ("policy version is incorrect or missing in one of the environments. It should be " ++ p('AAA.policy.version' ) ++ " , please check ")
						var RLV = if((sizeOf(valuesOf((vars.finalData.Policy default [] filter ((value, index) -> (value.PolicyName contains  "ratelimit.policy.version")))[0]) default [] filter ((value, index) -> (value ==  p('ratelimit.policy.version'))))) == 13) "" else ("policy version is incorrect or missing in one of the environments. It should be " ++ p('ratelimit.policy.version') ++ " , please check ")
						var HIV = if((sizeOf(valuesOf((vars.finalData.Policy default [] filter ((value, index) -> (value.PolicyName contains  "headerinjection.policy.version")))[0]) default [] filter ((value, index) -> (value ==  p('headerinjection.policy.version'))))) == 13) "" else ("policy version is incorrect or missing in one of the environments. It should be " ++ p('headerinjection.policy.version') ++ " , please check ")
						var PlogResOut = if((sizeOf(valuesOf((vars.finalData.Policy default [] filter ((value, index) -> (value.PolicyName ==  "headerinjection.policy.inboundheadermap.x-tfc-response-out")))[0]) default [] filter ((value, index) -> (value ==  "INFO" )))) == 13) "" else "Log level is incorrect or missing in one of the environments. It should be INFO only , please check "
						var PlogResIn = if((sizeOf(valuesOf((vars.finalData.Policy default [] filter ((value, index) -> (value.PolicyName ==  "headerinjection.policy.inboundheadermap.x-tfc-response-in")))[0]) default [] filter ((value, index) -> (value ==  "INFO" ))))== 13) "" else "Log level is incorrect or missing in one of the environments. It should be INFO only , please check "
						var PlogReqOut = if((sizeOf(valuesOf((vars.finalData.Policy default [] filter ((value, index) -> (value.PolicyName ==  "headerinjection.policy.inboundheadermap.x-tfc-request-out")))[0]) default [] filter ((value, index) -> (value ==  "INFO" ))))== 13) "" else "Log level is incorrect or missing in one of the environments. It should be INFO only , please check "
						var PlogReqIn = if((sizeOf(valuesOf((vars.finalData.Policy default [] filter ((value, index) -> (value.PolicyName ==  "headerinjection.policy.inboundheadermap.x-tfc-request-in")))[0]) default [] filter ((value, index) -> (value ==  "INFO" ))))== 13) "" else "Log level is incorrect or missing in one of the environments. It should be INFO only , please check "
						//policy file related
						var portV = if(((sizeOf(valuesOf((vars.finalData.Properties default [] filter ((value, index) -> (value.PropertyName ==  "http.private.port")))[0]) default [] filter ((value, index) -> (value ==  "8081")))) == 27) or ((sizeOf(valuesOf((vars.finalData.Properties default [] filter ((value, index) -> (value.PropertyName ==  "http.private.port")))[0]) default [] filter ((value, index) -> (value ==  "8081")))) == 23)) "" else "Port value is incorrect or missing in one of the environments. It should be 8081 only in RTF and it is mandatory field, please check"
						var pathV = if(((sizeOf(valuesOf((vars.finalData.Properties default [] filter ((value, index) -> (value.PropertyName ==  "http.path")))[0]) default [] filter ((value, index) -> (value[0] ==  "\/")))) == 27) or (((sizeOf(valuesOf((vars.finalData.Properties default [] filter ((value, index) -> (value.PropertyName ==  "http.path")))[0]) default [] filter ((value, index) -> (value[0] ==  "\/")))) == 23)))  "" else "path value is incorrect or missing in one of the environments. It should start with / , please check"
						var agentV = if(((sizeOf(valuesOf((vars.finalData.Properties default [] filter ((value, index) -> (value.PropertyName ==  "anypoint.platform.config.analytics.agent.enabled")))[0]) default [] filter ((value, index) -> (value ==  "true")))) == 27) or (((sizeOf(valuesOf((vars.finalData.Properties default [] filter ((value, index) -> (value.PropertyName ==  "anypoint.platform.config.analytics.agent.enabled")))[0]) default [] filter ((value, index) -> (value ==  "true")))) == 23))) "" else "enabler value is incorrect or missing in one of the environments. Value should be true and it is mandatory field "
						var logResOut = if(((sizeOf(valuesOf((vars.finalData.Properties default [] filter ((value, index) -> (value.PropertyName ==  "logging.level.RESPONSE_OUT")))[0]) default [] filter ((value, index) -> (value ==  "DEBUG" )))) == 27) or (((sizeOf(valuesOf((vars.finalData.Properties default [] filter ((value, index) -> (value.PropertyName ==  "logging.level.RESPONSE_OUT")))[0]) default [] filter ((value, index) -> (value ==  "DEBUG" )))) == 23))) "" else "Log level is incorrect or missing in one of the environments. It should be DEBUG only , please check "
						var logResIn = if(((sizeOf(valuesOf((vars.finalData.Properties default [] filter ((value, index) -> (value.PropertyName ==  "logging.level.RESPONSE_IN")))[0]) default [] filter ((value, index) -> (value ==  "DEBUG" ))))== 27) or (((sizeOf(valuesOf((vars.finalData.Properties default [] filter ((value, index) -> (value.PropertyName ==  "logging.level.RESPONSE_IN")))[0]) default [] filter ((value, index) -> (value ==  "DEBUG" ))))== 23))) "" else "Log level is incorrect or missing in one of the environments. It should be DEBUG only , please check "
						var logReqOut = if(((sizeOf(valuesOf((vars.finalData.Properties default [] filter ((value, index) -> (value.PropertyName ==  "logging.level.REQUEST_OUT")))[0]) default [] filter ((value, index) -> (value ==  "DEBUG" ))))== 27) or (((sizeOf(valuesOf((vars.finalData.Properties default [] filter ((value, index) -> (value.PropertyName ==  "logging.level.REQUEST_OUT")))[0]) default [] filter ((value, index) -> (value ==  "DEBUG" ))))== 23))) "" else "Log level is incorrect or missing in one of the environments. It should be DEBUG only , please check "
						var logReqIn = if(((sizeOf(valuesOf((vars.finalData.Properties default [] filter ((value, index) -> (value.PropertyName ==  "logging.level.REQUEST_IN")))[0]) default [] filter ((value, index) -> (value ==  "DEBUG" ))))== 27) or (((sizeOf(valuesOf((vars.finalData.Properties default [] filter ((value, index) -> (value.PropertyName ==  "logging.level.REQUEST_IN")))[0]) default [] filter ((value, index) -> (value ==  "DEBUG" ))))== 23))) "" else "Log level is incorrect or missing in one of the environments. It should be DEBUG only , please check "
						var secureV = vars.finalData.Properties default [] filter ((value, index) -> ((value.PropertyName contains "secure::") or (value.PropertyName contains "password") or (value.PropertyName contains "pass") or (value.PropertyName contains "pwd")))
						var secureT1 = if(secureV != 0) (vars.finalData.Properties default [] filter ((value, index) -> ((value.PropertyName contains "secure::") or (upper(value.PropertyName) contains "PASSWORD") or (upper(value.PropertyName) contains "PASS") or (upper(value.PropertyName) contains "PWD"))) map (vv , ii) -> 
						{
							"secureKV1" : vv.PropertyName,
							"secureVV1" : (if((vv.'Test-1a-ITE' == vv.'Prod-h1-1a-PROD') or (vv.'Test-1a-ITE' == vv.'Prod-h1-1b-PROD') or (vv.'Test-1a-ITE' == vv.'Prod-h2-1a-PROD') or (vv.'Test-1a-ITE' == vv.'Prod-h2-1b-PROD') ) "Password should be different for Non Prod(ITE) and PROD. " else "") ++ (if(((sizeOf(valuesOf(vv) filter (value , index) -> ((value startsWith "![") and (value endsWith "]"))) == 27) or ((sizeOf(valuesOf(vv) filter (value , index) -> ((value startsWith "![") and (value endsWith "]"))) == 23)))) "" else "Secure properties format is incorrect or missing in one of the environments. Value should be in encrypted format only and it should start with ![ and ends with ].") 
						}) else [{"secureKV1" : ""}]
						var timeO = sizeOf(vars.finalData.Properties default [] filter (((value, index) -> (upper(value.PropertyName) contains ("TIMEOUT")))))
						var timeoutT = if(timeO != 0) (vars.finalData.Properties default [] filter (((value, index) -> (upper(value.PropertyName) contains ("TIMEOUT")))) map (vt , it) ->  
						{
							"timeoutKT1" : vt.PropertyName,
							"timeoutVT1" : if((sizeOf(valuesOf(vt) filter (value , index) -> (value == "10000")) == 27) or ((sizeOf(valuesOf(vt) filter (value , index) -> (value == "10000")) == 23))) "" else "timeout value is incorrect or missing in one of the environments. Default timeout value while connecting to backend system should be 10000 ms only , please check and ignore if it is as per requirement"
						}) else  [{"timeoutKT1" : ""}]
						---
						{ Properties : (flatten(flatten(  property  map (data,index) -> secureT1 map(vvv , iii) -> timeoutT map(vvt , iit)->{ 
								PropertyName						:   (substringBefore(data,"~")) default '',
								"TDV" 			:	(substringBefore(substringAfter(data,(substringBefore(data,"~")) ++ "~TDV.properties~"),"~") default '') ,
								TDV1    :	substringBefore(substringAfter(data,(substringBefore(data,"~")) ++ "~TDV1.properties~"),"~") default '',
					  			ATDV	: 	substringBefore(substringAfter(data,(substringBefore(data,"~")) ++ "~ATDV.properties~"),"~") default '',						
								ITE 	:	substringBefore(substringAfter(data,(substringBefore(data,"~")) ++ "~ITE.properties~"),"~") default '',
								PITE    :	substringBefore(substringAfter(data,(substringBefore(data,"~")) ++ "~PITE.properties~"),"~") default '',
								MNE     :   substringBefore(substringAfter(data,(substringBefore(data,"~")) ++ "~MNE.properties~"),"~") default '',
								//MNE1 	:	substringBefore(substringAfter(data,(substringBefore(data,"~")) ++ "~MNE1.properties~"),"~") default '',
								MNE2 	:	substringBefore(substringAfter(data,(substringBefore(data,"~")) ++ "~MNE2.properties~"),"~") default '',
								IBF		:	substringBefore(substringAfter(data,(substringBefore(data,"~")) ++ "~IBF.properties~"),"~") default '',
								TRN 	:	substringBefore(substringAfter(data,(substringBefore(data,"~")) ++ "~TRN.properties~"),"~") default '',
								PREP 	:	substringBefore(substringAfter(data,(substringBefore(data,"~")) ++ "~PREP.properties~"),"~") default '',
								DRL 	:	substringBefore(substringAfter(data,(substringBefore(data,"~")) ++ "~DRL.properties~"),"~") default '',
								PROD 	:	substringBefore(substringAfter(data,(substringBefore(data,"~")) ++ "~PROD.properties~"),"~") default '',
								DR 		:	substringBefore(substringAfter(data,(substringBefore(data,"~")) ++ "~DR.properties~"),"~") default ''
								//replace "NoValue" with "",
								//"Remarks"						    :     if((substringBefore(data,"~"))== "http.private.port") portV
								//			                              else if((substringBefore(data,"~"))== "http.path")  pathV
								//			                              else if((substringBefore(data,"~"))== "anypoint.platform.config.analytics.agent.enabled") agentV
								//										  else if((substringBefore(data,"~"))== "logging.level.RESPONSE_OUT")  logResOut
								//										  else if((substringBefore(data,"~"))== "logging.level.RESPONSE_IN")   logResIn
								//										  else if ((substringBefore(data,"~"))== "logging.level.REQUEST_OUT")  logReqOut
								//										  else if ((substringBefore(data,"~")) == "logging.level.REQUEST_IN")   logReqIn
								//										  else if ((substringBefore(data,"~")) == vvv.secureKV1) vvv.secureVV1
								//										  else if ((substringBefore(data,"~")) == vvt.timeoutKT1) vvt.timeoutVT1
		  						//										  else if (((substringBefore(data,"~"))  contains "secure::") or (upper(substringBefore(data,"~"))  contains "PASSWORD") or (upper(substringBefore(data,"~"))  contains "PASS") or (upper(substringBefore(data,"~"))  contains "PWD") or (upper(substringBefore(data,"~"))  contains "TIMEOUT")) "ignore"
		  						//										  else ""
								})) filter (vd , id)-> (vd.Remarks != "ignore")) distinctBy $.PropertyName ,
								Deploy : (deploy map ((data1,index1) -> {
								DeploymentPropertyName	: (substringBefore(data1,"~")) default '',
								TDV 	:	substringBefore(substringAfter(data1,(substringBefore(data1,"~")) ++ "~TDV.deploy~"),"~") default '',
								TDV1    :	substringBefore(substringAfter(data1,(substringBefore(data1,"~")) ++ "~TDV1.deploy~"),"~") default '',
					  			ATDV	: 	substringBefore(substringAfter(data1,(substringBefore(data1,"~")) ++ "~ATDV.deploy~"),"~") default '',						
								ITE 	:	substringBefore(substringAfter(data1,(substringBefore(data1,"~")) ++ "~ITE.deploy~"),"~") default '',
								PITE    :	substringBefore(substringAfter(data1,(substringBefore(data1,"~")) ++ "~PITE.deploy~"),"~") default '',
								MNE     :   substringBefore(substringAfter(data1,(substringBefore(data1,"~")) ++ "~MNE.deploy~"),"~") default '',
								//MNE1 	:	substringBefore(substringAfter(data1,(substringBefore(data1,"~")) ++ "~MNE1.deploy~"),"~") default '',
								MNE2 	:	substringBefore(substringAfter(data1,(substringBefore(data1,"~")) ++ "~MNE2.deploy~"),"~") default '',
								IBF 	:	substringBefore(substringAfter(data1,(substringBefore(data1,"~")) ++ "~IBF.deploy~"),"~") default '',
								TRN 	:	substringBefore(substringAfter(data1,(substringBefore(data1,"~")) ++ "~TRN.deploy~"),"~") default '',
								PREP 	:	substringBefore(substringAfter(data1,(substringBefore(data1,"~")) ++ "~PREP.deploy~"),"~") default '',
								DRL 	:	substringBefore(substringAfter(data1,(substringBefore(data1,"~")) ++ "~DRL.deploy~"),"~") default '',
								PROD 	:	substringBefore(substringAfter(data1,(substringBefore(data1,"~")) ++ "~PROD.deploy~"),"~") default '',
								DR 		:	substringBefore(substringAfter(data1,(substringBefore(data1,"~")) ++ "~DR.deploy~"),"~") default ''
								
								//Remarks : ""
								})),
								
								Policy : (policy map ((data2,index2) ->{
								PolicyName	: (substringBefore(data2,"~")) default '',
								TDV 	:	(substringBefore(substringAfter(data2,(substringBefore(data2,"~")) ++ "~TDV.policy~"),"~") default '') ,
								TDV1    :	(substringBefore(substringAfter(data2,(substringBefore(data2,"~")) ++ "~TDV1.policy~"),"~") default '')  ,
					  			ATDV	: 	(substringBefore(substringAfter(data2,(substringBefore(data2,"~")) ++ "~ATDV.policy~"),"~") default ''),	
								ITE 	:	(substringBefore(substringAfter(data2,(substringBefore(data2,"~")) ++ "~ITE.policy~"),"~") default ''),
								PITE    :	(substringBefore(substringAfter(data2,(substringBefore(data2,"~")) ++ "~PITE.policy~"),"~") default ''),
								MNE     :   (substringBefore(substringAfter(data2,(substringBefore(data2,"~")) ++ "~MNE.policy~"),"~") default ''),
								//MNE1 	:	(substringBefore(substringAfter(data2,(substringBefore(data2,"~")) ++ "~MNE1.policy~"),"~") default ''),
								MNE2 	:	(substringBefore(substringAfter(data2,(substringBefore(data2,"~")) ++ "~MNE2.policy~"),"~") default ''),
								IBF 	:	(substringBefore(substringAfter(data2,(substringBefore(data2,"~")) ++ "~IBF.policy~"),"~") default ''),
								TRN 	:	(substringBefore(substringAfter(data2,(substringBefore(data2,"~")) ++ "~TRN.policy~"),"~") default ''),
								PREP 	:	(substringBefore(substringAfter(data2,(substringBefore(data2,"~")) ++ "~PREP.policy~"),"~") default ''),
								DRL 	:	(substringBefore(substringAfter(data2,(substringBefore(data2,"~")) ++ "~DRL.policy~"),"~") default ''),
								PROD 	:	(substringBefore(substringAfter(data2,(substringBefore(data2,"~")) ++ "~PROD.policy~"),"~") default ''),
								DR 		:	(substringBefore(substringAfter(data2,(substringBefore(data2,"~")) ++ "~DR.policy~"),"~") default '')
								
								//"Remarks"   :     if((substringBefore(data2,"~")) contains  "security.policy.version") AAAV
		  						//				  else if ((substringBefore(data2,"~")) contains  "ratelimit.policy.version") RLV
		  						//				  else if ((substringBefore(data2,"~")) contains  "headerinjection.policy.version") HIV
		  						//				  else if((substringBefore(data2,"~"))== "headerinjection.policy.inboundheadermap.x-tfc-response-out")  PlogResOut
								//				  else if((substringBefore(data2,"~"))== "headerinjection.policy.inboundheadermap.x-tfc-response-in")   PlogResIn
								//				  else if ((substringBefore(data2,"~"))== "headerinjection.policy.inboundheadermap.x-tfc-request-out")  PlogReqOut
								//				  else if ((substringBefore(data2,"~")) == "headerinjection.policy.inboundheadermap.x-tfc-request-in")  PlogReqIn
		  						//				  else ""
		  										  	
							}))
									}
						]]></ee:set-payload>
									</ee:message>
								</ee:transform>
								<file:write doc:name="Write1" doc:id="60f94cf7-7d4c-4c3f-a00c-db951faafdbc" config-ref="File_Config" path="#[vars.propertyFileName]" />
							</when>
							<otherwise>
								<ee:transform doc:name="Transform Message" doc:id="e09c4588-cc11-4182-8c36-1789eadc4d58">
						<ee:message>
							<ee:set-payload><![CDATA[                        %dw 2.0
						output application/xlsx header=true 
						import * from dw::core::Strings
						var property = payload filter(value,index)-> (value contains (".properties"))
						var policy = payload filter(value,index)-> (value contains (".policy"))
						var deploy = payload filter(value,index)-> (value contains (".deploy"))
						//property files related
						var AAAV = if((sizeOf(valuesOf((vars.finalData.Policy default [] filter ((value, index) -> (value.PolicyName contains  "security.policy.version")))[0]) default [] filter ((value, index) -> (value ==  p('AAA.policy.version' ))))) == 13) "" else ("policy version is incorrect or missing in one of the environments. It should be " ++ p('AAA.policy.version' ) ++ " , please check ")
						var RLV = if((sizeOf(valuesOf((vars.finalData.Policy default [] filter ((value, index) -> (value.PolicyName contains  "ratelimit.policy.version")))[0]) default [] filter ((value, index) -> (value ==  p('ratelimit.policy.version'))))) == 13) "" else ("policy version is incorrect or missing in one of the environments. It should be " ++ p('ratelimit.policy.version') ++ " , please check ")
						var HIV = if((sizeOf(valuesOf((vars.finalData.Policy default [] filter ((value, index) -> (value.PolicyName contains  "headerinjection.policy.version")))[0]) default [] filter ((value, index) -> (value ==  p('headerinjection.policy.version'))))) == 13) "" else ("policy version is incorrect or missing in one of the environments. It should be " ++ p('headerinjection.policy.version') ++ " , please check ")
						var PlogResOut = if((sizeOf(valuesOf((vars.finalData.Policy default [] filter ((value, index) -> (value.PolicyName ==  "headerinjection.policy.inboundheadermap.x-tfc-response-out")))[0]) default [] filter ((value, index) -> (value ==  "INFO" )))) == 13) "" else "Log level is incorrect or missing in one of the environments. It should be INFO only , please check "
						var PlogResIn = if((sizeOf(valuesOf((vars.finalData.Policy default [] filter ((value, index) -> (value.PolicyName ==  "headerinjection.policy.inboundheadermap.x-tfc-response-in")))[0]) default [] filter ((value, index) -> (value ==  "INFO" ))))== 13) "" else "Log level is incorrect or missing in one of the environments. It should be INFO only , please check "
						var PlogReqOut = if((sizeOf(valuesOf((vars.finalData.Policy default [] filter ((value, index) -> (value.PolicyName ==  "headerinjection.policy.inboundheadermap.x-tfc-request-out")))[0]) default [] filter ((value, index) -> (value ==  "INFO" ))))== 13) "" else "Log level is incorrect or missing in one of the environments. It should be INFO only , please check "
						var PlogReqIn = if((sizeOf(valuesOf((vars.finalData.Policy default [] filter ((value, index) -> (value.PolicyName ==  "headerinjection.policy.inboundheadermap.x-tfc-request-in")))[0]) default [] filter ((value, index) -> (value ==  "INFO" ))))== 13) "" else "Log level is incorrect or missing in one of the environments. It should be INFO only , please check "
						//policy file related
						var portV = if(((sizeOf(valuesOf((vars.finalData.Properties default [] filter ((value, index) -> (value.PropertyName ==  "http.private.port")))[0]) default [] filter ((value, index) -> (value ==  "8081")))) == 27) or ((sizeOf(valuesOf((vars.finalData.Properties default [] filter ((value, index) -> (value.PropertyName ==  "http.private.port")))[0]) default [] filter ((value, index) -> (value ==  "8081")))) == 23)) "" else "Port value is incorrect or missing in one of the environments. It should be 8081 only in RTF and it is mandatory field, please check"
						var pathV = if(((sizeOf(valuesOf((vars.finalData.Properties default [] filter ((value, index) -> (value.PropertyName ==  "http.path")))[0]) default [] filter ((value, index) -> (value[0] ==  "\/")))) == 27) or (((sizeOf(valuesOf((vars.finalData.Properties default [] filter ((value, index) -> (value.PropertyName ==  "http.path")))[0]) default [] filter ((value, index) -> (value[0] ==  "\/")))) == 23)))  "" else "path value is incorrect or missing in one of the environments. It should start with / , please check"
						var agentV = if(((sizeOf(valuesOf((vars.finalData.Properties default [] filter ((value, index) -> (value.PropertyName ==  "anypoint.platform.config.analytics.agent.enabled")))[0]) default [] filter ((value, index) -> (value ==  "true")))) == 27) or (((sizeOf(valuesOf((vars.finalData.Properties default [] filter ((value, index) -> (value.PropertyName ==  "anypoint.platform.config.analytics.agent.enabled")))[0]) default [] filter ((value, index) -> (value ==  "true")))) == 23))) "" else "enabler value is incorrect or missing in one of the environments. Value should be true and it is mandatory field "
						var logResOut = if(((sizeOf(valuesOf((vars.finalData.Properties default [] filter ((value, index) -> (value.PropertyName ==  "logging.level.RESPONSE_OUT")))[0]) default [] filter ((value, index) -> (value ==  "DEBUG" )))) == 27) or (((sizeOf(valuesOf((vars.finalData.Properties default [] filter ((value, index) -> (value.PropertyName ==  "logging.level.RESPONSE_OUT")))[0]) default [] filter ((value, index) -> (value ==  "DEBUG" )))) == 23))) "" else "Log level is incorrect or missing in one of the environments. It should be DEBUG only , please check "
						var logResIn = if(((sizeOf(valuesOf((vars.finalData.Properties default [] filter ((value, index) -> (value.PropertyName ==  "logging.level.RESPONSE_IN")))[0]) default [] filter ((value, index) -> (value ==  "DEBUG" ))))== 27) or (((sizeOf(valuesOf((vars.finalData.Properties default [] filter ((value, index) -> (value.PropertyName ==  "logging.level.RESPONSE_IN")))[0]) default [] filter ((value, index) -> (value ==  "DEBUG" ))))== 23))) "" else "Log level is incorrect or missing in one of the environments. It should be DEBUG only , please check "
						var logReqOut = if(((sizeOf(valuesOf((vars.finalData.Properties default [] filter ((value, index) -> (value.PropertyName ==  "logging.level.REQUEST_OUT")))[0]) default [] filter ((value, index) -> (value ==  "DEBUG" ))))== 27) or (((sizeOf(valuesOf((vars.finalData.Properties default [] filter ((value, index) -> (value.PropertyName ==  "logging.level.REQUEST_OUT")))[0]) default [] filter ((value, index) -> (value ==  "DEBUG" ))))== 23))) "" else "Log level is incorrect or missing in one of the environments. It should be DEBUG only , please check "
						var logReqIn = if(((sizeOf(valuesOf((vars.finalData.Properties default [] filter ((value, index) -> (value.PropertyName ==  "logging.level.REQUEST_IN")))[0]) default [] filter ((value, index) -> (value ==  "DEBUG" ))))== 27) or (((sizeOf(valuesOf((vars.finalData.Properties default [] filter ((value, index) -> (value.PropertyName ==  "logging.level.REQUEST_IN")))[0]) default [] filter ((value, index) -> (value ==  "DEBUG" ))))== 23))) "" else "Log level is incorrect or missing in one of the environments. It should be DEBUG only , please check "
						var secureV = vars.finalData.Properties default [] filter ((value, index) -> ((value.PropertyName contains "secure::") or (value.PropertyName contains "password") or (value.PropertyName contains "pass") or (value.PropertyName contains "pwd")))
						var secureT1 = if(secureV != 0) (vars.finalData.Properties default [] filter ((value, index) -> ((value.PropertyName contains "secure::") or (upper(value.PropertyName) contains "PASSWORD") or (upper(value.PropertyName) contains "PASS") or (upper(value.PropertyName) contains "PWD"))) map (vv , ii) -> 
						{
							"secureKV1" : vv.PropertyName,
							"secureVV1" : (if((vv.'Test-1a-ITE' == vv.'Prod-h1-1a-PROD') or (vv.'Test-1a-ITE' == vv.'Prod-h1-1b-PROD') or (vv.'Test-1a-ITE' == vv.'Prod-h2-1a-PROD') or (vv.'Test-1a-ITE' == vv.'Prod-h2-1b-PROD') ) "Password should be different for Non Prod(ITE) and PROD. " else "") ++ (if(((sizeOf(valuesOf(vv) filter (value , index) -> ((value startsWith "![") and (value endsWith "]"))) == 27) or ((sizeOf(valuesOf(vv) filter (value , index) -> ((value startsWith "![") and (value endsWith "]"))) == 23)))) "" else "Secure properties format is incorrect or missing in one of the environments. Value should be in encrypted format only and it should start with ![ and ends with ].") 
						}) else [{"secureKV1" : ""}]
						var timeO = sizeOf(vars.finalData.Properties default [] filter (((value, index) -> (upper(value.PropertyName) contains ("TIMEOUT")))))
						var timeoutT = if(timeO != 0) (vars.finalData.Properties default [] filter (((value, index) -> (upper(value.PropertyName) contains ("TIMEOUT")))) map (vt , it) ->  
						{
							"timeoutKT1" : vt.PropertyName,
							"timeoutVT1" : if((sizeOf(valuesOf(vt) filter (value , index) -> (value == "10000")) == 27) or ((sizeOf(valuesOf(vt) filter (value , index) -> (value == "10000")) == 23))) "" else "timeout value is incorrect or missing in one of the environments. Default timeout value while connecting to backend system should be 10000 ms only , please check and ignore if it is as per requirement"
						}) else  [{"timeoutKT1" : ""}]
						---
						{ Properties : (flatten(flatten(  property  map (data,index) -> secureT1 map(vvv , iii) -> timeoutT map(vvt , iit)->{ 
								PropertyName						:   (substringBefore(data,"~")) default '',
								"TDV" 			:	(substringBefore(substringAfter(data,(substringBefore(data,"~")) ++ "~TDV.properties~"),"~") default '') ,
								TDV1    :	substringBefore(substringAfter(data,(substringBefore(data,"~")) ++ "~TDV1.properties~"),"~") default '',
					  			ATDV	: 	substringBefore(substringAfter(data,(substringBefore(data,"~")) ++ "~ATDV.properties~"),"~") default '',						
								ITE 	:	substringBefore(substringAfter(data,(substringBefore(data,"~")) ++ "~ITE.properties~"),"~") default '',
								PITE    :	substringBefore(substringAfter(data,(substringBefore(data,"~")) ++ "~PITE.properties~"),"~") default '',
								MNE     :   substringBefore(substringAfter(data,(substringBefore(data,"~")) ++ "~MNE.properties~"),"~") default '',
								//MNE1 	:	substringBefore(substringAfter(data,(substringBefore(data,"~")) ++ "~MNE1.properties~"),"~") default '',
								MNE2 	:	substringBefore(substringAfter(data,(substringBefore(data,"~")) ++ "~MNE2.properties~"),"~") default '',
								IBF 	:	substringBefore(substringAfter(data,(substringBefore(data,"~")) ++ "~IBF.properties~"),"~") default '',
								TRN 	:	substringBefore(substringAfter(data,(substringBefore(data,"~")) ++ "~TRN.properties~"),"~") default '',
								PREP 	:	substringBefore(substringAfter(data,(substringBefore(data,"~")) ++ "~PREP.properties~"),"~") default '',
								DRL 	:	substringBefore(substringAfter(data,(substringBefore(data,"~")) ++ "~DRL.properties~"),"~") default '',
								PROD 	:	substringBefore(substringAfter(data,(substringBefore(data,"~")) ++ "~PROD.properties~"),"~") default '',
								DR 		:	substringBefore(substringAfter(data,(substringBefore(data,"~")) ++ "~DR.properties~"),"~") default ''
								//replace "NoValue" with "",
								//"Remarks"						    :     if((substringBefore(data,"~"))== "http.private.port") portV
								//			                              else if((substringBefore(data,"~"))== "http.path")  pathV
								//			                              else if((substringBefore(data,"~"))== "anypoint.platform.config.analytics.agent.enabled") agentV
								//										  else if((substringBefore(data,"~"))== "logging.level.RESPONSE_OUT")  logResOut
								//										  else if((substringBefore(data,"~"))== "logging.level.RESPONSE_IN")   logResIn
								//										  else if ((substringBefore(data,"~"))== "logging.level.REQUEST_OUT")  logReqOut
								//										  else if ((substringBefore(data,"~")) == "logging.level.REQUEST_IN")   logReqIn
								//										  else if ((substringBefore(data,"~")) == vvv.secureKV1) vvv.secureVV1
								//										  else if ((substringBefore(data,"~")) == vvt.timeoutKT1) vvt.timeoutVT1
		  						//										  else if (((substringBefore(data,"~"))  contains "secure::") or (upper(substringBefore(data,"~"))  contains "PASSWORD") or (upper(substringBefore(data,"~"))  contains "PASS") or (upper(substringBefore(data,"~"))  contains "PWD") or (upper(substringBefore(data,"~"))  contains "TIMEOUT")) "ignore"
		  						//										  else ""
								})) filter (vd , id)-> (vd.Remarks != "ignore")) distinctBy $.PropertyName ,
								Deploy : (deploy map ((data1,index1) -> {
								DeploymentPropertyName	: (substringBefore(data1,"~")) default '',
								TDV 	:	substringBefore(substringAfter(data1,(substringBefore(data1,"~")) ++ "~TDV.deploy~"),"~") default '',
								TDV1    :	substringBefore(substringAfter(data1,(substringBefore(data1,"~")) ++ "~TDV1.deploy~"),"~") default '',
					  			ATDV	: 	substringBefore(substringAfter(data1,(substringBefore(data1,"~")) ++ "~ATDV.deploy~"),"~") default '',						
								ITE 	:	substringBefore(substringAfter(data1,(substringBefore(data1,"~")) ++ "~ITE.deploy~"),"~") default '',
								PITE    :	substringBefore(substringAfter(data1,(substringBefore(data1,"~")) ++ "~PITE.deploy~"),"~") default '',
								MNE     :   substringBefore(substringAfter(data1,(substringBefore(data1,"~")) ++ "~MNE.deploy~"),"~") default '',
								//MNE1 	:	substringBefore(substringAfter(data1,(substringBefore(data1,"~")) ++ "~MNE1.deploy~"),"~") default '',
								MNE2 	:	substringBefore(substringAfter(data1,(substringBefore(data1,"~")) ++ "~MNE2.deploy~"),"~") default '',
								IBF 	:	substringBefore(substringAfter(data1,(substringBefore(data1,"~")) ++ "~IBF.deploy~"),"~") default '',
								TRN 	:	substringBefore(substringAfter(data1,(substringBefore(data1,"~")) ++ "~TRN.deploy~"),"~") default '',
								PREP 	:	substringBefore(substringAfter(data1,(substringBefore(data1,"~")) ++ "~PREP.deploy~"),"~") default '',
								DRL 	:	substringBefore(substringAfter(data1,(substringBefore(data1,"~")) ++ "~DRL.deploy~"),"~") default '',
								PROD 	:	substringBefore(substringAfter(data1,(substringBefore(data1,"~")) ++ "~PROD.deploy~"),"~") default '',
								DR 		:	substringBefore(substringAfter(data1,(substringBefore(data1,"~")) ++ "~DR.deploy~"),"~") default ''
								
								//Remarks : ""
								})),
								
								Policy : (policy map ((data2,index2) ->{
								PolicyName	: (substringBefore(data2,"~")) default '',
								TDV 	:	(substringBefore(substringAfter(data2,(substringBefore(data2,"~")) ++ "~TDV.policy~"),"~") default ''),
								TDV1    :	(substringBefore(substringAfter(data2,(substringBefore(data2,"~")) ++ "~TDV1.policy~"),"~") default ''),
					  			ATDV	: 	(substringBefore(substringAfter(data2,(substringBefore(data2,"~")) ++ "~ATDV.policy~"),"~") default ''),	
								ITE 	:	(substringBefore(substringAfter(data2,(substringBefore(data2,"~")) ++ "~ITE.policy~"),"~") default ''),
								PITE    :	(substringBefore(substringAfter(data2,(substringBefore(data2,"~")) ++ "~PITE.policy~"),"~") default ''),
								MNE     :   (substringBefore(substringAfter(data2,(substringBefore(data2,"~")) ++ "~MNE.policy~"),"~") default ''),
								//MNE1 	:	(substringBefore(substringAfter(data2,(substringBefore(data2,"~")) ++ "~MNE1.policy~"),"~") default ''),
								MNE2 	:	(substringBefore(substringAfter(data2,(substringBefore(data2,"~")) ++ "~MNE2.policy~"),"~") default ''),
								IBF 	:	(substringBefore(substringAfter(data2,(substringBefore(data2,"~")) ++ "~IBF.policy~"),"~") default ''),
								TRN 	:	(substringBefore(substringAfter(data2,(substringBefore(data2,"~")) ++ "~TRN.policy~"),"~") default ''),
								PREP 	:	(substringBefore(substringAfter(data2,(substringBefore(data2,"~")) ++ "~PREP.policy~"),"~") default ''),
								DRL 	:	(substringBefore(substringAfter(data2,(substringBefore(data2,"~")) ++ "~DRL.policy~"),"~") default ''),
								PROD 	:	(substringBefore(substringAfter(data2,(substringBefore(data2,"~")) ++ "~PROD.policy~"),"~") default ''),
								DR 		:	(substringBefore(substringAfter(data2,(substringBefore(data2,"~")) ++ "~DR.policy~"),"~") default '')
								
								//"Remarks"   :     if((substringBefore(data2,"~")) contains  "security.policy.version") AAAV
		  						//				  else if ((substringBefore(data2,"~")) contains  "ratelimit.policy.version") RLV
		  						//				  else if ((substringBefore(data2,"~")) contains  "headerinjection.policy.version") HIV
		  						//				  else if((substringBefore(data2,"~"))== "headerinjection.policy.inboundheadermap.x-tfc-response-out")  PlogResOut
								//				  else if((substringBefore(data2,"~"))== "headerinjection.policy.inboundheadermap.x-tfc-response-in")   PlogResIn
								//				  else if ((substringBefore(data2,"~"))== "headerinjection.policy.inboundheadermap.x-tfc-request-out")  PlogReqOut
								//				  else if ((substringBefore(data2,"~")) == "headerinjection.policy.inboundheadermap.x-tfc-request-in")  PlogReqIn
		  						//				  else ""
		  										  	
							}))
									}
						]]></ee:set-payload>
						</ee:message>
					</ee:transform>
								<file:write doc:name="Write" doc:id="9c015515-f800-4d6f-98b8-90ea3d82c3f2" path="#[vars.propertyFileName]" config-ref="File_Config" />
							</otherwise>
						</choice>
					
</when>
				</choice>
		</foreach>
		<ee:transform doc:name="FormatExcel" doc:id="85f90784-c121-42ae-bbd5-085d3e567417">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
import java!com::org::propertyutil::GenerateExcel
output application/json
---
{
	format : GenerateExcel::generateExcel(vars.propertyFileName, 12 as Number , 12 as Number , 12 as Number)
}]]></ee:set-payload>
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="actionURI" ><![CDATA[%dw 2.0
import * from dw::core::Strings
output application/java
---
if(attributes.headers.host default "" contains "api") ("/" ++ "${web.uri}") else ""]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
				<try doc:name="Try1" doc:id="48442a89-6283-4fdb-ba83-b370bc5ace91">
			<db:insert doc:name="Insert" doc:id="19d509de-6a59-4573-83e1-ac2154700ce3" config-ref="Database-Connection">
				<db:sql><![CDATA[INSERT INTO EAPI_MULE_T2M_REPORT (TOOL_NAME, SERVICE_NAME, BRANCH_NAME, USAGE_STATUS, FAIL_COUNT, PASS_COUNT, USED_BY, LAST_UPDATED)
VALUES (:toolname, :servicename, :branchname, :usagestatus, :failcount, :passcount, :usedby, :lastupdated)]]></db:sql>
				<db:input-parameters><![CDATA[#[{
	'toolname' : 'MuleConfigExtractor',
	'servicename' : vars.configServiceName,
	'branchname' : 'master',
	'usagestatus' : 'N/A',
	'failcount' : 'N/A',
	'passcount': 'N/A',
	'usedby' : 'MuleConfigExtractor',
	'lastupdated' : (now() >> "America/New_York") as String {format: "y-MM-dd HH:m:s"}
}]]]></db:input-parameters>
			</db:insert>
			<error-handler>
				<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="06369c08-aef8-4a56-b89b-e80925e1baa6">
					<logger level="INFO" doc:name="Logger" doc:id="908fa0e8-1422-4cb4-a5c1-0a37666926c9" message="Error inserting in to database" />
				</on-error-continue>
			</error-handler>
		</try>
				<error-handler >
					<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="5aa0f0c4-f092-44ce-b096-094ba6a5fa13" >
						<logger level="INFO" doc:name="Logger" doc:id="9d1b82ae-ee43-4184-86cb-f27c3f53b814" message='#["Property extraction failed for the repo - " ++ (vars.configServiceName default "")]'/>
					</on-error-continue>
				</error-handler>
		</try>
		</foreach>
		<file:list doc:name="List" doc:id="db9e50eb-181b-4436-9bde-ca95f4f551a0" config-ref="File_Config" directoryPath='#["${gui.reportLocation}"]'/>
		<choice doc:name="Choice" doc:id="5b760a77-c6a4-4134-abba-f62ee67f3116" >
			<when expression="#[sizeOf(payload) &gt; 1]">
				<ee:transform doc:name="Transform Message" doc:id="3d1d7006-0bb7-4ed6-9bc0-9c189818488e">
				<ee:message>
					<ee:set-payload><![CDATA[%dw 2.0

output application/java

---

{

(payload map {

($.attributes.fileName): $.payload

})

}

 ]]></ee:set-payload>
				</ee:message>
			</ee:transform>
				<compression:archive doc:name="Archive" doc:id="653b5a75-8801-4fdc-980e-1f7943bafcd3">
			<compression:archiver>
				<compression:zip-archiver />
			</compression:archiver>
		</compression:archive>
				<file:write doc:name="Write" doc:id="82673aa6-9514-48b2-8f00-69a52afed0eb" config-ref="File_Config" path='#["${gui.reportLocation}" ++ "//muleconfigextract" ++ "_" ++ now().day ++ now().hour ++ now().minutes ++ now().seconds ++ ".zip"]'/>
			</when>
			<otherwise >
				<logger level="INFO" doc:name="Logger" doc:id="67f6ebed-faf5-4ed1-ac9b-73aa87c52af8" message="Single report exists"/>
			</otherwise>
		</choice>
		<logger level="INFO" doc:name="Logger" doc:id="fb336998-2538-4f8f-ae63-037bae514cb0" message='#[(((now() as Number {unit: "milliseconds"}) - (vars.startTime as Number {unit: "milliseconds"})) as String ) ++ "ms"]'/>
		<parse-template doc:name="Parse Template" doc:id="d3d1d47c-4bd4-4196-9369-9b5059a7efa3" location="web\generate.html"/>
	
</flow>
	<flow name="configdataextractFlow" doc:id="1abfe80d-7ebb-4ae2-88dc-6526a2126495" >
		<http:listener doc:name="Listener" doc:id="81d8286c-366a-42e8-8e8b-ada86f999c24" config-ref="HTTP_GUIListener_config" path="${gui.configreview}"/>
		<ee:transform doc:name="Transform Message1" doc:id="10c8d63c-ec20-42ce-bfb5-078e34c9f533">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/java
---
payload]]></ee:set-payload>
			</ee:message>
			<ee:variables>
				<ee:set-variable variableName="generate_page_header"><![CDATA[%dw 2.0
output application/java
---
"${page_header}"]]></ee:set-variable>
				<ee:set-variable variableName="generate_page_status"><![CDATA[%dw 2.0
output application/java
---
"${generate_page_status}"]]></ee:set-variable>
				<ee:set-variable variableName="generate_page_title"><![CDATA[%dw 2.0
output application/java
---
"${page_title}"]]></ee:set-variable>
				<ee:set-variable variableName="generate_page_background_color"><![CDATA[%dw 2.0
output application/java
---
"${page_background_color}"]]></ee:set-variable>
				<ee:set-variable variableName="client_logo"><![CDATA[%dw 2.0
output application/java
---
"${client_logo}"]]></ee:set-variable>
				<ee:set-variable variableName="button_color"><![CDATA[%dw 2.0
output application/java
---
"${button_color}"]]></ee:set-variable>
				<ee:set-variable variableName="filepath"><![CDATA["${gui.workingdirectory}"]]></ee:set-variable>
				<ee:set-variable variableName="directoryPath"><![CDATA["${gui.directoryPath}"]]></ee:set-variable>
				<ee:set-variable variableName="font_color"><![CDATA[%dw 2.0
output application/java
---
"${font_color}"]]></ee:set-variable>
				<ee:set-variable variableName="fileSeparator"><![CDATA[%dw 2.0
output application/java
---
if((vars.propertyFolder default "") contains("/")) "//" else "\\"]]></ee:set-variable>
				<ee:set-variable variableName="startTime"><![CDATA[now()]]></ee:set-variable>
				<ee:set-variable variableName="serviceName"><![CDATA[output application/java
---
trim(payload.parts.apiname.content default "")]]></ee:set-variable>
				<ee:set-variable variableName="orgName"><![CDATA[%dw 2.0
output application/java
import * from dw::core::Strings
---
lower(substringBefore((payload.parts.folder.content default ""), "_"))]]></ee:set-variable>
				<ee:set-variable variableName="configServiceName"><![CDATA[output application/java
---
trim(payload.parts.apiname.content default "")]]></ee:set-variable>
				<ee:set-variable variableName="actionURI"><![CDATA[%dw 2.0
import * from dw::core::Strings
output application/java
---
if((attributes.headers.host default "") default "" contains "api") ("/" ++ "${web.uri}") else ""]]></ee:set-variable>
				<ee:set-variable variableName="multipleservices"><![CDATA[%dw 2.0
output application/java
---
if((payload.parts.folder.content default "") contains(",")) ("Yes") else "No"]]></ee:set-variable>
				<ee:set-variable variableName="rawFlag"><![CDATA[output application/java
import * from dw::core::Strings
---
if((payload.parts.rawflag.content default "") contains(":")) trim(substringAfterLast((payload.parts.rawflag.content default ""),":")) else (payload.parts.rawflag.content default "")]]></ee:set-variable>
				<ee:set-variable variableName="path"><![CDATA[output application/java
import * from dw::core::Strings
---
payload.parts.path.content default ""]]></ee:set-variable>
				<ee:set-variable variableName="branch" ><![CDATA[output application/java
---
trim(payload.parts.branch.content) default ""]]></ee:set-variable>
				<ee:set-variable variableName="reponame" ><![CDATA[output application/java
---
payload.parts.reponame.content default ""]]></ee:set-variable>
				<ee:set-variable variableName="developer" ><![CDATA[output application/java
---
trim(payload.parts.developer.content) default ""]]></ee:set-variable>
				<ee:set-variable variableName="apiname" ><![CDATA[%dw 2.0
output application/java
var apiname = payload.parts.apiname.content default ""
---
trim(apiname) splitBy(",")]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<http:request method="GET" doc:name="Request" doc:id="803a81b8-56da-4714-8fb5-b1b4f31a4ce3" config-ref="GetCredential" path='#["/api/v4/projects/14095/repository/files/EAPIServicesCommonDocs%2fEAPIServiceAccounts%2fMule_Credentials.csv/raw?ref=master&amp;private_token=" ++ "${password.gitlab}"]' />
		<set-variable value="#[output text/plain&#10;---&#10;payload]" doc:name="Set Variable" doc:id="f2a10aa4-8dd9-4868-b8da-901fd272e427" variableName="credential"/>
		<file:read doc:name="Read" doc:id="f888799a-2f6b-4d7b-8ff2-4c80d9dedc8f" config-ref="File_Config" path='#["${gui.apphome}" ++ "ratelimitsandclustertypes.txt"]' outputMimeType="text/plain"/>
		<set-variable value='#[%dw 2.0&#10;output text/plain&#10;---&#10;payload default ""]' doc:name="Set Variable" doc:id="7a38065f-4ccb-4591-8438-b0644c02c9a0" variableName="ratelimitsandclustertypes"/>
		<foreach doc:name="For Each" doc:id="7fd66244-5f0c-4fd8-bd1d-c93838214100" collection="#[vars.apiname default []]">
			<ee:transform doc:name="Transform Message" doc:id="d5f05421-3cbe-4626-b69b-4dce26daade4" >
				<ee:message >
				</ee:message>
				<ee:variables >
					<ee:set-variable variableName="configServiceName" ><![CDATA[if(vars.serviceName contains("_config")) payload else (vars.serviceName default "") ++ "_config"]]></ee:set-variable>
					<ee:set-variable variableName="currentapiname" ><![CDATA[%dw 2.0
output application/java
---
payload]]></ee:set-variable>
					<ee:set-variable variableName="allmulexmlfilescontent" ><![CDATA[%dw 2.0
output application/java
---
""]]></ee:set-variable>
					<ee:set-variable variableName="muleapppropertycontent" ><![CDATA[%dw 2.0
output application/java
---
""]]></ee:set-variable>
				</ee:variables>
			</ee:transform>
			<java:new constructor="GitCloneRepo()" doc:name="New" doc:id="47aa58e8-4afc-423d-afac-9660d8f56f0f" class="com.org.propertyutil.GitCloneRepo" />
			<java:invoke method="GitCloneBranch(java.lang.String,java.lang.String,java.lang.String,java.lang.String,java.lang.String,java.lang.String)" doc:name="Clone Repo" doc:id="95efc9e7-4f3f-4599-88c7-e5a1445da12f" instance="#[payload]" class="com.org.propertyutil.GitCloneRepo">
				<java:args><![CDATA[#[%dw 2.0
var datetime = now() as String {format: "yMMddhhm"}
---
{
	arg0 : "${repo.eapi01}" ++ (vars.reponame default "EAPI02") ++ "//" ++ (vars.currentapiname default "") ++ ".git" ,
	arg1 : "${username.gitlab}",
	arg2 : "${password.gitlab}",
	arg3 : vars.branch default "alt-release",
	arg4 : "${gui.apphome}" ++ vars.currentapiname ++ "_code_" ++ datetime ++ "//",
	arg5 : "${gui.inputLocation}" ++ vars.currentapiname ++ "_code_" ++ datetime ++ "//"
}]]]></java:args>
			</java:invoke>
			<file:list doc:name="List" doc:id="3fffbcae-f784-470d-8eab-dfdc95a5ccf8" config-ref="File_Config" directoryPath='#[import * from dw::core::Strings&#10;---&#10;substringAfter(payload,",")]' recursive="true" target="FilesList">
				<file:matcher directories="EXCLUDE" symLinks="EXCLUDE" />
			</file:list>
			<ee:transform doc:name="Transform Message" doc:id="317ed4c7-9988-4592-acfa-df196d2875a4">
				<ee:message>
					<ee:set-payload><![CDATA[%dw 2.0
output application/java
---
vars.filesList.typedAttributes.path filter (v,i)-> (v contains('main')) and ((v contains('.xml')) or (v contains('.properties')) or (v contains('.dwl'))) and (!((v contains('global')) or (v contains('log4j')) or (v contains('application-types'))))
]]></ee:set-payload>
				</ee:message>
			</ee:transform>
			<foreach doc:name="For Each" doc:id="8b32cd6b-bd1b-4260-a5ab-d5af0c2471d7" collection="#[payload]">
				<choice doc:name="Choice" doc:id="2d95d837-fc99-47b6-90a0-7501a78fed88" >
					<when expression="#[(payload contains('mule-app.properties')) or (payload contains('secure.properties'))]">
						<file:read doc:name="Read" doc:id="ad275c21-8242-4aec-a28a-9eebd7f91df8" config-ref="File_Config" path="#[payload]" outputMimeType="text/plain"/>
						<set-variable value='#[output text/plain&#10;---&#10;if(sizeOf(vars.muleapppropertycontent default "")&gt;1) (vars.muleapppropertycontent default "") ++ payload else payload]' doc:name="Set Variable" doc:id="917ec3bf-0fa8-4066-a285-65a2b33904ac" variableName="muleapppropertycontent"/>
					</when>
					<otherwise >
						<file:read doc:name="Read" doc:id="37050a09-0960-4605-a6e7-387067a65d1a" config-ref="File_Config" path="#[payload]" outputMimeType="text/plain"/>
						<set-variable value='#[output text/plain&#10;import * from dw::core::Strings&#10;&#10;---&#10;if(sizeOf(vars.allmulexmlfilescontent default "")&gt;1) (vars.allmulexmlfilescontent default "") ++ payload else payload]' doc:name="Set Variable" doc:id="f184e9d6-bc4f-445f-9c3f-4c24e7b7a902" variableName="allmulexmlfilescontent"/>
					</otherwise>
				</choice>
			</foreach>
			<set-variable value='#[""]' doc:name="Set Variable" doc:id="e23f4e77-fdfb-4806-b1c1-99b795e93952" variableName="FilesList"/>
			<java:new constructor="GitCloneRepo()" doc:name="New" doc:id="9d36fd3f-ce0d-453f-a86a-80e5adc70b41" class="com.org.propertyutil.GitCloneRepo" />
			<java:invoke method="GitCloneBranch(java.lang.String,java.lang.String,java.lang.String,java.lang.String,java.lang.String,java.lang.String)" doc:name="Clone Repo" doc:id="f844770b-c96d-40ad-9db5-728a421b8a6b" instance="#[payload]" class="com.org.propertyutil.GitCloneRepo">
			<java:args><![CDATA[#[%dw 2.0
var datetime = now() as String {format: "yMMddhhm"}
---
{
	arg0 : "${repo.eapi01}" ++ (vars.reponame default "EAPI01") ++ "//" ++ (vars.currentapiname default "") ++ "_config.git" ,
	arg1 : "${username.gitlab}",
	arg2 : "${password.gitlab}",
	arg3 : "master",
	arg4 : "${gui.apphome}" ++ vars.currentapiname ++ "_" ++ datetime ++ "//",
	arg5 : "${gui.inputLocation}" ++ vars.currentapiname ++ "_" ++ datetime ++ "//"
}]]]></java:args>
		</java:invoke>
			<file:list doc:name="List" doc:id="85473339-d4bc-466b-85c5-b8539f5ba428" config-ref="File_Config" directoryPath='#[import * from dw::core::Strings&#10;---&#10;substringAfter(payload,",")]' recursive="true" target="FilesList">
			<file:matcher directories="EXCLUDE" symLinks="EXCLUDE" />
		</file:list>
			<ee:transform doc:name="Transform Message" doc:id="cabf4a9e-c3ea-4958-912c-61c4d768ccf4">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/java
---
flatten( (vars.filesList..path filter (v , i) -> v contains (".properties"))  +  (vars.filesList..path filter (v , i) -> v contains (".deploy")) + (vars.filesList..path filter (v , i) -> v contains (".policy")))
]]></ee:set-payload>
			</ee:message>
			<ee:variables>
				<ee:set-variable variableName="serviceName"><![CDATA[%dw 2.0
output application/java
import * from dw::core::Strings
---
if(vars.multipleservices=="Yes") "multiple" else lower(substringBefore(vars.configServiceName, "_"))]]></ee:set-variable>
				<ee:set-variable variableName="PNumOfEnv"><![CDATA[%dw 2.0
output application/json
---
sizeOf(vars.filesList..path filter (v , i) -> v contains (".properties")) as Number]]></ee:set-variable>
				<ee:set-variable variableName="DNumOfEnv"><![CDATA[%dw 2.0
output application/json
---
sizeOf(vars.filesList..path filter (v , i) -> v contains (".deploy")) as Number]]></ee:set-variable>
				<ee:set-variable variableName="PoNumOfEnv"><![CDATA[%dw 2.0
output application/json
---
sizeOf(vars.filesList..path filter (v , i) -> v contains (".policy")) as Number]]></ee:set-variable>
<ee:set-variable variableName="autodeployflownamecheck" ><![CDATA[%dw 2.0
output application/java
import * from dw::core::Strings
---
""]]></ee:set-variable>
				<ee:set-variable variableName="cicsdbnamingconventioncheck" ><![CDATA[%dw 2.0
output application/java
import * from dw::core::Strings
---
""]]></ee:set-variable>
				<ee:set-variable variableName="logpropertiescheck" ><![CDATA[%dw 2.0
output application/java
import * from dw::core::Strings
---
""]]></ee:set-variable>
				<ee:set-variable variableName="datapowerendpointcheck" ><![CDATA[%dw 2.0
output application/java
import * from dw::core::Strings
---
""]]></ee:set-variable>
				<ee:set-variable variableName="assettypecheck" ><![CDATA[%dw 2.0
output application/java
import * from dw::core::Strings
---
""]]></ee:set-variable>
				<ee:set-variable variableName="privateportcheck" ><![CDATA[%dw 2.0
output application/java
import * from dw::core::Strings
---
""]]></ee:set-variable>
				<ee:set-variable variableName="httppathcheck" ><![CDATA[%dw 2.0
output application/java
import * from dw::core::Strings
---
""]]></ee:set-variable>
				<ee:set-variable variableName="propertycountcheck" ><![CDATA[%dw 2.0
output application/java
import * from dw::core::Strings
---
""]]></ee:set-variable>
				<ee:set-variable variableName="bkndhostnamecheck" ><![CDATA[%dw 2.0
output application/java
import * from dw::core::Strings
---
""]]></ee:set-variable>
				<ee:set-variable variableName="bkndportnumbercheck" ><![CDATA[%dw 2.0
output application/java
import * from dw::core::Strings
---
""]]></ee:set-variable>
				<ee:set-variable variableName="ipaddresscheck" ><![CDATA[%dw 2.0
output application/java
import * from dw::core::Strings
---
""]]></ee:set-variable>
				<ee:set-variable variableName="inboundvalidationcheck" ><![CDATA[%dw 2.0
output application/java
import * from dw::core::Strings
---
""]]></ee:set-variable>
				<ee:set-variable variableName="persistenceconnectioncheck" ><![CDATA[%dw 2.0
output application/java
import * from dw::core::Strings
---
""]]></ee:set-variable>
				<ee:set-variable variableName="httpprotocolcheck" ><![CDATA[%dw 2.0
output application/java
import * from dw::core::Strings
---
""]]></ee:set-variable>
				<ee:set-variable variableName="ratelimitscheck" ><![CDATA[%dw 2.0
output application/java
import * from dw::core::Strings
---
""]]></ee:set-variable>
				<ee:set-variable variableName="vaultappnamecheck" ><![CDATA[%dw 2.0
output application/java
import * from dw::core::Strings
---
""]]></ee:set-variable>
				<ee:set-variable variableName="securepropertycountcheck" ><![CDATA[%dw 2.0
output application/java
import * from dw::core::Strings
---
""]]></ee:set-variable>
				<ee:set-variable variableName="securepropertyvalidationcheck" ><![CDATA[%dw 2.0
output application/java
import * from dw::core::Strings
---
""]]></ee:set-variable>
				<ee:set-variable variableName="dbconnectioncheck" ><![CDATA[%dw 2.0
output application/java
import * from dw::core::Strings
---
""]]></ee:set-variable>
				<ee:set-variable variableName="tibcocredsusagecheck" ><![CDATA[%dw 2.0
output application/java
import * from dw::core::Strings
---
""]]></ee:set-variable>
				<ee:set-variable variableName="encryptedpropertyvalidationcheck" ><![CDATA[%dw 2.0
output application/java
import * from dw::core::Strings
---
""]]></ee:set-variable>
				<ee:set-variable variableName="usercredsvalidationcheck" ><![CDATA[%dw 2.0
output application/java
import * from dw::core::Strings
---
""]]></ee:set-variable>
				<ee:set-variable variableName="keystorepathandaliascheck" ><![CDATA[%dw 2.0
output application/java
import * from dw::core::Strings
---
""]]></ee:set-variable>
				<ee:set-variable variableName="lastmileandlogencpwdcheck" ><![CDATA[%dw 2.0
output application/java
import * from dw::core::Strings
---
""]]></ee:set-variable>
				<ee:set-variable variableName="securevaultclientcheck" ><![CDATA[%dw 2.0
output application/java
import * from dw::core::Strings
---
""]]></ee:set-variable>
				<ee:set-variable variableName="vaultstorelocationcheck" ><![CDATA[%dw 2.0
output application/java
import * from dw::core::Strings
---
""]]></ee:set-variable>
					<ee:set-variable variableName="policyfilesvar" ><![CDATA[%dw 2.0
output application/java
---
(vars.filesList..path filter (v , i) -> v contains (".policy"))
]]></ee:set-variable>
					<ee:set-variable variableName="useridregexcheck" ><![CDATA[%dw 2.0
output application/java
---
""]]></ee:set-variable>
					<ee:set-variable variableName="environmentstringcheck" ><![CDATA[%dw 2.0
output application/java
---
""]]></ee:set-variable>
					<ee:set-variable variableName="dbminpoolsizecheck" ><![CDATA[%dw 2.0
output application/java
---
""]]></ee:set-variable>
					<ee:set-variable variableName="unusedpropertycheck" ><![CDATA[%dw 2.0
output application/java
---
""]]></ee:set-variable>
					<ee:set-variable variableName="targetconfigendpointcheck" ><![CDATA[%dw 2.0
output application/java
---
""]]></ee:set-variable>
					<ee:set-variable variableName="soapuinamingconventioncheck" ><![CDATA[%dw 2.0
output application/java
---
""]]></ee:set-variable>
					<ee:set-variable variableName="internaldomaincheck" ><![CDATA[%dw 2.0
output application/java
---
""]]></ee:set-variable>
					<ee:set-variable variableName="policyenabledcheck" ><![CDATA[%dw 2.0
output application/java
---
""]]></ee:set-variable>
					<ee:set-variable variableName="policycontractscheck" ><![CDATA[%dw 2.0
output application/java
---
""]]></ee:set-variable>
					<ee:set-variable variableName="policyhcclientcheck" ><![CDATA[%dw 2.0
output application/java
---
""]]></ee:set-variable>
					<ee:set-variable variableName="apisddcheck" ><![CDATA[%dw 2.0
output application/java
---
""]]></ee:set-variable>
					<ee:set-variable variableName="authzpolversioncheck" ><![CDATA[%dw 2.0
output application/java
---
""]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
			<try doc:name="Try" doc:id="9fdfa6ca-19bb-4489-ae14-16d52d76becd" >
				<foreach doc:name="For Each" doc:id="45fbf75a-3e05-488d-99da-f9d8e2cf0a2f" collection="#[payload]">
				<choice doc:name="Choice" doc:id="f0bd53ab-4ffd-421d-b037-2330e668a741">
					<when expression='#[payload contains(".properties")]'>
						<file:read doc:name="Read" doc:id="e49db744-e3b3-4667-8cd2-633cbb4fe067" config-ref="File_Config" path="#[payload]" />
						<ee:transform doc:name="Transform Message" doc:id="55694695-c5aa-413f-9955-54c0bb371d5b">
							<ee:message>
							</ee:message>
							<ee:variables>
								<ee:set-variable variableName="currentpropertyfilecontent"><![CDATA[%dw 2.0
output text/plain
---
payload]]></ee:set-variable>
								<ee:set-variable variableName="currentpropertyfile"><![CDATA[%dw 2.0
output application/java
---
attributes.fileName]]></ee:set-variable>
								<ee:set-variable variableName="securepropertycount"><![CDATA[%dw 2.0
output application/java
import * from dw::core::Strings
var securecount = vars.securepropertycount default ""
---
if(sizeOf(securecount)>0) (vars.securepropertycount default "") else (payload countMatches "secure::")]]></ee:set-variable>
							</ee:variables>
						</ee:transform>
						<ee:transform doc:name="Transform Message" doc:id="a043c0da-b907-4391-a1dd-a473654b9b6f">
							<ee:message>
								<ee:set-payload><![CDATA[%dw 2.0
output application/java
---
payload splitBy("\n")]]></ee:set-payload>
							</ee:message>
							<ee:variables>
								
								<ee:set-variable variableName="cicsdbnamingconventioncheck"><![CDATA[%dw 2.0
output application/java
var currentpropertyfile = attributes.fileName
var namingcheck = ((payload contains("cics.userid")) and (payload contains("cics.password")) and (payload contains("cics.host")) and (payload contains("cics.port"))) or ((payload contains("db.userid")) and (payload contains("db.password")) and ((payload contains("db.url")) or (payload contains("db.host")) or (payload contains("db.servername"))))
var dbcicsusecheck = ((upper(payload) contains("JDBC")) or (upper(payload) contains("CICS.")) or (upper(payload) contains("DB2")) or (upper(payload) contains("SQL"))) == true
--- 
if(dbcicsusecheck)
	if(namingcheck) (vars.cicsdbnamingconventioncheck default "") else 
	if(sizeOf((vars.cicsdbnamingconventioncheck default ""))>1)
	(vars.cicsdbnamingconventioncheck default "") ++ "," ++ (currentpropertyfile default "")
	else
	(currentpropertyfile default "")
else
	(vars.cicsdbnamingconventioncheck default "")
]]></ee:set-variable>
								<ee:set-variable variableName="tibcocredsusagecheck"><![CDATA[%dw 2.0
output application/java
var tibcocred = (payload contains("^{AAAADDneGnXnCOSpddhx7EBmVgO37Z3oFLjs/UWHB1Ka2jXChgH4}")) or (payload contains("^{AAAADNs5YoKyPI7vV2BUdxBF3h1zh7C1/XPuee1mFJnossdrQC/3}")) or (payload contains("^{AAAADCOTOVXiAeGHTeSZUPwXtOu4m92WSJN9khwguPI7GPPvKkD6Pw==}")) or (payload contains("^{AAAADEJa4UYGscGBKnBIQ2QIjwS7JNSK90u8fvoo/L2bP/xBLnUB}")) or 
				(payload contains("^{AAAADB/40QqgpHtpZP7K8hU6tyVrcRJHErvxBjgWzcfTNXmzhJCBhQ==}")) or (payload contains("^{AAAADA1mwzZMFUxGqKB+lgMw4llW2Am3KF/cksG0L+iszRIeXNPD}")) or (payload contains("^{AAAADBGTi6jLdmYL3rXQ5seW+yZsDuCCmtSSl98lRVwICMaqV5bhlw==}"))
---
if(tibcocred) 
if(sizeOf(vars.tibcocredsusagecheck default "")>1)
(vars.tibcocredsusagecheck default "") ++ "," ++ (vars.currentpropertyfile default "")
else
(vars.currentpropertyfile default "")
else
(vars.tibcocredsusagecheck default "")]]></ee:set-variable>
								<ee:set-variable variableName="datapowerendpointcheck"><![CDATA[%dw 2.0
output application/java
---
if(upper(payload) contains("/TIBCO_")) 
if(sizeOf(vars.datapowerendpointcheck default "")>1)
(vars.datapowerendpointcheck default "") ++ "," ++ (vars.currentpropertyfile default "")
else
(vars.currentpropertyfile default "")
else
(vars.datapowerendpointcheck default "")]]></ee:set-variable>
								<ee:set-variable variableName="assettypecheck"><![CDATA[%dw 2.0
output application/java
import * from dw::core::Strings
var eofc = sizeOf(trim(substringBefore(substringAfter(substringAfter(payload,'assetType'),'='),'\n') default ""))>0
var apitype = if(eofc) (trim(substringBefore(substringAfter(substringAfter(payload,'assetType'),'='),'\n'))) else trim(substringAfter(substringAfter(payload,'assetType'),'=') default "")
---
if(sizeOf(apitype)>1) (vars.assettypecheck default "") else 
if(sizeOf(vars.assettypecheck default "")>1)
(vars.assettypecheck default "") ++ "," ++ (vars.currentpropertyfile default "")
else
(vars.currentpropertyfile default "")
]]></ee:set-variable>
								<ee:set-variable variableName="logpropertiescheck"><![CDATA[%dw 2.0
output application/java
import * from dw::core::Strings
var logcheck = (payload contains("logging.level.REQUEST_IN=DEBUG")) and (payload contains("logging.level.REQUEST_OUT=DEBUG"))  and (payload contains("logging.level.RESPONSE_OUT=DEBUG"))  and (payload contains("logging.level.RESPONSE_IN=DEBUG"))
var logcount = payload countMatches "logging.level.REQUEST_IN=DEBUG"
---
if(logcheck and logcount==1) (vars.logpropertiescheck default "") else 
if(sizeOf(vars.logpropertiescheck default "")>1)
(vars.logpropertiescheck default "") ++ "," ++ (vars.currentpropertyfile default "")
else
(vars.currentpropertyfile default "")]]></ee:set-variable>
								<ee:set-variable variableName="privateportcheck"><![CDATA[%dw 2.0
output application/java
import * from dw::core::Strings
var privateport = trim(substringBefore(substringAfter(substringAfter(payload, "http.private.port"),"="),"\n"))
var soapapi = (trim(substringAfter(substringAfter(payload,'assetType'),'=')) == 'soap') or (trim(substringAfter(substringAfter(payload,'assetType'),'=')) == 'rest')
---
if(soapapi)
if(privateport=="8081") (vars.privateportcheck default "") else 
if(sizeOf(vars.privateportcheck default "")>1)
(vars.privateportcheck default "") ++ "," ++ (vars.currentpropertyfile default "")
else
(vars.currentpropertyfile default "")
else
(vars.privateportcheck default "")]]></ee:set-variable>
								<ee:set-variable variableName="autodeployflowname"><![CDATA[%dw 2.0
output application/java
import * from dw::core::Strings
var adflowname = "flow" ++ trim(substringBefore(substringAfter(payload,"api-autodeploy-flow-name=flow"),"\n"))
---
if(adflowname contains("main")) (vars.autodeployflowname default "") else 
if(sizeOf(vars.autodeployflowname default "")>1)
(vars.autodeployflowname default "") ++ "," ++ (vars.currentpropertyfile default "")
else
(vars.currentpropertyfile default "")]]></ee:set-variable>
								<ee:set-variable variableName="httppathcheck"><![CDATA[%dw 2.0
output application/java
import * from dw::core::Strings
var httppath = trim(substringAfter(substringBefore(substringAfter(substringAfter(payload,"http.path"),"="),"\n"),"/"))
var apitype = (trim(substringAfter(substringAfter(payload,'assetType'),'=')) contains('rest')) or (trim(substringAfter(substringAfter(payload,'assetType'),'=')) contains('soap'))
---
if(apitype) 
if((httppath==trim(vars.currentapiname default "")) or (httppath contains("*"))) (vars.httppathcheck default "") else 
if(sizeOf(vars.httppathcheck default "")>1)
(vars.httppathcheck default "") ++ "," ++ (vars.currentpropertyfile default "")
else
(vars.currentpropertyfile default "")
else
(vars.httppathcheck default "")]]></ee:set-variable>
								<ee:set-variable variableName="bkndhostnamecheck"><![CDATA[%dw 2.0
output application/java
import * from dw::core::Strings
var hostname = trim(substringBefore(trim(substringAfter(substringAfter(payload,"cics.host"),"=") default ""),"\n"))
var currentenv = trim(substringBefore((vars.currentpropertyfile default ""),".properties"))
var existing = vars.bkndhostnamecheck default ""
var existingflag = sizeOf(existing)>1
var hostnamecheck = if(currentenv contains("DRL")) "ZOS-QASYSQCICS.bbtnet.com" else if((currentenv contains("DR")) or (currentenv contains("PROD"))) "mvsproda.bbtnet.com" 
					else  if((currentenv contains("PREP")) or (currentenv contains("PREP_LIVE"))) "ZOS-QASYSQ.bbtnet.com" 
					else if((currentenv contains("PITE")) or (currentenv contains("ITE")) or (currentenv contains("TDV")) or (currentenv contains("ATDV")) or (currentenv contains("TDV1")) or (currentenv contains("TRN")) or (currentenv contains("IBF")) or (currentenv contains("MNE")) or (currentenv contains("MNE2"))) "mvsdevb.bbtnet.com" 
					else "mvsdevb.bbtnet.com"
---
if(sizeOf(hostname)>1) 
	if(sizeOf(hostnamecheck)>0 and hostname == hostnamecheck) existing 
	else 
		if(sizeOf(existing)>0)
		existing ++ "," ++ (vars.currentpropertyfile default "")
		else
		(vars.currentpropertyfile default "")
else existing
]]></ee:set-variable>
								<ee:set-variable variableName="bkndportnumbercheck"><![CDATA[%dw 2.0
output application/java
import * from dw::core::Strings
var portnumber = trim(substringBefore(trim(substringAfter(substringAfter(payload,"cics.port"),"=") default ""),"\n"))
var currentenv = trim(substringBefore((vars.currentpropertyfile default ""),".properties"))
var existing = vars.bkndportnumbercheck default ""
var existingflag = sizeOf(existing)>1
var portnumbercheck = if((currentenv contains("DR")) or (currentenv contains("PROD"))) "4380" 
					  else if(currentenv contains("DRL")) "4380" 
					  else if(currentenv contains("TRN")) "3121" 
					  else if((currentenv contains("PREP")) or (currentenv contains("PREP_LIVE"))) "4380" 
					  else if((currentenv contains("PITE"))) "3240" 
					  else if((currentenv contains("ITE"))) "3705" 
					  else if((currentenv contains("MNE2")) or (currentenv contains("IBF"))) "3605" 
					  else if((currentenv contains("ATDV")) or (currentenv contains("ATDV1"))) "3115"
					  else if((currentenv contains("TDV")) or (currentenv contains("MNE")) or (currentenv contains("TDV1"))) "3401" 
					   else "3115"
---
if(sizeOf(portnumber)>1) 
	if((sizeOf(portnumbercheck)>0 and portnumber == portnumbercheck)  or (((currentenv=="PREP" or currentenv=="PREP_LIVE" or currentenv=="DR" or currentenv=="PROD" or currentenv=="DRL") and portnumber=="3032")) or (((currentenv=="PITE") and portnumber=="3074"))) existing 
	else 
		if(sizeOf(existing)>0)
		existing ++ "," ++ (vars.currentpropertyfile default "")
		else
		(vars.currentpropertyfile default "")
else existing]]></ee:set-variable>
								<ee:set-variable variableName="httpprotocolcheck"><![CDATA[%dw 2.0
output application/java
import * from dw::core::Strings
var payloadsplit = (payload splitBy('\n')) 
var filteredpayload = payloadsplit filter(v,i)-> (!(v contains('#'))) and (sizeOf(v)>0)
var payloadcontent = filteredpayload reduce ($$ ++ "," ++ $)
var protocolcheck = sizeOf(substringBefore(substringAfter(substringAfter(payloadcontent,'http.protocol'),'='),','))>0 or sizeOf(substringBefore(substringAfter(substringAfter(payloadcontent,'protocol'),'='),','))>1
var apitype = (trim(substringAfter(substringAfter(payload,'assetType'),'=')) contains('rest')) or (trim(substringAfter(substringAfter(payload,'assetType'),'=')) contains('soap'))
---
if(apitype and (!(protocolcheck)))  
if(sizeOf(vars.httpprotocolcheck default "")>1)
(vars.httpprotocolcheck default "") ++ "," ++ (vars.currentpropertyfile default "")
else
(vars.currentpropertyfile default "")
else 
(vars.httpprotocolcheck default "")
]]></ee:set-variable>
<ee:set-variable variableName="inboundvalidationcheck"><![CDATA[%dw 2.0
output application/java
import * from dw::core::Strings
var soapapi = (trim(substringAfter(substringAfter(payload,'assetType'),'=')) == 'soap')
var inboundstring = if(trim(substringBefore(substringAfter(substringAfter(upper(payload),"INBOUND"),"="),"\n")) == "TRUE") "true" else "false"
---
if(soapapi)
if(inboundstring=="true") (vars.inboundvalidationcheck default "") else 
if(sizeOf(vars.inboundvalidationcheck default "")>1)
(vars.inboundvalidationcheck default "") ++ "," ++ (vars.currentpropertyfile default "")
else
(vars.currentpropertyfile default "")
else
(vars.inboundvalidationcheck default "")]]></ee:set-variable>
									<ee:set-variable variableName="persistenceconnectioncheck"><![CDATA[%dw 2.0
output application/java
import * from dw::core::Strings
var persistentstring = if(trim(substringBefore(substringAfter(substringAfter(upper(payload),"PERSIST"),"="),"\n")) == "TRUE") "true" else "false"
---
if((persistentstring=="false") or (upper(payload) contains("ObjectStore"))) (vars.persistenceconnectioncheck default "") else 
	if(sizeOf(vars.persistenceconnectioncheck default "")>1)
	(vars.persistenceconnectioncheck default "") ++ "," ++ (vars.currentpropertyfile default "")
	else
	(vars.currentpropertyfile default "")
]]></ee:set-variable>
								<ee:set-variable variableName="vaultappname"><![CDATA[%dw 2.0
output application/java
import * from dw::core::Strings
var currentvaultappname = trim(substringAfter(trim(substringBefore(substringAfter(payload,"vault.app.name"),"\n")),"="))
var clustertype = trim(substringBefore(substringAfter(substringAfter((vars.ratelimitsandclustertypes default ""),((vars.currentapiname default "") ++ ",")),","),"\n"))
var currentenv = lower(substringBefore(vars.currentpropertyfile,".properties"))
var clustertypevalue = if((currentenv=="prep") or (currentenv=="dr") or (currentenv=="prod")) clustertype else ""
var envmap = if(currentenv=="dr") "prod" else if(currentenv=="prep_live") "prep" else currentenv
var appnamebuild = trim(lower(trim((vars.currentapiname default "") ++ "-" ++ (vars.reponame default "") ++ "-" ++ (envmap default "") ++ clustertypevalue)))
---
if(currentvaultappname contains(appnamebuild)) (vars.vaultappname default "") else
if(sizeOf(vars.vaultappname default "")>1) (vars.vaultappname default "") ++ "," ++ (vars.currentpropertyfile default "") else (vars.currentpropertyfile default "")
]]></ee:set-variable>
								<ee:set-variable variableName="securepropertyvalidationcheck"><![CDATA[%dw 2.0
output application/java
import * from dw::core::Strings
var count=payload countMatches "secure::"
var securecount = if((payload contains("secure::vault.clientid=7bad32")) or (payload contains("secure::vault.clientid=67f230"))) (count - 1) else count
//var endbracecount = (payload countMatches "}")
var frontbracecount =  (payload countMatches('^{'))
//var braceflag = endbracecount == frontbracecount
var securedflag = (frontbracecount == securecount)
---
if(securedflag) (vars.securepropertyvalidationcheck default "") else
if(sizeOf(vars.securepropertyvalidationcheck default "")>1) (vars.securepropertyvalidationcheck default "") ++ "," ++ (vars.currentpropertyfile default "") else (vars.currentpropertyfile default "")]]></ee:set-variable>
								<ee:set-variable variableName="securepropertycountcheck"><![CDATA[%dw 2.0
output application/java
import * from dw::core::Strings
var securecount = payload countMatches "secure::"
var previouscount = vars.securepropertycount default ""
var securedflag = securecount == previouscount
---
if(securedflag) (vars.securepropertycountcheck default "") else
if(sizeOf(vars.securepropertycountcheck default "")>1) (vars.securepropertycountcheck default "") ++ "," ++ (vars.currentpropertyfile default "") else (vars.currentpropertyfile default "")]]></ee:set-variable>
								<ee:set-variable variableName="dbservercheck"><![CDATA[%dw 2.0
output application/java
import * from dw::core::Strings
var dbcount = payload countMatches "db2"
var dbflag = dbcount>0
var envname = trim(substringBefore(vars.currentpropertyfile,".properties"))
var servername = if(envname == "TDV" or envname == "TDV1" or envname == "ATDV") "wil-db2contstvip.bbtnet.com:50000" else
				   if(envname == "ITE" or envname == "IBF" or envname == "MNE" or envname == "MNE2" or envname == "TRN") "wil-db2contstvip.bbtnet.com:50000" else
				   if(envname == "PITE") "db2conaitvip.truist-tst.com:50000" else
				   if(envname == "PREP" or envname == "PREP_LIVE") "db2contppvip.truist-tst.com:50000" else
				   if(envname == "DRL") "db2contdhvip.truist-tst.com:50000" else
				   if(envname == "PROD" or envname == "DR") "wil-db2econvip.bbtnet.com:50000" else ""
var dbname = if(envname == "TDV" or envname == "TDV1" or envname == "MNE") "DB2E" else
				   if(envname == "ATDV" or envname == "ATDV1") "DB2H" else
				   if(envname == "ITE" or envname == "MNE2") "DB2U" else
				   if(envname == "IBF") "DB2M" else
				   if(envname == "TRN") "DB2R" else
				   if(envname == "PITE") "DB2X" else
				   if(envname == "PREP" or envname == "PREP_LIVE") "DB2Q" else
				   if(envname == "DRL") "DB2D" else
				   if(envname == "PROD" or envname == "DR") "DB2P" else ""				   
			   
---
if(dbflag) (if((payload contains(servername)) and (payload contains(dbname))) 
vars.dbservercheck default ""
else 
if(sizeOf(vars.dbservercheck default "")>1) (vars.dbservercheck default "") ++ "," ++ (vars.currentpropertyfile default "") else (vars.currentpropertyfile default "")
) else ""
]]></ee:set-variable>
								<ee:set-variable variableName="keystorepathandaliascheck"><![CDATA[%dw 2.0
output application/java
import * from dw::core::Strings
var httpapi = (trim(substringAfter(substringAfter(payload,'assetType'),'=')) == 'soap') or (trim(substringAfter(substringAfter(payload,'assetType'),'='))=='rest')
var keystorepath = trim(substringBefore(substringAfter(substringAfter(payload,"keystore.path"),"="),"\n"))
var keystorepathflag = keystorepath == "eapi-mule-lastmile.truist-tst.com.jks" or keystorepath == "eapi-mule-lastmile.truist-prd.com.jks"
var keystorealias = trim(substringBefore(substringAfter(substringAfter(payload,"keystore.alias"),"="),"\n"))
var keystorealiasflag = keystorealias == "eapi-mule-lastmile.truist-tst.com" or keystorealias == "eapi-mule-lastmile.truist-prd.com"
---
if(httpapi)
if(keystorepathflag and keystorealiasflag) (vars.keystorepathandaliascheck default "") else 
if(sizeOf(vars.keystorepathandaliascheck default "")>1)
(vars.keystorepathandaliascheck default "") ++ "," ++ (vars.currentpropertyfile default "")
else
(vars.currentpropertyfile default "")
else
(vars.keystorepathandaliascheck default "")]]></ee:set-variable>
								<ee:set-variable variableName="lastmileandlogencpwdcheck"><![CDATA[%dw 2.0
output application/java
import * from dw::core::Strings
var httpapi = (trim(substringAfter(substringAfter(payload,'assetType'),'=')) == 'soap') or (trim(substringAfter(substringAfter(payload,'assetType'),'='))=='rest')
var lastmile = trim(substringBefore(substringAfter(substringAfter(payload,"secure::lastmile.keypassword"),"="),"\n"))
var lastmileflag = lastmile == "^{AAAADEL5bai8v3uy6Ta5zFqGNdrMeRmIrE0ce24YUzT1wlHpJetPsljWzdVIcg==}" or lastmile == "^{AAAADAVuRrZj8DzNBAkax7f9qB19UVbKZARFPfO3ZfA7Ix6mw86qD7nRIjMbig==}" or (!(httpapi))
var logenc = trim(substringBefore(substringAfter(substringAfter(payload,"secure::log.encryption.pwd"),"="),"\n"))
var logencflag = logenc == "^{AAAADAsWKthfEhtaLKbu58NAwa2h73gxhFMp66K0b/gZ7Iw583zwajcsoj0SOjyu}" or logenc == "^{AAAADJkUFXB1wKphygfL7Sny19r49lcqCkOE59tzG49LP/wG6UVDqzukyk5rlnQ=}"
---
if(lastmileflag and logencflag) (vars.lastmileandlogencpwdcheck default "") else 
if(sizeOf(vars.lastmileandlogencpwdcheck default "")>1)
(vars.lastmileandlogencpwdcheck default "") ++ "," ++ (vars.currentpropertyfile default "")
else
(vars.currentpropertyfile default "")]]></ee:set-variable>
								<ee:set-variable variableName="vaultstorelocationcheck"><![CDATA[%dw 2.0
output application/java
import * from dw::core::Strings
var storelocation = trim(substringAfter(substringAfter(payload,"vault.storelocation"),"="))
var currentenv = trim(substringBefore(vars.currentpropertyfile,".properties"))
var envcheck = if(currentenv=="DR") "PROD" else if(currentenv=="PREP_LIVE") "PREP" else currentenv
var storeflag = (storelocation contains(lower(envcheck))) and (storelocation contains(lower(vars.reponame default "")))
---
if(storeflag) (vars.vaultstorelocationcheck default "") else 
if(sizeOf(vars.vaultstorelocationcheck default "")>1)
(vars.vaultstorelocationcheck default "") ++ "," ++ (vars.currentpropertyfile default "")
else
(vars.currentpropertyfile default "")
]]></ee:set-variable>
									<ee:set-variable variableName="dbminpoolsizecheck" ><![CDATA[%dw 2.0
output application/java
import * from dw::core::Strings
var minpoolsize = trim(substringBefore(substringAfter(substringAfter(upper(payload),'MINPOOLSIZE'),'='),'\n'))
var acquireincrement = trim(substringBefore(substringAfter(substringAfter(upper(payload),'ACQUIREINCREMENT'),'='),'\n'))
var testconchkout = trim(substringBefore(substringAfter(substringAfter(upper(payload),'TESTCONNECTIONONCHECKOUT'),'='),'\n'))
var testconchkin = trim(substringBefore(substringAfter(substringAfter(upper(payload),'TESTCONNECTIONONCHECKIN'),'='),'\n'))
var maxidlexccons = trim(substringBefore(substringAfter(substringAfter(upper(payload),'MAXIDLETIMEEXCESSCONNECTIONS'),'='),'\n'))
var idlecontestperiod = trim(substringBefore(substringAfter(substringAfter(upper(payload),'IDLECONNECTIONTESTPERIOD'),'='),'\n'))
var idletimecheck = ((maxidlexccons == idlecontestperiod) and (idlecontestperiod=='119') and (!(vars.currentpropertyfile contains("PROD."))) and (!(vars.currentpropertyfile contains("DR.")))) or
					((maxidlexccons == idlecontestperiod) and (idlecontestperiod=='299') and ((vars.currentpropertyfile contains("PROD.")) or (vars.currentpropertyfile contains("DR."))))
var maxstmtpercon = trim(substringBefore(substringAfter(substringAfter(upper(payload),'MAXSTATEMENTSPERCONNECTION'),'='),'\n'))
var prepstmtcache = trim(substringBefore(substringAfter(substringAfter(upper(payload),'PREPAREDSTATEMENTCACHESIZE'),'='),'\n'))
var maxconcheck = prepstmtcache == maxstmtpercon
---
if((payload contains("db.")))
if((minpoolsize<=2 or acquireincrement<5 or testconchkout=='true' or testconchkin == 'false' or idletimecheck==false or maxconcheck==false)) 
	if(sizeOf(vars.dbminpoolsizecheck default "")>1) (vars.dbminpoolsizecheck default "") ++ "," ++ (vars.currentpropertyfile default "")
	else
	(vars.currentpropertyfile default "")
else
(vars.dbminpoolsizecheck default "")
else
(vars.dbminpoolsizecheck default "")
]]></ee:set-variable>
									<ee:set-variable variableName="environmentstringcheck" ><![CDATA[%dw 2.0
output application/java
import * from dw::core::Strings
var currentenv = trim(substringBefore((vars.currentpropertyfile default ""),".properties"))
var stringcheck = (upper(payload) contains('TESTU')) or (upper(payload) contains('TESTQ')) or (upper(payload) contains('TESTX')) or (upper(payload) contains('TESTD')) or (upper(payload) contains('TESTE')) or (upper(payload) contains('TESTF'))
var charcheck = if(currentenv=='PREP' or currentenv=='PREP_LIVE') 'TESTQ' else if(currentenv=='DRL') 'TESTD' else 
					if(currentenv=='TDV' or currentenv=='TDV1' or currentenv=='MNE') 'TESTE' else if(currentenv=='ATDV' or currentenv=='SBX' or currentenv=='ATDV1') 'TESTF' else if(currentenv=='IBF' or currentenv=='MNE2') 'TESTM' else if(currentenv=='ITE') "TESTU" else if(currentenv=='PITE') "TESTX" else if(currentenv=='TRN') "TESTR" else if(currentenv=='PROD') 'PROD' else "TESTU"
var payloadcheck = (upper(payload)) contains(charcheck)
var testcheck = (upper(payload)) contains('PTEST')
---
if(testcheck)
	if(payloadcheck) (vars.environmentstringcheck default "") else
	if(sizeOf(vars.environmentstringcheck default "")>1) (vars.environmentstringcheck default "") ++ "," ++ (vars.currentpropertyfile default "") else vars.currentpropertyfile
else
	(vars.environmentstringcheck default "")
]]></ee:set-variable>
							</ee:variables>
						</ee:transform>
						<ee:transform doc:name="Transform Message" doc:id="98c4c69e-2643-47ef-890b-408e615b6240">
							<ee:message>
								<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload filter (v,i)-> (!(v contains("#"))) and sizeOf(trim(v default ""))>1]]></ee:set-payload>
							</ee:message>
							<ee:variables>
								<ee:set-variable variableName="propertycount"><![CDATA[%dw 2.0
output application/java
var filteredpayload=payload filter (v,i)-> (!(v contains("#"))) and sizeOf(trim(v default ""))>1
var count = sizeOf(filteredpayload default "")
---
if((vars.propertycount default 0)>0) (vars.propertycount default 0) else count]]></ee:set-variable>
								<ee:set-variable variableName="countofsecureproperties"><![CDATA[%dw 2.0
output application/java
var secureprop = payload filter (v,i)-> v contains("secure::")
---
sizeOf(secureprop default "")]]></ee:set-variable>

							</ee:variables>
						</ee:transform>
						<ee:transform doc:name="Transform Message" doc:id="382759f1-0617-40c7-aa3f-c4afb91535d8">
							<ee:message>
							</ee:message>
							<ee:variables>
								<ee:set-variable variableName="propertycountcheck"><![CDATA[%dw 2.0
output application/java
var count=sizeOf(payload default "")
---
if(((vars.propertycount default 0) == count) or ((vars.propertycount default 0)==0))
(vars.propertycountcheck default "")
else
if(sizeOf(vars.propertycountcheck default "")>0)
(vars.propertycountcheck default "") ++  "," ++ (vars.currentpropertyfile default "")
else
(vars.currentpropertyfile default "")
]]></ee:set-variable>
							</ee:variables>
						</ee:transform>
						<foreach doc:name="For Each" doc:id="3d7c58e2-e3ab-43b6-9e65-71d8f8181840" collection="#[payload]">
							<choice doc:name="Choice" doc:id="73ce28d5-78b7-440a-bc70-58f26b798fda">
								<when expression='#[(payload contains("secure::"))]'>
										<ee:transform doc:name="Transform Message" doc:id="9e607505-8ed5-4359-8b00-2b7f01309d4c">
								<ee:message>
								</ee:message>
								<ee:variables>
									<ee:set-variable variableName="useridregexcheck"><![CDATA[%dw 2.0
output application/java
import * from dw::core::Strings
var currentenv = trim(substringBefore((vars.currentpropertyfile default ""),".properties"))
var currentcred = trim(substringAfter(payload,"="))
var currentproperty = trim(substringBefore(payload,"="))
var credfile = vars.credential
var useridcheck = currentproperty contains('userid')
var decrypteduseridfrommaster=trim(substringAfterLast(substringBefore(vars.credential,(',' ++ currentcred)),'\n'))
var lastcharcheck = if(currentenv=='PREP' or currentenv=='PREP_LIVE') 'Q' else if(currentenv=='DRL') 'D' else if(currentenv=='PROD' or currentenv=='DR') 'P' else 
					if(currentenv=='TDV' or currentenv=='ATDV' or currentenv=='SBX' or currentenv=='ATDV' or currentenv=='MNE' or currentenv=='ITE' or currentenv=='IBF' or currentenv=='MNE2') 'T' else 'T'
var decrypteduseridfrommastercharcheck = (decrypteduseridfrommaster last 1) contains('lastcharcheck')
var tibusercheck = currentproperty contains('CTIB')
---
if(tibusercheck)
	if(decrypteduseridfrommastercharcheck) (vars.useridregexcheck default "") else
	if(sizeOf(vars.useridregexcheck default "")>1) (vars.useridregexcheck default "") ++ "," ++ (vars.currentpropertyfile) else (vars.currentpropertyfile)
else
	(vars.useridregexcheck default "")]]></ee:set-variable>
									<ee:set-variable variableName="encryptedpropertyvalidation"><![CDATA[%dw 2.0
output application/java
import * from dw::core::Strings
var encvalue = if(payload contains('vault.clientid')) ("") else trim(substringAfter(payload,"="))
---
if((vars.credential default "") contains(encvalue)) (vars.encryptedpropertyvalidation default "") else
if((sizeOf(vars.encryptedpropertyvalidation default "")>1)) 
	if((((vars.encryptedpropertyvalidation default "") contains(vars.currentpropertyfile default ""))))
		//if((vars.encryptedpropertyvalidation default "") contains(encvalue))
		//(vars.encryptedpropertyvalidation default "") 
		//else
		(vars.encryptedpropertyvalidation default "") ++ "~" ++ encvalue
	else
	(vars.encryptedpropertyvalidation default "") ++ "," ++ (vars.currentpropertyfile default "") ++ "~" ++ encvalue
else
(vars.currentpropertyfile default "") ++ "~" ++ encvalue]]></ee:set-variable>
												<ee:set-variable variableName="currentpropertyvar" ><![CDATA[%dw 2.0
output application/java
import * from dw::core::Strings
var currentenv = trim(substringBefore((vars.currentpropertyfile default ""),".properties"))
var currentcred = trim(substringAfter(payload,"="))
var currentproperty = trim(substringBefore(payload,"="))
---
currentproperty]]></ee:set-variable>
												<ee:set-variable variableName="currentcredvar" ><![CDATA[%dw 2.0
import * from dw::core::Strings
---
trim(substringAfter(payload,"=") default "")]]></ee:set-variable>
												<ee:set-variable variableName="currentenvvar" ><![CDATA[%dw 2.0
output application/java
import * from dw::core::Strings
var currentenv = trim(substringBefore((vars.currentpropertyfile default ""),".properties"))

---
currentenv]]></ee:set-variable>
												<ee:set-variable variableName="useridformat" ><![CDATA[output application/java
import * from dw::core::Strings
var currentenv = trim(substringBefore((vars.currentpropertyfile default ""),".properties"))
var currentcred = trim(substringAfter(payload,"="))
var currentproperty = trim(substringBefore(payload,"="))
var credfile = trim(vars.credential default "")
var currentpropertyvalidation = credfile contains(currentcred)
var credtype = if(payload contains("userid")) "userid" else "password"
var altcredvaluefromfile = if((credtype=="userid") or (currentproperty contains('clientid'))) trim(substringBefore(substringAfter(vars.credential,(currentcred ++ ",")),"\n")) else trim(substringAfterLast(substringBeforeLast(vars.credential,("," ++ currentcred)),","))
var replacedstring = if(currentproperty contains("userid")) replaceAll(replaceAll(currentproperty,"userid","password"),"secure::","") else if(currentproperty contains("clientid")) replaceAll(replaceAll(currentproperty,"clientid","clientsecret"),"secure::","") else if(currentproperty contains("clientsecret")) replaceAll(replaceAll(currentproperty,"clientsecret","clientid"),"secure::","") else replaceAll(replaceAll(currentproperty,"password","userid"),"secure::","")
//var fetchvalue = trim(substringBefore(substringAfter(substringAfter(vars.currentpropertyfilecontent,(replacedstring)),"="),'\n') default "")
//var replacedfetchvalue = if(sizeOf(fetchvalue)>0) trim(substringBefore(substringAfter(substringAfter(vars.currentpropertyfilecontent,(replacedstring)),"="),'\n') default "") else trim(substringBefore(substringAfter(substringAfter(vars.currentpropertyfilecontent,("\n" ++ replacedstring)),"="),'\n') default "")
var replacedfetchvalue = if(sizeOf(trim(substringBefore(substringAfter(substringAfter(vars.currentpropertyfilecontent,("\n" ++ replacedstring)),"="),'\n') default ""))>0) trim(substringBefore(substringAfter(substringAfter(vars.currentpropertyfilecontent,("\n" ++ replacedstring)),"="),'\n') default "") else trim(substringBefore(substringAfter(substringAfter(vars.currentpropertyfilecontent,(replacedstring)),"="),'\n') default "")
//var decuseridfrommasterfile = if(currentproperty contains("userid")) substringBefore(currentcred,("," ++ currentcred)) else replaceAll(currentproperty,"password","userid")
---
replacedfetchvalue
]]></ee:set-variable>
												<ee:set-variable variableName="currentfullpropertyvar" ><![CDATA[payload]]></ee:set-variable>
									
												
											
									
								</ee:variables>
							</ee:transform>
										<choice doc:name="Choice" doc:id="8388ca41-219f-40e2-bbf2-ed59658a21db">
											<when expression='#[%dw 2.0&#10;output application/java&#10;---&#10;((payload contains("secure::")) and ((payload contains("password")) or (payload contains("vault.clientsecret"))) &#10;and (!(upper(vars.useridformat) contains("PROD"))) &#10;and (!(upper(vars.currentpropertyfile) contains("PROD"))) and (!(upper(vars.currentpropertyfile) contains("DR"))) and (!(vars.useridformat contains("^{"))) ) or (payload contains("vault.clientid"))]'>
												<set-variable value="#[%dw 2.0&#10;output application/java&#10;import * from dw::core::Strings&#10;var currentenv = trim(substringBefore((vars.currentpropertyfile default &quot;&quot;),&quot;.properties&quot;))&#10;var currentcred = trim(substringAfter(payload,&quot;=&quot;))&#10;var currentproperty = trim(substringBefore(payload,&quot;=&quot;))&#10;var credfile = trim(vars.credential default &quot;&quot;)&#10;var currentpropertyvalidation = credfile contains(currentcred)&#10;var credtype = if(payload contains(&quot;userid&quot;)) &quot;userid&quot; else &quot;password&quot;&#10;var altcredvaluefromfile = if((credtype==&quot;userid&quot;) or (currentproperty contains('clientid'))) trim(substringBefore(substringAfter(vars.credential,(currentcred ++ &quot;,&quot;)),&quot;\n&quot;)) else trim(substringAfterLast(substringBeforeLast(vars.credential,(&quot;,&quot; ++ currentcred)),&quot;,&quot;))&#10;---&#10;altcredvaluefromfile]" doc:name="Set Variable" doc:id="ea0db36e-25e1-4e72-9ab7-b2723e039d82" variableName="encpwd" />
												<choice doc:name="Choice" doc:id="7bca1532-7ef2-43b7-8831-07432cb18d5e" >
													<when expression='#[(!(upper(vars.encpwd) contains("PROD"))) and (!(upper(payload) contains("VAULT.CLIENTID")))]'>
														<set-payload value='#[%dw 2.0&#10;output application/x-www-form-urlencoded&#10;---&#10;{&#10;"password":vars.encpwd,&#10;"mode":"decrypt",&#10;"algType":"gcm"&#10;}]' doc:name="Set Payload" doc:id="517624cb-3cc8-46da-8850-e8f72d929d10" />
														<try doc:name="Try" doc:id="4958f946-1f7c-471d-bde6-4290a8da6b73">
															<http:request method="POST" doc:name="Request" doc:id="de1088d2-4ea0-44bb-a554-5bc0593d5684" config-ref="PWDDecrypt" path="/encryption-utility-np/home/nonprod/convert" target="useridconv">
											<http:headers><![CDATA[#[{
	"Content-Type" : "application/x-www-form-urlencoded",
	"Accept" : "*/*",
	"Accept-Encoding" : "gzip, deflate, br",
	"Connection" : "keep-alive"
}]]]></http:headers>
										</http:request>
															<error-handler>
																<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="9ec19692-3b6f-4190-bdda-1007be5c6ffa">
																	<logger level="INFO" doc:name="Logger" doc:id="2978132f-d581-4633-87fc-23fd8e6ac8c4" message='#[%dw 2.0&#10;output application/java&#10;---&#10;"Invalid encrypted value received - " ++ (vars.currentcredvar default "")]'/>
																</on-error-continue>
															</error-handler>
														</try>
														<ee:transform doc:name="Transform Message" doc:id="e8a521b2-210e-4934-b88c-e4b4e33d6953">
											<ee:message>
											</ee:message>
											<ee:variables>
												<ee:set-variable variableName="usercredsvalidation"><![CDATA[%dw 2.0
output application/java
import * from dw::core::Strings
var currentenv = vars.currentenvvar
var currentcred = vars.currentcredvar
var currentproperty = trim(substringBefore(vars.currentpropertyvar,"="))
var credfile = trim(vars.credential default "")
var currentpropertyvalidation = credfile contains(currentcred)
var altcredvaluefromfile = trim(vars.useridconv default "")
var replacedfetchvalue = trim(vars.useridformat default "")
//var decuseridfrommasterfile = if(currentproperty contains("userid")) substringBefore(currentcred,("," ++ currentcred)) else replaceAll(currentproperty,"password","userid")
---
if((currentpropertyvalidation and replacedfetchvalue==altcredvaluefromfile) or (upper(altcredvaluefromfile) contains("PROD")) or (vars.currentpropertyvar contains('truststore')) or (vars.currentpropertyvar contains('keystore'))) (vars.usercredsvalidation default "") else 
	if((sizeOf(vars.usercredsvalidation default "")>1))
		if((((vars.usercredsvalidation default "") contains("\n" ++ vars.currentpropertyfile default "")) or ((vars.usercredsvalidation default "") contains("," ++ vars.currentpropertyfile default ""))))
			(vars.usercredsvalidation default "") ++ "~" ++ currentcred
		else
			(vars.usercredsvalidation default "") ++ "," ++ (vars.currentpropertyfile default "") ++ "~" ++ currentcred
	else
(vars.currentpropertyfile default "") ++ "~" ++ currentcred]]></ee:set-variable>
											</ee:variables>
										</ee:transform>
													</when>
												</choice>
											</when>
											<when expression='#[(vars.useridformat contains("^{"))]'>
												<ee:transform doc:name="Transform Message" doc:id="b97f2f9e-db24-4223-8a87-a1f24473a231">
													<ee:message>
													</ee:message>
													<ee:variables>
														<ee:set-variable variableName="usercredsvalidation"><![CDATA[%dw 2.0
output application/java
import * from dw::core::Strings
var currentenv = trim(substringBefore((vars.currentpropertyfile default ""),".properties"))
var currentcred = trim(substringAfter(payload,"="))
var currentproperty = trim(substringBefore(payload,"="))
var credfile = trim(vars.credential default "")
var currentpropertyvalidation = credfile contains(currentcred)
var credtype = if(payload contains("userid")) "userid" else "password"
var altcredvaluefromfile = if((credtype=="userid") or (currentproperty contains('clientid'))) trim(substringBefore(substringAfter(vars.credential,(currentcred ++ ",")),"\n")) else trim(substringAfterLast(substringBeforeLast(vars.credential,("," ++ currentcred)),","))
var replacedstring = if(currentproperty contains("userid")) replaceAll(currentproperty,"userid","password") else if(currentproperty contains("clientid")) replaceAll(currentproperty,"clientid","clientsecret") else if(currentproperty contains("clientsecret")) replaceAll(currentproperty,"clientsecret","clientid") else replaceAll(currentproperty,"password","userid")
var replacedfetchvalue = if(sizeOf(trim(substringBefore(substringAfter(substringAfter(vars.currentpropertyfilecontent,(replacedstring)),"="),"\n")))>0) trim(substringBefore(substringAfter(substringAfter(vars.currentpropertyfilecontent,(replacedstring)),"="),"\n")) else trim(substringAfter(substringAfter(vars.currentpropertyfilecontent,(replacedstring)),"=") default "")
//var decuseridfrommasterfile = if(currentproperty contains("userid")) substringBefore(currentcred,("," ++ currentcred)) else replaceAll(currentproperty,"password","userid")
---

if((currentpropertyvalidation and replacedfetchvalue==altcredvaluefromfile) or (upper(altcredvaluefromfile) contains("PROD")) or (payload contains('truststore'))  or (payload contains('keystore'))) (vars.usercredsvalidation default "") else 
	if((sizeOf(vars.usercredsvalidation default "")>1))
		if((((vars.usercredsvalidation default "") contains(vars.currentpropertyfile default ""))))
			(vars.usercredsvalidation default "") ++ "~" ++ currentcred
		else
			(vars.usercredsvalidation default "") ++ "," ++ (vars.currentpropertyfile default "") ++ "~" ++ currentcred
	else
(vars.currentpropertyfile default "") ++ "~" ++ currentcred]]></ee:set-variable>

													</ee:variables>
												</ee:transform>
											</when>
										</choice>
										<set-payload value="#[vars.currentfullpropertyvar]" doc:name="Set Payload" doc:id="d3560f54-f288-4e25-a91b-225b9213b225" />
								</when>
								<when expression='#[(payload contains("vault.client"))]'>
									<ee:transform doc:name="Transform Message" doc:id="d5bdcd76-a6dc-40f5-808b-5ffd59ca7878">
										<ee:message>
										</ee:message>
										<ee:variables>
											<ee:set-variable variableName="securevaultclientcheck"><![CDATA[%dw 2.0
output application/java
import * from dw::core::Strings
var vaultcred = if(payload contains("secure::vault.clientid")) trim(substringAfter(substringAfter(payload,"secure::vault.clientid"),"=")) else trim(substringAfter(substringAfter(payload,"secure::vault.clientsecret"),"="))
var credmatchflag = vaultcred == "^{AAAADFZSrvozPTG7X1O/Yw/OjneMDuNNZojVhA+G3jXjQRtb5w1/TtYDZSWpuSUwAT5P+LpDcFiy5Uyaioj4Fw==}" or vaultcred == "^{AAAADP6GByeRkjymsbHt+Qt2JMHbUjHcucts17UXGIuKEqSfLzpk18N9kqpjvDnnnw0Xa0j8IcPymWB+kr1OEA==}" or vaultcred == "^{AAAADO21Qve+jnBDSwfmwVoTnOZz2Mw5HDX2g3ImiKnkZq+pluY9Rq3lI/GrfVmPVnL2YS9fer+tlLZVcIAeSA==}" or vaultcred == "^{AAAADNtDzIhg1RiHrCBw9ZA5WikWXQ5nIlXo4ypjvsePHMilFrKU2LtCHnvMBX0ZONZS2UkKii9a8IEfafdgnA==}"
---
if(sizeOf(vaultcred)>1)
if((credmatchflag)) (vars.securevaultclientcheck default "") else 
	
	if(sizeOf(vars.securevaultclientcheck default "")>1)
	if((vars.securevaultclientcheck contains(vars.currentpropertyfile default ""))) (vars.securevaultclientcheck default "") else
	(vars.securevaultclientcheck default "") ++ "," ++ (vars.currentpropertyfile default "")
	
	else

(vars.currentpropertyfile default "")
else
(vars.securevaultclientcheck default "")]]></ee:set-variable>
										</ee:variables>
									</ee:transform>
								</when>
								<when expression="#[(payload contains('db.url')) and ((payload contains('wil-')) or (payload contains('db2')))]">
										<ee:transform doc:name="Transform Message" doc:id="6087ebd2-e4a1-4436-b3ac-9408d83bfca2" >
											<ee:message >
											</ee:message>
											<ee:variables >
												<ee:set-variable variableName="internaldomaincheck" ><![CDATA[%dw 2.0
output application/java
var domain=(payload contains('bbtnet')) or (payload contains('truist-tst.com'))
---
if(domain) (vars.internaldomaincheck default "") else

	if(sizeOf(vars.internaldomaincheck default "")>1) 
	if((vars.internaldomaincheck default "") contains((vars.currentpropertyfile default "")))
	(vars.internaldomaincheck default "")
	else
	(vars.internaldomaincheck default "") ++ "," ++ (vars.currentpropertyfile default "") 
	
	else (vars.currentpropertyfile default "")]]></ee:set-variable>
											</ee:variables>
										</ee:transform>
									</when>
									<otherwise>
									<ee:transform doc:name="Transform Message" doc:id="0331a54d-d12a-4b36-83f8-13994ade0ef0">
										<ee:message>
											
										</ee:message>
										<ee:variables>
											<ee:set-variable variableName="ipaddresscheck"><![CDATA[%dw 2.0
output application/java
import * from dw::core::Strings
var ipaddress = isNumeric(substringAfterLast(substringAfter(payload,"="),".")) and (payload contains('host'))
---
if(ipaddress) 
	if(sizeOf(vars.ipaddresscheck default "")>1) 
	if((vars.ipaddresscheck default "") contains((vars.currentpropertyfile default "")))
	(vars.ipaddresscheck default "")
	else
	(vars.ipaddresscheck default "") ++ "," ++ (vars.currentpropertyfile default "") 
	else (vars.currentpropertyfile default "")
else
(vars.ipaddresscheck default "")]]></ee:set-variable>
										</ee:variables>
									</ee:transform>
								</otherwise>
							</choice>
								<choice doc:name="Choice" doc:id="146e0445-4fc5-4e46-aa37-851d2b4a1948" >
									<when expression="#[(!(payload contains('logging.level'))) and (!(payload contains('log.encryption'))) and (!(payload contains('vault'))) and (!(payload contains('lastmile'))) and (!(payload contains('anypoint.platform.config.analytics.agent.enabled')))]">
										<ee:transform doc:name="Transform Message" doc:id="3d4e1f35-b20d-41b8-8b81-0f803ac3946a">
									<ee:message>
									</ee:message>
									<ee:variables>
										<ee:set-variable variableName="unusedpropertycheck"><![CDATA[%dw 2.0
output application/java
import * from dw::core::Strings
var content = if(trim(substringBefore(payload,'=')) contains('secure')) trim(substringBefore(substringAfter(payload,'secure::'),'=')) else trim(substringBefore(payload,'='))
var valuecheck = (vars.allmulexmlfilescontent contains(content)) or ((vars.muleapppropertycontent countMatches(content))>1)
---
if(valuecheck or (content contains('sendDebugPayloadtoLogger'))) (vars.unusedpropertycheck default "") else 
	if(sizeOf(vars.unusedpropertycheck default "")>1) 
		if((vars.unusedpropertycheck default "") contains(vars.currentpropertyfile default ""))
		(vars.unusedpropertycheck default "") ++ "," ++ content
		else
		(vars.unusedpropertycheck default "") ++ "~" ++ (vars.currentpropertyfile default "") ++ "," ++ content
else (vars.currentpropertyfile default "") ++ "," ++ content]]></ee:set-variable>
									</ee:variables>
								</ee:transform>
									</when>
								</choice>
						</foreach>
					</when>
					<when expression='#[payload contains(".policy")]'>
						<file:read doc:name="Read" doc:id="c5dfc5c2-6236-40a8-a786-56fd22378bca" config-ref="File_Config" path="#[payload]" outputMimeType="text/plain" />
						<ee:transform doc:name="Transform Message" doc:id="bed28f52-6c0f-4587-8db0-eacebeb117fd">
							<ee:message>
							</ee:message>
							<ee:variables>
								<ee:set-variable variableName="currentpolicyfile"><![CDATA[%dw 2.0
output application/java
---
attributes.fileName]]></ee:set-variable>
								<ee:set-variable variableName="currentpolicyfilecontent"><![CDATA[%dw 2.0
output text/plain
---
payload]]></ee:set-variable>
							</ee:variables>
						</ee:transform>
						<ee:transform doc:name="Transform Message" doc:id="32383810-cfc0-4627-a2b6-60743283b230">
							<ee:message>
								<ee:set-payload><![CDATA[%dw 2.0
output application/java
---
payload splitBy("\n")]]></ee:set-payload>
							</ee:message>
							<ee:variables>
								<ee:set-variable variableName="ratelimit"><![CDATA[%dw 2.0
output application/java
import * from dw::core::Strings
var masterratelimit = trim(substringBefore(substringAfter(vars.ratelimitsandclustertypes,('\n' ++ vars.currentapiname ++ ",")),","))
var currentratelimit = trim(substringBefore(substringAfter(payload,"ratelimit.policy.rate="),"\n"))
var compareflag = masterratelimit == currentratelimit
---
if(sizeOf(masterratelimit)>0)
if(compareflag) (vars.ratelimit default "") 
else 
	if(sizeOf(vars.ratelimit default "")>1) (vars.ratelimit default "") ++ "," ++ (vars.currentpolicyfile default "")
	else
	(vars.currentpolicyfile default "")
else
""]]></ee:set-variable>
									<ee:set-variable variableName="contractsappliedcheck" ><![CDATA[output application/java
import * from dw::core::Strings
var appliedvarflag = substringAfter(substringAfter(payload,'api.contracts.applied'),'=')
var commentcheckvar = substringAfterLast(substringBefore(payload,'api.contracts.applied'),'\n')
var commentcheck = commentcheckvar contains('#')
---
if(commentcheck or appliedvarflag==false)
	if(sizeOf(vars.contractsappliedcheck default "")>1) (vars.contractsappliedcheck default "") ++ "," ++ (vars.currentpolicyfile default "") else (vars.contractsappliedcheck default "")
else
	(vars.contractsappliedcheck default "")]]></ee:set-variable>
									<ee:set-variable variableName="hcclientidcheck" ><![CDATA[output application/java
import * from dw::core::Strings
var hcvar = substringAfter(substringAfter(payload,'api.contracts.list'),'=')
var env = substringBefore(vars.currentpolicyfile,'.policy')
var hcvalue = if(env=='DR' or env=='PROD') 'HC' else 'HC_NonProd'
var hcvarflag = hcvar contains(hcvalue)
var commentcheckvar = substringAfterLast(substringBefore(payload,'api.contracts.list'),'\n')
var commentcheck = commentcheckvar contains('#')
---
if(hcvarflag and commentcheck==false) (vars.hcclientidcheck default "") else
	if(sizeOf(vars.hcclientidcheck default "")>1) (vars.hcclientidcheck default "") ++ "," ++ (vars.currentpolicyfile default "") else (vars.currentpolicyfile default "")
]]></ee:set-variable>
									<ee:set-variable variableName="authzpolversioncheck" ><![CDATA[%dw 2.0
output application/java
import * from dw::core::Strings
var polexists = payload contains('truist.authz.policy.version')
var versioncheck = (trim(substringBefore(substringAfter(substringAfter(payload,'truist.authz.policy.version'),'='),'\n'))) == '1.0.5'
var assettype = (trim(substringBefore(substringAfter(substringAfter(payload,'truist.authz.policy.assettype'),'='),'\n'))) == '"soap"' or 
				(trim(substringBefore(substringAfter(substringAfter(payload,'truist.authz.policy.assettype'),'='),'\n'))) == '"rest"' or 
				upper((trim(substringBefore(substringAfter(substringAfter(payload,'truist.authz.policy.assettype'),'='),'\n')))) == '"BATCH"' 
---
if(polexists)
if(assettype and versioncheck) 'Pass' else '<span class="failed">Fail - Please use latest version of AuthZ policy with asset type</span>'
else
'N/A']]></ee:set-variable>
							</ee:variables>
						</ee:transform>
					</when>
					<otherwise>
						<file:read doc:name="Read" doc:id="f76d0b49-2831-463c-a915-408d16c7a403" config-ref="File_Config" path="#[payload]" />
							<choice doc:name="Choice" doc:id="5d433054-4e4c-4e47-a986-ebb7854b3917">
								<when expression="#[attributes.fileName contains('targetconfig.json')]">
									<ee:transform doc:name="Transform Message" doc:id="ceb76d6b-e590-49c1-891e-c61de811d6f1">
								<ee:message>
									<ee:set-payload><![CDATA[%dw 2.0
output application/java
---
{
}]]></ee:set-payload>
								</ee:message>
										<ee:variables >
											<ee:set-variable variableName="targetconfigendpointcheck" ><![CDATA[%dw 2.0
output application/java
var stringcheck = payload contains('url.1-way-ingress-https-api,url.2-way-ingress-https-api')
---
if(stringcheck) (vars.targetconfigendpointcheck default "") else
	if(sizeOf(vars.targetconfigendpointcheck default "")>1) (vars.targetconfigendpointcheck default "") ++ (vars.currentapiname) 
	else (vars.currentapiname)]]></ee:set-variable>
										</ee:variables>
							</ee:transform>
								</when>
							</choice>
					</otherwise>
				</choice>
			</foreach>
				<error-handler >
					<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="696fccdc-57f1-4acf-9254-8d2b79663a5a" >
						<choice doc:name="Choice" doc:id="074004a6-8f01-4ec6-9a18-85b3e53b4111" >
							<when expression="#[sizeOf(vars.apiname default 1)&gt;1]" >
								<set-variable value='#[output application/java&#10;var failedservice = vars.failedservice default ""&#10;var currentapi = vars.currentapiname default ""&#10;---&#10;if(sizeOf(failedservice)&gt;1) failedservice ++ ", " ++ currentapi else currentapi]' doc:name="Set Variable" doc:id="6bf8303a-2f46-4f61-9ce3-37942edc2236" variableName="failedservice" />
							</when>
							<otherwise >
								<parse-template doc:name="Parse Template" doc:id="ff120f98-650b-496b-a5d3-621757992317" location="web\cloningerror.html" />
							</otherwise>
						</choice>
					</on-error-continue>
				</error-handler>
			</try>
			<foreach doc:name="For Each" doc:id="300e7af9-cc01-48cb-ae1c-eb15f1419338" collection="#[vars.policyfilesvar]">
				<set-variable value="#[payload]" doc:name="Set Variable" doc:id="5f5d8580-0322-4b43-b928-c977dcaea2c8" variableName="currentpolicyfile"/>
				<file:read doc:name="Read" doc:id="8c5e9d7e-a754-4f52-853c-31f3bc4ac208" config-ref="File_Config" path="#[payload]"/>
				<ee:transform doc:name="Transform Message" doc:id="ca9b27ce-612b-404f-83d0-9676d747ee95">
				<ee:message>
					<ee:set-payload><![CDATA[%dw 2.0
output application/java
var appliedprop = payload splitBy('\n')
---
appliedprop filter(v,i)-> (v contains('.applied')) and (v contains('false'))]]></ee:set-payload>
				</ee:message>
			</ee:transform>
				<foreach doc:name="For Each" doc:id="a5ede28b-60d8-4019-bec2-8ca77d8e8a44" collection="#[payload]">
					<ee:transform doc:name="Transform Message" doc:id="d5550b25-95d9-4d94-9bce-6341229649bf">
					<ee:message>
					</ee:message>
						<ee:variables >
							<ee:set-variable variableName="policyenabledcheck" ><![CDATA[%dw 2.0
output application/java
import * from dw::core::Strings
var currentpolicyfile = substringAfterLast(vars.currentpolicyfile default "",'\\')
---
if(sizeOf(vars.policyenabledcheck default "")>1) 
	if((vars.policyenabledcheck default "") contains(currentpolicyfile))
	(vars.policyenabledcheck default "") ++ "," ++ payload
	else
	(vars.policyenabledcheck default "") ++ "~" ++ currentpolicyfile ++ "," ++ payload

else
currentpolicyfile ++ "," ++ payload]]></ee:set-variable>
						</ee:variables>
				</ee:transform>
				</foreach>
			</foreach>
			<try doc:name="Try" doc:id="e2af937b-5a15-49a9-afa8-f1bf8b9e12c9" >
				<ee:transform doc:name="Transform Message" doc:id="94630b1f-746f-40fb-95fa-9a09742051d2" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
if(trim(vars.reponame default "") == 'EAPI01')
("/api/v4/projects/21040/repository/files/" ++ (vars.currentapiname default "") ++ "%2f" ++ (vars.currentapiname default "") ++ "_soapui_project.xml/raw?ref=master&private_token=" ++ "${password.gitlab}")
else if(trim(vars.reponame default "") == 'EAPI02')
("/api/v4/projects/27094/repository/files/" ++ (vars.currentapiname default "") ++ "%2f" ++ (vars.currentapiname default "") ++ "_soapui_project.xml/raw?ref=master&private_token=" ++ "${password.gitlab}")
else
("/api/v4/projects/14095/repository/files/" ++ (vars.currentapiname default "") ++ "%2f" ++ (vars.currentapiname default "") ++ "_soapui_project.xml/raw?ref=master&private_token=" ++ "${password.gitlab}")]]></ee:set-payload>
					</ee:message>
				</ee:transform>
				<http:request method="GET" doc:name="SOAPUI" doc:id="0d684fcf-4610-4fe7-afcb-eead77fdc8e1" config-ref="GetCredential" path="#[payload]" target="soapuinamecheck"/>
				<error-handler >
					<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="3ea6c7f0-bac6-4bd2-b894-063026ee0911" >
						<logger level="INFO" doc:name="Logger" doc:id="9d89819d-fa97-4a7b-92de-2bdfaef21ee9" message="SOAP UI project not found in Git or naming convention not followed for SOAP UI project"/>
					</on-error-continue>
				</error-handler>
			</try>
			<try doc:name="Try" doc:id="0d20f158-732a-4807-a2a6-edff8d746dde" >
				<ee:transform doc:name="Transform Message" doc:id="37f02600-0e23-4078-be18-5eec30b6836a" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
if(trim(vars.reponame default "") =='EAPI01')
"/api/v4/projects/21040/repository/files/" ++ (vars.currentapiname default "") ++ "%2f" ++ (vars.currentapiname default "") ++ "_SDD.docx/raw?ref=master&private_token=" ++ "${password.gitlab}"
else if(trim(vars.reponame default "") =='EAPI02')
"/api/v4/projects/27094/repository/files/" ++ (vars.currentapiname default "") ++ "%2f" ++ (vars.currentapiname default "") ++ "_SDD.docx/raw?ref=master&private_token=" ++ "${password.gitlab}"
else
"/api/v4/projects/14095/repository/files/" ++ (vars.currentapiname default "") ++ "%2f" ++ (vars.currentapiname default "") ++ "_SDD.docx/raw?ref=master&private_token=" ++ "${password.gitlab}"]]></ee:set-payload>
					</ee:message>
				</ee:transform>
				<http:request method="GET" doc:name="SDD" doc:id="f63f9a2e-baf9-4775-9636-efa8e843c4e2" config-ref="GetCredential" path="#[payload]" target="apisdd" />
				<error-handler >
					<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="6b7293a0-052e-477d-83d5-340e102ec2d4" >
						<logger level="INFO" doc:name="Logger" doc:id="e7ba943c-94cd-403c-bc06-64f97a171be7" message="SDD not found in Git or naming convention not followed for SDD"/>
					</on-error-continue>
				</error-handler>
			</try>
			<try doc:name="Try1" doc:id="dfd520b6-90ab-4011-9843-9509052a51fc">
				<ee:transform doc:name="Transform Message" doc:id="14b18502-c158-40cb-917f-57b4c88d0dc4" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
if(trim(vars.reponame default "") =='EAPI01')
"/api/v4/projects/21040/repository/files/" ++ (vars.currentapiname default "") ++ "%2f" ++ (vars.currentapiname default "") ++ "_SDD.doc/raw?ref=master&private_token=" ++ "${password.gitlab}"
else if(trim(vars.reponame default "") =='EAPI02')
"/api/v4/projects/27094/repository/files/" ++ (vars.currentapiname default "") ++ "%2f" ++ (vars.currentapiname default "") ++ "_SDD.doc/raw?ref=master&private_token=" ++ "${password.gitlab}"
else
"/api/v4/projects/14095/repository/files/" ++ (vars.currentapiname default "") ++ "%2f" ++ (vars.currentapiname default "") ++ "_SDD.doc/raw?ref=master&private_token=" ++ "${password.gitlab}"]]></ee:set-payload>
					</ee:message>
				</ee:transform>
				<http:request method="GET" doc:name="SDD" doc:id="ee897b94-bafc-445b-914e-b1b10011a961" config-ref="GetCredential" path="#[payload]" target="apisdddoc" />
				<error-handler>
					<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="03ca1b5e-4c9f-43fb-b5a7-4df7212b379d">
						<logger level="INFO" doc:name="Logger" doc:id="807395cd-9d10-43f0-bd75-b1a9c5904220" message="SDD not found in Git or naming convention not followed for SDD" />
					</on-error-continue>
				</error-handler>
			</try>
			<ee:transform doc:name="Transform Message" doc:id="a03dde47-8687-4191-acb0-b8a31560af78" >
				<ee:message >
				</ee:message>
				<ee:variables >
					<ee:set-variable variableName="autodeployflownamecheck" ><![CDATA[%dw 2.0
output application/java
import * from dw::core::Strings
---
if(sizeOf(vars.autodeployflowname default "")>1) '<span class="failed">Fail - please correct auto-deploy flow name in - ' ++ (vars.autodeployflowname default "") ++ '</span>' else "Pass"]]></ee:set-variable>
					<ee:set-variable variableName="cicsdbnamingconventioncheck" ><![CDATA[%dw 2.0
output application/java
import * from dw::core::Strings
---
if(sizeOf(vars.cicsdbnamingconventioncheck default "")>1) '<span class="failed">Fail - CICS/DB naming conventions not followed in - ' ++ (vars.cicsdbnamingconventioncheck default "") ++ '</span>' else "Pass"]]></ee:set-variable>
					<ee:set-variable variableName="tibcocredsusagecheck" ><![CDATA[%dw 2.0
output application/java
import * from dw::core::Strings
---
if(sizeOf(vars.tibcocredsusagecheck default "")>1) '<span class="failed">Fail - Tibco credentials are used in - ' ++ (vars.tibcocredsusagecheck default "") ++ '</span>' else "Pass"]]></ee:set-variable>
					<ee:set-variable variableName="logpropertiescheck" ><![CDATA[%dw 2.0
output application/java
import * from dw::core::Strings
---
if(sizeOf(vars.logpropertiescheck default "")>1) '<span class="failed">Fail - Please add DEBUG logger properties or remove duplicates in - ' ++ (vars.logpropertiescheck default "") ++ '</span>' else "Pass"]]></ee:set-variable>
					<ee:set-variable variableName="datapowerendpointcheck" ><![CDATA[%dw 2.0
output application/java
import * from dw::core::Strings
---
if(sizeOf(vars.datapowerendpointcheck default "")>1) '<span class="failed">Fail - Datapower endpoint used in - ' ++ (vars.datapowerendpointcheck default "") ++ '</span>' else "Pass"]]></ee:set-variable>
					<ee:set-variable variableName="assettypecheck" ><![CDATA[%dw 2.0
output application/java
import * from dw::core::Strings
---
if(sizeOf(vars.assettypecheck default "")>1) '<span class="failed">Fail - please correct assetType in - ' ++ (vars.assettypecheck default "") ++ '</span>' else "Pass"]]></ee:set-variable>
					<ee:set-variable variableName="privateportcheck" ><![CDATA[%dw 2.0
output application/java
import * from dw::core::Strings
---
if(sizeOf(vars.privateportcheck default "")>1) '<span class="failed">Fail - please correct http.private.port in - ' ++ (vars.privateportcheck default "") ++ '</span>' else "Pass"]]></ee:set-variable>
					<ee:set-variable variableName="timestamp" ><![CDATA[%dw 2.0
output application/json
fun format(d: DateTime) = d as String {format: "yyyy-MM-dd'T'HH:mm:ss.SSS"}
---
format(now() >> "EST")]]></ee:set-variable>
					
					<ee:set-variable variableName="httppathcheck" ><![CDATA[%dw 2.0
output application/java
import * from dw::core::Strings
---
if(sizeOf(vars.httppathcheck default "")>1) '<span class="failed">Fail - please correct http.path in - ' ++ (vars.httppathcheck default "") ++ '</span>' else "Pass"]]></ee:set-variable>
					<ee:set-variable variableName="propertycountcheck" ><![CDATA[%dw 2.0
output application/java
import * from dw::core::Strings
---
if(sizeOf(vars.propertycountcheck default "")>1) '<span class="failed">Fail - Properties count is not matching in - ' ++ (vars.propertycountcheck default "") else "Pass"]]></ee:set-variable>
					<ee:set-variable variableName="bkndhostnamecheck" ><![CDATA[%dw 2.0
output application/java
import * from dw::core::Strings
var status=vars.bkndhostnamecheck default ""
var failed = '<span class="warning">Warning - Please add environment specific CICS hostname in - ' ++ (vars.bkndhostnamecheck default "") ++ '</span>'
---
if(sizeOf(status default "")>1)
	failed
else "Pass"]]></ee:set-variable>
					<ee:set-variable variableName="bkndportnumbercheck" ><![CDATA[%dw 2.0
output application/java
import * from dw::core::Strings
var status=vars.bkndportnumbercheck default ""
var failed = '<span class="warning">Warning - Please add environment specific CICS portnumber in - ' ++ (vars.bkndportnumbercheck default "") ++ '</span>'
---
if(sizeOf(status default "")>1)
	failed
else "Pass"]]></ee:set-variable>
					<ee:set-variable variableName="ipaddresscheck" ><![CDATA[%dw 2.0
output application/java
---
if(sizeOf(vars.ipaddresscheck default "")>1) '<span class="failed">Fail - please use DNS name instead of IP Address in - ' ++ (vars.ipaddresscheck default "") ++ '</span>' else "Pass"]]></ee:set-variable>
					<ee:set-variable variableName="inboundvalidationcheck" ><![CDATA[%dw 2.0
output application/java
---
if(sizeOf(vars.inboundvalidationcheck default "")>1) '<span class="failed">Fail - Please enable soapkit inboundvalidation in - ' ++ (vars.inboundvalidationcheck default "") ++ '</span>' else "Pass"]]></ee:set-variable>
					<ee:set-variable variableName="persistenceconnectioncheck" ><![CDATA[%dw 2.0
output application/java
---
if(sizeOf(vars.persistenceconnectioncheck default "")>1) '<span class="failed">Fail - Please make persistence connections false in - ' ++ (vars.persistenceconnectioncheck default "") ++ '</span>' else "Pass"]]></ee:set-variable>
					<ee:set-variable variableName="httpprotocolcheck" ><![CDATA[%dw 2.0
output application/java
---
if(sizeOf(vars.httpprotocolcheck default "")>1) '<span class="failed">Fail - Please externalize HTTP protocols in - ' ++ (vars.httpprotocolcheck default "") ++ '</span>' else "Pass"]]></ee:set-variable>
					<ee:set-variable variableName="ratelimitscheck" ><![CDATA[%dw 2.0
output application/java
---
if(sizeOf(vars.ratelimit default "")>1) '<span class="warning">Warning - Please correct ratelimits in - ' ++ (vars.ratelimit default "") ++ '</span>' else "Pass"]]></ee:set-variable>
					<ee:set-variable variableName="vaultappnamecheck" ><![CDATA[%dw 2.0
output application/java
---
if(sizeOf(vars.vaultappname default "")>1) '<span class="failed">Fail - Please correct vault.app.name in - ' ++ (vars.vaultappname default "") ++ '</span>' else "Pass"]]></ee:set-variable>
					<ee:set-variable variableName="securepropertyvalidationcheck" ><![CDATA[%dw 2.0
output application/java
---
if(sizeOf(vars.securepropertyvalidationcheck default "")>1) '<span class="failed">Fail - Missing "secure::" or encrypted values, for secure properties in - ' ++ (vars.securepropertyvalidationcheck default "") ++ '</span>' else "Pass"]]></ee:set-variable>
					<ee:set-variable variableName="securepropertycountcheck" ><![CDATA[%dw 2.0
output application/java
---
if(sizeOf(vars.securepropertycountcheck default "")>1) '<span class="failed">Fail - Count of secure properties are not matching across the property files - ' ++ (vars.securepropertycountcheck default "") ++ '</span>' else "Pass"]]></ee:set-variable>
					<ee:set-variable variableName="dbconnectioncheck" ><![CDATA[%dw 2.0
output application/java
---
if(sizeOf(vars.dbservercheck default "")>1) '<span class="warning">Warning - Incorrect DB2 connection details used in - ' ++ (vars.dbservercheck default "") ++ '</span>' else 
"Pass"]]></ee:set-variable>
					<ee:set-variable variableName="encryptedpropertyvalidationcheck" ><![CDATA[%dw 2.0
output application/java
---
if(sizeOf(vars.encryptedpropertyvalidation default "")>1) '<span class="failed">Fail - invalid credential used in - ' ++ (vars.encryptedpropertyvalidation default "") ++ '</span>' else 
"Pass"]]></ee:set-variable>
									
					<ee:set-variable variableName="usercredsvalidationcheck" ><![CDATA[%dw 2.0
output application/java
---
if(sizeOf(vars.usercredsvalidation default "")>1) '<span class="failed">Fail - ' ++ (vars.usercredsvalidation default "") ++ ' - userid and password are not a match from master credential file</span>' else 
"Pass"]]></ee:set-variable>
					<ee:set-variable variableName="keystorepathandaliascheck" ><![CDATA[%dw 2.0
output application/java
---
if(sizeOf(vars.keystorepathandaliascheck default "")>1) '<span class="failed">Fail - Incorrect keystore path and alias used in - ' ++ (vars.keystorepathandaliascheck default "") ++ '</span>' else 
"Pass"]]></ee:set-variable>
					<ee:set-variable variableName="lastmileandlogencpwdcheck" ><![CDATA[%dw 2.0
output application/java
---
if(sizeOf(vars.lastmileandlogencpwdcheck default "")>1) '<span class="failed">Fail - Incorrect lastmile and log encryption passwords used in - ' ++ (vars.lastmileandlogencpwdcheck default "") ++ '</span>' else 
"Pass"]]></ee:set-variable>
					<ee:set-variable variableName="vaultstorelocationcheck" ><![CDATA[%dw 2.0
output application/java
---
if(sizeOf(vars.vaultstorelocationcheck default "")>1) '<span class="warning">Warning - Please use environment specific vault in - ' ++ (vars.vaultstorelocationcheck default "") ++ '</span>' else 
"Pass"]]></ee:set-variable>
					<ee:set-variable variableName="securevaultclientcheck" ><![CDATA[%dw 2.0
output application/java
---
if(sizeOf(vars.securevaultclientcheck default "")>1) '<span class="failed">Fail - vault clientid and clientsecret are not a match from master credential file - ' ++ (vars.securevaultclientcheck default "") ++ '</span>' else 
"Pass"]]></ee:set-variable>
					<ee:set-variable variableName="dbminpoolsizecheck" ><![CDATA[%dw 2.0
output application/java
---
if(sizeOf(vars.dbminpoolsizecheck default "")>1) '<span class="failed">Fail - Database pooling should be configured as per standard in - ' ++ (vars.dbminpoolsizecheck default "") ++ '</span>' else 
"Pass"]]></ee:set-variable>
					<ee:set-variable variableName="soapuinamingconventioncheck" ><![CDATA[%dw 2.0
output application/java
var propertycontent = vars.currentpropertyfilecontent default ""
var mqapi = (upper(propertycontent) contains('MQ.')) 
---
if(mqapi) 'N/A' else 
if((vars.soapuinamecheck default "")==null) '<span class="failed">Fail - Valid SOAPUI project not found or naming convention not followed<span>' else
if(sizeOf(vars.soapuinamecheck default "")>1) "Pass" else '<span class="failed">Fail - Valid SOAPUI project not found or naming convention not followed<span>']]></ee:set-variable>
					<ee:set-variable variableName="targetconfigendpointcheck" ><![CDATA[%dw 2.0
output application/java
---
if(sizeOf(vars.targetconfigendpointcheck default "")>1) 
	if((vars.targetconfigendpointcheck default "")==null) '<span class="failed">Fail - targetconfig.json file is missing in deployment folder<span>' else '<span class="failed">Fail - Please update endpoint url in targetconfig.json file<span>' 
else "Pass" ]]></ee:set-variable>
					<ee:set-variable variableName="useridregexcheck" ><![CDATA[%dw 2.0
output application/java
---
if(sizeOf(vars.useridregexcheck default "")>1) '<span class="failed">Fail - Please environment specific credentials in -' ++ (vars.useridregexcheck default "") ++ 'span>' else 'Pass']]></ee:set-variable>
					<ee:set-variable variableName="environmentstringcheck" ><![CDATA[%dw 2.0
output application/java
---
if(sizeOf(vars.environmentstringcheck default "")>1) '<span class="failed">Fail - Please use environment specific region in -' ++ (vars.environmentstringcheck default "") ++ '<span>' else 'Pass']]></ee:set-variable>
					<ee:set-variable variableName="unusedpropertycheck" ><![CDATA[%dw 2.0
output application/java
---
if(sizeOf(vars.unusedpropertycheck default "")>1) '<span class="failed">Fail - Please remove unused properties in -' ++ (vars.unusedpropertycheck default "") ++ '<span>' else 'Pass']]></ee:set-variable>
					<ee:set-variable variableName="internaldomaincheck" ><![CDATA[%dw 2.0
output application/java
---
if((vars.internaldomaincheck default "")==null) 'Pass' else 
if(sizeOf(vars.internaldomaincheck default "")>1) '<span class="failed">Fail - bbtnet.com missing in domain name in -' ++ (vars.internaldomaincheck default "") ++ '<span>' else 'Pass']]></ee:set-variable>
					<ee:set-variable variableName="policyenabledcheck" ><![CDATA[%dw 2.0
output application/java
---
if((vars.policyenabledcheck default "")==null) 'Pass' else
if(sizeOf(vars.policyenabledcheck default "")>1) '<span class="failed">Fail - Few policies are disabled in -' ++ (vars.policyenabledcheck default "") ++ '<span>' else 'Pass']]></ee:set-variable>
					<ee:set-variable variableName="policycontractscheck" ><![CDATA[%dw 2.0
output application/java
var contractscheck = sizeOf(vars.contractsappliedcheck default "")>1
---
if(contractscheck) '<span class="failed">Fail - contracts are not applied in -' ++ (vars.contractsappliedcheck default "") ++ '<span>' else 'Pass']]></ee:set-variable>
					<ee:set-variable variableName="apisddcheck" ><![CDATA[%dw 2.0
output application/java
---
if((vars.apisdd default "")==null) '<span class="failed">Fail - SDD is not found in Git<span>' else
if((sizeOf(vars.apisdd default "")>1) or (sizeOf(vars.apisdddoc default "")>1)) "Pass" else '<span class="failed">Fail - SDD is not found in Git<span>']]></ee:set-variable>
					<ee:set-variable variableName="policyhcclientcheck" ><![CDATA[%dw 2.0
output application/java
var hcvar = vars.hcclientidcheck default ""
---
if(sizeOf(hcvar)>1) '<span class="failed">Fail - HC contract not applied in -' ++ hcvar ++ '<span>' else 'Pass']]></ee:set-variable>
				</ee:variables>
			</ee:transform>
			<ee:transform doc:name="Transform Message" doc:id="918a0b7e-5757-4c7d-8406-8bca4de462a2">
				<ee:message>
					<ee:set-payload><![CDATA[%dw 2.0
output text/plain
---
'developer:' ++ (vars.developer default "") ++ ',' ++ 'branch:master
<table>
      <tr><td>Naming convention should be followed for api-autodeploy-flow-name and should be same across all environments</td><td>' ++ (vars.autodeployflownamecheck default "") ++ '</td></tr>
	  <tr><td>DB2/CICS creds properties should follow the defined naming convention (*cics.userid|password|host|port, *db.userid|password|url|driver )</td><td>' ++ (vars.cicsdbnamingconventioncheck default "") ++ '</td></tr>
      <tr><td>Tibco credential should not be used for backend connections</td><td>' ++ (vars.tibcocredsusagecheck default "") ++ '</td></tr>
      <tr><td>DEBUG Logger properties should be there in property files</td><td>' ++ (vars.logpropertiescheck default "") ++ '</td></tr>
      <tr><td>Datapower endpoints should not be used for backend calls</td><td>' ++ (vars.datapowerendpointcheck default "") ++ '</td></tr>
	  <tr><td>Asset type should be soap or rest in all property files</td><td>' ++ (vars.assettypecheck default "") ++ '</td></tr>
	  <tr><td>http.private.port should always be 8081</td><td>' ++ (vars.privateportcheck default "") ++ '</td></tr>
	  <tr><td>http.path should be same as api name and should be same in property files</td><td>' ++ (vars.httppathcheck default "") ++ '</td></tr>
	  <tr><td>All property files should have same number of property entries</td><td>' ++ (vars.propertycountcheck default "") ++ '</td></tr>
	  <tr><td>Environment specific host name should be used for CICS backend calls</td><td>' ++ (vars.bkndhostnamecheck default "") ++ '</td></tr>
	  <tr><td>Environment specific port number should be used for CICS backend calls</td><td>' ++ (vars.bkndportnumbercheck default "")  ++ '</td></tr>
	  <tr><td>DNS names should be used instead of IP addresses in all property files</td><td>' ++ (vars.ipaddresscheck default "")  ++ '</td></tr>
	  <tr><td>Inbound validation should be enabled(true) for soapkit configuration</td><td>' ++ (vars.inboundvalidationcheck default "")  ++ '</td></tr>
	  <tr><td>Persistance connections should be false for all connectors except objectstore</td><td>' ++ (vars.persistenceconnectioncheck default "")  ++ '</td></tr>
	  <tr><td>HTTP protocols should be externalized in all property files</td><td>' ++ (vars.httpprotocolcheck default "")  ++ '</td></tr>
	  <tr><td>Ratelimits should be updated in policy files across all environments</td><td>' ++ (vars.ratelimitscheck default "")  ++ '</td></tr>
	  <tr><td>vault.app.name should be updated as per the environment and cluster type</td><td>' ++ (vars.vaultappnamecheck default "")  ++ '</td></tr>
	  <tr><td>Secure property count should be matching across all environments</td><td>' ++ (vars.securepropertycountcheck default "")  ++ '</td></tr>
	  <tr><td>All secure properties should have secure:: before the property name</td><td>' ++ (vars.securepropertyvalidationcheck default "")  ++ '</td></tr>
	  <tr><td>Environment specific connection details should be used for DB2 database</td><td>' ++ (vars.dbconnectioncheck default "")  ++ '</td></tr>
	  <tr><td>All encrypted properties must be present in master credential file</td><td class="unusedproperty">' ++ (vars.encryptedpropertyvalidationcheck default "")  ++ '</td></tr>
	  <tr><td>Every encrypted password value must be a match from one of the entries from the master cred file</td><td class="unusedproperty">' ++ (vars.usercredsvalidationcheck default "")  ++ '</td></tr>
	  <tr><td>Property file should contain correct keystore path and keystore alias</td><td class="unusedproperty">' ++ (vars.keystorepathandaliascheck default "")  ++ '</td></tr>
	  <tr><td>Property file should contain correct lastmile key password and log encryption password</td><td class="unusedproperty">' ++ (vars.lastmileandlogencpwdcheck default "")  ++ '</td></tr>
	  <tr><td>Secure vault client id and client secret should be a match from master cred file</td><td class="unusedproperty">' ++ (vars.securevaultclientcheck default "")  ++ '</td></tr>
	  <tr><td>Environment specific vault should be used in property files</td><td class="unusedproperty">' ++ (vars.vaultstorelocationcheck default "") ++ '</td></tr>
	  <tr><td>Database minPoolSize should be greater than 3 and acquireincrement should be greater than 5</td><td class="unusedproperty">' ++ (vars.dbminpoolsizecheck default "") ++ '</td></tr>
	  <tr><td>Unused properties should not be there in property files</td><td class="unusedproperty">' ++ (vars.unusedpropertycheck default "") ++ '</td></tr>
	  <tr><td>Targetconfig file in deployment folder should have both 1way and 2way ingress url</td><td class="unusedproperty">' ++ (vars.targetconfigendpointcheck default "") ++ '</td></tr>
	  <tr><td>Valid SOAP UI project should be uploaded to Git with proper naming convention(apiname-soapui-project.xml)</td><td class="unusedproperty">' ++ (vars.soapuinamingconventioncheck default "") ++ '</td></tr>
	  <tr><td>Internal domain should have bbtnet.com in the domain name</td><td class="unusedproperty">' ++ (vars.internaldomaincheck default "") ++ '</td></tr>
	  <tr><td>All the policies added in policy files should be enabled</td><td class="unusedproperty">' ++ (vars.policyenabledcheck default "") ++ '</td></tr>
	  <tr><td>Environment specific Tibco user should be used like Q user for PREP, P user for PROD etc.</td><td class="unusedproperty">' ++ (vars.useridregexcheck default "") ++ '</td></tr>
	  <tr><td>Environment specific region should be used like TESTU for ITE, TESTX for PITE</td><td class="unusedproperty">' ++ (vars.environmentstringcheck default "") ++ '</td></tr>
	  <tr><td>Policy files should have the contracts enabled</td><td class="unusedproperty">' ++ (vars.policycontractscheck default "") ++ '</td></tr>
	  <tr><td>Policy files should have HC(PROD) or HC_NonProd(Non-PROD) contract applied</td><td class="unusedproperty">' ++ (vars.policyhcclientcheck default "") ++ '</td></tr>
	  <tr><td>Latest version of AuthZ policy(1.0.5) should be used, with asset type</td><td class="unusedproperty">' ++ (vars.authzpolversioncheck default "") ++ '</td></tr>	  
	  <tr><td>SDD should be uploaded to git in respective API document folder</td><td class="unusedproperty">' ++ (vars.apisddcheck default "") ++ '</td></tr>
	</table>']]></ee:set-payload>
				</ee:message>
			</ee:transform>
			<ee:transform doc:name="Transform Message" doc:id="11bc68d4-b385-4e20-b08c-de885783b21f" >
				<ee:message >
				</ee:message>
				<ee:variables >
					<ee:set-variable variableName="overallstatus" ><![CDATA[%dw 2.0
output application/java
---
if(payload contains("Fail")) '<span class="failed">Fail</span>' else '<span class="passed">Pass</span>']]></ee:set-variable>
<ee:set-variable variableName="attachment"><![CDATA[payload]]></ee:set-variable>
					<ee:set-variable variableName="toolname" ><![CDATA["Service Config Quality Check"]]></ee:set-variable>
					<ee:set-variable variableName="overallstatusdb" ><![CDATA[%dw 2.0
output application/java
---
if(payload contains("Fail")) 'Fail' else 'Pass']]></ee:set-variable>
					<ee:set-variable variableName="failcount" ><![CDATA[%dw 2.0
output application/java
import * from dw::core::Strings
---
payload countMatches("Fail")]]></ee:set-variable>
					<ee:set-variable variableName="passcount" ><![CDATA[%dw 2.0
output application/java
import * from dw::core::Strings
var pass = payload countMatches("Pass") 
var na = payload countMatches("N/A") 
var warning = payload countMatches("Warning") 
---
pass + na + warning]]></ee:set-variable>
				</ee:variables>
			</ee:transform>
			<choice doc:name="Choice" doc:id="7aaf4b41-b686-469f-b71a-57916efe1c3b" >
				<when expression="#[sizeOf(vars.apiname)&gt;1]">
					<file:write doc:name="Write" doc:id="8b74c20a-0e66-4f25-bdf8-e4f30cb687c7" config-ref="File_Config" path='#["${gui.inputLocation}" ++ "//multipleconfig//" ++ vars.currentapiname ++ ".txt"]' />
						<set-variable value="#[%dw 2.0&#10;output application/java&#10;---&#10;if(payload contains(&quot;Fail&quot;)) '&lt;span class=&quot;failed&quot;&gt;Fail&lt;/span&gt;' else '&lt;span class=&quot;passed&quot;&gt;Pass&lt;/span&gt;']" doc:name="Set Variable" doc:id="e951ec79-d241-4058-b53c-48bdf533a8c1" variableName="overallstatus" />
						<set-variable value='#[%dw 2.0&#10;output application/java&#10;var varsize = sizeOf(trim(vars.apilevelstatus default ""))&#10;var apilevel = vars.currentapiname ++ " - " ++ vars.overallstatus&#10;---&#10;if(varsize&gt;0) (vars.apilevelstatus default "") ++ " , " ++ (apilevel) else apilevel]' doc:name="Set Variable" doc:id="cb75af5d-6ff7-4784-b1f8-7ac6334e45b4" variableName="apilevelstatus" />
					<try doc:name="Try" doc:id="9b11b3ef-b087-4d81-9fe8-a907f81313bb">
						<email:send doc:name="Send" doc:id="b65ad610-566c-4d7c-adaf-e4cdc458ed9e" config-ref="Email_SMTP" fromAddress="${smtp.from}" subject='#["Service Config Quality Check - " ++ (vars.currentapiname default "") ++ ", Status : " ++ (if(vars.overallstatus contains("Fail")) "Fail" else "Pass") ++ ", Branch : " ++ "master"]'>
							<email:to-addresses>
								<email:to-address value="narendranadh.kilari@truist.com" />
								<email:to-address value="Rakesh.Y.Kumar@truist.com" />
								<email:to-address value="#[vars.developer]" />
							</email:to-addresses>
							<email:cc-addresses>
								<email:cc-address value="DL.API.T2M@truist.com" />
							</email:cc-addresses>
							<email:body contentType="text/html" encoding="UTF-8">
								<email:content><![CDATA[#[%dw 2.0
output text/plain
import * from dw::core::Strings
---
"${email.cqc.body}"  ++ '<' ++ substringAfter(payload,'<') ++ "${email.cqc.signature}"]]]></email:content>
							</email:body>
						</email:send>
						<error-handler>
							<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="11f0c59d-66ce-457b-92e5-5d076fa7acfb">
								<logger level="INFO" doc:name="Logger" doc:id="2540f638-0cca-4872-afc6-4c9d27a4ca24" message="Error sending email" />
							</on-error-continue>
						</error-handler>
					</try>
					<try doc:name="Try1" doc:id="aa00eb13-ed30-4312-bacd-5244e986baab">
						<db:insert doc:name="Insert" doc:id="de721b21-86bd-4668-8528-41e05378c44a" config-ref="Database-Connection">
							<db:sql><![CDATA[INSERT INTO EAPI_MULE_T2M_REPORT (TOOL_NAME, SERVICE_NAME, BRANCH_NAME, USAGE_STATUS, FAIL_COUNT, PASS_COUNT, USED_BY, LAST_UPDATED)
VALUES (:toolname, :servicename, :branchname, :usagestatus, :failcount, :passcount, :usedby, :lastupdated)]]></db:sql>
							<db:input-parameters><![CDATA[#[{
	'toolname' : vars.toolname,
	'servicename' : vars.currentapiname,
	'branchname' : vars.branch,
	'usagestatus' : vars.overallstatusdb,
	'failcount' : vars.failcount,
	'passcount': vars.passcount,
	'usedby' : vars.developer,
	'lastupdated' : (now() >> "America/New_York") as String {format: "y-MM-dd HH:m:s"}
}]]]></db:input-parameters>
						</db:insert>
						<error-handler>
							<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="872ef3cd-766a-414a-8c41-8c873eb96b25">
								<logger level="INFO" doc:name="Logger" doc:id="8ba57372-a7d5-4830-acde-07c659f21dcc" message="Error inserting in to database" />
							</on-error-continue>
						</error-handler>
					</try>
						
				</when>
				<otherwise >
					<try doc:name="Try" doc:id="37334b95-5a3b-4071-a26a-1b50233e9ef3">
			<email:send doc:name="Send" doc:id="88482d7a-342b-4818-b881-ad8666bd3c79" subject='#["Service Config Quality Check - " ++ (vars.currentapiname default "") ++ ", Status : " ++ (if(vars.overallstatus contains("Fail")) "Fail" else "Pass") ++ ", Branch : " ++ "master"]' fromAddress="${smtp.from}" config-ref="Email_SMTP">
					<email:to-addresses>
				<email:to-address value="narendranadh.kilari@truist.com" />
				<email:to-address value="Rakesh.Y.Kumar@truist.com" />
									<email:to-address value="#[vars.developer]" />
			</email:to-addresses>
			<email:cc-addresses>
						<email:cc-address value="DL.API.T2M@truist.com" />
							</email:cc-addresses>
							<email:body contentType="text/html" encoding="UTF-8">
						<email:content><![CDATA[#[%dw 2.0
output text/plain
import * from dw::core::Strings

---
"${email.cqc.body}"  ++ '<' ++ substringAfter(payload,'<') ++ "${email.cqc.signature}"]]]></email:content>
					</email:body>	
												 		
				</email:send>
						<error-handler>
				<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="a1652eee-d154-41aa-9b65-107160511d5b">
					<logger level="INFO" doc:name="Logger" doc:id="ad2d5a8a-2b31-4ed7-81cb-d3562d3ad908" message="Error sending email" />
				</on-error-continue>
			</error-handler>
		</try>
					<try doc:name="Try" doc:id="d6a09a92-6c9e-4b24-9eaf-ecf6046dfe61">
				<db:insert doc:name="Insert" doc:id="2af69cf2-0fa3-4b0e-a57f-4ad9de6350af" config-ref="Database-Connection">
					<db:sql><![CDATA[INSERT INTO EAPI_MULE_T2M_REPORT (TOOL_NAME, SERVICE_NAME, BRANCH_NAME, USAGE_STATUS, FAIL_COUNT, PASS_COUNT, USED_BY, LAST_UPDATED)
VALUES (:toolname, :servicename, :branchname, :usagestatus, :failcount, :passcount, :usedby, :lastupdated)]]></db:sql>
					<db:input-parameters><![CDATA[#[{
	'toolname' : vars.toolname,
	'servicename' : vars.currentapiname,
	'branchname' : vars.branch,
	'usagestatus' : vars.overallstatusdb,
	'failcount' : vars.failcount,
	'passcount': vars.passcount,
	'usedby' : vars.developer,
	'lastupdated' : (now() >> "America/New_York") as String {format: "y-MM-dd HH:m:s"}
}]]]></db:input-parameters>
				</db:insert>
				<error-handler>
					<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="ee03edb6-ce60-4bda-a0f6-eaeec359690d">
						<logger level="INFO" doc:name="Logger" doc:id="3f159111-71cc-4e2c-a624-d2aa81a92ea8" message="Error inserting in to database" />
					</on-error-continue>
				</error-handler>
			</try>
				</otherwise>
			</choice>
		</foreach>
		<choice doc:name="Choice" doc:id="2d8314e5-7551-4e38-9ca8-e715c873f250" >
			<when expression="#[sizeOf(vars.apiname)&gt;1]">
				<ee:transform doc:name="Transform Message" doc:id="d8ed10e3-6b9e-477c-a8ac-daa477a2fe90">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
import * from dw::core::Strings
output application/xml
var apiarray = vars.apilevelstatus splitBy(",") default []
---

		table @(class:'charts',align:'center'):
		{
			tr: apiarray map 
			{
				form @(action:'/configsummary' ++ '/' ++ trim(substringBefore($," -"))):{
						
						td : {
						
						button @(class:'button'): substringBefore($,"-") ++ "- " ++ substringBefore(substringAfter($,">"),"<")
						
					}
					
				}
				
			
			}
			
		}]]></ee:set-payload>
			</ee:message>
					<ee:variables >
						<ee:set-variable variableName="failedservices" ><![CDATA[%dw 2.0
import * from dw::core::Strings
output application/xml
var apiarray = vars.failedservice splitBy(",") default []
---
table @(class:'charts',align:'center'):
		{
			tr: apiarray map 
			{
				form @(action:'#'):{
						
						td : {
						
						button @(class:'button'):trim($)
						
					}
					
				}
				
			
			}
			
		}
		
]]></ee:set-variable>
					</ee:variables>
		</ee:transform>
				<ee:transform doc:name="Transform Message" doc:id="11894171-8221-4dbe-8460-b225c67d2721">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/java
---
write(payload, "application/xml")]]></ee:set-payload>
			</ee:message>
			<ee:variables>
						<ee:set-variable variableName="failedservices" ><![CDATA[%dw 2.0
output application/java
---
write(vars.failedservices, "application/xml")]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
<ee:transform doc:name="Transform Message" doc:id="c0cd9875-bc1e-4d5a-a7a1-caf63c8547d5">
					<ee:message>
					</ee:message>
					<ee:variables >
						<ee:set-variable variableName="chartTable" ><![CDATA[%dw 2.0
import * from dw::core::Strings
---
substringAfter(payload,">")]]></ee:set-variable>
						<ee:set-variable variableName="failedservice" ><![CDATA[%dw 2.0
import * from dw::core::Strings
var fs = substringAfter(vars.failedservices,">")
var concheck = fs contains('<tr/>')
var fsfront = '<h4>Review failed for below apis</h4><br/><div>'
var fsend = '</div>'
---
if(concheck) " " else (fsfront ++ fs ++ fsend)]]></ee:set-variable>
					</ee:variables>
				</ee:transform>
				<ee:transform doc:name="Transform Message" doc:id="d9b6a4e3-3f3e-47f3-a978-8ec6ded9af17">
			<ee:message>
						<ee:set-payload ><![CDATA[%dw 2.0
output text/plain
import * from dw::core::Strings
---

trim(replaceAll(replaceAll(replaceAll(trim(vars.apilevelstatus default ""), "," , "\t\t"),'<span class="failed">',""),'</span>',''))]]></ee:set-payload>
			</ee:message>
			<ee:variables>
				<ee:set-variable variableName="email_details"><![CDATA[%dw 2.0
output application/java
---
'narendranadh.kilari@truist.com']]></ee:set-variable>
				<ee:set-variable variableName="attachment"><![CDATA[payload]]></ee:set-variable>
				<ee:set-variable variableName="emailsubject"><![CDATA[%dw 2.0
import * from dw::core::Strings
output text/plain
---
"API review report for - " ++ (vars.currentapiname default "")]]></ee:set-variable>
				<ee:set-variable variableName="overallstatus"><![CDATA[%dw 2.0
output application/java
---
if(payload contains("Fail")) '<span class="failed">Fail</span>' else '<span class="passed">Pass</span>']]></ee:set-variable>
						<ee:set-variable variableName="passcount" ><![CDATA[%dw 2.0
output application/java
import * from dw::core::Strings
---
(payload countMatches "Pass") default 0]]></ee:set-variable>
						<ee:set-variable variableName="failcount" ><![CDATA[%dw 2.0
output application/java
import * from dw::core::Strings
---
(payload countMatches "Fail") default 0]]></ee:set-variable>
			</ee:variables>
			</ee:transform>
				<try doc:name="Try" doc:id="ae25966b-7f86-4665-b9a4-e1ced1609ef0">
			<email:send doc:name="Send" doc:id="d4194e69-02ef-4a0c-8cc8-f805bce08677" subject='#["Service config quality check" ++ ", status : " ++ if(payload contains("Fail")) "Fail" else "Pass"]' fromAddress="${smtp.from}" config-ref="Email_SMTP">
					<email:to-addresses>
				<email:to-address value="narendranadh.kilari@truist.com" />
							<email:to-address value="#[vars.developer]" />
							<email:to-address value="Rakesh.Y.Kumar@truist.com" />
			</email:to-addresses>
			<email:body contentType="text/html" encoding="UTF-8">
						<email:content><![CDATA[#[%dw 2.0
output text/plain
import * from dw::core::Strings

---
"${email.cqc.body}"  ++ payload ++ "${email.cqc.signature}"]]]></email:content>
					</email:body>	
												 		
				</email:send>
			<error-handler>
				<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="5fa7cb0e-0449-49d8-9096-5d2ff065104a">
					<logger level="INFO" doc:name="Logger" doc:id="14ef6e25-9ef5-4184-9ff9-6e04ad6a75e4" message="Error sending email" />
				</on-error-continue>
			</error-handler>
		</try>
				<parse-template doc:name="Parse Template" doc:id="4fe507ef-2a88-4853-b2bf-e08dab7a6615" location="web\ChartsAvailable.html"/>
			</when>
			<otherwise >
				<parse-template doc:name="Parse Template" doc:id="954842ac-8105-4725-a776-7803fdb7cc12" location="web\configreviewresponse.html" />
			</otherwise>
		</choice>
		<error-handler >
			<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="3bfac19a-f21c-4d7c-9024-6e4c201f8176" >
				<parse-template doc:name="Parse Template" doc:id="2d140d86-6e86-4ad5-9319-b7bca7275d89" location="web\cloningerror.html"/>
			</on-error-continue>
		</error-handler>
	</flow>
	<flow name="configdataextractFlow1" doc:id="be182c41-e247-47b9-b736-66a16680b89b" >
		<http:listener doc:name="Listener" doc:id="ee948826-daf7-4f1f-bf71-7629b31e1c0a" config-ref="HTTP_GUIListener_config" path="/apiconfigreview"/>
		<parse-template doc:name="Parse Template" doc:id="d575acd8-b064-49a0-bcca-ec373be0b980" location="web\configreview.html"/>
	</flow>
	<flow name="GetCredentials" doc:id="d4f18837-d261-4894-8b36-6f15a74f122f" >
		<http:listener doc:name="Listener" doc:id="476e37c7-9587-4d33-ba7d-c20ab94e58f3" config-ref="HTTP_GUIListener_config" path="/getcredential"/>
		<http:request method="GET" doc:name="Request" doc:id="b7dec49f-2165-4e12-bded-0eafd3b64cee" config-ref="GetCredential" path='#["/api/v4/projects/14095/repository/files/EAPIServicesCommonDocs%2fEAPIServiceAccounts%2fMule_Credentials.csv/raw?ref=master&amp;private_token=" ++ "${password.gitlab}"]'>
		</http:request>
		<ee:transform doc:name="Transform Message" doc:id="7a877ef8-5712-4467-a869-2a5900a94610" >
			<ee:message >
				<ee:set-payload ><![CDATA[output text/plain
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="configdataextractFlow2" doc:id="11788799-1ab9-4536-8500-a9bbaf8ea334" >
		<http:listener doc:name="Listener" doc:id="04f0b311-12d4-433d-8eda-6dbe028aaca8" config-ref="HTTP_GUIListener_config" path="${gui.configsummary}"/>
		<ee:transform doc:name="Transform Message" doc:id="bdc194a5-d50c-427d-a602-91fc280e30b2" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
{
}]]></ee:set-payload>
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="currentapiname" ><![CDATA[output text/plain
---
trim(attributes.uriParams.name)]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<file:read doc:name="Read" doc:id="7407536b-2f86-41a7-a9bf-30455cdea3b6" config-ref="File_Config" path='#["${gui.inputLocation}" ++ "//multipleconfig//" ++ vars.currentapiname ++ ".txt"]' outputMimeType="text/plain"/>
		<ee:transform>
		<ee:variables>
		<ee:set-variable variableName="autodeployflownamecheck" ><![CDATA[%dw 2.0
output application/java
import * from dw::core::Strings
---
substringBefore(substringAfter(payload,'api-autodeploy-flow-name and should be same across all environments</td><td>'),'</td></tr>')]]></ee:set-variable>
				<ee:set-variable variableName="cicsdbnamingconventioncheck" ><![CDATA[%dw 2.0
output application/java
import * from dw::core::Strings
---
substringBefore(substringAfter(payload,'naming convention (*cics.userid|password|host|port, *db.userid|password|url|driver )</td><td>'),'</td></tr>')]]></ee:set-variable>
				<ee:set-variable variableName="logpropertiescheck" ><![CDATA[%dw 2.0
output application/java
import * from dw::core::Strings
---
substringBefore(substringAfter(payload,'DEBUG Logger properties should be there in property files</td><td>'),'</td></tr>')]]></ee:set-variable>
				<ee:set-variable variableName="datapowerendpointcheck" ><![CDATA[%dw 2.0
output application/java
import * from dw::core::Strings
---
substringBefore(substringAfter(payload,'Datapower endpoints should not be used for backend calls</td><td>'),'</td></tr>')]]></ee:set-variable>
				<ee:set-variable variableName="assettypecheck" ><![CDATA[%dw 2.0
output application/java
import * from dw::core::Strings
---
substringBefore(substringAfter(payload,'Asset type should be soap or rest in all property files</td><td>'),'</td></tr>')]]></ee:set-variable>
				<ee:set-variable variableName="privateportcheck" ><![CDATA[%dw 2.0
output application/java
import * from dw::core::Strings
---
substringBefore(substringAfter(payload,'http.private.port should always be 8081</td><td>'),'</td></tr>')]]></ee:set-variable>
				<ee:set-variable variableName="httppathcheck" ><![CDATA[%dw 2.0
output application/java
import * from dw::core::Strings
---
substringBefore(substringAfter(payload,'http.path should be same as api name and should be same in property files</td><td>'),'</td></tr>')]]></ee:set-variable>
				<ee:set-variable variableName="propertycountcheck" ><![CDATA[%dw 2.0
output application/java
import * from dw::core::Strings
---
substringBefore(substringAfter(payload,'All property files should have same number of property entries</td><td>'),'</td></tr>')]]></ee:set-variable>
				<ee:set-variable variableName="bkndhostnamecheck" ><![CDATA[%dw 2.0
output application/java
import * from dw::core::Strings
---
substringBefore(substringAfter(payload,'Environment specific host name should be used for CICS backend calls</td><td>'),'</td></tr>')]]></ee:set-variable>
				<ee:set-variable variableName="bkndportnumbercheck" ><![CDATA[%dw 2.0
output application/java
import * from dw::core::Strings
---
substringBefore(substringAfter(payload,'Environment specific port number should be used for CICS backend calls</td><td>'),'</td></tr>')]]></ee:set-variable>
				<ee:set-variable variableName="ipaddresscheck" ><![CDATA[%dw 2.0
output application/java
import * from dw::core::Strings
---
substringBefore(substringAfter(payload,'DNS names should be used instead of IP addresses in all property files</td><td>'),'</td></tr>')]]></ee:set-variable>
				<ee:set-variable variableName="inboundvalidationcheck" ><![CDATA[%dw 2.0
output application/java
import * from dw::core::Strings
---
substringBefore(substringAfter(payload,'Inbound validation should be enabled(true) for soapkit configuration</td><td>'),'</td></tr>')]]></ee:set-variable>
				<ee:set-variable variableName="persistenceconnectioncheck" ><![CDATA[%dw 2.0
output application/java
import * from dw::core::Strings
---
substringBefore(substringAfter(payload,'Persistance connections should be false for all connectors except objectstore</td><td>'),'</td></tr>')]]></ee:set-variable>
				<ee:set-variable variableName="httpprotocolcheck" ><![CDATA[%dw 2.0
output application/java
import * from dw::core::Strings
---
substringBefore(substringAfter(payload,'HTTP protocols should be externalized in all property files</td><td>'),'</td></tr>')]]></ee:set-variable>
				<ee:set-variable variableName="ratelimitscheck" ><![CDATA[%dw 2.0
output application/java
import * from dw::core::Strings
---
substringBefore(substringAfter(payload,'Ratelimits should be updated in policy files across all environments</td><td>'),'</td></tr>')]]></ee:set-variable>
				<ee:set-variable variableName="vaultappnamecheck" ><![CDATA[%dw 2.0
output application/java
import * from dw::core::Strings
---
substringBefore(substringAfter(payload,'vault.app.name should be updated as per the environment and cluster type</td><td>'),'</td></tr>')]]></ee:set-variable>
				<ee:set-variable variableName="securepropertycountcheck" ><![CDATA[%dw 2.0
output application/java
import * from dw::core::Strings
---
substringBefore(substringAfter(payload,'Secure property count should be matching across all environments</td><td>'),'</td></tr>')]]></ee:set-variable>
				<ee:set-variable variableName="securepropertyvalidationcheck" ><![CDATA[%dw 2.0
output application/java
import * from dw::core::Strings
---
substringBefore(substringAfter(payload,'All secure properties should have secure:: before the property name</td><td>'),'</td></tr>')]]></ee:set-variable>
				<ee:set-variable variableName="dbconnectioncheck" ><![CDATA[%dw 2.0
output application/java
import * from dw::core::Strings
---
substringBefore(substringAfter(payload,'Environment specific connection details should be used for DB2 database</td><td>'),'</td></tr>')]]></ee:set-variable>
				<ee:set-variable variableName="tibcocredsusagecheck" ><![CDATA[%dw 2.0
output application/java
import * from dw::core::Strings
---
substringBefore(substringAfter(payload,'Tibco credential should not be used for backend connections</td><td>'),'</td></tr>')]]></ee:set-variable>
				<ee:set-variable variableName="encryptedpropertyvalidationcheck" ><![CDATA[%dw 2.0
output application/java
import * from dw::core::Strings
---
substringBefore(substringAfter(payload,'All encrypted properties must be present in master credential file</td><td class="unusedproperty">'),'</td></tr>')]]></ee:set-variable>
				<ee:set-variable variableName="usercredsvalidationcheck" ><![CDATA[%dw 2.0
output application/java
import * from dw::core::Strings
---
substringBefore(substringAfter(payload,'Every encrypted password value must be a match from one of the entries from the master cred file</td><td class="unusedproperty">'),'</td></tr>')]]></ee:set-variable>
				<ee:set-variable variableName="keystorepathandaliascheck" ><![CDATA[%dw 2.0
output application/java
import * from dw::core::Strings
---
substringBefore(substringAfter(payload,'Property file should contain correct keystore path and keystore alias</td><td class="unusedproperty">'),'</td></tr>')]]></ee:set-variable>
				<ee:set-variable variableName="lastmileandlogencpwdcheck" ><![CDATA[%dw 2.0
output application/java
import * from dw::core::Strings
---
substringBefore(substringAfter(payload,'Property file should contain correct lastmile key password and log encryption password</td><td class="unusedproperty">'),'</td></tr>')]]></ee:set-variable>
				<ee:set-variable variableName="securevaultclientcheck" ><![CDATA[%dw 2.0
output application/java
import * from dw::core::Strings
---
substringBefore(substringAfter(payload,'Secure vault client id and client secret should be a match from master cred file</td><td class="unusedproperty">'),'</td></tr>')]]></ee:set-variable>
				<ee:set-variable variableName="vaultstorelocationcheck" ><![CDATA[%dw 2.0
output application/java
import * from dw::core::Strings
---
substringBefore(substringAfter(payload,'Environment specific vault should be used in property files</td><td class="unusedproperty">'),'</td></tr>')]]></ee:set-variable>
				<ee:set-variable variableName="overallstatus" ><![CDATA[%dw 2.0
output application/java
---
if(payload contains("Fail")) '<span class="failed">Fail</span>' else '<span class="passed">Pass</span>']]></ee:set-variable>
				<ee:set-variable variableName="timestamp" ><![CDATA[%dw 2.0
output application/json
fun format(d: DateTime) = d as String {format: "yyyy-MM-dd'T'HH:mm:ss.SSS"}
---
format(now() >> "EST")]]></ee:set-variable>
				<ee:set-variable variableName="developer" ><![CDATA[%dw 2.0
output application/java
import * from dw::core::Strings
---
substringBefore(substringAfter(payload,'developer:'),',')]]></ee:set-variable>
				<ee:set-variable variableName="branch" ><![CDATA[%dw 2.0
output application/java
import * from dw::core::Strings
---
substringBefore(substringAfter(payload,'branch:'),'<table>')]]></ee:set-variable>
				<ee:set-variable variableName="passcount" ><![CDATA[%dw 2.0
output application/java
import * from dw::core::Strings
var pass = payload countMatches("Pass") 
var na = payload countMatches("N/A") 
var warning = payload countMatches("Warning") 
---
pass + na + warning]]></ee:set-variable>
				<ee:set-variable variableName="failcount" ><![CDATA[%dw 2.0
output application/java
import * from dw::core::Strings
var fail = payload countMatches("Fail") 
---
fail]]></ee:set-variable>
				<ee:set-variable variableName="dbminpoolsizecheck" ><![CDATA[%dw 2.0
output application/java
import * from dw::core::Strings
---
substringBefore(substringAfter(payload,'Database pooling should be configured as per standard</td><td class="unusedproperty">'),'</td></tr>')]]></ee:set-variable>
				<ee:set-variable variableName="unusedpropertycheck" ><![CDATA[%dw 2.0
output application/java
import * from dw::core::Strings
---
substringBefore(substringAfter(payload,'Unused properties should not be there in property files</td><td class="unusedproperty">'),'</td></tr>')]]></ee:set-variable>
				<ee:set-variable variableName="targetconfigendpointcheck" ><![CDATA[%dw 2.0
output application/java
import * from dw::core::Strings
---
substringBefore(substringAfter(payload,'Targetconfig file in deployment folder should have both 1way and 2way ingress url</td><td class="unusedproperty">'),'</td></tr>')]]></ee:set-variable>
				<ee:set-variable variableName="soapuinamingconventioncheck" ><![CDATA[%dw 2.0
output application/java
import * from dw::core::Strings
---
substringBefore(substringAfter(payload,'(apiname-soapui-project.xml)</td><td class="unusedproperty"><span class="failed">'),'</td></tr>')]]></ee:set-variable>
				<ee:set-variable variableName="internaldomaincheck" ><![CDATA[%dw 2.0
output application/java
import * from dw::core::Strings
---
substringBefore(substringAfter(payload,'Internal domain should have bbtnet.com in the domain name</td><td class="unusedproperty">'),'</td></tr>')]]></ee:set-variable>
				<ee:set-variable variableName="policyenabledcheck" ><![CDATA[%dw 2.0
output application/java
import * from dw::core::Strings
---
substringBefore(substringAfter(payload,'All the policies added in policy files should be enabled</td><td class="unusedproperty">'),'</td></tr>')]]></ee:set-variable>
				<ee:set-variable variableName="useridregexcheck" ><![CDATA[%dw 2.0
output application/java
import * from dw::core::Strings
---
substringBefore(substringAfter(payload,'Environment specific Tibco user should be used like Q user for PREP, P user for PROD etc.</td><td class="unusedproperty">'),'</td></tr>')]]></ee:set-variable>
				<ee:set-variable variableName="environmentstringcheck" ><![CDATA[%dw 2.0
output application/java
import * from dw::core::Strings
---
substringBefore(substringAfter(payload,'Environment specific region should be used like TESTU for ITE, TESTX for PITE</td><td class="unusedproperty">'),'</td></tr>')]]></ee:set-variable>
				<ee:set-variable variableName="policycontractscheck" ><![CDATA[%dw 2.0
output application/java
import * from dw::core::Strings
---
substringBefore(substringAfter(payload,'Policy files should have the contracts enabled</td><td class="unusedproperty">'),'</td></tr>')]]></ee:set-variable>
				<ee:set-variable variableName="policyhcclientcheck" ><![CDATA[%dw 2.0
output application/java
import * from dw::core::Strings
---
substringBefore(substringAfter(payload,'HC(PROD) or HC_NonProd(Non-PROD) contract applied</td><td class="unusedproperty">'),'</td></tr>')]]></ee:set-variable>
				<ee:set-variable variableName="apisddcheck" ><![CDATA[%dw 2.0
output application/java
import * from dw::core::Strings
---
substringBefore(substringAfter(payload,'SDD should be uploaded to git in respective API document folder</td><td class="unusedproperty">'),'</td></tr>')]]></ee:set-variable>
				<ee:set-variable variableName="authzpolversioncheck" ><![CDATA[%dw 2.0
output application/java
import * from dw::core::Strings
---
substringBefore(substringAfter(payload,'Latest version of AuthZ policy(1.0.5) should be used, with asset type</td><td class="unusedproperty">'),'</td></tr>')]]></ee:set-variable>
				
				
			</ee:variables>
		</ee:transform>
		<parse-template doc:name="Parse Template" doc:id="e74f257c-ecb4-4012-ab77-09ed369641d9" location="web\configreviewresponse.html"/>
	</flow>
	<flow name="configdataextractFlow3" doc:id="cf3628da-4001-46ad-a0ef-bd2f06624a2d" >
		<http:listener doc:name="Listener" doc:id="cca64f08-17ad-4f34-9f66-1b470b795653" config-ref="HTTP_GUIListener_config" path="/t2mapisummary"/>
		<db:select doc:name="Select" doc:id="4dae21f7-7143-4668-9a32-17f01f647adc" config-ref="Database-Connection">
			<db:sql ><![CDATA[SELECT TOOL_NAME, SERVICE_NAME, BRANCH_NAME, USAGE_STATUS, FAIL_COUNT, PASS_COUNT, USED_BY, LAST_UPDATED FROM EAPI_MULE_T2M_REPORT ORDER BY LAST_UPDATED DESC]]></db:sql>
		</db:select>
		<ee:transform doc:name="Transform Message" doc:id="8bbc92a2-3d46-479d-96b6-9a2b8e64eab6" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<foreach doc:name="For Each" doc:id="04653c77-0cb6-46be-9d0d-0d330112864c" collection="#[payload]">
			<ee:transform doc:name="Transform Message" doc:id="6fa7e8e1-a56c-4688-bfcf-f4e1c91c5471">
			<ee:message>
				<ee:set-payload><![CDATA[output text/plain
---
payload."SERVICE_NAME" ++ "," ++ payload."TOOL_NAME" ++ "," ++ payload."USAGE_STATUS" ++ "," ++ payload."BRANCH_NAME" ++ "," ++ payload."USED_BY" ]]></ee:set-payload>
			</ee:message>
		</ee:transform>
			<set-variable value='#[output text/plain&#10;var currentdata = vars.apireviewsummary default ""&#10;var header = "Service Name, Tool Name, Status, Branch, Developer"&#10;---&#10;if(sizeOf(vars.apireviewsummary default "")&gt;1)&#10;	if((vars.apireviewsummary default "") contains(payload))&#10;	(vars.apireviewsummary default "")&#10;	else&#10;	(vars.apireviewsummary default "") ++ "\n" ++ payload&#10;else&#10;	header ++ "\n" ++ payload]' doc:name="Set Variable" doc:id="9885e806-d6d1-46b8-a529-dabd91acff68" variableName="apireviewsummary"/>
		</foreach>
		<ee:transform doc:name="Transform Message" doc:id="582c859f-7af8-4690-b14b-318e970180f0">
				<ee:message>
					<ee:set-payload><![CDATA[%dw 2.0
output application/java
---
trim(vars.apireviewsummary)]]></ee:set-payload>
				</ee:message>
			<ee:variables >
				<ee:set-variable variableName="apisavailable" ><![CDATA[%dw 2.0
output application/json
---
(payload."SERVICE_NAME" filter(v,i) -> (!(v contains("_config")))) distinctBy ((num) -> num)]]></ee:set-variable>
			</ee:variables>
			</ee:transform>
		<ee:transform doc:name="Transform Message" doc:id="ca9b36a5-be8e-4979-b906-ca3dbb25cf17">
				<ee:message>
					<ee:set-payload><![CDATA[%dw 2.0
output application/json
import * from dw::core::Strings
---
(vars.apisavailable) map(v,i)->{
	api : trim(v) ++ "," ++ substringBefore(substringAfter(payload,(trim(v) ++ ",Service Code Quality Check,")),',') ++ "," ++  substringBefore(substringAfter(payload,(trim(v) ++ ",Service Config Quality Check,")),',') 
}]]></ee:set-payload>
				</ee:message>
				<ee:variables>
					<ee:set-variable variableName="apisreviewsummaryconsolidation"><![CDATA[%dw 2.0
output application/java
---
payload]]></ee:set-variable>
				</ee:variables>
			</ee:transform>
		<ee:transform doc:name="Transform Message" doc:id="3c69f825-ca95-4177-8433-f4cc28be7fe3" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
payload.api]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<ee:transform doc:name="Transform Message" doc:id="cec5b2fd-b9de-478e-9ead-af6aff55cb14" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
import * from dw::core::Strings
output application/xml
var apiarray = payload default []
---

		table @(class:'solutionadded',align:'center'):
		{
			tr : {
				td @(class:'reviewheader',align:'center'): "Service Name",
				td @(class:'reviewheader',align:'center'): "Service Code Quality Check",
				td @(class:'reviewheader',align:'center'): "Service Config Quality Check"
			},
			tr: apiarray map 
			{		
						td @(class:'reviewelement'): substringBefore(trim($),','),
						td @(class:'reviewelement',align:'center'): if(sizeOf(trim(substringBefore(substringAfter(trim($),','),',')))==0) 'Not Found' else trim(substringBefore(substringAfter(trim($),','),',')),
						td @(class:'reviewelement',align:'center'): if(sizeOf(trim(substringAfterLast(trim($),',')))==0) 'Not Found' else substringAfterLast(trim($),',')
			}
			
		}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<ee:transform doc:name="Transform Message" doc:id="d4a69761-3f91-4dbe-814a-d5efb810a3e3" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
write(payload, "application/xml")]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<ee:transform doc:name="Transform Message" doc:id="1ab896f9-8780-4595-b30c-7faaa166f0cf" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output text/plain
import * from dw::core::Strings
---

replaceAll(replaceAll(replaceAll(payload,'Fail','<span class="failed">Fail</span>'),"Pass",'<span class="passed">Pass</span>'),'Not Found','<span class="notfound">Not Found</span>')]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<parse-template doc:name="Parse Template" doc:id="bd0228ee-f241-4cd0-8b40-ca1019c2120c" location="web\apireviewsummary.html">
		</parse-template>
	</flow>

</mule>
 

