raksanalyzer/deleteLater/servicequalitycheck/src/main/mule/downloadreposfromgit.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:file="http://www.mulesoft.org/schema/mule/file"
	xmlns:java="http://www.mulesoft.org/schema/mule/java"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/java http://www.mulesoft.org/schema/mule/java/current/mule-java.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd">
	<flow name="downloadreposfromgitFlow" doc:id="c6ba5b86-46a9-430e-88d6-112fdd3e6f30" >
		<http:listener doc:name="Listener" doc:id="c5690345-9b6b-42fb-9c4b-72818195b17f" config-ref="HTTP_GUIListener_config" path="/downloadrepos"/>
		<ee:transform doc:name="Transform Message" doc:id="8b1afdff-4e2b-4f49-8d0b-d6356221091f" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
payload]]></ee:set-payload>
			</ee:message>
			<ee:variables >
				
				<ee:set-variable variableName="path" ><![CDATA[output application/java
import * from dw::core::Strings
---
payload.parts.path.content default ""]]></ee:set-variable>
				<ee:set-variable variableName="branch" ><![CDATA[output application/java
var branches = trim(payload.parts.branch.content) default ""
---
if(branches contains(",")) (branches splitBy(",")) else (branches splitBy(" "))]]></ee:set-variable>
				<ee:set-variable variableName="reponame" ><![CDATA[output application/java
---
payload.parts.reponame.content default ""]]></ee:set-variable>
				<ee:set-variable variableName="developer" ><![CDATA[output application/java
---
trim(payload.parts.developer.content) default ""]]></ee:set-variable>
				<ee:set-variable variableName="apiname" ><![CDATA[%dw 2.0
output application/java
var apiname = payload.parts.apiname.content default ""
---
trim(apiname) splitBy(",")]]></ee:set-variable>
				<ee:set-variable variableName="configflag" ><![CDATA[output application/java
---
trim(payload.parts.configflag.content) default ""]]></ee:set-variable>
				<ee:set-variable variableName="currentapiname" ><![CDATA[%dw 2.0
output application/java
---
""]]></ee:set-variable>
				<ee:set-variable variableName="currentbranch" ><![CDATA[%dw 2.0
output application/java
---
""]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<foreach doc:name="For Each" doc:id="4078746a-784a-475c-a78d-64f975c11c84" collection="#[vars.apiname default []]">
			<set-variable value="#[payload]" doc:name="Set Variable" doc:id="e93b3913-73b1-48b3-9a46-835b54afad14" variableName="currentapiname"/>
			<foreach doc:name="For Each" doc:id="66df03f9-a811-4503-87fb-932ad0a2432f" collection="#[vars.branch default []]">
				<set-variable value="#[payload]" doc:name="Set Variable" doc:id="c3929187-db10-46e1-ba61-33127407d59b" variableName="currentbranch"/>
				<try doc:name="Try" doc:id="2579318f-117e-418e-8294-a9023e9cc542" >
					<java:new constructor="GitCloneRepo()" doc:name="New" doc:id="840e8eeb-833f-4e83-89fa-3c2842d880e4" class="com.org.propertyutil.GitCloneRepo" />
					<java:invoke method="GitCloneBranch(java.lang.String,java.lang.String,java.lang.String,java.lang.String,java.lang.String,java.lang.String)" doc:name="Clone Repo" doc:id="81016399-aa53-4964-b699-bf663ad450e0" instance="#[payload]" class="com.org.propertyutil.GitCloneRepo">
			<java:args><![CDATA[#[%dw 2.0
var datetime = now() as String {format: "yMMddhhm"}
---
{
	arg0 : p('repo.eapi01') ++ (vars.reponame default "EAPI02") ++ "//" ++ (vars.currentapiname default "") ++ ".git" ,
	arg1 : p('username.gitlab'),
	arg2 : p('password.gitlab'),
	arg3 : vars.currentbranch default "alt-release",
	arg4 : p('downloadreposbulk.path') ++ vars.currentapiname ++ "_code_" ++ "_" ++ vars.currentbranch ++ "_" ++ datetime ++ "//",
	arg5 : p('downloadreposbulk.path') ++ vars.currentapiname ++ "_code_" ++ "_" ++ vars.currentbranch ++ "_" ++ datetime ++ "//"
}]]]></java:args>
		</java:invoke>
					<error-handler >
						<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="a4e37143-565c-456f-86e1-008da7d11d17" >
							<logger level="INFO" doc:name="Logger" doc:id="d3769690-6395-48a3-bb1f-0fd36f2d9b44" message='#[vars.currentbranch ++ " not available for download"]'/>
						</on-error-continue>
					</error-handler>
				</try>
			</foreach>
			<choice doc:name="Choice" doc:id="519c58ca-c578-4121-8af1-758d33c988df">
			<when expression='#[vars.configflag == "Yes"]'>
					<try doc:name="Try" doc:id="9beb0547-ff3d-4c46-9a92-884618135fac" >
						<java:new constructor="GitCloneRepo()" doc:name="New1" doc:id="5a5962d2-a73a-4d1a-b187-d034d7ac7937" class="com.org.propertyutil.GitCloneRepo" />
						<java:invoke method="GitCloneBranch(java.lang.String,java.lang.String,java.lang.String,java.lang.String,java.lang.String,java.lang.String)" doc:name="Clone Repo1" doc:id="01748c02-0674-42a0-b815-02b448619f33" instance="#[payload]" class="com.org.propertyutil.GitCloneRepo">
			<java:args><![CDATA[#[%dw 2.0
var datetime = now() as String {format: "yMMddhhm"}
---
{
	arg0 : p('repo.eapi01') ++ (vars.reponame default "EAPI01") ++ "//" ++ (vars.currentapiname default "") ++ "_config.git" ,
	arg1 : p('username.gitlab'),
	arg2 : p('password.gitlab'),
	arg3 : "master",
	arg4 : p('downloadreposbulk.path') ++ vars.currentapiname ++ "_config_" ++ datetime ++ "//",
	arg5 : p('downloadreposbulk.path') ++ vars.currentapiname ++ "_config_" ++ datetime ++ "//"
}]]]></java:args>
		</java:invoke>
						<error-handler >
							<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="939de1d1-dc73-49fe-80ea-4ab78e505ea4" >
								<logger level="INFO" doc:name="Logger" doc:id="c29e038c-60d9-4bea-8ec9-6e8a3da95b79" message='#["Config repo is not available for " ++ vars.currentapiname]'/>
							</on-error-continue>
						</error-handler>
					</try>
			</when>
		</choice>
		</foreach>
		<try doc:name="Try" doc:id="e4732785-e1f3-42ae-bbd3-7d9f20443bd0">
			<db:insert doc:name="Insert" doc:id="b853a18b-445a-45e6-9a0b-b4a1cba157be" config-ref="Database-Connection">
				<db:sql><![CDATA[INSERT INTO EAPI_MULE_T2M_REPORT (TOOL_NAME, SERVICE_NAME, BRANCH_NAME, USAGE_STATUS, USED_BY, LAST_UPDATED)
VALUES (:toolname, :servicename, :branchname, :usagestatus, :usedby, :lastupdated)]]></db:sql>
				<db:input-parameters><![CDATA[#[{
	'toolname' : "Download Repos From Git - Bulk",
	'servicename' : "MultipleAPIs",
	'branchname' : "MultipleBranches",
	'usagestatus' : "Pass",
	'usedby' : vars.developer,
	'lastupdated' : (now() >> "America/New_York") as String {format: "y-MM-dd HH:m:s"}
}]]]></db:input-parameters>
			</db:insert>
			<error-handler>
				<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="b1c73a1a-2906-4e5e-8512-3cf736b22e81">
					<logger level="INFO" doc:name="Logger" doc:id="c2478c32-a8ac-45d5-9aa5-8eec99673013" message="Error inserting in to database" />
				</on-error-continue>
			</error-handler>
		</try>
		<parse-template doc:name="Parse Template" doc:id="a5318679-91b7-4ecb-a318-d2b0016fcbbd" location="web\downloadedbulkrepos.html"/>
	</flow>
	<flow name="downloadreposfromgitFlow1" doc:id="d3105693-2fa4-489b-afda-ade675040b99" >
		<http:listener doc:name="Listener" doc:id="8f67fcd5-4c4a-439a-938f-2b34ff659aff" config-ref="HTTP_GUIListener_config" path="/downloadreposbulk"/>
		<parse-template doc:name="Parse Template" doc:id="2283432c-d24d-495a-bf17-88e586da82c4" location="web\downloadreposbulk.html"/>
	</flow>
</mule>
