raksanalyzer/deleteLater/servicequalitycheck/src/main/mule/getfilesfromgit.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:file="http://www.mulesoft.org/schema/mule/file" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd">
	<flow name="getfilesfromgitFlow" doc:id="68757fcc-4ac6-4feb-b600-45c0433fbad2" >
		<http:listener doc:name="Listener" doc:id="543bf120-7ad1-4b93-bb94-47db98528cf5" config-ref="HTTP_GUIListener_config" path="/getfiles"/>
		<ee:transform doc:name="Transform Message" doc:id="1140f6df-2eda-4215-ab2c-dab3f8b819ee" >
			<ee:message >
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="apiname" ><![CDATA[%dw 2.0
output application/java
import * from dw::core::Strings
var apiname = payload.parts.apiname.content
---
if(apiname contains(',')) (apiname splitBy(',')) else (apiname splitBy(' '))
]]></ee:set-variable>
				<ee:set-variable variableName="branches" ><![CDATA[%dw 2.0
output application/java
var branch = payload.parts.branch.content
---
if(branch contains(',')) (branch splitBy(',')) else (branch splitBy(' '))]]></ee:set-variable>
				<ee:set-variable variableName="filename" ><![CDATA[%dw 2.0
output application/java
import * from dw::core::Strings
var separator = if(payload.parts.filepath.content contains('/')) '/' else '\\'
---
substringAfterLast(payload.parts.filepath.content,separator)]]></ee:set-variable>
				<ee:set-variable variableName="filepath" ><![CDATA[%dw 2.0
output application/java
---
payload.parts.filepath.content]]></ee:set-variable>
				<ee:set-variable variableName="failedapis" ><![CDATA[%dw 2.0
output application/java
---
""]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<foreach doc:name="For Each" doc:id="99602faa-5e93-4646-868e-bb211870d8de" collection="#[vars.apiname default []]">
			<try doc:name="Try" doc:id="a7721b96-d1ba-498a-b470-16d63ac5e73a">
			<set-variable value="#[payload]" doc:name="Set Variable" doc:id="5579f3fa-0e7d-4ac4-85ea-7f771c3914f6" variableName="currentapiname" />
				<ee:transform doc:name="Transform Message1" doc:id="2d9b6d1f-2e66-414c-967e-71e4d384d132">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/java
---
"/api/v4/search?scope=projects&search=" ++ (vars.currentapiname default "") ++ "&private_token=" ++ "${password.gitlab}"
]]></ee:set-payload>
			</ee:message>
		</ee:transform>
				<http:request method="GET" doc:name="request" doc:id="cf3a7855-7ed9-40f3-b760-02b6a63deae1" config-ref="GetCredential" path="#[payload]" />
				<ee:transform doc:name="Transform Message" doc:id="e889e71b-cc6d-4506-9af4-4c7490d6ebeb">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
var api=vars.currentapiname
---
if((payload filter(v,i)-> (v.name == api)).id[0]==null) (payload.id[0] - 1) else (payload filter(v,i)-> (v.name == api)).id[0]]]></ee:set-payload>
			</ee:message>
			<ee:variables>
				<ee:set-variable variableName="projectid"><![CDATA[%dw 2.0
output application/json
var api=vars.currentapiname
---
if((payload filter(v,i)-> (v.name == api)).id[0]==null) (payload.id[0] - 1) else (payload filter(v,i)-> (v.name == api)).id[0]]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
				<foreach doc:name="For Each" doc:id="533d705b-935f-48b4-94b9-7017af015f00" collection="#[vars.branches default []]">
				<set-variable value="#[payload]" doc:name="Set Variable" doc:id="0629f5f6-cf90-44a1-ae0e-f8e978fd0424" variableName="currentbranch" />
				<ee:transform doc:name="Transform Message2" doc:id="6664b8ff-e43f-433b-b9d0-c2d2b2cfbd90">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/java
import * from dw::core::Strings
var path=vars.filepath
var separator = if(path contains('/')) "/" else "\\"
var replacedstring = replaceAll(path,separator,'%2F')
var branch=payload
---

"/api/v4/projects/" ++ vars.projectid ++ "/repository/files/" ++ replacedstring ++ "?ref=" ++ branch ++ "&private_token=" ++ "${password.gitlab}"
]]></ee:set-payload>
			</ee:message>
		</ee:transform>
				<try doc:name="Try" doc:id="ce2a3313-d92c-406e-8de0-766350d401ca">
					<http:request method="GET" doc:name="Request" doc:id="1b58a443-fce0-4b88-80e8-438ac104b323" config-ref="GetCredential" path="#[payload]" />
					<choice doc:name="Choice" doc:id="92f6e4d5-74be-4feb-a926-be37b750ca68">
					<when expression="#[sizeOf(payload.content)&gt;20]">
						<ee:transform doc:name="Transform Message" doc:id="33aa025d-a302-485a-a792-0ba4a933dabf">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
import * from dw::core::Binaries
output text/plain
---
fromBase64(payload.content as String) as String]]></ee:set-payload>
			</ee:message>
									<ee:variables >
										<ee:set-variable variableName="decryptedcontent" ><![CDATA[%dw 2.0
output application/java
---
""]]></ee:set-variable>
									</ee:variables>
		</ee:transform>
								<ee:transform doc:name="Transform Message" doc:id="4818a2eb-1104-4ab7-8743-db6d0e6941a1">
									<ee:message>
										<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
(payload splitBy('\n')) filter(v,i)-> (!(v contains('#'))) and (sizeOf(trim(v default ""))>1)]]></ee:set-payload>
									</ee:message>
								</ee:transform>
								<foreach doc:name="For Each" doc:id="d0a96845-0b6a-4472-8d3d-83ec471de9ba" collection="#[payload]">
									<choice doc:name="Choice" doc:id="a76d6681-6e83-4af2-9b2f-212ec69459e2" >
										<when expression="#[payload contains('![')]">
											<ee:transform doc:name="Transform Message" doc:id="8b45d824-877c-4d74-94a9-93103fd3d031">
										<ee:message>
										</ee:message>
										<ee:variables>
											<ee:set-variable variableName="propertyname"><![CDATA[%dw 2.0
output application/java
import * from dw::core::Strings
---
trim(substringBefore(payload,'=') default "")]]></ee:set-variable>
											<ee:set-variable variableName="encpwd"><![CDATA[%dw 2.0
output application/java
import * from dw::core::Strings
---
trim(substringAfter(payload,'=') default "")]]></ee:set-variable>
										</ee:variables>
									</ee:transform>
											<set-payload value='#[%dw 2.0&#10;output application/x-www-form-urlencoded&#10;---&#10;{&#10;"encryptionkey" : "A2Sgd@gamgdTV@ms",&#10;"password":vars.encpwd,&#10;"mode":"decrypt",&#10;"algType":"aes"&#10;}]' doc:name="Set Payload" doc:id="bc35fbf8-5433-41e9-9584-d096f6db004d" />
											<http:request method="POST" doc:name="Request" doc:id="5d499873-fdbf-4061-8135-bd871e00680d" config-ref="PWDDecrypt" path="/encryption-utility-np/home/studio/convert">
									<http:headers><![CDATA[#[{
	"Content-Type" : "application/x-www-form-urlencoded",
	"Accept" : "*/*",
	"Accept-Encoding" : "gzip, deflate, br",
	"Connection" : "keep-alive"
}]]]></http:headers>
								</http:request>
										</when>
										<when expression="#[payload contains('^{')]">
											<ee:transform doc:name="Transform Message" doc:id="a90a9bd3-dcf6-4249-b46f-6c5e4ce87375">
												<ee:message>
												</ee:message>
												<ee:variables>
													<ee:set-variable variableName="propertyname"><![CDATA[%dw 2.0
output application/java
import * from dw::core::Strings
---
trim(substringBefore(payload,'=') default "")]]></ee:set-variable>
													<ee:set-variable variableName="encpwd"><![CDATA[%dw 2.0
output application/java
import * from dw::core::Strings
---
trim(substringAfter(payload,'=') default "")]]></ee:set-variable>
												</ee:variables>
											</ee:transform>
											<set-payload value='#[%dw 2.0&#10;output application/x-www-form-urlencoded&#10;---&#10;{&#10;"password":vars.encpwd,&#10;"mode":"decrypt",&#10;"algType":"gcm"&#10;}]' doc:name="Set Payload" doc:id="5836b6a5-9932-45d7-9de3-5459db3ef72e" />
											<http:request method="POST" doc:name="Request" doc:id="e685953d-e145-4d63-b368-40934014d270" config-ref="PWDDecrypt" path="/encryption-utility-np/home/nonprod/convert">
												<http:headers><![CDATA[#[{
	"Content-Type" : "application/x-www-form-urlencoded",
	"Accept" : "*/*",
	"Accept-Encoding" : "gzip, deflate, br",
	"Connection" : "keep-alive"
}]]]></http:headers>
											</http:request>
										</when>
										<otherwise>
											<ee:transform doc:name="Transform Message" doc:id="762852ff-a4e3-48e2-b9db-293aa7ffc13b" >
												<ee:message >
												</ee:message>
												<ee:variables >
													<ee:set-variable variableName="propertyname" ><![CDATA[%dw 2.0
output application/java
import * from dw::core::Strings
---
trim(substringBefore(payload,'=') default "")]]></ee:set-variable>
													<ee:set-variable variableName="propertyvalue" ><![CDATA[%dw 2.0
output application/java
import * from dw::core::Strings
---
trim(substringAfter(payload,'=') default "")]]></ee:set-variable>
												</ee:variables>
											</ee:transform>
											<set-payload value="#[vars.propertyvalue]" doc:name="Set Payload" doc:id="0c91b57d-15b0-4fcf-a26d-8e9c4176a1cc" />
										</otherwise>
									</choice>
									<set-variable value='#[%dw 2.0&#10;output application/java&#10;var property = vars.propertyname default ""&#10;var decryptedpass = payload&#10;var currentcontent = vars.decryptedcontent default ""&#10;---&#10;if(sizeOf(trim(currentcontent))&gt;1) currentcontent ++ "\n" ++ property ++ "=" ++ decryptedpass else property ++ "=" ++ decryptedpass]' doc:name="Set Variable" doc:id="2d6094d9-2dad-44b5-8048-0493dd199e31" variableName="decryptedcontent" />
								</foreach>
								<file:write doc:name="Write" doc:id="c955c440-4e97-4892-9c9b-30ec162828e6" config-ref="File_Config_Write" path="#[p('gitfilestorepath') ++ vars.currentapiname ++ &quot;_&quot; ++ vars.currentbranch ++ &quot;_&quot; ++ vars.filename]" >
									<file:content ><![CDATA[#[vars.decryptedcontent]]]></file:content>
								</file:write>
					</when>
				</choice>
					<error-handler>
						<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="f47723a8-07b5-444f-b42c-c047668065e5">
							<logger level="INFO" doc:name="Logger" doc:id="987261b8-7315-45f4-b03c-d96c691d78c1" message="Error occured while processing" />
								<set-variable value='#[%dw 2.0&#10;output application/java&#10;var failed = vars.failedapis default ""&#10;var current = vars.currentapiname default ""&#10;---&#10;if(sizeOf(trim(failed))&gt;1) &#10;	if(failed contains(current))&#10;	failed&#10;	else&#10;	failed ++ "," ++ current &#10;else current]' doc:name="Set Variable" doc:id="4401c30a-0490-4747-a3b1-e2a802ae2031" variableName="failedapis" />
						</on-error-continue>
					</error-handler>
				</try>
			</foreach>
				<error-handler>
				<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="d2b70a25-fd3c-4166-8a58-0c22999e174e">
						<logger level="INFO" doc:name="Logger" doc:id="084b144b-9f5d-4f33-b87c-96994131f8fc" message="Error occured for the api"/>
				</on-error-continue>
			</error-handler>
		</try>
		</foreach>
		<parse-template doc:name="Parse Template" doc:id="53e556de-c328-4fd3-bd54-0fbfb7cf8fdc" location="web\gitfilesresponse.html"/>
	</flow>
	<flow name="getfilesfromgitFlow1" doc:id="415a38c7-e922-4f80-aa39-64bb0b2c413b" >
		<http:listener doc:name="Listener" doc:id="935ea7f0-dad1-4ab1-b7ae-768cdc64db95" config-ref="HTTP_GUIListener_config" path="/getfilesfromgit"/>
		<parse-template doc:name="Parse Template" doc:id="c469d171-df1b-4e9f-a46f-c168c1a54771" location="web\getfilesfromgit.html"/>
	</flow>
</mule>
