raksanalyzer/deleteLater/servicequalitycheck/src/main/mule/studiopwddecrypt.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ibm-mq="http://www.mulesoft.org/schema/mule/ibm-mq" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:file="http://www.mulesoft.org/schema/mule/file"
	xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/ibm-mq http://www.mulesoft.org/schema/mule/ibm-mq/current/mule-ibm-mq.xsd">
	<flow name="studiopwddecryptFlow" doc:id="daf27e56-fa2a-4f25-b71f-09d6c5fc009e" >
		<http:listener doc:name="Listener" doc:id="a43ac336-6720-4213-acbc-dce8060304c4" config-ref="HTTP_GUIListener_config" path="/studiopwddecrypt"/>
		<file:read doc:name="Read" doc:id="0f2bb0a7-8965-40bd-8880-858c58e2f73e" config-ref="File_Config" path="C:\data\today\22nd jan\GitLab_SecuredProperties_KeyName_ScannerReport_0122.csv" outputMimeType="text/plain"/>
		<ee:transform doc:name="Transform Message" doc:id="41aa0342-627b-441b-842b-3b771a05ed6b" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
payload splitBy('\n')]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<ee:transform doc:name="Transform Message" doc:id="f111a348-f100-497f-89e3-19f110d99240" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
payload filter(v,i)-> v contains('![')]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<foreach doc:name="For Each" doc:id="7f2789ab-b607-49e4-b92c-b6014a41df4a" collection="#[payload]" >
			<try doc:name="Try" doc:id="818908e4-6c85-4542-acdd-8df22080c756" >
				<set-variable value="#[%dw 2.0&#10;output application/java&#10;import * from dw::core::Strings&#10;---&#10;trim(substringBeforeLast(payload,',') default &quot;&quot;)]" doc:name="Set Variable" doc:id="f5792b65-446f-4dc2-9c92-e2544048cb4b" variableName="apiname"/>
				<set-variable value="#[%dw 2.0&#10;output application/java&#10;import * from dw::core::Strings&#10;---&#10;trim(substringAfterLast(payload,',') default &quot;&quot;)]" doc:name="Set Variable" doc:id="3d7520f6-4897-40da-b9a7-a5c876eb8b35" variableName="encpwd" />
				<set-payload value='#[%dw 2.0&#10;output application/x-www-form-urlencoded&#10;---&#10;{&#10;"encryptionkey" : "A2Sgd@gamgdTV@ms",&#10;"password":vars.encpwd,&#10;"mode":"decrypt",&#10;"algType":"aes"&#10;}]' doc:name="Set Payload" doc:id="84b8888a-08ba-4959-8926-de91c9f28413" />
				<http:request method="POST" doc:name="Request" doc:id="53aff557-8257-4b05-863f-1bf4a91a083f" config-ref="PWDDecrypt" path="/encryption-utility-np/home/studio/convert" >
					<http:headers ><![CDATA[#[{ "Content-Type" : "application/x-www-form-urlencoded","Accept" : "*/*","Accept-Encoding" : "gzip, deflate, br","Connection" : "keep-alive"}]]]></http:headers>
				</http:request>
				<set-variable value="#[%dw 2.0&#10;output application/java&#10;import * from dw::core::Strings&#10;var currentvar = vars.tibcoencryptedsecurepropcheck default &quot;&quot;&#10;var encpwd = vars.encpwd default &quot;&quot;&#10;---&#10;if(payload contains('CTIB')) &#10;	if(sizeOf(currentvar)&gt;1) currentvar ++ &quot;, &quot; ++ vars.apiname ++ &quot; - &quot; ++ encpwd ++ &quot; : &quot; ++ payload  else vars.apiname ++ &quot; - &quot; ++ encpwd ++ &quot; : &quot; ++ payload&#10;else&#10;	currentvar]" doc:name="Set Variable1" doc:id="25cd41a1-73f7-417b-8b47-7aa42ec5daee" variableName="tibcoencryptedsecurepropcheck" />
				<logger level="INFO" doc:name="Logger" doc:id="dd52e4d4-5cff-4b84-be3a-a5932de321f9" message="#[vars.tibcoencryptedsecurepropcheck]"/>
				<error-handler >
					<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="dc86cb5b-5d6c-48ba-b91f-678cfd62acc8" >
						<set-payload value="#[%dw 2.0&#10;output application/java&#10;---&#10;vars.encpwd]" doc:name="Set Payload" doc:id="1489edf8-a7b6-426c-a339-cd9da38d539d" />
					</on-error-continue>
				</error-handler>
			</try>
		</foreach>
		<file:write doc:name="Write" doc:id="a9544abf-ae2f-45d2-b69e-e32a9871a170" config-ref="File_Config_Write" path="C:\data\today\22nd jan\apiswithctibcred.txt">
			<file:content ><![CDATA[#[vars.tibcoencryptedsecurepropcheck]]]></file:content>
		</file:write>
		<ee:transform doc:name="Transform Message" doc:id="334ec1dc-486e-4052-b84e-377060485dc1" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/xml
import * from dw::core::Strings
---
ClientSearchReply : {
	"AccountNumber" : sizeOf(vars.inputPayload.ChannelId),
	"BankNum" : "102",
	"CIFStaticKey" : substringBefore(vars.inputPayload.JSONRequest,"key")
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
