raksanalyzer/deleteLater/servicequalitycheck/src/main/mule/tibcoconfigextract.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:os="http://www.mulesoft.org/schema/mule/os" 
	xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:file="http://www.mulesoft.org/schema/mule/file" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd 
http://www.mulesoft.org/schema/mule/os http://www.mulesoft.org/schema/mule/os/current/mule-os.xsd">
	
	
	<flow name="tibcoconfigextract" doc:id="955d5cf7-c7f2-4b90-b13f-43030da61ce8" >
		<http:listener doc:name="Listener" doc:id="514693ea-cced-4bbe-b075-9b71ee810dcc" config-ref="HTTP_GUIListener_config" path="${tibcoconfigextract.path}"/>
		<ee:transform doc:name="Transform Message" doc:id="a0a25abd-b6bc-4616-8332-947ca7a3e8b8" >
			<ee:message >
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="inputdirectory" ><![CDATA["${tibcoconfigextract.inputlocation}"]]></ee:set-variable>
				<ee:set-variable variableName="uristring" ><![CDATA[%dw 2.0
output application/java
---
attributes.uriParams.name]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<file:list doc:name="List" doc:id="94eef7ad-d089-401b-9dab-670e7adc634c" config-ref="File_Config" directoryPath="#[vars.inputdirectory]"/>
		<set-variable value="#[output application/java&#10;---&#10;payload.attributes.path filter(v,i)-&gt; (v contains('prod'))]" doc:name="Set Variable" doc:id="dacd154a-d0fe-4954-aa5c-9e3e2231f996" variableName="envsavailable"/>
		<file:list doc:name="List" doc:id="9fca3761-7e7b-4557-9e40-b8105425408b" config-ref="File_Config" directoryPath='#[(vars.envsavailable default "")[0]]' recursive="true">
			<file:matcher filenamePattern="*.xml" directories="EXCLUDE" symLinks="EXCLUDE"/>
		</file:list>
		<ee:transform doc:name="Transform Message" doc:id="1d3f687c-6f18-4425-9bef-0f71f5b434da" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload.typedAttributes.path filter(v,i)-> (!(v contains('-Training.xml')))]]></ee:set-payload>
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="trainingfiles" ><![CDATA[%dw 2.0
output application/json
---
payload.typedAttributes.path filter(v,i)-> (v contains('-Training.xml'))]]></ee:set-variable>
				<ee:set-variable variableName="tibcoenvsavailable" ><![CDATA[%dw 2.0
output application/java
---
("ads64_prod,ads64_dev,be64_dev,ads64_sit,ads64_ait,ads64_tpp,ads64_tdh,ads64_uat,ads64_dr,ads64_trn") splitBy(',')]]></ee:set-variable>
				<ee:set-variable variableName="extractedservices" ><![CDATA[%dw 2.0
output application/java
---
""]]></ee:set-variable>
			
</ee:variables>
		</ee:transform>
			<set-variable value='#[sizeOf(payload default "")]' doc:name="Set Variable" doc:id="65e9a014-8c89-496f-b44e-7c9c51ba4965" variableName="numberoffiles"/>
		<async doc:name="Async" doc:id="f73d7ae0-787f-4346-a611-1bb4d5501086" >
			<choice doc:name="Choice" doc:id="f14a95ca-e3d6-4711-82a2-62889b9fd02d">
			<when expression="#[((vars.uristring default &quot;&quot;) contains('extract'))]">
				<foreach doc:name="For Each" doc:id="30544c2d-ff21-4e15-a78c-7c00ac166047" collection="#[payload default []]">
			<ee:transform doc:name="Transform Message" doc:id="d75db101-4afc-48c9-86b5-a898cf2d27ca">
				<ee:message>
				</ee:message>
				<ee:variables>
					<ee:set-variable variableName="currentfile"><![CDATA[%dw 2.0
output text/plain
import * from dw::core::Strings
var prodfile = if(payload contains('ads64_prod')) payload else 
			  if(payload contains('ads64')) (substringBefore(payload,"ads64_") ++ "ads64_prod\\" ++ substringAfter(substringAfter(payload,'ads64_'),'\\')) else (substringBefore(payload,"be64_") ++ "ads64_prod\\" ++ substringAfter(substringAfter(payload,'be64_'),'\\')) 
---
prodfile]]></ee:set-variable>
				</ee:variables>
			</ee:transform>
			<foreach doc:name="For Each" doc:id="371e71ad-fec3-4898-b7a5-48d0fb311ca5" collection="#[vars.tibcoenvsavailable default []]">
				<ee:transform doc:name="Transform Message" doc:id="f867a788-70bf-4c43-bbef-9a0899d20404">
					<ee:message>
						<ee:set-payload><![CDATA[%dw 2.0
output text/plain
import * from dw::core::Strings
---
if(payload contains('ads64_trn'))
substringBeforeLast(vars.currentfile,'.xml') ++ '-Training.xml'
else
replaceAll(vars.currentfile,'ads64_prod',payload)
]]></ee:set-payload>
					</ee:message>
					<ee:variables>
									<ee:set-variable variableName="filename" ><![CDATA[%dw 2.0
output text/plain
import * from dw::core::Strings
---
substringAfterLast(payload,'\\')]]></ee:set-variable>
					</ee:variables>
				</ee:transform>
				<try doc:name="Try" doc:id="22689e5b-5ebe-4c0a-930d-dc7942e6f107">
							<choice doc:name="Choice" doc:id="7a60a5d5-0b57-42fe-8099-b2c34b5d5cf4">
				<when expression='#[payload contains("ads64_dev")]'>
					<try doc:name="Try" doc:id="67380f02-c92a-4c84-982f-3c1429e4273d" >
											<file:read doc:name="Read" doc:id="8774fda8-89cb-4eb6-95e2-b8779d33535e" config-ref="File_Config" path="#[payload]" outputMimeType="application/xml" />
											<error-handler >
												<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="5ab55252-d7b8-4c6a-813b-1480647b2a32" >
													
													<flow-ref doc:name="Flow Reference" doc:id="69184860-20a0-46e9-8b13-8ba0cf7b2ada" name="getfilesfromfolders"/>
												</on-error-continue>
											</error-handler>
										</try>
										<ee:transform doc:name="Transform Message1" doc:id="50ac6410-0b3f-4e57-83cf-07da3013a6d0">
							<ee:message>
								<ee:set-payload><![CDATA[%dw 2.0
output text/plain
import * from dw::core::Strings
---
trim(write(payload, 'application/xml'))]]></ee:set-payload>
							</ee:message>
						</ee:transform>
						<ee:transform doc:name="Transform Message" doc:id="0aa5b1ec-5178-472e-b85f-66619a139ac6">
						<ee:message>
						</ee:message>
						<ee:variables>
							<ee:set-variable variableName="ads64dev"><![CDATA[%dw 2.0
output text/plain
---
payload default "App not available"]]></ee:set-variable>
						</ee:variables>
					</ee:transform>
				</when>
				<when expression='#[payload contains("be64_dev")]'>
										<try doc:name="Try" doc:id="7c947616-ac7f-449f-99e5-c50b6623f073" >
											<file:read doc:name="Read" doc:id="73674570-c8e4-4480-96f4-f3655bc1ce82" config-ref="File_Config" path="#[payload]" outputMimeType="application/xml" />
											<error-handler >
												<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="e527281a-c2fa-4358-a513-1c18168bddf6" >
													<flow-ref doc:name="Flow Reference" doc:id="10dde1f9-96a5-441d-9d3c-6caa13b03a1c" name="getfilesfromfolders"/>
												</on-error-continue>
											</error-handler>
										</try>
					<ee:transform doc:name="Transform Message" doc:id="672af024-3bdb-4898-813a-ed911f6b46d1">
							<ee:message>
								<ee:set-payload><![CDATA[%dw 2.0
output text/plain
import * from dw::core::Strings
---
trim(write(payload, 'application/xml'))]]></ee:set-payload>
							</ee:message>
						</ee:transform>
						<ee:transform doc:name="Transform Message1" doc:id="9fa354c1-4ba3-4695-9cb8-77610b16db96">
						<ee:message>
						</ee:message>
						<ee:variables>
							<ee:set-variable variableName="be64_dev"><![CDATA[%dw 2.0
output application/json
---
payload default "App not available"]]></ee:set-variable>
						</ee:variables>
					</ee:transform>
				</when>
				<when expression='#[payload contains("ads64_sit")]'>
					<try doc:name="Try" doc:id="e4665736-4b35-42f3-95da-04d6c57e212b" >
											<file:read doc:name="Read" doc:id="5d20bd1a-3895-43c3-9597-1bcedfba289f" config-ref="File_Config" path="#[payload]" outputMimeType="application/xml" />
											<error-handler >
												<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="c4537a98-0b91-4a8c-9945-63aabdb37445" >
													<flow-ref doc:name="Flow Reference" doc:id="768c9e52-b408-47b3-8b4e-ed6c54e16037" name="getfilesfromfolders" />
												</on-error-continue>
											</error-handler>
										</try>
										<ee:transform doc:name="Transform Message" doc:id="ce6f7aad-2e2b-4460-82b1-b4bb1d6956ec">
							<ee:message>
								<ee:set-payload><![CDATA[%dw 2.0
output text/plain
import * from dw::core::Strings
---
trim(write(payload, 'application/xml'))]]></ee:set-payload>
							</ee:message>
						</ee:transform>
						<ee:transform doc:name="Transform Message1" doc:id="009f44fb-cf5b-430a-bdbe-eefbb82099d9">
						<ee:message>
						</ee:message>
						<ee:variables>
							<ee:set-variable variableName="ads64sit"><![CDATA[%dw 2.0
output application/json
---
payload default "App not available"]]></ee:set-variable>
						</ee:variables>
					</ee:transform>
				</when>
				<when expression='#[payload contains("ads64_ait")]'>
					<try doc:name="Try" doc:id="916e9f19-caa6-41b3-9b17-0cf54b66def0" >
											<file:read doc:name="Read" doc:id="4abfec2f-0ef7-4339-9bbc-51f0d5f9e462" config-ref="File_Config" path="#[payload]" outputMimeType="application/xml" />
											<error-handler >
												<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="f0cb9925-a0f3-49a3-a10c-a30e6e2c2634" >
													<flow-ref doc:name="Flow Reference" doc:id="e9936c65-58c7-4f53-aa08-d1882576110d" name="getfilesfromfolders" />
												</on-error-continue>
											</error-handler>
										</try>
										<ee:transform doc:name="Transform Message" doc:id="b52a57b8-0d04-424e-9a24-8a82dcb91719">
							<ee:message>
								<ee:set-payload><![CDATA[%dw 2.0
output text/plain
import * from dw::core::Strings
---
trim(write(payload, 'application/xml'))]]></ee:set-payload>
							</ee:message>
						</ee:transform>
						<ee:transform doc:name="Transform Message1" doc:id="cdd881b7-becb-4a8f-947f-2daf6fbb95f9">
						<ee:message>
						</ee:message>
						<ee:variables>
							<ee:set-variable variableName="ads64ait"><![CDATA[%dw 2.0
output application/json
---
payload default "App not available"]]></ee:set-variable>
						</ee:variables>
					</ee:transform>
				</when>
				<when expression='#[payload contains("ads64_tpp")]'>
					<try doc:name="Try" doc:id="24e8a76f-ee02-4cf7-88ae-bbcb1cfa9ccb" >
											<file:read doc:name="Read" doc:id="e7a4d8f5-6751-4098-855e-4b8f59990475" config-ref="File_Config" path="#[payload]" outputMimeType="application/xml" />
											<error-handler >
												<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="f92d6104-1e04-485c-8063-51995fde49b7" >
													<flow-ref doc:name="Flow Reference" doc:id="58b54e75-ce9e-474a-820a-154159604563" name="getfilesfromfolders" />
												</on-error-continue>
											</error-handler>
										</try>
										<ee:transform doc:name="Transform Message" doc:id="2fb2bc33-86fa-4f8f-9657-09a3fa52a3b5">
							<ee:message>
								<ee:set-payload><![CDATA[%dw 2.0
output text/plain
import * from dw::core::Strings
---
trim(write(payload, 'application/xml'))]]></ee:set-payload>
							</ee:message>
						</ee:transform>
						<ee:transform doc:name="Transform Message1" doc:id="a8268666-ffbc-487b-91d3-7269a773f6f1">
						<ee:message>
						</ee:message>
						<ee:variables>
							<ee:set-variable variableName="ads64tpp"><![CDATA[%dw 2.0
output text/plain
---
payload default "App not available"]]></ee:set-variable>
						</ee:variables>
					</ee:transform>
				</when>
				<when expression='#[payload contains("ads64_uat")]'>
					<try doc:name="Try" doc:id="0879db33-d889-4331-a903-ec66c0174c5a" >
											<file:read doc:name="Read" doc:id="c52aef11-6930-4c19-a4e4-7fcbd45314a3" config-ref="File_Config" path="#[payload]" outputMimeType="application/xml" />
											<error-handler >
												<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="d01bb2e9-0f08-4a05-adde-46b706988f8c" >
													<flow-ref doc:name="Flow Reference" doc:id="01f969a1-6028-4cbb-85d6-a3f916ff4bad" name="getfilesfromfolders" />
												</on-error-continue>
											</error-handler>
										</try>
										<ee:transform doc:name="Transform Message" doc:id="e2c5709f-e6ef-4ef1-9bbd-39370b75521a">
							<ee:message>
								<ee:set-payload><![CDATA[%dw 2.0
output text/plain
import * from dw::core::Strings
---
trim(write(payload, 'application/xml'))]]></ee:set-payload>
							</ee:message>
						</ee:transform>
						<ee:transform doc:name="Transform Message1" doc:id="bef49b9d-81ab-4cea-9288-a26665a1b835">
						<ee:message>
						</ee:message>
						<ee:variables>
							<ee:set-variable variableName="ads64uat"><![CDATA[%dw 2.0
output text/plain
---
payload default "App not available"]]></ee:set-variable>
						</ee:variables>
					</ee:transform>
				</when>
				<when expression='#[payload contains("ads64_tdh")]'>
					<try doc:name="Try" doc:id="49eb1066-4dcb-4d3a-99b5-784d62e7cc04" >
											<file:read doc:name="Read" doc:id="e59f061e-d6a7-479d-be43-7dfcd41b4c7e" config-ref="File_Config" path="#[payload]" outputMimeType="application/xml" />
											<error-handler >
												<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="c42d209d-aea3-4a30-b476-67b26fc428df" >
													<flow-ref doc:name="Flow Reference" doc:id="0c4d8e00-868c-45fe-8818-2a815565f91e" name="getfilesfromfolders" />
												</on-error-continue>
											</error-handler>
										</try>
										<ee:transform doc:name="Transform Message" doc:id="a0b8ffc8-3e94-4b85-95af-308ae4c2b007">
							<ee:message>
								<ee:set-payload><![CDATA[%dw 2.0
output text/plain
import * from dw::core::Strings
---
trim(write(payload, 'application/xml'))]]></ee:set-payload>
							</ee:message>
						</ee:transform>
						<ee:transform doc:name="Transform Message1" doc:id="4c0da0e1-763b-404e-9a79-b2e758747377">
						<ee:message>
						</ee:message>
						<ee:variables>
							<ee:set-variable variableName="ads64tdh"><![CDATA[%dw 2.0
output text/plain
---
payload default "App not available"]]></ee:set-variable>
						</ee:variables>
					</ee:transform>
				</when>
				<when expression='#[payload contains("ads64_dr")]'>
					<try doc:name="Try" doc:id="fc963c7d-240c-45b7-bfd9-dd7ec0f447f4" >
											<file:read doc:name="Read" doc:id="0e0f1865-d57a-4aa9-9b37-c068e5dad10f" config-ref="File_Config" path="#[payload]" outputMimeType="application/xml" />
											<error-handler >
												<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="994bd4fe-edb0-4e94-be86-dd83d2ba7f34" >
													<flow-ref doc:name="Flow Reference" doc:id="c216bc5d-15a2-4a94-b31c-112c6ae41cee" name="getfilesfromfolders" />
												</on-error-continue>
											</error-handler>
										</try>
										<ee:transform doc:name="Transform Message" doc:id="d36f8fcf-00fa-4c24-be87-21ea2d7a83bf">
							<ee:message>
								<ee:set-payload><![CDATA[%dw 2.0
output text/plain
import * from dw::core::Strings
---
trim(write(payload, 'application/xml'))]]></ee:set-payload>
							</ee:message>
						</ee:transform>
						<ee:transform doc:name="Transform Message1" doc:id="46cf4c20-7652-48e2-9e1e-41f5be212fa7">
						<ee:message>
						</ee:message>
						<ee:variables>
							<ee:set-variable variableName="ads64dr"><![CDATA[%dw 2.0
output text/plain
---
payload default "App not available"]]></ee:set-variable>
						</ee:variables>
					</ee:transform>
				</when>
				<when expression="#[(payload contains('ads64_prod')) and (!(payload contains('Training')))]">
						<try doc:name="Try" doc:id="63390486-b9df-4c8e-ba13-5da3103062e7" >
											<file:read doc:name="Read" doc:id="d7fbdee5-bdf2-4e96-bb16-d095fd05c961" config-ref="File_Config" path="#[payload]" />
											<error-handler >
												<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="3061a393-319c-4219-bdf0-6e0cfdf07951" >
													<flow-ref doc:name="Flow Reference" doc:id="6dd2a6a2-320a-4f8c-92b0-6f7f2ec40fa7" name="getfilesfromfolders" />
												</on-error-continue>
											</error-handler>
										</try>
										<ee:transform doc:name="Transform Message" doc:id="9c6dfd84-27e3-452c-91d3-a8edfe54cf70">
							<ee:message>
								<ee:set-payload><![CDATA[%dw 2.0
output text/plain
import * from dw::core::Strings
---
trim(write(payload, 'application/xml'))]]></ee:set-payload>
							</ee:message>
						</ee:transform>
						<ee:transform doc:name="Transform Message1" doc:id="52fcf84e-18ea-4efc-ad80-39e772c707d6">
							<ee:message />
							<ee:variables>
								<ee:set-variable variableName="ads64prod"><![CDATA[%dw 2.0
output text/plain
---
payload default "App not available"]]></ee:set-variable>
							</ee:variables>
						</ee:transform>
					</when>
					<otherwise>
						<file:read doc:name="Read" doc:id="1389ffcd-04ae-4c68-a95b-3299944cfa85" config-ref="File_Config" path="#[payload]" outputMimeType="application/xml" />
						<ee:transform doc:name="Transform Message" doc:id="28c8921b-6974-4424-b621-f60c0bb42110">
								<ee:message>
									<ee:set-payload><![CDATA[%dw 2.0
output text/plain
import * from dw::core::Strings
---
trim(write(payload, 'application/xml'))]]></ee:set-payload>
								</ee:message>
							</ee:transform>
						<ee:transform doc:name="Transform Message1" doc:id="eee13098-b0be-4555-861e-ea77542b16de">
						<ee:message>
						</ee:message>
						<ee:variables>
							<ee:set-variable variableName="ads64trn"><![CDATA[%dw 2.0
output text/plain
---
payload default "App not available"]]></ee:set-variable>
						</ee:variables>
					</ee:transform>
				</otherwise>
			</choice>
					<error-handler>
								<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="cf302286-f5d1-49fc-b903-311498c4a603">
									<logger level="INFO" doc:name="Logger" doc:id="da7527e9-99d4-49cf-9d6c-af7626eb2fcb" message="File not found" />
								</on-error-continue>
							</error-handler>
						</try>
			</foreach>
			<file:read doc:name="Read" doc:id="6272bf43-18f8-4910-9970-1fa5027cb259" config-ref="File_Config" path="#[vars.currentfile]" outputMimeType="application/xml" />
			<ee:transform doc:name="Transform Message1" doc:id="8b3cb001-8117-4481-9994-7ac5572dc90c">
						<ee:message>
							<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
						</ee:message>
						<ee:variables>
						</ee:variables>
					</ee:transform>
			<ee:transform doc:name="Transform Message" doc:id="eaa6c5f3-ce6a-46de-bb17-ff6a85f8d22b">
				<ee:message>
					<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
(payload.application.NVPairs pluck $) map(data,index)->{
	name: data.name,
	value : data.value
}]]></ee:set-payload>
				</ee:message>
			</ee:transform>
			<ee:transform doc:name="Transform Message" doc:id="38b3322b-f734-465e-ae1d-27bfd14a09d6">
					<ee:message>
						<ee:set-payload><![CDATA[%dw 2.0
output application/json
import * from dw::core::Strings
---
GlobalVariables : payload map(data,index)->{
	GlobalVariable : data.name,
	"TDV(TESTE:ads64_dev)" 	:	if(vars.ads64dev contains('App not available')) "App not available" else if(sizeOf(substringBefore(substringAfter(vars.ads64dev,data.name ++ '</name>\n      <value>'),'</value>'))==0) "**Not Found**" else substringBefore(substringAfter(vars.ads64dev,data.name ++ '</name>\n      <value>'),'</value>'),
	"ATDV(TESTF:be64_dev)"    :	if(vars.be64dev contains('App not available')) "App not available" else if(sizeOf(substringBefore(substringAfter(vars.be64_dev,data.name ++ '</name>\n      <value>'),'</value>'))==0) "**Not Found**" else substringBefore(substringAfter(vars.be64_dev,data.name ++ '</name>\n      <value>'),'</value>'),
	"MNE(TESTF:ads64_dev)"    :	if(vars.ads64dev contains('App not available')) "App not available" else if(sizeOf(substringBefore(substringAfter(vars.ads64dev,data.name ++ '</name>\n      <value>'),'</value>'))==0)  "**Not Found**" else substringBefore(substringAfter(vars.ads64dev,data.name ++ '</name>\n      <value>'),'</value>'),
	"ITE(TESTU:ads64_sit)"	: 	if(vars.ads64sit contains('App not available')) "App not available" else if(sizeOf(substringBefore(substringAfter(vars.ads64sit,data.name ++ '</name>\n      <value>'),'</value>'))==0)  "**Not Found**" else substringBefore(substringAfter(vars.ads64sit,data.name ++ '</name>\n      <value>'),'</value>'),						
	"PITE(TESTX:ads64_ait)" 	:	if(vars.ads64ait contains('App not available')) "App not available" else if(sizeOf(substringBefore(substringAfter(vars.ads64ait,data.name ++ '</name>\n      <value>'),'</value>'))==0) "**Not Found**" else substringBefore(substringAfter(vars.ads64ait,data.name ++ '</name>\n      <value>'),'</value>'),
	"IBF(TESTM:ads64_uat)"    :	if(vars.ads64uat contains('App not available')) "App not available" else if(sizeOf(substringBefore(substringAfter(vars.ads64uat,data.name ++ '</name>\n      <value>'),'</value>'))==0)  "**Not Found**" else substringBefore(substringAfter(vars.ads64uat,data.name ++ '</name>\n      <value>'),'</value>'),
	"PREP(TESTQ:ads64_tpp)"     :   if(vars.ads64tpp contains('App not available')) "App not available" else if(sizeOf(substringBefore(substringAfter(vars.ads64tpp,data.name ++ '</name>\n      <value>'),'</value>'))==0)  "**Not Found**" else substringBefore(substringAfter(vars.ads64tpp,data.name ++ '</name>\n      <value>'),'</value>'),
	"DRL(TESTD:ads64_tdh)" 	:	if(vars.ads64tdh contains('App not available')) "App not available" else if(sizeOf(substringBefore(substringAfter(vars.ads64tdh,data.name ++ '</name>\n      <value>'),'</value>'))==0) "**Not Found**" else substringBefore(substringAfter(vars.ads64tdh,data.name ++ '</name>\n      <value>'),'</value>'),
	"DR(ads64_dr)" 	:	if(vars.ads64dr contains('App not available')) "App not available" else if(sizeOf(substringBefore(substringAfter(vars.ads64dr,data.name ++ '</name>\n      <value>'),'</value>'))==0)  "**Not Found**" else substringBefore(substringAfter(vars.ads64dr,data.name ++ '</name>\n      <value>'),'</value>'),
	"PROD(ads64_prod)" 	:	if(vars.ads64prod contains('App not available')) "App not available" else if(sizeOf(substringBefore(substringAfter(vars.ads64prod,data.name ++ '</name>\n      <value>'),'</value>'))==0)  "**Not Found**" else substringBefore(substringAfter(vars.ads64prod,data.name ++ '</name>\n      <value>'),'</value>'),
	"TRN(TESTR:Training)" 	:	if(vars.ads64trn contains('App not available')) "App not available" else if(sizeOf(substringBefore(substringAfter(vars.ads64trn,data.name ++ '</name>\n      <value>'),'</value>'))==0)  "**Not Found**" else substringBefore(substringAfter(vars.ads64trn,data.name ++ '</name>\n      <value>'),'</value>')
							
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			<ee:transform doc:name="Transform Message" doc:id="aaaa5724-a0c6-411a-a194-066f630501f9">
				<ee:message>
					<ee:set-payload><![CDATA[%dw 2.0
output application/xlsx header=true
---
payload]]></ee:set-payload>
				</ee:message>
				<ee:variables>
					<ee:set-variable variableName="excelfilename"><![CDATA[%dw 2.0
output text/plain
import * from dw::core::Strings
var date = (now() >> "America/New_York") as String {format: "MM-dd-y"}
---
vars.inputdirectory ++ "\\tibcoconfigextracted\\" ++ date ++ "\\" ++ substringBefore(substringAfterLast(vars.currentfile,"\\"),'.xml') ++ ".xlsx"]]></ee:set-variable>
					<ee:set-variable variableName="currentservicename"><![CDATA[%dw 2.0
output text/plain
import * from dw::core::Strings
---
substringBefore(substringAfterLast(vars.currentfile,"\\"),'.xml')]]></ee:set-variable>
				</ee:variables>
				
			
</ee:transform>
			<file:write doc:name="Write" doc:id="5f5c22fe-f995-4022-b6cc-28353cce504e" config-ref="File_Config" path="#[vars.excelfilename]">
		</file:write>
			<ee:transform doc:name="Transform Message" doc:id="a683a7f6-35d0-4bd6-997a-a86ea898a58e">
				<ee:message>
					<ee:set-payload><![CDATA[%dw 2.0
import java!com::org::propertyutil::GlobalVariableFileStyle
output application/json
---
{
	format : GlobalVariableFileStyle::gvfilestyling(vars.excelfilename,11 as Number)
}]]></ee:set-payload>
				</ee:message>
					<ee:variables>
						<ee:set-variable variableName="extractedservices"><![CDATA[%dw 2.0
output application/java
var extractedservice = vars.extractedservices default ""
var currentservice = vars.currentservicename default ""
---
if(sizeOf(trim(extractedservice))>0) extractedservice ++ "," ++ currentservice else currentservice]]></ee:set-variable>
					</ee:variables>
			</ee:transform>
			<os:store doc:name="Store" doc:id="400d5918-c835-4006-b4f7-ee80ffdab525" key="extractedservices" objectStore="Object_store" failOnNullValue="false">
					<os:value><![CDATA[#[vars.extractedservices]]]></os:value>
				</os:store>
			
						<choice doc:name="Choice" doc:id="7cccb0ad-e488-46de-940b-e52b3b7c4740">
				<when expression="#[1==2]">
					<try doc:name="Try" doc:id="16f343c9-4251-4bc5-a0bd-25cfaae690e9">
				<db:insert doc:name="Insert" doc:id="93cbb7d0-d616-4b9a-b659-96fb078e8769" config-ref="Database-Connection">
					<db:sql><![CDATA[INSERT INTO EAPI_MULE_T2M_REPORT (TOOL_NAME, SERVICE_NAME, BRANCH_NAME, USAGE_STATUS, FAIL_COUNT, PASS_COUNT, USED_BY, LAST_UPDATED)
VALUES (:toolname, :servicename, :branchname, :usagestatus, :failcount, :passcount, :usedby, :lastupdated)]]></db:sql>
					<db:input-parameters><![CDATA[#[{
	'toolname' : 'TibcoConfigExtractor',
	'servicename' : vars.currentservicename,
	'branchname' : 'N/A',
	'usagestatus' : 'Pass',
	'failcount' : 'N/A',
	'passcount': 'N/A',
	'usedby' : 'TibcoConfigExtractor',
	'lastupdated' : (now() >> "America/New_York") as String {format: "y-MM-dd HH:m:s"}
}]]]></db:input-parameters>
				</db:insert>
						<error-handler>
							<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="9c5faa13-5f35-4914-9d9f-a69e6a7eb379">
								<logger level="INFO" doc:name="Logger" doc:id="df1e958a-0ff3-450d-9848-beef0f294b46" message="log" />
							</on-error-continue>
						</error-handler>
						</try>
						</when>
						</choice>
				<ee:transform doc:name="Transform Message" doc:id="356bb866-2bcc-4ece-8110-c5130dffc35b">
					<ee:message>
					</ee:message>
					<ee:variables>
						<ee:set-variable variableName="ads64dev"><![CDATA[%dw 2.0
output application/java
---
""]]></ee:set-variable>
						<ee:set-variable variableName="be64_dev"><![CDATA[%dw 2.0
output application/java
---
""]]></ee:set-variable>
						<ee:set-variable variableName="ads64sit"><![CDATA[%dw 2.0
output application/java
---
""]]></ee:set-variable>
						<ee:set-variable variableName="ads64ait"><![CDATA[%dw 2.0
output application/java
---
""]]></ee:set-variable>
						<ee:set-variable variableName="ads64tpp"><![CDATA[%dw 2.0
output application/java
---
""]]></ee:set-variable>
						<ee:set-variable variableName="ads64uat"><![CDATA[%dw 2.0
output application/java
---
""]]></ee:set-variable>
						<ee:set-variable variableName="ads64tdh"><![CDATA[%dw 2.0
output application/java
---
""]]></ee:set-variable>
						<ee:set-variable variableName="ads64trn"><![CDATA[%dw 2.0
output application/java
---
""]]></ee:set-variable>
						<ee:set-variable variableName="ads64prod"><![CDATA[%dw 2.0
output application/java
---
""]]></ee:set-variable>
						<ee:set-variable variableName="ads64dr"><![CDATA[%dw 2.0
output application/java
---
""]]></ee:set-variable>
					</ee:variables>
				</ee:transform>
		</foreach>
			</when>
		</choice>
		</async>
		<choice doc:name="Choice" doc:id="7995297f-cd82-4483-bce2-2dce59cc5967" >
			<when expression="#[((vars.uristring default &quot;&quot;) contains('livestatus'))]">
				<try doc:name="Try" doc:id="5e3af162-ece5-4538-a27f-7347d59ee914">
					<os:retrieve doc:name="Retrieve" doc:id="3573c279-c39f-4782-9b42-ba7e87d083be" key="extractedservices" objectStore="Object_store" />
			<error-handler>
						<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="2e7cb5f2-fbd1-4ec6-a5a1-b4d5a14cf374">
							<logger level="INFO" doc:name="Logger" doc:id="f8237dd7-a479-4e7e-a6fe-81344ea7c865" message="No value stored" />
						</on-error-continue>
					</error-handler>
				</try>
				<ee:transform doc:name="Transform Message" doc:id="e7079dd0-d777-4eaa-a10a-1cf1dc6d164f">
					<ee:message>
						<ee:set-payload><![CDATA[%dw 2.0
output application/java
---
if(payload==null) "the given APIs" else (payload default "") splitBy(',')
]]></ee:set-payload>
					</ee:message>
				</ee:transform>
				<set-variable value='#[sizeOf(payload default "")]' doc:name="Set Variable" doc:id="9a3c1e8c-04cf-4831-bd32-d4daecb327e2" variableName="numberofextracted"/>
				<choice doc:name="Choice" doc:id="c5093e5e-c9ee-42f0-976e-3c273ddb5cc1">
					<when expression="#[(!(payload contains('the given APIs'))) and (!((vars.numberoffiles default &quot;&quot;) == (vars.numberofextracted)))]">
						<ee:transform doc:name="Transform Message" doc:id="0854fd61-7baa-4b0c-9b9c-b75eeb086605">
					<ee:message>
						<ee:set-payload><![CDATA[%dw 2.0
import * from dw::core::Strings
output application/xml
var apiarray =  payload
---

		table @(class:'charts',align:'left'):
		{
			tr: apiarray map 
			{
				
						
					td : {
						
						p : {
							span : 'Config extract has been completed for ',
							b : $ 
						}
					}
					
				
				
			
			}
			
		}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
						<ee:transform doc:name="Transform Message" doc:id="736a47c1-0020-4d11-baa8-50cf56c39bf4">
					<ee:message>
						<ee:set-payload><![CDATA[%dw 2.0
output application/java
---
write(payload, "application/xml")]]></ee:set-payload>
					</ee:message>
				</ee:transform>
					</when>
					<otherwise >
						<set-payload value="Tibco config extract has been completed." doc:name="Set Payload" doc:id="cdd6ba44-7c58-4f7d-a1f7-8e6d44e32ee9" />
					</otherwise>
				</choice>
				<ee:transform doc:name="Transform Message" doc:id="da6257d8-8743-4e11-88ea-bee71e6ec07b">
					<ee:message>
					</ee:message>
					<ee:variables>
						<ee:set-variable variableName="tibcoextractedservices"><![CDATA[%dw 2.0
---
payload]]></ee:set-variable>
					
</ee:variables>
				</ee:transform>
			</when>
			<otherwise >
				<set-variable value="Tibco config extract has been triggered." doc:name="Set Variable" doc:id="e2fda8f9-cd84-4c71-82ad-4bdaf710a084" variableName="tibcoextractedservices" />
			</otherwise>
		</choice>
		<parse-template doc:name="Parse Template" doc:id="930127cb-87c7-4afa-9180-f1bb104a3019" location="web\tibcoconfigextractsuccess.html" />
		
	</flow>
	<sub-flow name="getfilesfromfolders" doc:id="4c52473b-0b02-4c22-9974-11f8a2eeab86" >
		<ee:transform doc:name="Transform Message" doc:id="a34d6110-8e56-42a0-8085-8bbb17b8e313">
														<ee:message>
															<ee:set-payload><![CDATA[%dw 2.0
output application/java
import * from dw::core::Strings
var envfront = substringBefore(payload,'64_')
var envlater = substringBefore(substringAfter(payload,'64_'),'\\')
var filelocation = envfront ++ '64_' ++ envlater ++ '\\'
---
filelocation]]></ee:set-payload>
														</ee:message>
													</ee:transform>
		<file:list doc:name="List" doc:id="d317e444-a040-47c0-9c02-6336702194ef" config-ref="File_Config" directoryPath="#[payload]" recursive="true">
														<file:matcher filenamePattern="*.xml" />
													</file:list>
													<ee:transform doc:name="Transform Message" doc:id="ea291ea5-7739-4b31-8c02-39abc0905603" >
														<ee:message >
															<ee:set-payload ><![CDATA[%dw 2.0
output text/plain
import * from dw::core::Strings
var inputfiles = payload.typedAttributes.path
var filename = substringAfterLast(vars.currentfile,'\\')
---
(inputfiles filter(v,i)-> v contains(filename))[0]]]></ee:set-payload>
														</ee:message>
													</ee:transform>
													<file:read doc:name="Read" doc:id="aba9ab74-0c98-487e-953d-492bf31ad40b" config-ref="File_Config" path="#[payload]" outputMimeType="application/xml" />
	</sub-flow>
</mule>
