reference/mule_projects/raksmule/src/main/mule/raksmule.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:http="http://www.mulesoft.org/schema/mule/http"
      xsi:schemaLocation="
        http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
        http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">

    <!-- Configuration Properties -->
    <configuration-properties file="mule-app.properties"/>

    <!-- HTTP Listener Configuration -->
    <http:listener-config name="HTTP_Listener_config">
        <http:listener-connection host="0.0.0.0" port="${http.port}"/>
    </http:listener-config>

    <!-- ========================================== -->
    <!-- REST API Endpoints                         -->
    <!-- ========================================== -->

    <!-- REST: POST /api/orders (Create Order) -->
    <flow name="rest-create-order">
        <http:listener config-ref="HTTP_Listener_config" path="/api/orders" allowedMethods="POST"/>
        <logger level="INFO" message="REST CreateOrder called"/>
        <set-payload value='{"orderNumber":"ORD-20260118-001","status":"SUCCESS","message":"Order created successfully"}' mimeType="application/json"/>
    </flow>

    <!-- REST: GET /api/orders/{orderNumber} (Get Order) -->
    <flow name="rest-get-order">
        <http:listener config-ref="HTTP_Listener_config" path="/api/orders/*" allowedMethods="GET"/>
        <logger level="INFO" message="REST GetOrder called"/>
        <set-payload value='{"orderNumber":"ORD-20260118-001","customerName":"John Doe","customerEmail":"john.doe@example.com","orderDate":"2026-01-18","productName":"Widget Pro","quantity":5,"totalAmount":249.99,"status":"CONFIRMED"}' mimeType="application/json"/>
    </flow>

    <!-- ========================================== -->
    <!-- SOAP Service Endpoints                     -->
    <!-- ========================================== -->

    <!-- SOAP: Main Endpoint -->
    <flow name="soap-orderservice-main">
        <http:listener config-ref="HTTP_Listener_config" path="/soap/orderservice" allowedMethods="POST"/>
        <logger level="INFO" message="SOAP request received"/>
        <choice>
            <when expression="#[payload as String contains 'CreateOrderRequest']">
                <logger level="INFO" message="SOAP CreateOrder called"/>
                <set-payload value='&lt;soap:Envelope xmlns:soap="http://schemas.xmlsoap.org/soap/envelope/" xmlns:tns="http://raks.com/orderservice"&gt;&lt;soap:Body&gt;&lt;tns:CreateOrderResponse&gt;&lt;orderNumber&gt;ORD-20260118-001&lt;/orderNumber&gt;&lt;status&gt;SUCCESS&lt;/status&gt;&lt;message&gt;Order created successfully&lt;/message&gt;&lt;/tns:CreateOrderResponse&gt;&lt;/soap:Body&gt;&lt;/soap:Envelope&gt;' mimeType="text/xml"/>
            </when>
            <when expression="#[payload as String contains 'GetOrderRequest']">
                <logger level="INFO" message="SOAP GetOrder called"/>
                <set-payload value='&lt;soap:Envelope xmlns:soap="http://schemas.xmlsoap.org/soap/envelope/" xmlns:tns="http://raks.com/orderservice"&gt;&lt;soap:Body&gt;&lt;tns:GetOrderResponse&gt;&lt;orderNumber&gt;ORD-20260118-001&lt;/orderNumber&gt;&lt;customerName&gt;John Doe&lt;/customerName&gt;&lt;customerEmail&gt;john.doe@example.com&lt;/customerEmail&gt;&lt;orderDate&gt;2026-01-18&lt;/orderDate&gt;&lt;productName&gt;Widget Pro&lt;/productName&gt;&lt;quantity&gt;5&lt;/quantity&gt;&lt;totalAmount&gt;249.99&lt;/totalAmount&gt;&lt;status&gt;CONFIRMED&lt;/status&gt;&lt;/tns:GetOrderResponse&gt;&lt;/soap:Body&gt;&lt;/soap:Envelope&gt;' mimeType="text/xml"/>
            </when>
            <otherwise>
                <set-payload value='&lt;soap:Envelope xmlns:soap="http://schemas.xmlsoap.org/soap/envelope/"&gt;&lt;soap:Body&gt;&lt;soap:Fault&gt;&lt;faultcode&gt;soap:Client&lt;/faultcode&gt;&lt;faultstring&gt;Unknown Operation&lt;/faultstring&gt;&lt;/soap:Fault&gt;&lt;/soap:Body&gt;&lt;/soap:Envelope&gt;' mimeType="text/xml"/>
            </otherwise>
        </choice>
    </flow>

    <!-- WSDL Endpoint -->
    <flow name="soap-wsdl">
        <http:listener config-ref="HTTP_Listener_config" path="/soap/orderservice" allowedMethods="GET"/>
        <set-payload value="#[output application/xml --- readUrl('classpath://wsdl/OrderService.wsdl', 'text/xml')]" mimeType="text/xml"/>
    </flow>

</mule>
