reference/mule_projects/raksmule/src/main/mule/raksmule.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:http="http://www.mulesoft.org/schema/mule/http"
      xmlns:api-gateway="http://www.mulesoft.org/schema/mule/api-gateway"
      xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
      xmlns:spring="http://www.mulesoft.org/schema/mule/spring"
      xsi:schemaLocation="
        http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
        http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
        http://www.mulesoft.org/schema/mule/api-gateway http://www.mulesoft.org/schema/mule/api-gateway/current/mule-api-gateway.xsd
        http://www.mulesoft.org/schema/mule/spring http://www.mulesoft.org/schema/mule/spring/current/mule-spring.xsd">

    <!-- Configuration Properties -->
    <configuration-properties file="mule-app.properties"/>

    <!-- Spring Configuration -->
    <spring:config name="Spring_Config" files="beans.xml" />
    <spring:security-manager>
        <spring:delegate-security-provider name="memory-provider" delegate-ref="authenticationManager" />
    </spring:security-manager>

    <!-- API Autodiscovery Configuration (Disabled in favor of Spring Security) -->
    <!-- <api-gateway:autodiscovery apiId="${api.id}" flowRef="rest-create-order" ignoreBasePath="true" doc:name="API Autodiscovery" /> -->

    <!-- HTTP Listener Configuration -->
    <http:listener-config name="HTTP_Listener_config">
        <http:listener-connection host="0.0.0.0" port="${http.port}"/>
    </http:listener-config>

    <!-- ========================================== -->
    <!-- REST API Endpoints                         -->
    <!-- ========================================== -->

    <!-- REST: POST /api/orders (Create Order) -->
    <flow name="rest-create-order">
        <http:listener config-ref="HTTP_Listener_config" path="/api/orders" allowedMethods="POST"/>
        <http:basic-security-filter realm="mule-realm" />
        <logger level="INFO" message="REST CreateOrder called"/>
        <set-payload value="#[output application/json --- {orderNumber:'ORD-20260118-001',status:'SUCCESS',message:'Order created successfully',timestamp:now()}]" mimeType="application/json"/>
    </flow>

    <!-- REST: GET /api/orders/{orderNumber} (Get Order) -->
    <flow name="rest-get-order">
        <http:listener config-ref="HTTP_Listener_config" path="/api/orders/*" allowedMethods="GET"/>
        <http:basic-security-filter realm="mule-realm" />
        <logger level="INFO" message="REST GetOrder called"/>
        <set-payload value="#[output application/json --- {orderNumber:'ORD-20260118-001',customerName:'John Doe',customerEmail:'john.doe@example.com',orderDate:'2026-01-18',productName:'Widget Pro',quantity:5,totalAmount:249.99,status:'CONFIRMED',timestamp:now()}]" mimeType="application/json"/>
    </flow>

    <!-- ========================================== -->
    <!-- SOAP Service Endpoints                     -->
    <!-- ========================================== -->

    <!-- SOAP: Main Endpoint -->
    <flow name="soap-orderservice-main">
        <http:listener config-ref="HTTP_Listener_config" path="/soap/orderservice" allowedMethods="POST"/>
        <http:basic-security-filter realm="mule-realm" />
        <logger level="INFO" message="SOAP request received"/>
        <choice>
            <!-- Check presence of XML element safely -->
            <when expression="#[write(payload, 'application/xml') contains 'CreateOrderRequest']">
                <logger level="INFO" message="SOAP CreateOrder called"/>
                <set-payload value="#[output application/xml --- read('&lt;soap:Envelope xmlns:soap=&quot;http://schemas.xmlsoap.org/soap/envelope/&quot; xmlns:tns=&quot;http://raks.com/orderservice&quot;&gt;&lt;soap:Body&gt;&lt;tns:CreateOrderResponse&gt;&lt;orderNumber&gt;ORD-20260118-001&lt;/orderNumber&gt;&lt;status&gt;SUCCESS&lt;/status&gt;&lt;message&gt;Order created successfully&lt;/message&gt;&lt;timestamp&gt;' ++ (now() as String) ++ '&lt;/timestamp&gt;&lt;/tns:CreateOrderResponse&gt;&lt;/soap:Body&gt;&lt;/soap:Envelope&gt;', 'application/xml')]" mimeType="text/xml"/>
            </when>
            <when expression="#[write(payload, 'application/xml') contains 'GetOrderRequest']">
                <logger level="INFO" message="SOAP GetOrder called"/>
                <set-payload value="#[output application/xml --- read('&lt;soap:Envelope xmlns:soap=&quot;http://schemas.xmlsoap.org/soap/envelope/&quot; xmlns:tns=&quot;http://raks.com/orderservice&quot;&gt;&lt;soap:Body&gt;&lt;tns:GetOrderResponse&gt;&lt;orderNumber&gt;ORD-20260118-001&lt;/orderNumber&gt;&lt;customerName&gt;John Doe&lt;/customerName&gt;&lt;customerEmail&gt;john.doe@example.com&lt;/customerEmail&gt;&lt;orderDate&gt;2026-01-18&lt;/orderDate&gt;&lt;productName&gt;Widget Pro&lt;/productName&gt;&lt;quantity&gt;5&lt;/quantity&gt;&lt;totalAmount&gt;249.99&lt;/totalAmount&gt;&lt;status&gt;CONFIRMED&lt;/status&gt;&lt;timestamp&gt;' ++ (now() as String) ++ '&lt;/timestamp&gt;&lt;/tns:GetOrderResponse&gt;&lt;/soap:Body&gt;&lt;/soap:Envelope&gt;', 'application/xml')]" mimeType="text/xml"/>
            </when>
            <otherwise>
                <set-payload value='&lt;soap:Envelope xmlns:soap="http://schemas.xmlsoap.org/soap/envelope/"&gt;&lt;soap:Body&gt;&lt;soap:Fault&gt;&lt;faultcode&gt;soap:Client&lt;/faultcode&gt;&lt;faultstring&gt;Unknown Operation&lt;/faultstring&gt;&lt;/soap:Fault&gt;&lt;/soap:Body&gt;&lt;/soap:Envelope&gt;' mimeType="text/xml"/>
            </otherwise>
        </choice>
    </flow>

    <!-- WSDL Endpoint -->
    <flow name="soap-wsdl">
        <http:listener config-ref="HTTP_Listener_config" path="/soap/orderservice" allowedMethods="GET"/>
        <set-payload value="#[output application/xml --- readUrl('classpath://wsdl/OrderService.wsdl', 'text/xml')]" mimeType="text/xml"/>
    </flow>

</mule>
