apiguardwrapper/src/main/mule/aegis-wrapper.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" 
	xmlns:compression="http://www.mulesoft.org/schema/mule/compression" 
	xmlns:java="http://www.mulesoft.org/schema/mule/java" 
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" 
	xmlns:os="http://www.mulesoft.org/schema/mule/os" 
	xmlns:email="http://www.mulesoft.org/schema/mule/email" 
	xmlns:file="http://www.mulesoft.org/schema/mule/file" 
	xmlns:http="http://www.mulesoft.org/schema/mule/http" 
	xmlns="http://www.mulesoft.org/schema/mule/core" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
http://www.mulesoft.org/schema/mule/email http://www.mulesoft.org/schema/mule/email/current/mule-email.xsd
http://www.mulesoft.org/schema/mule/os http://www.mulesoft.org/schema/mule/os/current/mule-os.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/java http://www.mulesoft.org/schema/mule/java/current/mule-java.xsd
http://www.mulesoft.org/schema/mule/compression http://www.mulesoft.org/schema/mule/compression/current/mule-compression.xsd">

    <!-- Global Error Handler Configuration (Reusing globalErrorHandler from muleguard-wrapper) -->
    <!-- <configuration defaultErrorHandler-ref="globalErrorHandler"/> -->

    <!-- Flow 0 & 3: Consolidated Landing Page & Redirect Handler -->
    <flow name="aegis-landing-flow">
        <!-- Listens on /aegis and /aegis/ -->
        <http:listener path="/aegis" config-ref="HTTP_Listener_config" allowedMethods="GET">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.httpHeaders default {}]</http:headers>
            </http:response>
        </http:listener>
        
        <choice>
            <!-- Case 1: Missing trailing slash -> Redirect to add it -->
            <when expression="#[! (attributes.requestPath endsWith '/') ]">
                <set-variable variableName="httpStatus" value="302"/>
                <set-variable variableName="httpHeaders" value="#[{
                    'Location': p('http.listener.basePath') ++ '/aegis/?session=' ++ (attributes.queryParams.session default uuid())
                }]"/>
                <logger level="INFO" message="Redirecting to enforce trailing slash: /apiguard/aegis/"/>
            </when>
            
            <!-- Case 2: Correct path -> Serve Landing Page -->
            <otherwise>
                <set-variable variableName="sessionId" value="#[attributes.queryParams.session default uuid()]"/>
                <set-variable variableName="httpHeaders" value="#[{
                    'Content-Type': 'text/html; charset=UTF-8',
                    'Cache-Control': 'no-cache, no-store, must-revalidate'
                }]"/>
                <async>
                     <flow-ref name="aegis-send-launch-notification-flow"/>
                </async>
                <parse-template location="web/aegis/index.html"/>
            </otherwise>
        </choice>
    </flow>

    <sub-flow name="aegis-create-anonymous-session-subflow">
        <set-variable variableName="sessionId" value="#[uuid()]"/>
        <set-variable variableName="sessionStartTime" value="#[now()]"/>
        <os:store key="#[vars.sessionId]" objectStore="User_Session_Store">
            <os:value><![CDATA[#[output application/java --- {
                name: 'Anonymous User',
                email: '${notification.email.to}',
                company: 'N/A',
                ipAddress: attributes.headers['x-forwarded-for'] default attributes.remoteAddress,
                userAgent: attributes.headers['user-agent'],
                startTime: vars.sessionStartTime,
                validationRun: false
            }]]]></os:value>
        </os:store>
        <logger level="INFO" message="#['Created anonymous session: ' ++ vars.sessionId]"/>
    </sub-flow>
    
    <flow name="aegis-send-launch-notification-flow">
         <os:retrieve key="#[vars.sessionId]" objectStore="User_Session_Store" target="sessionData">
            <os:default-value><![CDATA[#[{
                name: 'Unknown',
                email: '${notification.email.to}',
                company: 'N/A'
            }]]]></os:default-value>
        </os:retrieve>
        
        <email:send config-ref="Email_SMTP" 
                    subject="#['${notification.email.subject}' replace '{name}' with vars.sessionData.name replace '{emailId}' with vars.sessionData.email ++ ' - Launched Aegis']"
                    toAddresses="#[(p('notification.email.to') default '') splitBy ',']"
                    fromAddress="Aegis &lt;${notification.email.from}&gt;">
            <email:body contentType="text/html">
                <email:content>#[output text/plain --- "User " ++ vars.sessionData.name ++ " (" ++ vars.sessionData.email ++ ") from " ++ vars.sessionData.company ++ " launched Aegis."]</email:content>
            </email:body>
        </email:send>
        <error-handler>
            <on-error-continue>
                <logger level="WARN" message="Failed to send launch notification"/>
            </on-error-continue>
        </error-handler>
    </flow>


    <!-- Flow 3.5: Sample File Download (Classpath) - MUST BE BEFORE CATCH-ALL /aegis/* -->
    <flow name="aegis-sample-download-flow">
        <http:listener path="/aegis/api/download/sample" config-ref="HTTP_Listener_config" allowedMethods="GET">
            <http:response>
                <http:headers>#[{
                    "Content-Type": vars.mimeType default "application/octet-stream",
                    "Content-Disposition": 'attachment; filename="' ++ vars.filename ++ '"',
                    "Cache-Control": "no-cache, no-store, must-revalidate"
                }]</http:headers>
            </http:response>
        </http:listener>
        
        <!-- Extract filename from query parameter -->
        <set-variable variableName="filename" value="#[attributes.queryParams.file default '']"/>
        
        <choice>
            <!-- Security: Only allow specific sample files -->
            <when expression="#[vars.filename == 'sample-project.zip' or vars.filename == 'sample-rules.yaml']">
                <!-- Determine MIME type -->
                <set-variable variableName="mimeType" value="#[
                    if (vars.filename endsWith '.zip') 'application/zip'
                    else if (vars.filename endsWith '.yaml') 'application/x-yaml'
                    else 'application/octet-stream'
                ]"/>
                
                <!-- Read from classpath (works in deployed JAR) -->
                <set-payload value="#[readUrl('classpath://web/aegis/' ++ vars.filename, 'application/octet-stream')]"/>
                <logger level="INFO" message="#['Serving sample file from classpath: ' ++ vars.filename]"/>
            </when>
            <otherwise>
                <logger level="WARN" message="#['Invalid sample file requested: ' ++ vars.filename]"/>
                <set-payload value="Invalid file requested"/>
                <set-variable variableName="httpStatus" value="404"/>
            </otherwise>
        </choice>
        
        <error-handler>
            <on-error-continue type="ANY">
                <logger level="ERROR" message="#['Failed to serve sample file: ' ++ vars.filename ++ '. Error: ' ++ error.description]"/>
                <set-payload value="File not found"/>
                <set-variable variableName="httpStatus" value="404"/>
            </on-error-continue>
        </error-handler>
    </flow>

    <!-- Flow 4: Static Resource Serving (Flat Context) -->
    <flow name="aegis-static-resource-flow">
        <http:listener path="/aegis/*" config-ref="HTTP_Listener_config" allowedMethods="GET">
            <http:response>
                <http:headers>#[{
                    "Content-Type": vars.mimeType default "text/html",
                    "Cache-Control": "no-cache, no-store, must-revalidate"
                }]</http:headers>
            </http:response>
        </http:listener>
        
        <!-- Robust path resolution -->
        <set-variable variableName="resourcePath" value="#[attributes.relativePath replace '/aegis/' with '' replace 'web/' with '']"/>
        
        <choice>
            <!-- Case 1: Directory path or empty -> Redirect to Home or Error to prevent download -->
            <when expression="#[vars.resourcePath == '' or vars.resourcePath == '/']">
                <logger level="INFO" message="Blocking directory read in aegis-static-resource-flow"/>
                <set-payload value="Invalid Resource"/>
            </when>
            
            <otherwise>
                <!-- Determine MIME type based on extension -->
                <set-variable variableName="mimeType" value="#[
                    if (vars.resourcePath endsWith '.css') 'text/css'
                    else if (vars.resourcePath endsWith '.js') 'application/javascript'
                    else if (vars.resourcePath endsWith '.svg') 'image/svg+xml'
                    else if (vars.resourcePath endsWith '.png') 'image/png'
                    else if (vars.resourcePath endsWith '.html') 'text/html'
                    else 'application/octet-stream'
                ]"/>

                <file:read path="#[p('app.home') ++ '/web/aegis/' ++ vars.resourcePath]" config-ref="File_Config"/>
            </otherwise>
        </choice>
    </flow>

    <!-- Flow 4.1: Dynamic Report Serving -->
    <flow name="aegis-report-serving-flow">
        <http:listener path="/aegis/reports/*" config-ref="HTTP_Listener_config" allowedMethods="GET">
            <http:response>
                <http:headers>#[{
                    "Content-Type": vars.mimeType default "text/html",
                    "Cache-Control": "no-cache, no-store, must-revalidate"
                }]</http:headers>
            </http:response>
        </http:listener>
        
        <!-- Robust Path Parsing using DataWeave -->
        <ee:transform>
            <ee:variables>
                <ee:set-variable variableName="pathInfo"><![CDATA[%dw 2.0
output application/java
var parts = (attributes.relativePath default "") splitBy "/"
var reportsIndex = (parts indexOf "reports") default -1
---
if (reportsIndex >= 0 and sizeOf(parts) > reportsIndex + 2) {
    sessionId: parts[reportsIndex + 1],
    reportDirName: parts[reportsIndex + 2],
    fileName: parts[(reportsIndex + 3) to -1] joinBy "/"
} else {
    sessionId: "UNKNOWN",
    reportDirName: "UNKNOWN",
    fileName: "UNKNOWN"
}
]]></ee:set-variable>
            </ee:variables>
        </ee:transform>

        <set-variable variableName="sessionId" value="#[vars.pathInfo.sessionId]"/>
        <set-variable variableName="reportDirName" value="#[vars.pathInfo.reportDirName]"/>
        <set-variable variableName="fileName" value="#[vars.pathInfo.fileName]"/>
        
        <!-- Extract timestamp from reportDirName (format: aegis-reports-yyyyMMdd_HHmmss) -->
        <set-variable variableName="timestamp" value="#[vars.reportDirName replace 'aegis-reports-' with '']"/>
        
        <!-- Construct physical path -->
        <set-variable variableName="filePath" 
            value="#[p('aegis.work.dir') ++ '/' ++ vars.sessionId ++ '/' ++ vars.timestamp ++ '/' ++ vars.reportDirName ++ '/' ++ vars.fileName]"/>
            
        <logger level="INFO" message="#['Serving Report File: ' ++ vars.filePath ++ ' (Parsed from relativePath: ' ++ attributes.relativePath ++ ')']"/>
        
        <!-- Determine MIME type -->
        <set-variable variableName="mimeType" value="#[
            if (vars.fileName endsWith '.css') 'text/css'
            else if (vars.fileName endsWith '.js') 'application/javascript'
            else if (vars.fileName endsWith '.svg') 'image/svg+xml'
            else if (vars.fileName endsWith '.png') 'image/png'
            else if (vars.fileName endsWith '.html') 'text/html'
            else if (vars.fileName endsWith '.xlsx') 'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet'
            else 'application/octet-stream'
        ]"/>

        <file:read path="#[vars.filePath]" config-ref="File_Config"/>
        
        <error-handler>
            <on-error-continue type="FILE:ILLEGAL_PATH, FILE:ACCESS_DENIED, FILE:FILE_ALREADY_EXISTS">
                 <logger level="WARN" message="#['File access error for: ' ++ vars.filePath]"/>
                 <set-payload value="File Not Found or Access Denied"/>
                 <set-variable variableName="httpStatus" value="404"/>
            </on-error-continue>
        </error-handler>
    </flow>
    
    <!-- Flow 4.2: Dynamic Rule Guide Serving (DISABLED) -->
    <!-- DISABLED to serve static file from web/aegis which is verified correct -->
    <!-- 
    <flow name="aegis-rule-guide-page-flow">
        <http:listener path="/aegis/rule_guide.html" config-ref="HTTP_Listener_config" allowedMethods="GET">
            <http:response>
                <http:headers>#[{"Content-Type": "text/html; charset=UTF-8"}]</http:headers>
            </http:response>
        </http:listener>
        
        <logger level="INFO" message="Serving dynamic Rule Guide..."/>
        
        <java:invoke-static class="com.raks.aegis.engine.ReportGenerator" method="generateRuleGuide(String)">
            <java:args>#[{
                arg0: p('aegis.work.dir')
            }]</java:args>
        </java:invoke-static>
        
        <file:read path="#[p('aegis.work.dir') ++ '/rule_guide.html']" config-ref="File_Config"/>
    </flow> 
    -->

    <!-- NEW FLOW: Recursive Git Discovery for Wrapper -->
    <flow name="aegis-git-discovery-flow">
        <http:listener path="/aegis/api/git/discovery" config-ref="HTTP_Listener_config" allowedMethods="GET">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[{"Content-Type": "application/json"}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[{"Content-Type": "application/json"}]</http:headers>
            </http:error-response>
        </http:listener>
        
        <logger level="INFO" message="#['Starting Recursive Git Discovery for Group: ' ++ (attributes.queryParams.group default 'None')]"/>

        <!-- Using Aegis package -->
        <java:invoke-static class="com.raks.aegis.util.GitHelper" method="listRepositories(java.lang.String,java.lang.String,java.lang.String,java.lang.String,java.lang.String,java.lang.String)">
            <java:args>#[{
                arg0: attributes.headers['x-git-provider'] default 'gitlab',
                arg1: attributes.headers['x-git-token'] default '',
                arg2: attributes.queryParams.group,
                arg3: attributes.queryParams.filter,
                arg4: p('gitanalyzer.gitlab.url'),
                arg5: p('gitanalyzer.github.url')
            }]</java:args>
        </java:invoke-static>
        
        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
            </ee:message>
        </ee:transform>
        
        <error-handler>
            <on-error-continue type="ANY">
                <logger level="ERROR" message="#['Git Discovery Failed: ' ++ error.description]"/>
                <set-variable variableName="httpStatus" value="500"/>
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
    error: "Failed to fetch repositories",
    details: error.description
}]]></ee:set-payload>
                    </ee:message>
                </ee:transform>
            </on-error-continue>
        </error-handler>
    </flow>

    <!-- Flow 4.5: Session Validation Endpoint -->
    <flow name="aegis-session-validation-flow">
        <http:listener path="/aegis/validate-session" config-ref="HTTP_Listener_config" allowedMethods="GET"/>
        
        <!-- Get session ID from query parameter -->
        <set-variable variableName="sessionId" value="#[attributes.queryParams.session]"/>
        
        <!-- Try to retrieve session from Object Store -->
        <try>
            <os:retrieve key="#[vars.sessionId]" objectStore="User_Session_Store"/>
            
            <!-- Session exists - return valid -->
            <ee:transform>
                <ee:message>
                    <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{valid: true, sessionId: vars.sessionId}]]></ee:set-payload>
                </ee:message>
            </ee:transform>
            
            <error-handler>
                <on-error-continue type="OS:KEY_NOT_FOUND">
                    <!-- Session not found - return invalid -->
                    <ee:transform>
                        <ee:message>
                            <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{valid: false, message: "Session expired or not found"}]]></ee:set-payload>
                        </ee:message>
                    </ee:transform>
                </on-error-continue>
            </error-handler>
        </try>
    </flow>

    <!-- Flow 4.6: Git Discovery Endpoints -->
    <flow name="aegis-git-discovery-repos-flow">
        <http:listener path="/aegis/api/git/repos" config-ref="HTTP_Listener_config" allowedMethods="GET"/>
        <set-variable variableName="provider" value="#[attributes.queryParams.provider default 'gitlab']"/>
        <set-variable variableName="token" value="#[attributes.headers['x-git-token'] default '']"/>
        <set-variable variableName="query" value="#[attributes.queryParams.query default attributes.queryParams.group default '']"/>
        <set-variable variableName="filter" value="#[attributes.queryParams.filter default '']"/>
        
        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/java
---
{
    "gitlab.url": p('gitanalyzer.gitlab.url') default 'https://gitlab.com',
    "github.url": p('gitanalyzer.github.url') default 'https://api.github.com'
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
        
        <!-- Using Aegis wrapper package -->
        <java:invoke-static class="com.raks.aegis.util.GitHelper" method="listRepositories(java.lang.String,java.lang.String,java.lang.String,java.lang.String,java.lang.String,java.lang.String)">
            <java:args>#[{
                arg0: vars.provider,
                arg1: vars.token,
                arg2: vars.query,
                arg3: vars.filter,
                arg4: p('gitanalyzer.gitlab.url'),
                arg5: p('gitanalyzer.github.url')
            }]</java:args>
        </java:invoke-static>
        
        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>

    <flow name="aegis-git-branches-flow">
        <http:listener path="/aegis/api/git/branches" config-ref="HTTP_Listener_config" allowedMethods="GET"/>
        <set-variable variableName="provider" value="#[(attributes.queryParams.provider default attributes.headers['x-git-provider']) default 'gitlab']"/>
        <set-variable variableName="token" value="#[(attributes.queryParams.token default attributes.headers['x-git-token']) default '']"/>
        <set-variable variableName="repo" value="#[attributes.queryParams.repo default '']"/>
        
        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/java
---
{
    "gitlab.url": p('gitanalyzer.gitlab.url') default 'https://gitlab.com',
    "github.url": p('gitanalyzer.github.url') default 'https://api.github.com'
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
        
        <!-- Using Aegis wrapper package -->
        <java:invoke-static class="com.raks.aegis.wrapper.GitDiscoveryHelper" method="listBranches(String, String, String, Map)">
            <java:args>#[{
                arg0: vars.provider,
                arg1: vars.token,
                arg2: vars.repo,
                arg3: payload
            }]</java:args>
        </java:invoke-static>
        
        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>

    <!-- Flow 5: Validation Trigger Handler -->
    <flow name="aegis-validation-trigger-flow">
        <http:listener path="/aegis/api/validate" config-ref="HTTP_Listener_config" allowedMethods="GET, POST">
            <http:response statusCode="#[vars.httpStatus default 200]">
                 <http:headers>#[{"Content-Type": "application/json"}]</http:headers>
            </http:response>
             <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[{"Content-Type": "application/json"}]</http:headers>
            </http:error-response>
        </http:listener>
        
        <set-variable variableName="requestId" value="#[uuid()]"/>
        <logger level="INFO" message="#['Starting Aegis Validation Request ' ++ vars.requestId]"/>
        
        <!-- Extract Parameters (Supports GET query params and POST multipart/form-data) -->
        <choice>
            <when expression="#[attributes.method == 'POST']">
                <!-- Helper transform to extract multipart parts -->
                <!-- Helper transform to extract multipart parts - ROBUST PATTERN -->
                <logger level="INFO" message="#['Multipart Parts Received: ' ++ (namesOf(payload.parts) joinBy ', ')]" />
                <logger level="INFO" message="#['Custom Rules Part Keys: ' ++ (namesOf(payload.parts.customRules) joinBy ', ' default 'null')]" />
                <logger level="INFO" message="#['Custom Rules Headers: ' ++ write(payload.parts.customRules.headers, 'application/json')]" />
                <logger level="INFO" message="#['Custom Rules Content Type: ' ++ typeOf(payload.parts.customRules.content)]" />
                <ee:transform>
                    <ee:variables>
                        <ee:set-variable variableName="inputParts"><![CDATA[%dw 2.0
output application/java
---
{
    mode: payload.parts.mode.content default null,
    projectPath: payload.parts.projectPath.content default null,
    gitUrls: payload.parts.gitUrls.content default null,
    archive: payload.parts.archive.content default null,
    sessionId: payload.parts.sessionId.content default null,
    format: payload.parts.format.content default null,
    rulesFile: if (payload.parts.customRules.content == null) null 
               else if (typeOf(payload.parts.customRules.content) as String == 'Binary') payload.parts.customRules.content 
               else write(payload.parts.customRules.content, 'application/x-yaml') as Binary,
    rulesFilename: if (payload.parts.customRules.headers["Content-Disposition"].filename != null) 
                        payload.parts.customRules.headers["Content-Disposition"].filename 
                     else if (payload.parts.customRules.headers["Content-Disposition"] != null)
                        (payload.parts.customRules.headers["Content-Disposition"] match /.*filename="?([^"]+)("|$).*/)[1] default "custom-rules.yaml"
                     else "custom-rules.yaml",
    attachProject: payload.parts.attachProject.content default null,
    gitBranch: payload.parts.gitBranch.content default null,
    gitToken: payload.parts.gitToken.content default null,
    archiveFilename: if (payload.parts.archive.headers["Content-Disposition"].filename != null) 
                        payload.parts.archive.headers["Content-Disposition"].filename 
                     else if (payload.parts.archive.headers["Content-Disposition"] != null)
                        (payload.parts.archive.headers["Content-Disposition"] match /.*filename="?([^"]+)("|$).*/)[1] default "Uploaded Project"
                     else "Uploaded Project"
}]]></ee:set-variable>
                    </ee:variables>
                </ee:transform>
                
                <!-- Extract fields from multipart map -->

                
                <set-variable variableName="validationMode" value="#[vars.inputParts.mode default 'local']"/>
                
                <!-- Smart Project Path Resolution: Check projectPath first, then gitUrls fallback -->
                <set-variable variableName="rawProjectPath" value="#[vars.inputParts.projectPath default vars.inputParts.gitUrls default '']"/>

                <set-variable variableName="projectPath" value="#[vars.rawProjectPath]"/>
                
                <set-variable variableName="uploadFileContent" value="#[vars.inputParts.archive]"/>
                <set-variable variableName="sessionId" value="#[vars.inputParts.sessionId default uuid()]"/>
                <set-variable variableName="reportFormat" value="#[vars.inputParts.format default 'html']"/>
                <set-variable variableName="userWantsProjectAttachment" value="#[vars.inputParts.attachProject default 'false']"/>
                
                <!-- Re-inject other parts needed for specific branches -->
                <!-- Note: The 'inputParts' var now holds the content map, not the raw parts. -->
            </when>
            <otherwise>
                <!-- GET parameters -->
                <set-variable variableName="validationMode" value="#[attributes.queryParams.mode default 'local']"/>
                <set-variable variableName="projectPath" value="#[attributes.queryParams.path default '']"/>
                <set-variable variableName="uploadFileContent" value="#[null]"/>
                <set-variable variableName="sessionId" value="#[attributes.queryParams.session default uuid()]"/>
                <set-variable variableName="reportFormat" value="#[attributes.queryParams.format default 'html']"/>
                <set-variable variableName="userWantsProjectAttachment" value="#[attributes.queryParams.attachProject default 'false']"/>
            </otherwise>
        </choice>

        <!-- Cleanup input path -->
        <set-variable variableName="projectPath" value="#[(vars.projectPath default '') replace '&quot;' with '']"/>
        
        <!-- Retrieve User Info for logging/email -->
        <os:retrieve key="#[vars.sessionId]" objectStore="User_Session_Store" target="sessionData">
            <os:default-value><![CDATA[#[{
                name: 'Unknown',
                email: '${notification.email.to}',
                company: 'N/A',
                ipAddress: 'Unknown'
            }]]]></os:default-value>
        </os:retrieve>
        
        <!-- Generate timestamped folder for this run -->
        <set-variable variableName="timestamp" value="#[now() as String {format: 'yyyyMMdd_HHmmss'}]"/>
        <set-variable variableName="workDir" value="#[p('aegis.work.dir') ++ '/' ++ vars.sessionId ++ '/' ++ vars.timestamp]"/>
        <file:create-directory directoryPath="#[vars.workDir]" config-ref="File_Config"/>
        
        <!-- Copy custom rules if provided -->
        <set-variable variableName="customRulesPath" value="#[null]"/>
        <choice>
            <when expression="#[vars.inputParts.rulesFile != null and sizeOf(vars.inputParts.rulesFile) > 0]">
                <set-variable variableName="customRulesPath" value="#[vars.workDir ++ '/' ++ vars.inputParts.rulesFilename]"/>
                <file:write path="#[vars.customRulesPath]" config-ref="File_Config">
                    <file:content>#[vars.inputParts.rulesFile]</file:content>
                </file:write>
                <logger level="INFO" message="Custom rules file uploaded"/>
            </when>
        </choice>

        <!-- Debug: Log validation mode -->


        <!-- Handle Input Source -->
        <choice>
            <when expression="#[trim(vars.validationMode) == 'zip' or trim(vars.validationMode) == 'jar']">

                <!-- Handle File Upload (ZIP or JAR) -->
                <set-variable variableName="zipFilePath" value="#[vars.workDir ++ '/input.zip']"/>
                <file:write path="#[vars.zipFilePath]" config-ref="File_Config">
                    <file:content>#[vars.uploadFileContent]</file:content>
                </file:write>
                

                
                <!-- Extract ZIP/JAR -->
                <choice>
                    <when expression="#[trim(vars.validationMode) == 'zip']">

                        <java:invoke-static class="com.raks.apiguardwrapper.util.ZipUtil" method="unzip(java.lang.String,java.lang.String)">
                            <java:args>#[{
                                arg0: vars.zipFilePath,
                                arg1: vars.workDir
                            }]</java:args>
                        </java:invoke-static>
                    </when>
                    <otherwise>
                        <!-- JAR mode -->
                        <java:invoke-static class="com.raks.apiguardwrapper.util.ZipUtil" method="extractJar(java.lang.String,java.lang.String)">
                            <java:args>#[{
                                arg0: vars.zipFilePath,
                                arg1: vars.workDir
                            }]</java:args>
                        </java:invoke-static>
                    </otherwise>
                </choice>
                
                <!-- Store extracted path as String to avoid serialization issues -->
                <set-variable variableName="extractedPath" value="#[payload as String]"/>
                

                
                <!-- Set targetPath to parent of extracted project so Aegis finds the project and creates reports at parent level -->
                <set-variable variableName="targetPath" value="#[vars.extractedPath]"/>

                <java:invoke-static class="com.raks.apiguardwrapper.util.ZipUtil" method="getProjectRootName(java.lang.String,java.lang.String)" target="projectName">
                    <java:args>#[{
                        arg0: vars.extractedPath,
                        arg1: vars.archiveFilename
                    }]</java:args>
                </java:invoke-static>

                <set-variable variableName="displayPath" value="#[vars.projectName]"/>
            </when>
            
             <when expression="#[trim(vars.validationMode) == 'git']">

                  <set-variable variableName="gitUrlList" value="#[(vars.projectPath splitBy ',') map trim($) filter ($ != '')]"/>
                  <set-variable variableName="gitBranch" value="#[vars.inputParts.gitBranch default 'main']"/>
                  <set-variable variableName="gitToken" value="#[vars.inputParts.gitToken default '']"/>
                  
                  <foreach collection="#[vars.gitUrlList]">
                      <set-variable variableName="currentRepoUrl" value="#[payload]"/>
                      <!-- Safe repo name extraction -->
                      <set-variable variableName="repoName" value="#[if (vars.currentRepoUrl contains '/') (vars.currentRepoUrl splitBy '/')[-1] replace '.git' with '' else 'repo_' ++ randomInt(1000)]"/>
                      <set-variable variableName="cloneDir" value="#[vars.workDir ++ '/' ++ vars.repoName]"/>
                      
                      <logger level="INFO" message="#['Cloning Git Repo: ' ++ vars.currentRepoUrl ++ ' (Branch: ' ++ vars.gitBranch ++ ') into ' ++ vars.cloneDir]"/>
                      
                      <java:invoke-static class="com.raks.aegis.util.GitHelper" method="cloneRepository(java.lang.String,java.lang.String,java.lang.String,java.lang.String)">
                          <java:args>#[{
                              arg0: vars.currentRepoUrl,
                              arg1: vars.gitBranch,
                              arg2: vars.gitToken,
                              arg3: vars.cloneDir
                          }]</java:args>
                      </java:invoke-static>
                  </foreach>
                  
                  <set-variable variableName="targetPath" value="#[vars.workDir]"/>
                  <set-variable variableName="displayPath" value="#[vars.projectPath]"/>
                  <set-variable variableName="zipFilePath" value="#[null]"/> 
             </when>
            
            <otherwise>
                <!-- Local Path -->
                <set-variable variableName="targetPath" value="#[vars.projectPath]"/>
                <set-variable variableName="displayPath" value="#[vars.projectPath]"/>
                <set-variable variableName="zipFilePath" value="#[null]"/>
            </otherwise>
        </choice>
        
        <!-- Execute Aegis Validation -->
        <logger level="INFO" message="#['Invoking Aegis on: ' ++ vars.targetPath]"/>
        
        <set-variable variableName="reportDirName" value="#['aegis-reports-' ++ vars.timestamp]"/>
        <set-variable variableName="reportAbsPath" value="#[vars.workDir ++ '/' ++ vars.reportDirName]"/>

        
        <!-- Invoke Wrapper Class -->
        <java:invoke-static class="com.raks.aegis.wrapper.AegisInvoker" method="validate(String, String, String, String)" target="validationResults">
            <java:args>#[{
                arg0: vars.targetPath,
                arg1: vars.customRulesPath,
                arg2: vars.displayPath,
                arg3: vars.reportAbsPath
            }]</java:args>
        </java:invoke-static>
        

        
        <!-- Copy Logo to Report Directory so it appears in ZIP and online view -->
        <try>
            <file:copy sourcePath="#[p('app.home') ++ '/web/aegis/logo.svg']" 
                       targetPath="#[vars.reportAbsPath ++ '/logo.svg']" 
                       config-ref="File_Config" overwrite="true"/>
            <logger level="INFO" message="#['Copied logo.svg from ' ++ (p('app.home') ++ '/web/aegis/logo.svg') ++ ' to ' ++ (vars.targetPath ++ '/' ++ vars.reportDirName ++ '/logo.svg')]"/>
            <error-handler>
                <on-error-continue>
                    <logger level="WARN" message="#['Failed to copy logo.svg to ' ++ (vars.reportAbsPath ++ '/logo.svg') ++ '. Error: ' ++ error.description]"/>
                </on-error-continue>
            </error-handler>
        </try>
        
        <!-- Create ZIP of the report directory (Required for email/download) -->
        <logger level="INFO" message="#['Zipping report directory: ' ++ vars.reportDirName]"/>
        <logger level="INFO" message="#['Zipping report directory: ' ++ vars.reportAbsPath]"/>
        <java:invoke-static doc:name="Zip Reports" class="com.raks.apiguardwrapper.util.ZipUtil" method="zipDirectory(java.lang.String,java.lang.String)">
            <java:args><![CDATA[#[{
                arg0: vars.reportAbsPath,
                arg1: vars.reportAbsPath ++ '.zip'
            }]]]></java:args>
        </java:invoke-static>
        
        <!-- Persist Report Path for Session (Key: SessionId, Value: targetPath || ReportDirName || BaseName) -->
        <os:store key="#[vars.sessionId]" objectStore="Report_Path_Store">
            <os:value>#[vars.workDir ++ '||' ++ vars.reportDirName ++ '||' ++ (if (vars.validationMode == 'git') vars.repoName else 'project')]</os:value>
        </os:store>
        
        <!-- Send usage notification (Async) -->
        <async>
             <flow-ref name="aegis-send-usage-notification-flow"/>
        </async>

        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
var execStatus = vars.validationResults.status default 'UNKNOWN'
---
vars.validationResults ++ {
    status: if (execStatus == 'ERROR') 'error' else 'success',
    sessionId: vars.sessionId,
    reportUrl: '/apiguard/aegis/reports/' ++ vars.sessionId ++ '/' ++ vars.reportDirName ++ '/CONSOLIDATED-REPORT.html',
    downloadUrl: '/apiguard/aegis/download?session=' ++ vars.sessionId,
    relativeReportUrl: vars.reportDirName ++ '/CONSOLIDATED-REPORT.html',
    reportZip: vars.reportDirName ++ '.zip'
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
        
        <error-handler>
             <on-error-continue type="ANY">
                 <logger level="ERROR" message="#['CRITICAL ERROR in Aegis Wrapper: ' ++ error.description ++ '\nType: ' ++ error.errorType.identifier ++ '\nTrace: ' ++ error.detailedDescription]"/>
                 <set-variable variableName="httpStatus" value="500"/>
                 <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
    "error": "Internal Server Error", 
    "details": error.description
}]]></ee:set-payload>
                    </ee:message>
                 </ee:transform>
             </on-error-continue>
        </error-handler>
    </flow>

    <!-- Flow 6: Usage Notification Email -->
    <flow name="aegis-send-usage-notification-flow">
        <set-variable variableName="baseUrl" value="http://localhost:${http.listener.port}"/>
        <set-variable variableName="shouldAttachReports" value="#['${notification.attach.reports.enabled}' == 'true' and ((vars.userWantsReportsAttachment default '${notification.attach.reports.default}') == 'true')]"/>
        <set-variable variableName="shouldAttachInput" value="#['${notification.attach.input.enabled}' == 'true' and ((vars.userWantsInputAttachment default '${notification.attach.input.default}') == 'true')]"/>
        <set-variable variableName="shouldAttachProject" value="#['${notification.attach.localproject.enabled}' == 'true' and vars.validationMode == 'local' and ((vars.userWantsProjectAttachment default '${notification.attach.localproject.default}') == 'true')]"/>
        
        <!-- Attachments -->
         <set-variable variableName="emailAttachments" value="#[{ 'logo.svg': readUrl('classpath://web/aegis/logo.svg', 'image/svg+xml') }]"/>
         <set-variable variableName="totalAttachmentSize" value="#[0]"/>
        
        <!-- Logic to attach ZIPs similar to muleguard (simplified for brevity or copied logic) -->
        <set-variable variableName="reportsZipPath" value="#[vars.workDir ++ '/' ++ vars.reportDirName ++ '.zip']"/>
        
        <choice>
             <when expression="#[vars.shouldAttachReports]">
                 <try>
                     <file:read path="#[vars.reportsZipPath]" target="reportsZipContent" config-ref="File_Config"/>
                     <set-variable variableName="emailAttachments" value="#[output application/java --- vars.emailAttachments ++ {(vars.reportDirName ++ '.zip'): vars.reportsZipContent}]"/>
                 </try>
             </when>
        </choice>
        
        <!-- Email Body Transform -->
        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output text/plain
---
"<html>
<head>
    <style>
        body { font-family: Arial, sans-serif; background: #f5f5f5; }
        .header { background: #663399; color: white; padding: 25px; text-align: center; }
        .label { font-weight: bold; color: #663399; }
    </style>
</head>
<body>
    <div style='background: white; max-width: 700px; margin: 20px auto;'>
        <div class='header'>
            <img src='cid:logo.svg' alt='Aegis' style='height: 50px;'/>
            <h2>🛡️ Aegis Validation Report</h2>
        </div>
        <div style='padding: 20px;'>
            <h3>Results Summary</h3>
            <p><strong>Status:</strong> " ++ vars.validationResults.status ++ "</p>
            <p><strong>Rules Passed:</strong> " ++ (sizeOf(vars.validationResults.passed default []) as String) ++ "</p>
            <p><strong>Rules Failed:</strong> " ++ (sizeOf(vars.validationResults.failed default []) as String) ++ "</p>
            
            <h3>Links</h3>
            <p><a href='" ++ vars.baseUrl ++ "/apiguard/aegis/reports/" ++ vars.sessionId ++ "/" ++ vars.reportDirName ++ "/CONSOLIDATED-REPORT.html'>View Full Report</a></p>
            <p><a href='" ++ vars.baseUrl ++ "/apiguard/aegis/download?session=" ++ vars.sessionId ++ "'>Download ZIP</a></p>
        </div>
        <div style='background: #f9f9f9; padding: 15px; text-align: center; font-size: 12px; color: #666;'>
            © 2025 RAKS - Aegis
        </div>
    </div>
</body>
</html>"]]></ee:set-payload>
            </ee:message>
        </ee:transform>
        
        <!-- Send Email -->
        <email:send config-ref="Email_SMTP" 
                    subject="#['${notification.email.subject}' replace 'MuleGuard' with 'Aegis' replace '{name}' with vars.sessionData.name replace '{emailId}' with vars.sessionData.email]"
                    toAddresses="#[(vars.sessionData.email default p('notification.email.to')) splitBy ',']"
                    fromAddress="Aegis &lt;${notification.email.from}&gt;">
            <email:body contentType="text/html">
                <email:content>#[payload]</email:content>
            </email:body>
            <email:attachments>#[vars.emailAttachments]</email:attachments>
        </email:send>
        
        <error-handler>
            <on-error-continue>
                <logger level="WARN" message="Failed to send Aegis usage notification"/>
            </on-error-continue>
        </error-handler>
    </flow>
    
    <!-- Flow 8: Download ZIP -->
    <flow name="aegis-download-serving-flow">
        <http:listener path="/aegis/download" config-ref="HTTP_Listener_config" allowedMethods="GET">
             <http:response>
                <http:headers>#[{
                    "Content-Type": "application/zip",
                    "Content-Disposition": "attachment; filename=\"aegis-report.zip\""
                }]</http:headers>
            </http:response>
        </http:listener>
        
        <set-variable variableName="sessionId" value="#[attributes.queryParams.session]"/>
        <os:retrieve key="#[vars.sessionId]" objectStore="Report_Path_Store" target="storedPath">
             <os:default-value>null</os:default-value>
        </os:retrieve>
        
        <choice>
            <when expression="#[vars.storedPath != null]">
                 <set-variable variableName="projectPath" value="#[(vars.storedPath splitBy '||')[0]]"/>
                 <set-variable variableName="reportDirName" value="#[(vars.storedPath splitBy '||')[1]]"/>
                 <file:read path="#[vars.projectPath ++ '/' ++ vars.reportDirName ++ '.zip']" config-ref="File_Config"/>
            </when>
            <otherwise>
                 <set-payload value="File not found"/>
                 <set-variable variableName="httpStatus" value="404"/>
            </otherwise>
        </choice>
    </flow>

</mule>
