apiguardwrapper/src/main/mule/apidiscovery-wrapper.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" 
	xmlns="http://www.mulesoft.org/schema/mule/core" 
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:file="http://www.mulesoft.org/schema/mule/file"
	xmlns:java="http://www.mulesoft.org/schema/mule/java"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
http://www.mulesoft.org/schema/mule/java http://www.mulesoft.org/schema/mule/java/current/mule-java.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">

	<!-- Flow: API Discovery Config - Return default configuration -->
	<flow name="apidiscovery-config-flow">
		<http:listener path="/apidiscovery/api/config" config-ref="HTTP_Listener_config" allowedMethods="GET">
			<http:response>
				<http:headers><![CDATA[#[{"Content-Type": "application/json"}]]]></http:headers>
			</http:response>
		</http:listener>
		
		<ee:transform>
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	defaultGroup: p('apidiscovery.gitlab.default.group'),
	defaultToken: p('apidiscovery.gitlab.token') default ''
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>

	<!-- Flow: API Discovery Root - Serve index.html directly -->
	<flow name="apidiscovery-root-flow">
		<http:listener path="/apidiscovery" config-ref="HTTP_Listener_config" allowedMethods="GET">
			<http:response>
				<http:headers><![CDATA[#[
                    {
                        "Content-Type": "text/html",
                        "Cache-Control": "public, max-age=3600"
                    }
                ]]]></http:headers>
			</http:response>
		</http:listener>
		
		<file:read doc:name="Read API Discovery Index" path="${apidiscovery.web.dir}/index.html" config-ref="File_Config"/>
	</flow>

	<!-- Flow: Serve API Discovery UI and Static Resources -->
	<flow name="apidiscovery-ui-flow">
		<http:listener path="/apidiscovery/*" config-ref="HTTP_Listener_config" allowedMethods="GET">
			<http:response>
				<http:headers><![CDATA[#[
                    {
                        "Content-Type": vars.mimeType default "text/html",
                        "Cache-Control": "public, max-age=3600"
                    }
                ]]]></http:headers>
			</http:response>
		</http:listener>
		
		<set-variable variableName="resourcePath" value="#[attributes.relativePath replace '/apidiscovery/' with '']"/>
		
		<!-- Determine MIME type -->
        <set-variable variableName="mimeType" value="#[
            if (vars.resourcePath endsWith '.css') 'text/css'
            else if (vars.resourcePath endsWith '.js') 'application/javascript'
            else if (vars.resourcePath endsWith '.png') 'image/png'
            else if (vars.resourcePath endsWith '.svg') 'image/svg+xml'
            else 'text/html'
        ]"/>
		
		<choice>
			<when expression="#[vars.resourcePath startsWith 'api/']">
				<!-- API endpoint - route to appropriate flow -->
				<logger level="INFO" message="#['API call detected: ' ++ vars.resourcePath]"/>
				<set-payload value='{"error": "Use specific API endpoints"}'/>
			</when>
			<when expression="#[vars.resourcePath == '' or vars.resourcePath == 'index.html']">
				<file:read path="${apidiscovery.web.dir}/index.html" config-ref="File_Config"/>
			</when>
			<otherwise>
				<file:read path="#[p('apidiscovery.web.dir') ++ '/' ++ vars.resourcePath]" config-ref="File_Config"/>
			</otherwise>
		</choice>
	</flow>

	<!-- API Flow: Start Scan -->
	<flow name="apidiscovery-api-scan-flow">
		<http:listener path="/apidiscovery/api/scan" config-ref="HTTP_Listener_config" allowedMethods="POST">
			<http:response>
				<http:headers><![CDATA[#[{"Content-Type": "application/json"}]]]></http:headers>
			</http:response>
		</http:listener>
		
		<logger level="INFO" message="Starting API Discovery scan"/>
		
		<ee:transform>
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/java
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		
		<set-variable variableName="source" value="#[payload.source]"/>
		<set-variable variableName="token" value="#[payload.token default '']"/>
		<set-variable variableName="group" value="#[payload.group default '']"/>
		
		<java:invoke-static class="com.raks.apidiscovery.ApiDiscoveryService" 
			method="startScan(String,String,String,String)">
			<java:args>#[{
				arg0: vars.source,
				arg1: vars.token,
				arg2: vars.group,
				arg3: p('apidiscovery.temp.dir')
			}]</java:args>
		</java:invoke-static>
		
		<set-variable variableName="scanId" value="#[payload]"/>
		
		<ee:transform>
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	scanId: vars.scanId,
	message: "Scan started successfully"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		
		<error-handler>
			<on-error-continue>
				<logger level="ERROR" message="#['Scan failed: ' ++ error.description]"/>
				<ee:transform>
					<ee:message>
						<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	error: error.description
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</on-error-continue>
		</error-handler>
	</flow>

	<!-- API Flow: Get Progress -->
	<flow name="apidiscovery-api-progress-flow">
		<http:listener path="/apidiscovery/api/progress" config-ref="HTTP_Listener_config" allowedMethods="GET">
			<http:response>
				<http:headers><![CDATA[#[{"Content-Type": "application/json"}]]]></http:headers>
			</http:response>
		</http:listener>
		
		<set-variable variableName="scanId" value="#[attributes.queryParams.scanId]"/>
		
		<java:invoke-static class="com.raks.apidiscovery.ApiDiscoveryService" 
			method="getProgress(String)">
			<java:args>#[{
				arg0: vars.scanId
			}]</java:args>
		</java:invoke-static>
		
		<ee:transform>
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	message: payload.message,
	percent: payload.percent,
	complete: payload.complete,
	error: payload.error,
	scanFolder: payload.scanFolder
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>

	<!-- API Flow: List Scans -->
	<flow name="apidiscovery-api-list-flow">
		<http:listener path="/apidiscovery/api/scans/list" config-ref="HTTP_Listener_config" allowedMethods="GET">
			<http:response>
				<http:headers><![CDATA[#[{"Content-Type": "application/json"}]]]></http:headers>
			</http:response>
		</http:listener>
		
		<java:invoke-static class="com.raks.apidiscovery.ApiDiscoveryService" 
			method="listScans(String)">
			<java:args>#[{
				arg0: p('apidiscovery.temp.dir')
			}]</java:args>
		</java:invoke-static>
		
		<ee:transform>
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>

	<!-- API Flow: Delete Scan -->
	<flow name="apidiscovery-api-delete-flow">
		<http:listener path="/apidiscovery/api/scans/delete" config-ref="HTTP_Listener_config" allowedMethods="POST">
			<http:response>
				<http:headers><![CDATA[#[{"Content-Type": "application/json"}]]]></http:headers>
			</http:response>
		</http:listener>
		
		<ee:transform>
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/java
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		
		<set-variable variableName="scanName" value="#[payload.scanName]"/>
		
		<java:invoke-static class="com.raks.apidiscovery.ApiDiscoveryService" 
			method="deleteScan(String,String)">
			<java:args>#[{
				arg0: vars.scanName,
				arg1: p('apidiscovery.temp.dir')
			}]</java:args>
		</java:invoke-static>
		
		<ee:transform>
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	success: payload
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>

	<!-- API Flow: View Scan -->
	<flow name="apidiscovery-api-view-flow">
		<http:listener path="/apidiscovery/api/scans/view" config-ref="HTTP_Listener_config" allowedMethods="GET">
			<http:response>
				<http:headers><![CDATA[#[{"Content-Type": "application/json"}]]]></http:headers>
			</http:response>
		</http:listener>
		
		<set-variable variableName="scanName" value="#[attributes.queryParams.scanName]"/>
		
		<java:invoke-static class="com.raks.apidiscovery.ApiDiscoveryService" 
			method="viewScan(String,String)">
			<java:args>#[{
				arg0: vars.scanName,
				arg1: p('apidiscovery.temp.dir')
			}]</java:args>
		</java:invoke-static>
		
		<ee:transform>
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>

</mule>
