apiguardwrapper/src/main/mule/apidiscovery-wrapper.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" 
	xmlns="http://www.mulesoft.org/schema/mule/core" 
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:file="http://www.mulesoft.org/schema/mule/file"
	xmlns:java="http://www.mulesoft.org/schema/mule/java"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
    xmlns:os="http://www.mulesoft.org/schema/mule/os"
    xmlns:email="http://www.mulesoft.org/schema/mule/email"

	xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
http://www.mulesoft.org/schema/mule/java http://www.mulesoft.org/schema/mule/java/current/mule-java.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/os http://www.mulesoft.org/schema/mule/os/current/mule-os.xsd
http://www.mulesoft.org/schema/mule/email http://www.mulesoft.org/schema/mule/email/current/mule-email.xsd">

	<flow name="apidiscovery-config-flow">
		<http:listener path="/apidiscovery/api/config" config-ref="HTTP_Listener_config" allowedMethods="GET">
			<http:response>
				<http:headers><![CDATA[#[{"Content-Type": "application/json"}]]]></http:headers>
			</http:response>
		</http:listener>
		
		<ee:transform>
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	defaultGroup: p('apidiscovery.gitlab.default.group'),
	defaultToken: p('apidiscovery.gitlab.token') default ''
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>

	<flow name="apidiscovery-root-flow">
		<http:listener path="/apidiscovery" config-ref="HTTP_Listener_config" allowedMethods="GET">
			<http:response>
				<http:headers><![CDATA[#[
                    {
                        "Content-Type": "text/html",
                        "Cache-Control": "no-cache, no-store, must-revalidate",
                        "Set-Cookie": if (attributes.queryParams.session != null) "APIGUARD_SESSION=" ++ attributes.queryParams.session ++ "; Path=/; HttpOnly" else null
                    } filterObject ($ != null)
                ]]]></http:headers>
			</http:response>
		</http:listener>
		
		<file:read doc:name="Read API Discovery Index" path="${apidiscovery.web.dir}/index.html" config-ref="File_Config"/>
        <error-handler>
            <on-error-propagate type="MULE:SOURCE_RESPONSE_SEND" logException="false">
                <logger level="DEBUG" message="Client connection closed - Ignored"/>
            </on-error-propagate>
            <on-error-propagate type="ANY"/>
        </error-handler>
	</flow>

	<flow name="apidiscovery-ui-flow">
		<http:listener path="/apidiscovery/*" config-ref="HTTP_Listener_config" allowedMethods="GET">
			<http:response>
				<http:headers><![CDATA[#[
                    {
                        "Content-Type": vars.mimeType default "text/html",
                        "Cache-Control": "no-cache, no-store, must-revalidate"
                    }
                ]]]></http:headers>
			</http:response>
		</http:listener>
		
		<set-variable variableName="resourcePath" value="#[attributes.relativePath replace '/apidiscovery/' with '']"/>
		
        <set-variable variableName="mimeType" value="#[
            if (vars.resourcePath endsWith '.css') 'text/css'
            else if (vars.resourcePath endsWith '.js') 'application/javascript'
            else if (vars.resourcePath endsWith '.png') 'image/png'
            else if (vars.resourcePath endsWith '.svg') 'image/svg+xml'
            else 'text/html'
        ]"/>
		
		<choice>
			<when expression="#[vars.resourcePath startsWith 'api/']">
				<logger level="INFO" message="#['API call detected: ' ++ vars.resourcePath]"/>
				<set-payload value='{"error": "Use specific API endpoints"}'/>
			</when>
			<when expression="#[vars.resourcePath == '' or vars.resourcePath == 'index.html']">
				<file:read path="${apidiscovery.web.dir}/index.html" config-ref="File_Config"/>
			</when>
            <when expression="#[vars.resourcePath == 'rules-config.json']">
                 <file:read path="${apidiscovery.web.dir}/rules-config.json" config-ref="File_Config"/>
            </when>
			<otherwise>
				<file:read path="#[p('apidiscovery.web.dir') ++ '/' ++ vars.resourcePath]" config-ref="File_Config"/>
			</otherwise>
		</choice>
	</flow>

	<flow name="apidiscovery-api-scan-flow">
		<http:listener path="/apidiscovery/api/scan" config-ref="HTTP_Listener_config" allowedMethods="POST">
			<http:response>
				<http:headers><![CDATA[#[{"Content-Type": "application/json"}]]]></http:headers>
			</http:response>
		</http:listener>
		
		<logger level="INFO" message="Starting API Discovery scan"/>
		
		<ee:transform>
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/java
---
read(payload, "application/json")]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		
		<set-variable variableName="source" value="#[payload.source]"/>
		<set-variable variableName="token" value="#[payload.token default '']"/>
		<set-variable variableName="group" value="#[payload.group default '']"/>
		
		<java:invoke-static class="com.raks.apidiscovery.ApiDiscoveryService" 
			method="startScan(String,String,String,String)">
			<java:args>#[{
				arg0: vars.source,
				arg1: vars.token,
				arg2: vars.group,
				arg3: p('apidiscovery.temp.dir')
			}]</java:args>
		</java:invoke-static>
		
		<set-variable variableName="scanId" value="#[payload]"/>
		
		<!-- Retrieve Scan Folder Name (e.g., Scan_20251228_154510) for Email -->
		<java:invoke-static class="com.raks.apidiscovery.ApiDiscoveryService" method="getProgress(String)" target="scanProgress">
			<java:args>#[{
				arg0: vars.scanId
			}]</java:args>
		</java:invoke-static>
		<set-variable variableName="scanName" value="#[vars.scanProgress.scanFolder]"/>
		
        <!-- Trigger Async Email Notification -->
        <async>
             <logger level="INFO" message="#['[DEBUG] Checking API Discovery email config. apidiscovery.email.enabled: ' ++ p('apidiscovery.email.enabled')]"/>
             <choice>
                <when expression="#[p('apidiscovery.email.enabled') == 'true']">
                    <logger level="INFO" message="[DEBUG] Email enabled. Invoking notification flow."/>
                    <flow-ref name="apidiscovery-send-notification-flow"/>
                </when>
                <otherwise>
                    <logger level="INFO" message="[DEBUG] API Discovery email notification disabled or property not matching 'true'"/>
                </otherwise>
             </choice>
        </async>
		
		<ee:transform>
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	scanId: vars.scanId,
	message: "Scan started successfully"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		
		<error-handler>
			<on-error-continue>
				<logger level="ERROR" message="#['Scan failed: ' ++ error.description]"/>
				<ee:transform>
					<ee:message>
						<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	error: error.description
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</on-error-continue>
		</error-handler>
	</flow>

	<flow name="apidiscovery-api-progress-flow">
		<http:listener path="/apidiscovery/api/progress" config-ref="HTTP_Listener_config" allowedMethods="GET">
			<http:response>
				<http:headers><![CDATA[#[{"Content-Type": "application/json"}]]]></http:headers>
			</http:response>
		</http:listener>
		
		<set-variable variableName="scanId" value="#[attributes.queryParams.scanId]"/>
		
		<java:invoke-static class="com.raks.apidiscovery.ApiDiscoveryService" 
			method="getProgress(String)">
			<java:args>#[{
				arg0: vars.scanId
			}]</java:args>
		</java:invoke-static>
		
		<ee:transform>
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	message: payload.message,
	percent: payload.percent,
	complete: payload.complete,
	error: payload.error,
	scanFolder: payload.scanFolder
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>

	<flow name="apidiscovery-api-list-flow">
		<http:listener path="/apidiscovery/api/scans/list" config-ref="HTTP_Listener_config" allowedMethods="GET">
			<http:response>
				<http:headers><![CDATA[#[{"Content-Type": "application/json"}]]]></http:headers>
			</http:response>
		</http:listener>
		
		<java:invoke-static class="com.raks.apidiscovery.ApiDiscoveryService" 
			method="listScans(String)">
			<java:args>#[{
				arg0: p('apidiscovery.temp.dir')
			}]</java:args>
		</java:invoke-static>
		
		<ee:transform>
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>

	<flow name="apidiscovery-api-delete-flow">
		<http:listener path="/apidiscovery/api/scans/delete" config-ref="HTTP_Listener_config" allowedMethods="POST">
			<http:response>
				<http:headers><![CDATA[#[{"Content-Type": "application/json"}]]]></http:headers>
			</http:response>
		</http:listener>
		
		<ee:transform>
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/java
---
(payload.folders default []) map ((item) -> item as String)]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		
		<java:invoke-static class="com.raks.apidiscovery.ApiDiscoveryService" 
			method="deleteScans(java.util.List,String)">
			<java:args>#[{
				arg0: payload,
				arg1: p('apidiscovery.temp.dir')
			}]</java:args>
		</java:invoke-static>
		
		<ee:transform>
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>

	<flow name="apidiscovery-api-view-flow">
		<http:listener path="/apidiscovery/api/scans/view" config-ref="HTTP_Listener_config" allowedMethods="GET">
			<http:response>
				<http:headers><![CDATA[#[{"Content-Type": "application/json"}]]]></http:headers>
			</http:response>
		</http:listener>
		
		<set-variable variableName="scanName" value="#[attributes.queryParams.scanName]"/>
		
		<java:invoke-static class="com.raks.apidiscovery.ApiDiscoveryService" 
			method="viewScan(String,String)">
			<java:args>#[{
				arg0: vars.scanName,
				arg1: p('apidiscovery.temp.dir')
			}]</java:args>
		</java:invoke-static>
		
		<ee:transform>
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>

    <!-- END apidiscovery-api-view-flow -->

	<flow name="apidiscovery-groups-flow">
		<http:listener path="/apidiscovery/api/gitlab/groups" config-ref="HTTP_Listener_config" allowedMethods="GET">
			<http:response>
				<http:headers><![CDATA[#[{"Content-Type": "application/json"}]]]></http:headers>
			</http:response>
		</http:listener>
		<set-variable variableName="token" value="#[attributes.queryParams.token default p('apidiscovery.gitlab.token')]"/>
		<set-variable variableName="baseUrl" value="#[attributes.queryParams.baseUrl default 'https://gitlab.com']"/>
		<java:invoke-static class="com.raks.apidiscovery.ApiDiscoveryService" method="fetchGroups(String,String)">
			<java:args>#[{ arg0: vars.baseUrl, arg1: vars.token }]</java:args>
		</java:invoke-static>
		<set-payload value="#[payload]"/>
	</flow>

	<flow name="apidiscovery-projects-flow">
		<http:listener path="/apidiscovery/api/gitlab/projects" config-ref="HTTP_Listener_config" allowedMethods="GET">
			<http:response>
				<http:headers><![CDATA[#[{"Content-Type": "application/json"}]]]></http:headers>
			</http:response>
		</http:listener>
		<set-variable variableName="token" value="#[attributes.queryParams.token default p('apidiscovery.gitlab.token')]"/>
		<set-variable variableName="baseUrl" value="#[attributes.queryParams.baseUrl default 'https://gitlab.com']"/>
		<set-variable variableName="groupId" value="#[attributes.queryParams.groupId]"/>
		<java:invoke-static class="com.raks.apidiscovery.ApiDiscoveryService" method="fetchProjects(String,String,String)">
			<java:args>#[{ arg0: vars.baseUrl, arg1: vars.token, arg2: vars.groupId }]</java:args>
		</java:invoke-static>
		<set-payload value="#[payload]"/>
	</flow>

	<flow name="apidiscovery-correlate-flow">
		<http:listener path="/apidiscovery/api/correlate" config-ref="HTTP_Listener_config" allowedMethods="POST">
			<http:response>
				<http:headers><![CDATA[#[{"Content-Type": "application/json"}]]]></http:headers>
			</http:response>
		</http:listener>
		<ee:transform>
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output text/plain
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<java:invoke-static class="com.raks.apidiscovery.ApiDiscoveryService" method="correlateTraffic(String,String)">
			<java:args>#[{ arg0: payload, arg1: p('apidiscovery.temp.dir') }]</java:args>
		</java:invoke-static>
		<ee:transform>
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>



	<flow name="apidiscovery-ignore-flow">
		<http:listener path="/apidiscovery/api/ignore" config-ref="HTTP_Listener_config" allowedMethods="GET, POST, DELETE">
			<http:response>
				<http:headers><![CDATA[#[{"Content-Type": "application/json"}]]]></http:headers>
			</http:response>
		</http:listener>
        <choice>
            <when expression="#[attributes.method == 'GET']">
                 <java:invoke-static class="com.raks.apidiscovery.ApiDiscoveryService" method="getIgnoredItems()"/>
            </when>
            <when expression="#[attributes.method == 'POST']">
                 <java:invoke-static class="com.raks.apidiscovery.ApiDiscoveryService" method="ignoreItem(String)">
                    <java:args>#[{ arg0: payload }]</java:args>
                 </java:invoke-static>
                 <set-payload value='{"status": "ok", "message": "Item ignored"}'/>
            </when>
            <when expression="#[attributes.method == 'DELETE']">
                 <java:invoke-static class="com.raks.apidiscovery.ApiDiscoveryService" method="removeIgnoredItem(String)">
                    <java:args>#[{ arg0: payload }]</java:args>
                 </java:invoke-static>
                 <set-payload value='{"status": "ok", "message": "Item removed from ignore list"}'/>
            </when>
        </choice>
	</flow>

	<flow name="apidiscovery-state-flow">
		<http:listener path="/apidiscovery/api/state" config-ref="HTTP_Listener_config" allowedMethods="GET, POST">
			<http:response>
				<http:headers><![CDATA[#[{"Content-Type": "application/json"}]]]></http:headers>
			</http:response>
		</http:listener>
        <choice>
            <when expression="#[attributes.method == 'GET']">
                 <java:invoke-static class="com.raks.apidiscovery.ApiDiscoveryService" method="exportState(String)">
                     <java:args>#[{ arg0: p('apidiscovery.temp.dir') }]</java:args>
                 </java:invoke-static>
            </when>
            <when expression="#[attributes.method == 'POST']">
                 <java:invoke-static class="com.raks.apidiscovery.ApiDiscoveryService" method="importState(String,String)">
                    <java:args>#[{ arg0: payload, arg1: p('apidiscovery.temp.dir') }]</java:args>
                 </java:invoke-static>
                 <set-payload value='{"status": "import_success"}'/>
            </when>
        </choice>
	</flow>

    <!-- NEW: API Discovery Email Notification Flow -->
    <flow name="apidiscovery-send-notification-flow">
        <!-- Input vars: scanId, source, group, token(length) -->
        
        <!-- Try to get session from Cookie if not explicitly passed -->
        <set-variable variableName="cookieSessionId" value="#[if (attributes.headers['cookie'] != null) (attributes.headers['cookie'] scan /APIGUARD_SESSION=([^;]+)/)[0][1] else null]"/>
        <set-variable variableName="sessionId" value="#[vars.sessionId default vars.cookieSessionId default 'UNKNOWN']"/>
        
        <choice>
            <when expression="#[vars.sessionId != 'UNKNOWN']">
                <os:retrieve key="#[vars.sessionId]" objectStore="User_Session_Store" target="sessionData">
                    <os:default-value><![CDATA[#[{
                        name: 'Unknown User',
                        email: 'N/A',
                        company: 'N/A'
                    }]]]></os:default-value>
                </os:retrieve>
            </when>
            <otherwise>
                <logger level="WARN" message="[DEBUG] No session ID found in variables or cookies. Using default unknown user."/>
                <set-variable variableName="sessionData" value="#[{
                    name: 'Unknown User',
                    email: 'N/A',
                    company: 'N/A'
                }]"/>
            </otherwise>
        </choice>
        
        <!-- Use vars.scanName (Scan_YYYYMMDD...) if available, otherwise fallback to vars.scanId -->
        <set-variable variableName="displayScanId" value="#[vars.scanName default vars.scanId]"/>
        
        <logger level="INFO" message="#['Sending API Discovery notification for scan: ' ++ vars.displayScanId ++ ' User: ' ++ vars.sessionData.name]"/>
        
        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output text/plain
---
"<html>
<head>
    <style>
        body { font-family: Arial, sans-serif; margin: 0; padding: 0; background: #f5f5f5; }
        .container { max-width: 700px; margin: 20px auto; background: white; }
        .header { background: #663399; color: white; padding: 25px; text-align: center; }
        .section { margin: 0; padding: 20px; border-bottom: 1px solid #e0e0e0; }
        .label { font-weight: bold; color: #663399; width: 180px; display: inline-block; }
        table { border-collapse: collapse; width: 100%; margin-top: 10px; }
        td { padding: 10px 5px; border-bottom: 1px solid #f0f0f0; }
        .footer { background: #f9f9f9; padding: 15px; text-align: center; font-size: 12px; color: #666; }
    </style>
</head>
<body>
    <div class='container'>
        <div class='header'>
            <h2 style='margin: 0;'>🔍 API Discovery Scan Started</h2>
        </div>
        
        <div class='section'>
            <h3 style='color: #663399; margin-top: 0;'>👤 User Information</h3>
            <table>
                <tr><td class='label'>Name:</td><td>" ++ vars.sessionData.name ++ "</td></tr>
                <tr><td class='label'>Email:</td><td>" ++ vars.sessionData.email ++ "</td></tr>
                <tr><td class='label'>Company:</td><td>" ++ vars.sessionData.company ++ "</td></tr>
            </table>
        </div>
        
        <div class='section'>
            <h3 style='color: #663399; margin-top: 0;'>📦 Scan Details</h3>
            <table>
                <tr><td class='label'>Scan ID:</td><td><code>" ++ vars.displayScanId ++ "</code></td></tr>
                <tr><td class='label'>Source:</td><td>" ++ vars.source ++ "</td></tr>
                <tr><td class='label'>GitLab Group:</td><td>" ++ (if (vars.group != null and vars.group != '') vars.group else 'N/A') ++ "</td></tr>
                <tr><td class='label'>Start Time:</td><td>" ++ now() as String {format: "yyyy-MM-dd HH:mm:ss z"} ++ "</td></tr>
            </table>
        </div>
        
        <div class='footer'>
            <p style='margin: 0;'>This is an automated notification from API Discovery Tool</p>
            <p style='margin: 5px 0 0 0;'>© 2025 RAKS - API Governance Suite</p>
        </div>
    </div>
</body>
</html>"]]></ee:set-payload>
            </ee:message>
        </ee:transform>
        
        <try>
            <email:send config-ref="Email_SMTP" 
                        subject="#['${apidiscovery.email.subject}' ++ ' - ' ++ vars.displayScanId]"
                        toAddresses="#[p('notification.email.to') splitBy ',']"
                        fromAddress="ApiDiscovery &lt;${notification.email.from}&gt;">
                <email:body contentType="text/html">
                    <email:content>#[payload]</email:content>
                </email:body>
            </email:send>
            <error-handler>
                <on-error-continue>
                    <logger level="WARN" message="#['Failed to send API Discovery email: ' ++ error.description]"/>
                </on-error-continue>
            </error-handler>
        </try>
    </flow>

</mule>
