apiguardwrapper/src/main/mule/apiguard-portal.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:file="http://www.mulesoft.org/schema/mule/file" 
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns:os="http://www.mulesoft.org/schema/mule/os"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:secure-properties="http://www.mulesoft.org/schema/mule/secure-properties"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
http://www.mulesoft.org/schema/mule/os http://www.mulesoft.org/schema/mule/os/current/mule-os.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/secure-properties http://www.mulesoft.org/schema/mule/secure-properties/current/mule-secure-properties.xsd">
	
	<!-- Configuration properties provided by common -->
	
	<!-- Secure Configuration Properties (for encrypted SMTP password) -->
	<!-- Uncomment when using encrypted passwords -->
	<!--
	<secure-properties:config name="Secure_Properties_Config" 
	                          file="mule-app-secure.properties" 
	                          key="${encryption.key}">
		<secure-properties:encrypt algorithm="Blowfish" mode="CBC"/>
	</secure-properties:config>
	-->
	
	<!-- HTTP Listener config provided by common -->
	
	<!-- Object Store Configuration for User Sessions -->
	<!-- Object Store configurations provided by common -->
	
	<!-- Flow for root path (/) - redirects based on registration config -->
	<flow name="root-redirect-flow" doc:id="root-redirect-flow-id">
		<http:listener doc:name="Listener" doc:id="start-listener-id" config-ref="HTTP_Listener_config" path="${http.listener.startPath}" />
		<choice>
			<when expression="#['${registration.enabled}' == 'true']">
				<!-- Registration enabled - redirect to registration page -->
				<set-payload value="#['&lt;html&gt;&lt;head&gt;&lt;meta http-equiv=&quot;refresh&quot; content=&quot;0;url=/apiguard/registration&quot;&gt;&lt;/head&gt;&lt;body&gt;Redirecting...&lt;/body&gt;&lt;/html&gt;']" mimeType="text/html"/>
			</when>
			<otherwise>
				<!-- Registration disabled - redirect to main portal -->
				<set-payload value="#['&lt;html&gt;&lt;head&gt;&lt;meta http-equiv=&quot;refresh&quot; content=&quot;0;url=/apiguard/main&quot;&gt;&lt;/head&gt;&lt;body&gt;Redirecting...&lt;/body&gt;&lt;/html&gt;']" mimeType="text/html"/>
			</otherwise>
		</choice>
	</flow>
	
	<!-- Flow for Registration Page -->
	<flow name="registration-page-flow">
		<http:listener doc:name="Listener" config-ref="HTTP_Listener_config" path="/registration"/>
		<file:read doc:name="Read registration template" path="${app.home}/templates/registration.template.html" config-ref="File_Config" />
		<set-payload value="#[%dw 2.0&#10;output text/plain&#10;---&#10;payload replace '{{registration.page.title}}' with p('registration.page.title') replace '{{registration.page.header}}' with p('registration.page.header') replace '{{registration.page.subtitle}}' with p('registration.page.subtitle') replace '{{registration.button.text}}' with p('registration.button.text') replace '{{registration.button.processing}}' with p('registration.button.processing') replace '{{registration.field.1.name}}' with p('registration.field.1.name') replace '{{registration.field.1.label}}' with p('registration.field.1.label') replace '{{registration.field.1.type}}' with p('registration.field.1.type') replace '{{registration.field.1.required}}' with p('registration.field.1.required') replace '{{registration.field.1.placeholder}}' with p('registration.field.1.placeholder') replace '{{registration.field.2.name}}' with p('registration.field.2.name') replace '{{registration.field.2.label}}' with p('registration.field.2.label') replace '{{registration.field.2.type}}' with p('registration.field.2.type') replace '{{registration.field.2.required}}' with p('registration.field.2.required') replace '{{registration.field.2.placeholder}}' with p('registration.field.2.placeholder') replace '{{registration.field.3.name}}' with p('registration.field.3.name') replace '{{registration.field.3.label}}' with p('registration.field.3.label') replace '{{registration.field.3.type}}' with p('registration.field.3.type') replace '{{registration.field.3.required}}' with p('registration.field.3.required') replace '{{registration.field.3.placeholder}}' with p('registration.field.3.placeholder') replace '{{registration.page.footer}}' with p('registration.page.footer')]" doc:name="Replace placeholders" mimeType="text/html"/>
	</flow>

	<!-- Flow for Main Page (Portal) -->
	<flow name="main-page-flow" doc:id="main-page-flow-id">
		<http:listener doc:name="Listener" doc:id="index-listener-id" config-ref="HTTP_Listener_config" path="/main" />
		
		<!-- Capture session ID if present in query params -->
		<set-variable variableName="sessionId" value="#[attributes.queryParams.session default '']"/>
		
		<!-- Prepare Tool URLs with Session ID - Dynamic separator check to ensure correct URL format -->
		<set-variable variableName="tool1Url" value="#[p('tool.1.url') ++ (if (vars.sessionId != '') (if (p('tool.1.url') contains '?') '&amp;session=' else '?session=') ++ vars.sessionId else '')]"/>
		<set-variable variableName="tool2Url" value="#[p('tool.2.url') ++ (if (vars.sessionId != '') (if (p('tool.2.url') contains '?') '&amp;session=' else '?session=') ++ vars.sessionId else '')]"/>
		<set-variable variableName="tool3Url" value="#[p('tool.3.url') ++ (if (vars.sessionId != '') (if (p('tool.3.url') contains '?') '&amp;session=' else '?session=') ++ vars.sessionId else '')]"/>
		<set-variable variableName="tool6Url" value="#[p('tool.6.url') ++ (if (vars.sessionId != '') (if (p('tool.6.url') contains '?') '&amp;session=' else '?session=') ++ vars.sessionId else '')]"/>
		
		<file:read doc:name="Read portal template" path="${portal.templates.dir}/index.template.html" config-ref="File_Config" />
		<set-payload value="#[%dw 2.0&#10;output text/plain&#10;---&#10;payload replace '{{portal.page.title}}' with p('portal.page.title') replace '{{portal.page.header}}' with p('portal.page.header') replace '{{portal.page.subtitle}}' with p('portal.page.subtitle') replace '{{portal.page.footer}}' with p('portal.page.footer') replace '{{tool.1.name}}' with p('tool.1.name') replace '{{tool.1.description}}' with p('tool.1.description') replace '{{tool.1.url}}' with vars.tool1Url replace '{{tool.1.enabled}}' with p('tool.1.enabled') replace '{{tool.2.name}}' with p('tool.2.name') replace '{{tool.2.description}}' with p('tool.2.description') replace '{{tool.2.url}}' with vars.tool2Url replace '{{tool.2.enabled}}' with p('tool.2.enabled') replace '{{tool.3.name}}' with p('tool.3.name') replace '{{tool.3.description}}' with p('tool.3.description') replace '{{tool.3.url}}' with vars.tool3Url replace '{{tool.3.enabled}}' with p('tool.3.enabled') replace '{{tool.4.name}}' with p('tool.4.name') replace '{{tool.4.description}}' with p('tool.4.description') replace '{{tool.4.url}}' with p('tool.4.url') replace '{{tool.4.enabled}}' with p('tool.4.enabled') replace '{{tool.5.name}}' with p('tool.5.name') replace '{{tool.5.description}}' with p('tool.5.description') replace '{{tool.5.url}}' with p('tool.5.url') replace '{{tool.5.enabled}}' with p('tool.5.enabled') replace '{{tool.6.name}}' with p('tool.6.name') replace '{{tool.6.description}}' with p('tool.6.description') replace '{{tool.6.url}}' with vars.tool6Url replace '{{tool.6.enabled}}' with p('tool.6.enabled') replace '{{tool.7.name}}' with p('tool.7.name') replace '{{tool.7.description}}' with p('tool.7.description') replace '{{tool.7.url}}' with p('tool.7.url') replace '{{tool.7.enabled}}' with p('tool.7.enabled')]" doc:name="Replace placeholders" mimeType="text/html"/>
	</flow>
	
	<!-- Flow for user registration submission -->
	<flow name="user-registration-flow">
		<http:listener path="/registration-action" config-ref="HTTP_Listener_config" allowedMethods="POST"/>
		
		<!-- Capture user metadata -->
		<set-variable variableName="userName" value="#[payload.name]"/>
		<set-variable variableName="userEmail" value="#[payload.email]"/>
		<set-variable variableName="userCompany" value="#[payload.company default 'N/A']"/>
		<set-variable variableName="userIpAddress" value="#[attributes.headers['x-forwarded-for'] default attributes.remoteAddress]"/>
		<set-variable variableName="userAgent" value="#[attributes.headers['user-agent']]"/>
		<set-variable variableName="sessionStartTime" value="#[now()]"/>
		<set-variable variableName="currentTool" value="Portal Registration"/>
		
		<!-- Store in Object Store for later retrieval -->
		<set-variable variableName="sessionId" value="#[uuid()]"/>
		<os:store key="#[vars.sessionId]" objectStore="User_Session_Store">
			<os:value><![CDATA[#[output application/java --- {
				name: vars.userName,
				email: vars.userEmail,
				company: vars.userCompany,
				ipAddress: vars.userIpAddress,
				userAgent: vars.userAgent,
				startTime: vars.sessionStartTime
			}]]]></os:value>
		</os:store>
		
		<!-- Async Notification Trigger -->
		<async>
			<flow-ref name="common-send-registration-notification-flow"/>
		</async>

		<!-- Return success with redirect URL including session -->
		<ee:transform>
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json indent=false
---
{status: "success", message: "Registration successful", redirectUrl: "/apiguard/registration-success?session=" ++ vars.sessionId}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	
	<!-- Flow for registration success page -->
	<flow name="registration-success-flow">
		<http:listener path="/registration-success" config-ref="HTTP_Listener_config" allowedMethods="GET"/>
		<set-variable variableName="sessionId" value="#[attributes.queryParams.session default '']"/>
		<file:read doc:name="Read success template" path="${portal.templates.dir}/registration-success.template.html" config-ref="File_Config" />
		
		<!-- Update redirect link in template to include session -->
		<set-variable variableName="redirectLink" value="#['/apiguard/main' ++ (if (vars.sessionId != '') '?session=' ++ vars.sessionId else '')]"/>
		
		<set-payload value="#[%dw 2.0&#10;output text/plain&#10;---&#10;payload replace '{{registration.success.page.title}}' with p('registration.success.page.title') replace '{{registration.success.page.header}}' with p('registration.success.page.header') replace '{{registration.success.message}}' with p('registration.success.message') replace '{{registration.success.redirect.text}}' with p('registration.success.redirect.text') replace '{{registration.success.redirect.delay}}' with p('registration.success.redirect.delay') replace '{{registration.button.text}}' with p('registration.button.text') replace '{{registration.success.page.footer}}' with p('registration.success.page.footer') replace '{{registration.success.redirect.link}}' with vars.redirectLink]" doc:name="Replace placeholders" mimeType="text/html"/>
	</flow>
	
	<!-- Flow for static resources (CSS, JS, images, etc.) -->
	<flow name="static-resources-flow" doc:id="static-resources-flow-id">
		<http:listener doc:name="Listener" doc:id="static-listener-id" config-ref="HTTP_Listener_config" path="${http.listener.staticResourcesPath}"/>
		<http:load-static-resource doc:name="Load static resource" doc:id="load-static-id" resourceBasePath="${app.home}/web/"/>
	</flow>
</mule>
