apiguardwrapper/src/main/mule/apiguard-common.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:email="http://www.mulesoft.org/schema/mule/email"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns:os="http://www.mulesoft.org/schema/mule/os"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:secure-properties="http://www.mulesoft.org/schema/mule/secure-properties"
	xmlns:file="http://www.mulesoft.org/schema/mule/file"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/email http://www.mulesoft.org/schema/mule/email/current/mule-email.xsd 
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd 
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
http://www.mulesoft.org/schema/mule/os http://www.mulesoft.org/schema/mule/os/current/mule-os.xsd 
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd 
http://www.mulesoft.org/schema/mule/secure-properties http://www.mulesoft.org/schema/mule/secure-properties/current/mule-secure-properties.xsd http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd">

	<!-- Global Configuration Properties -->
	<configuration-properties file="mule-app.properties" doc:name="Configuration properties" />

	<!-- Shared HTTP Listener Configuration -->
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" basePath="${http.listener.basePath}">
		<http:listener-connection host="${http.listener.host}" port="${http.listener.port}" />
	</http:listener-config>

	<!-- Shared Object Store Configuration for User Sessions -->
	<os:config name="ObjectStore_Config"/>
	<os:object-store name="User_Session_Store" 
	                  persistent="true"
	                  entryTtl="30" 
	                  entryTtlUnit="MINUTES"
	                  config-ref="ObjectStore_Config"/>
	
	<os:object-store name="Report_Path_Store"
					 persistent="false"
					 entryTtl="60"
					 entryTtlUnit="MINUTES"
					 config-ref="ObjectStore_Config"/>

	<!-- Shared Email Configuration -->
	<email:smtp-config name="Email_SMTP" doc:name="Email SMTP" >
		<email:smtp-connection host="${notification.email.host}" port="${notification.email.port}" user="${notification.email.username}" password="${notification.email.password}">
			<email:properties >
				<email:property key="mail.smtp.starttls.enable" value="true" />
			</email:properties>
		</email:smtp-connection>
	</email:smtp-config>

	<!-- Missing Configs Validation Fix -->
	<file:config name="File_Config" doc:name="File Config">
		<file:connection workingDir="${app.home}" />
	</file:config>

	<http:request-config name="Self_HTTP_Request_Config" doc:name="Self HTTP Request configuration" >
		<http:request-connection host="${http.listener.host}" port="${http.listener.port}" />
	</http:request-config>

	<!-- Shared Flow: Send Registration Notification -->
	<flow name="common-send-registration-notification-flow">
		<logger level="INFO" message="Sending registration notification email (Common Flow)"/>
		<!-- Retrieve session data if passed or from vars -->
		<!-- Generic notification logic -->
		
		<ee:transform doc:name="Prepare Reg Email Body">
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output text/html
---
"<html>
<body style='font-family: Arial, sans-serif;'>
    <div style='background-color: #f8f9fa; padding: 20px;'>
        <h2 style='color: #663399;'>👤 New User Registration</h2>
        <div style='background-color: white; padding: 20px; border-radius: 5px; border-left: 5px solid #663399;'>
            <p><strong>Name:</strong> " ++ vars.userName ++ "</p>
            <p><strong>Email:</strong> " ++ vars.userEmail ++ "</p>
            <p><strong>Company:</strong> " ++ vars.userCompany ++ "</p>
            <p><strong>Tool:</strong> " ++ (vars.currentTool default 'ApiGuard Portal') ++ "</p>
            <p><strong>Time:</strong> " ++ now() ++ "</p>
        </div>
        <p style='color: #666; font-size: 12px; margin-top: 20px;'>ApiGuard Notification System</p>
    </div>
</body>
</html>"]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		
		<try doc:name="Try Send Email">
			<email:send doc:name="Send Registration Email" config-ref="Email_SMTP" 
				fromAddress="ApiGuard &lt;${notification.email.from}&gt;" 
				subject="ApiGuard Registration: #[vars.userName]"
				toAddresses="#[(vars.notificationToAddresses default '${notification.email.to}') splitBy ',']">
				<email:body contentType="text/html">
					<email:content ><![CDATA[#[payload]]]></email:content>
				</email:body>
			</email:send>
			<error-handler >
				<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue">
					<logger level="ERROR" doc:name="Log Email Error" message="Failed to send registration email: #[error.description]"/>
				</on-error-continue>
			</error-handler>
		</try>
	</flow>
	
	<!-- Shared Flow: Static Resource Serving -->
	<flow name="common-static-resource-flow">
		<http:listener path="/assets/*" config-ref="HTTP_Listener_config" allowedMethods="GET"/>
		<http:load-static-resource resourceBasePath="${app.home}/web/assets/"/>
	</flow>

</mule>
