apiguardwrapper/src/main/mule/muleguard-wrapper.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" 
	xmlns:compression="http://www.mulesoft.org/schema/mule/compression" 
	xmlns:java="http://www.mulesoft.org/schema/mule/java" 
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" 
	xmlns:os="http://www.mulesoft.org/schema/mule/os" 
	xmlns:email="http://www.mulesoft.org/schema/mule/email" 
	xmlns:file="http://www.mulesoft.org/schema/mule/file" 
	xmlns:http="http://www.mulesoft.org/schema/mule/http" 
	xmlns="http://www.mulesoft.org/schema/mule/core" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
http://www.mulesoft.org/schema/mule/email http://www.mulesoft.org/schema/mule/email/current/mule-email.xsd
http://www.mulesoft.org/schema/mule/os http://www.mulesoft.org/schema/mule/os/current/mule-os.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/java http://www.mulesoft.org/schema/mule/java/current/mule-java.xsd
http://www.mulesoft.org/schema/mule/compression http://www.mulesoft.org/schema/mule/compression/current/mule-compression.xsd">

    <!-- Global Error Handler Configuration -->
    <configuration defaultErrorHandler-ref="globalErrorHandler"/>

    <!-- Global Error Handler Definition -->
    <error-handler name="globalErrorHandler">
        <on-error-continue type="ANY">
             <logger level="ERROR" message="#['Global Error Caught: ' ++ error.description]"/>
             <set-variable variableName="httpStatus" value="500"/>
             <ee:transform>
                <ee:message>
                    <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
    error: "Internal Server Error",
    message: error.description,
    errorType: error.errorType.identifier
}]]></ee:set-payload>
                </ee:message>
             </ee:transform>
        </on-error-continue>
    </error-handler>

    <!-- Flow 0 & 3: Consolidated Landing Page & Redirect Handler -->
    <flow name="muleguard-landing-flow">
        <!-- Listens on /muleguard and /muleguard/ -->
        <http:listener path="/muleguard" config-ref="HTTP_Listener_config" allowedMethods="GET">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.httpHeaders default {}]</http:headers>
            </http:response>
        </http:listener>
        
        <choice>
            <!-- Case 1: Missing trailing slash -> Redirect to add it -->
            <when expression="#[! (attributes.requestPath endsWith '/') ]">
                <set-variable variableName="httpStatus" value="302"/>
                <set-variable variableName="httpHeaders" value="#[{
                    'Location': p('http.listener.basePath') ++ '/muleguard/?session=' ++ (attributes.queryParams.session default uuid())
                }]"/>
                <logger level="INFO" message="Redirecting to enforce trailing slash: /apiguard/muleguard/"/>
            </when>
            
            <!-- Case 2: Correct path -> Serve Landing Page -->
            <otherwise>
                <set-variable variableName="sessionId" value="#[attributes.queryParams.session default uuid()]"/>
                <set-variable variableName="httpHeaders" value="#[{
                    'Content-Type': 'text/html; charset=UTF-8',
                    'Cache-Control': 'no-cache, no-store, must-revalidate'
                }]"/>
                <async>
                     <flow-ref name="send-launch-notification-flow"/>
                </async>
                <parse-template location="web/muleguard/index.html"/>
            </otherwise>
        </choice>
    </flow>

    <sub-flow name="create-anonymous-session-subflow">
        <set-variable variableName="sessionId" value="#[uuid()]"/>
        <set-variable variableName="sessionStartTime" value="#[now()]"/>
        <os:store key="#[vars.sessionId]" objectStore="User_Session_Store">
            <os:value><![CDATA[#[output application/java --- {
                name: 'Anonymous User',
                email: '${notification.email.to}',
                company: 'N/A',
                ipAddress: attributes.headers['x-forwarded-for'] default attributes.remoteAddress,
                userAgent: attributes.headers['user-agent'],
                startTime: vars.sessionStartTime,
                validationRun: false
            }]]]></os:value>
        </os:store>
        <logger level="INFO" message="#['Created anonymous session: ' ++ vars.sessionId]"/>
    </sub-flow>
    
    <flow name="send-launch-notification-flow">
         <os:retrieve key="#[vars.sessionId]" objectStore="User_Session_Store" target="sessionData">
            <os:default-value><![CDATA[#[{
                name: 'Unknown',
                email: '${notification.email.to}',
                company: 'N/A'
            }]]]></os:default-value>
        </os:retrieve>
        
        <email:send config-ref="Email_SMTP" 
                    subject="#['${notification.email.subject}' replace '{name}' with vars.sessionData.name replace '{emailId}' with vars.sessionData.email ++ ' - Launched MuleGuard']"
                    toAddresses="#[(p('notification.email.to') default '') splitBy ',']"
                    fromAddress="MuleGuard &lt;${notification.email.from}&gt;">
            <email:body contentType="text/html">
                <email:content><![CDATA[#[output text/plain --- "User " ++ vars.sessionData.name ++ " (" ++ vars.sessionData.email ++ ") from " ++ vars.sessionData.company ++ " launched MuleGuard."]]]></email:content>
            </email:body>
        </email:send>
        <error-handler>
            <on-error-continue>
                <logger level="WARN" message="Failed to send launch notification"/>
            </on-error-continue>
        </error-handler>
    </flow>

    <!-- Flow 4: Static Resource Serving (Flat Context) -->
    <flow name="static-resource-flow">
        <http:listener path="/muleguard/*" config-ref="HTTP_Listener_config" allowedMethods="GET">
            <http:response>
                <http:headers>#[{
                    "Content-Type": vars.mimeType default "text/html",
                    "Cache-Control": "no-cache, no-store, must-revalidate"
                }]</http:headers>
            </http:response>
        </http:listener>
        
                <!-- Robust path resolution: Extract filename only to avoid directory traversal or prefix issues -->
                <set-variable variableName="resourcePath" value="#[(attributes.relativePath splitBy '/')[-1]]"/>

                <!-- Determine MIME type based on extension -->
                <set-variable variableName="mimeType" value="#[
                    if (vars.resourcePath endsWith '.css') 'text/css'
                    else if (vars.resourcePath endsWith '.js') 'application/javascript'
                    else if (vars.resourcePath endsWith '.svg') 'image/svg+xml'
                    else if (vars.resourcePath endsWith '.png') 'image/png'
                    else if (vars.resourcePath endsWith '.html') 'text/html'
                    else 'application/octet-stream'
                ]"/>

                <!-- Reverting to classpath:// protocol which is standard for readUrl.
                     mimeType attribute remains removed. -->
                <set-payload value="#[readUrl('classpath://web/muleguard/' ++ vars.resourcePath)]"/>
    </flow>
    
    <flow name="rule-guide-page-flow">
        <http:listener path="/muleguard/rule_guide.html" config-ref="HTTP_Listener_config" allowedMethods="GET">
            <http:response>
                <http:headers>#[{"Content-Type": "text/html; charset=UTF-8"}]</http:headers>
            </http:response>
        </http:listener>
        
        <logger level="INFO" message="Serving dynamic Rule Guide..."/>
        
        <!-- Call generator to create rule_guide.html in temp location -->
        <java:invoke-static class="com.raks.muleguard.engine.ReportGenerator" method="generateRuleGuide(String)">
            <java:args>#[{
                arg0: p('muleguard.work.dir')
            }]</java:args>
        </java:invoke-static>
        
        <!-- Read the generated file -->
        <file:read path="#[p('muleguard.work.dir') ++ '/rule_guide.html']" config-ref="File_Config"/>
    </flow>

    <!-- NEW FLOW: Recursive Git Discovery for Wrapper -->
    <flow name="muleguard-git-discovery-flow">
        <http:listener path="/muleguard/api/git/discovery" config-ref="HTTP_Listener_config" allowedMethods="GET">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[{"Content-Type": "application/json"}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[{"Content-Type": "application/json"}]</http:headers>
            </http:error-response>
        </http:listener>
        
        <logger level="INFO" message="#['Starting Recursive Git Discovery for Group: ' ++ (attributes.queryParams.group default 'None')]"/>

        <java:invoke-static class="com.raks.muleguard.util.GitHelper" method="listRepositories(java.lang.String,java.lang.String,java.lang.String,java.lang.String,java.lang.String,java.lang.String)">
            <java:args>#[{
                arg0: attributes.headers['x-git-provider'] default 'gitlab',
                arg1: attributes.headers['x-git-token'] default '',
                arg2: attributes.queryParams.group,
                arg3: attributes.queryParams.filter,
                arg4: p('gitanalyzer.gitlab.url'),
                arg5: p('gitanalyzer.github.url')
            }]</java:args>
        </java:invoke-static>
        
        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
            </ee:message>
        </ee:transform>
        
        <error-handler>
            <on-error-continue type="ANY">
                <logger level="ERROR" message="#['Git Discovery Failed: ' ++ error.description]"/>
                <set-variable variableName="httpStatus" value="500"/>
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
    error: "Failed to fetch repositories",
    details: error.description
}]]></ee:set-payload>
                    </ee:message>
                </ee:transform>
            </on-error-continue>
        </error-handler>
    </flow>

    <!-- Flow 4.5: Session Validation Endpoint -->
    <flow name="session-validation-flow">
        <http:listener path="/muleguard/validate-session" config-ref="HTTP_Listener_config" allowedMethods="GET"/>
        
        <!-- Get session ID from query parameter -->
        <set-variable variableName="sessionId" value="#[attributes.queryParams.session]"/>
        
        <!-- Try to retrieve session from Object Store -->
        <try>
            <os:retrieve key="#[vars.sessionId]" objectStore="User_Session_Store"/>
            
            <!-- Session exists - return valid -->
            <ee:transform>
                <ee:message>
                    <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{valid: true, sessionId: vars.sessionId}]]></ee:set-payload>
                </ee:message>
            </ee:transform>
            
            <error-handler>
                <on-error-continue type="OS:KEY_NOT_FOUND">
                    <!-- Session not found - return invalid -->
                    <ee:transform>
                        <ee:message>
                            <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{valid: false, message: "Session expired or not found"}]]></ee:set-payload>
                        </ee:message>
                    </ee:transform>
                </on-error-continue>
            </error-handler>
        </try>
    </flow>

    <!-- Flow 4.6: Git Discovery Endpoints -->
    <flow name="git-discovery-repos-flow">
        <http:listener path="/muleguard/api/git/repos" config-ref="HTTP_Listener_config" allowedMethods="GET"/>
        <set-variable variableName="provider" value="#[attributes.queryParams.provider default 'gitlab']"/>
        <set-variable variableName="token" value="#[attributes.queryParams.token default '']"/>
        <set-variable variableName="query" value="#[attributes.queryParams.query default '']"/>
        
        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/java
---
{
    "gitlab.url": p('gitanalyzer.gitlab.url') default 'https://gitlab.com',
    "github.url": p('gitanalyzer.github.url') default 'https://api.github.com'
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
        
        <java:invoke-static class="com.raks.muleguard.wrapper.GitDiscoveryHelper" method="listRepos(String, String, String, Map)">
            <java:args>#[{
                arg0: vars.provider,
                arg1: vars.token,
                arg2: vars.query,
                arg3: payload
            }]</java:args>
        </java:invoke-static>
        
        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>

    <flow name="git-discovery-branches-flow">
        <http:listener path="/muleguard/api/git/branches" config-ref="HTTP_Listener_config" allowedMethods="GET"/>
        <set-variable variableName="provider" value="#[attributes.queryParams.provider default attributes.headers['x-git-provider'] default 'gitlab']"/>
        <set-variable variableName="token" value="#[attributes.headers['x-git-token'] default attributes.queryParams.token default '']"/>
        <set-variable variableName="repo" value="#[attributes.queryParams.repo default '']"/>
        
        <java:invoke-static class="com.raks.muleguard.util.GitHelper" method="listBranches(java.lang.String,java.lang.String,java.lang.String,java.lang.String,java.lang.String)">
            <java:args>#[{
                arg0: vars.provider,
                arg1: vars.token,
                arg2: vars.repo,
                arg3: p('gitanalyzer.gitlab.url'),
                arg4: p('gitanalyzer.github.url')
            }]</java:args>
        </java:invoke-static>
        
        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>

    <!-- Flow 5: Validation Trigger (Local & ZIP Modes) -->
    <flow name="validation-trigger-flow">
        <http:listener path="/muleguard/validate" config-ref="HTTP_Listener_config" allowedMethods="POST"/>
        
        <!-- Detect content type and extract data accordingly -->
        <set-variable variableName="contentType" value="#[attributes.headers['content-type'] default 'unknown']"/>
        
        <choice>
            <!-- Handle Multipart Form Data - Extract ALL parts upfront in ONE operation -->
            <when expression="#[vars.contentType contains 'multipart/form-data']">
                <logger level="INFO" message="Processing multipart/form-data request"/>
                
                <!-- Debug: Log available part names -->
                <logger level="INFO" message="#['Available multipart parts: ' ++ (payload.parts pluck $$ joinBy ', ')]"/>
                
                <!-- Extract all parts in a SINGLE DataWeave operation to prevent stream consumption -->
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/java
---
{
    userSessionId: payload.parts.session.content default null,
    validationMode: payload.parts.mode.content default null,
    pathContent: payload.parts.path.content default null,
    zipFileContent: payload.parts.archive.content default null,
    zipFilename: payload.parts.archive.headers['Content-Disposition'].filename default "Uploaded Archive",
    customRulesContent: payload.parts.customRules.content default null,
    customRulesPath: payload.parts.customRulesPath.content default null,
    attachReports: payload.parts.attachReports.content default null,
    attachInput: payload.parts.attachInput.content default null,
    attachProject: payload.parts.attachProject.content default null,
    gitUrl: payload.parts.gitUrl.content default null,
    gitUrls: payload.parts.gitUrls.content default null,
    gitBranch: payload.parts.gitBranch.content default null,
    gitToken: payload.parts.gitToken.content default null
}]]></ee:set-payload>
                    </ee:message>
                </ee:transform>
                
                <!-- Now extract from the transformed payload into variables (Multipart safe) -->
                <!-- Fix: Use correct keys matching JS FormData ('session', 'mode') -->
                <set-variable variableName="userSessionId" value="#[trim(payload.userSessionId default '')]"/>
                <set-variable variableName="validationMode" value="#[trim(payload.validationMode default '')]"/>
                <set-variable variableName="pathContent" value="#[trim(payload.pathContent default '')]"/>
                <set-variable variableName="zipFileContent" value="#[payload.zipFileContent]"/>
                <set-variable variableName="zipFilename" value="#[payload.zipFilename]"/>
                <set-variable variableName="customRulesContent" value="#[payload.customRulesContent]"/>
                <set-variable variableName="customRulesPathRequest" value="#[trim(payload.customRulesPath default '')]"/>
                <set-variable variableName="gitUrl" value="#[trim(payload.gitUrl default '')]"/>
                <set-variable variableName="gitUrls" value="#[trim(payload.gitUrls default '')]"/>
                <set-variable variableName="gitBranch" value="#[trim(payload.gitBranch default '')]"/>
                <set-variable variableName="gitToken" value="#[trim(payload.gitToken default '')]"/>
                
                <!-- Auto-detect base URL from request headers -->
                <!-- CloudHub fix: Append /apiguard for CloudHub URLs if not already present in the display logic -->
                <!-- Ideally, x-forwarded-path would give us the prefix, but for now filtering by host is safer or just appending it in the email link -->
                <set-variable variableName="baseUrl" 
                              value="#[(attributes.headers['x-forwarded-proto'] default 'http') ++ '://' ++ (attributes.headers['x-forwarded-host'] default attributes.headers.host) ++ '/apiguard']"/>
                <set-variable variableName="isMultipart" value="#[true]"/>
                
                <!-- Extract attachment preferences (default to 'false' if missing/unchecked) -->
                <set-variable variableName="userWantsReportAttachment" 
                              value="#[trim(payload.attachReports default 'false')]"/>
                <set-variable variableName="userWantsInputAttachment" 
                              value="#[trim(payload.attachInput default 'false')]"/>
                <set-variable variableName="userWantsProjectAttachment" 
                              value="#[trim(payload.attachProject default 'false')]"/>

                <!-- Debug: Log extracted values -->
                <logger level="INFO" message="#['Extracted - sessionId: ' ++ (vars.userSessionId default 'null') ++ ', mode: ' ++ (vars.validationMode default 'null') ++ ', path: ' ++ (vars.pathContent default 'N/A') ++ ', zipFile: ' ++ (vars.zipFileContent != null) ++ ', customRules: ' ++ (vars.customRulesContent != null) ++ ', Attach[Report=' ++ vars.userWantsReportAttachment ++ ', Input=' ++ vars.userWantsInputAttachment ++ ', LocalProject=' ++ vars.userWantsProjectAttachment ++ ']']"/>
                
                <!-- Generate session ID if not provided or empty -->
                <choice>
                    <when expression="#[isEmpty(vars.userSessionId)]">
                        <set-variable variableName="userSessionId" value="#[uuid()]"/>
                        <logger level="INFO" message="#['Generated new session ID: ' ++ vars.userSessionId]"/>
                    </when>
                </choice>
            </when>
            
            <!-- Handle JSON (if ever needed for API calls) -->
            <when expression="#[vars.contentType contains 'application/json']">
                <logger level="INFO" message="Processing application/json request"/>
                <set-variable variableName="userSessionId" value="#[payload.session default null]"/>
                <set-variable variableName="validationMode" value="#[payload.mode default null]"/>
                <set-variable variableName="pathContent" value="#[payload.path default null]"/>
                <set-variable variableName="zipFileContent" value="#[null]"/>
                <set-variable variableName="customRulesContent" value="#[null]"/>
                <set-variable variableName="gitUrl" value="#[payload.gitUrl default null]"/>
                <set-variable variableName="gitUrls" value="#[payload.gitUrls default null]"/>
                <set-variable variableName="gitBranch" value="#[payload.gitBranch default null]"/>
                <set-variable variableName="gitToken" value="#[payload.gitToken default null]"/>
                <set-variable variableName="isMultipart" value="#[false]"/>
            </when>
            
            <!-- Unsupported content type -->
            <otherwise>
                <logger level="ERROR" message="#['Unsupported content type: ' ++ vars.contentType]"/>
                <raise-error type="MULEGUARD:UNSUPPORTED_CONTENT_TYPE" description="Unsupported content type"/>
            </otherwise>
        </choice>
        
        <!-- Generate unique run ID for this specific request to prevent directory collisions -->
        <set-variable variableName="runId" value="#[now() as String {format: 'yyyyMMddHHmmss'}]"/>
        <set-variable variableName="validationSessionId" value="#[vars.userSessionId ++ '_' ++ vars.runId]"/>
        
        <!-- Validate required fields are present -->
        <choice>
            <when expression="#[vars.userSessionId == null or vars.validationMode == null]">
                <logger level="ERROR" message="#['Missing required fields - userSessionId: ' ++ (vars.userSessionId != null) ++ ', validationMode: ' ++ (vars.validationMode != null)]"/>
                <raise-error type="MULEGUARD:MISSING_REQUIRED_FIELDS" description="Missing required fields: session and/or mode"/>
            </when>
            <otherwise>
                <logger level="DEBUG" message="Required fields present, proceeding with validation"/>
            </otherwise>
        </choice>
        
        <choice>
            <!-- Local Folder Mode -->
            <when expression="#[trim(vars.validationMode as String) == 'local']">
                <set-variable variableName="projectPath" value="#[vars.pathContent]"/>
                <set-variable variableName="projectPath" value="#[vars.pathContent]"/>
                <set-variable variableName="displayPath" value="#[vars.pathContent]"/>
                <set-variable variableName="reportBaseName" value="#[if (vars.pathContent contains '/') (vars.pathContent splitBy '/')[-1] else (vars.pathContent splitBy '\\')[-1]]"/>
                
                <!-- Handle custom rules if provided -->
                <choice>
                    <when expression="#[vars.customRulesContent != null]">
                        <!-- Create temp workspace for custom rules -->
                        <set-variable variableName="tempWorkspaceDir" 
                            value="#['${muleguard.workspace.dir}' ++ '/' ++ vars.validationSessionId]"/>
                        <file:create-directory directoryPath="#[vars.tempWorkspaceDir]" config-ref="File_Config"/>
                        
                        <!-- Save custom rules -->
                        <file:write path="#[vars.tempWorkspaceDir ++ '/rules.yaml']" mode="OVERWRITE" config-ref="File_Config">
                            <file:content>#[vars.customRulesContent]</file:content>
                        </file:write>
                        <set-variable variableName="customRulesPath" value="#[vars.tempWorkspaceDir ++ '/rules.yaml']"/>
                    </when>
                    <otherwise>
                        <set-variable variableName="customRulesPath" value="#[if (!isEmpty(vars.customRulesPathRequest)) vars.customRulesPathRequest else null]"/>
                    </otherwise>
                </choice>
            </when>
            
            <!-- ZIP Upload Mode -->
            <!-- ZIP or JAR Upload Mode -->
            <when expression="#[(trim(vars.validationMode as String) == 'zip') or (trim(vars.validationMode as String) == 'jar')]">
                <!-- ZIP/JAR mode only works with multipart/form-data -->
                <choice>
                    <when expression="#[vars.isMultipart and vars.zipFileContent != null]">
                        <!-- Use userSessionId for workspace to match Object Store key -->
                        
                        <!-- CloudHub-compatible working directory -->
                        <set-variable variableName="workingDir" 
                            value="#[p('muleguard.work.dir') ++ '/' ++ vars.validationSessionId]"/>
                        
                        <!-- Delete existing directory if present to allow re-runs -->
                        <try>
                            <file:delete path="#[vars.workingDir]" config-ref="File_Config"/>
                            <logger level="INFO" message="#['Deleted existing working directory: ' ++ vars.workingDir]"/>
                            <error-handler>
                                <on-error-continue type="ANY" logException="false">
                                    <!-- Use lower log level since this is expected on first run -->
                                    <logger level="DEBUG" message="Working directory does not exist yet or cannot be deleted (ignoring error)"/>
                                </on-error-continue>
                            </error-handler>
                        </try>
                        
                        <!-- Create working directory -->
                        <file:create-directory directoryPath="#[vars.workingDir]" config-ref="File_Config"/>

                        <!-- Determine input filename -->
                        <set-variable variableName="extension" value="#[if (vars.validationMode == 'zip') '.zip' else '.jar']"/>
                        <set-variable variableName="inputFileName" value="#['input' ++ vars.extension]"/>

                        <!-- Save Archive to file first (persisted for email attachment) -->
                        <set-variable variableName="zipFilePath" value="#[vars.workingDir ++ '/' ++ vars.inputFileName]"/>
                        <file:write path="#[vars.zipFilePath]" config-ref="File_Config">
                            <file:content>#[vars.zipFileContent]</file:content>
                        </file:write>

                        <!-- Read back for extraction (stream was consumed) -->
                        <!-- Note: ArchiveExtractor.extractZip/Jar(Path) handles extraction from file -->
                        
                        <!-- Extract using ArchiveExtractor based on mode -->
                        <set-variable variableName="utilsBaseTempDir" value="#[p('muleguard.work.dir')]"/>
                        
                        <choice>
                            <when expression="#[vars.validationMode == 'zip']">
                                <java:invoke-static class="com.raks.muleguard.util.ArchiveExtractor" 
                                                    method="extractZip(String, String, String)">
                                    <java:args>#[{
                                        arg0: vars.zipFilePath,
                                        arg2: vars.utilsBaseTempDir,
                                        arg1: vars.validationSessionId
                                    }]</java:args>
                                </java:invoke-static>
                            </when>
                            <otherwise>
                                <!-- JAR Mode -->
                                <java:invoke-static class="com.raks.muleguard.util.ArchiveExtractor" 
                                                    method="extractJar(String, String, String)">
                                    <java:args>#[{
                                        arg0: vars.zipFilePath,
                                        arg2: vars.utilsBaseTempDir,
                                        arg1: vars.validationSessionId
                                    }]</java:args>
                                </java:invoke-static>
                            </otherwise>
                        </choice>
                        
                        <!-- Store extracted path as String to avoid serialization issues -->
                        <set-variable variableName="extractedPath" value="#[payload as String]"/>
                        
                        <!-- Set project path for validation -->
                        <set-variable variableName="projectPath" value="#[vars.extractedPath]"/>
                        <set-variable variableName="displayPath" value="#[vars.zipFilename]"/>
                        <set-variable variableName="reportBaseName" value="#[vars.zipFilename replace '.zip' with '' replace '.jar' with '']"/>
                        
                        <logger level="INFO" message="#['Archive extracted to: ' ++ (vars.projectPath as String)]"/>
                        
                        <!-- Handle custom rules if provided -->
                        <choice>
                            <when expression="#[vars.customRulesContent != null]">
                                <!-- Save custom rules to working directory -->
                                <file:write path="#[vars.workingDir ++ '/rules.yaml']" mode="OVERWRITE" config-ref="File_Config">
                                    <file:content>#[vars.customRulesContent]</file:content>
                                </file:write>
                                <set-variable variableName="customRulesPath" value="#[vars.workingDir ++ '/rules.yaml']"/>
                                <logger level="INFO" message="#['Custom rules saved to: ' ++ vars.customRulesPath]"/>
                            </when>
                            <otherwise>
                                <set-variable variableName="customRulesPath" value="#[if (!isEmpty(vars.customRulesPathRequest)) vars.customRulesPathRequest else null]"/>
                            </otherwise>
                        </choice>
                    </when>
                    <otherwise>
                        <logger level="ERROR" message="ZIP/JAR mode requires multipart request with archive file"/>
                        <raise-error type="MULEGUARD:MISSING_ARCHIVE" description="ZIP/JAR mode requires archive file"/>
                    </otherwise>
                </choice>
            </when>
            
            <!-- Git Repository Mode -->
            <when expression="#[trim(vars.validationMode as String) == 'git']">
                <!-- Use unique validationSessionId for workspace -->
                <set-variable variableName="workingDir" 
                    value="#[p('muleguard.work.dir') ++ '/' ++ vars.validationSessionId]"/>
                
                <!-- Delete existing directory if present to allow re-runs -->
                <try>
                    <file:delete path="#[vars.workingDir]" config-ref="File_Config"/>
                    <logger level="INFO" message="#['Deleted existing working directory for Git clone: ' ++ vars.workingDir]"/>
                    <error-handler>
                        <on-error-continue type="ANY" logException="false">
                            <logger level="DEBUG" message="Working directory does not exist yet or cannot be deleted (ignoring error)"/>
                        </on-error-continue>
                    </error-handler>
                </try>
                
                <!-- Create working directory -->
                <file:create-directory directoryPath="#[vars.workingDir]" config-ref="File_Config"/>

                <!-- Handle Multiple URLs if gitUrls is provided -->
                <set-variable variableName="gitUrlList" value="#[if (vars.gitUrls != null and vars.gitUrls != '') (vars.gitUrls splitBy ',') else [vars.gitUrl]]"/>
                
                <foreach collection="#[vars.gitUrlList]" counterVariableName="gitCounter">
                    <set-variable variableName="currentGitUrl" value="#[trim(payload)]"/>
                    <ee:transform>
                        <ee:message />
                        <ee:variables>
                            <ee:set-variable variableName="currentRepoName"><![CDATA[%dw 2.0
output application/java
---
((vars.currentGitUrl splitBy "/")[-1] replace ".git" with "") default ("git-repo-" ++ vars.gitCounter)]]></ee:set-variable>
                        </ee:variables>
                    </ee:transform>
                    
                    <set-variable variableName="currentProjectPath" value="#[vars.workingDir ++ '/' ++ vars.currentRepoName]"/>
                    
                    <logger level="INFO" message="#['Cloning Git Repo [' ++ vars.gitCounter ++ ']: ' ++ vars.currentGitUrl ++ ' to ' ++ vars.currentProjectPath]"/>
                
                    <java:invoke-static class="com.raks.muleguard.util.GitHelper" 
                                        method="cloneRepository(String, String, String, String)">
                        <java:args>#[{
                            arg0: vars.currentGitUrl,
                            arg1: vars.gitBranch default "",
                            arg2: vars.gitToken default "",
                            arg3: vars.currentProjectPath
                        }]</java:args>
                    </java:invoke-static>
                </foreach>
                
                <set-variable variableName="projectPath" value="#[vars.workingDir]"/>
                <!-- Audit requirement: Show full Git URLs -->
                <set-variable variableName="displayPath" value="#[vars.gitUrlList joinBy ', ']"/>
                <set-variable variableName="reportBaseName" value="#[
                    if (sizeOf(vars.gitUrlList) > 3) 
                        ((vars.gitUrlList[0 to 2] map ((url) -> (url splitBy '/')[-1] replace '.git' with '')) joinBy '-') ++ '-and-others' 
                    else 
                        ((vars.gitUrlList map ((url) -> (url splitBy '/')[-1] replace '.git' with '')) joinBy '-')
                ]"/>
                
                <logger level="INFO" message="Git clone(s) successful."/>

                <!-- Handle custom rules if provided -->
                <choice>
                    <when expression="#[vars.customRulesContent != null]">
                         <file:write path="#[vars.workingDir ++ '/rules.yaml']" mode="OVERWRITE" config-ref="File_Config">
                            <file:content>#[vars.customRulesContent]</file:content>
                        </file:write>
                        <set-variable variableName="customRulesPath" value="#[vars.workingDir ++ '/rules.yaml']"/>
                        <logger level="INFO" message="#['Custom rules saved to: ' ++ vars.customRulesPath]"/>
                    </when>
                    <otherwise>
                        <set-variable variableName="customRulesPath" value="#[if (!isEmpty(vars.customRulesPathRequest)) vars.customRulesPathRequest else null]"/>
                    </otherwise>
                </choice>
            </when>

            <!-- Invalid mode -->
            <otherwise>
                <logger level="ERROR" message="#['Invalid validation mode: ' ++ vars.validationMode]"/>
                <raise-error type="MULEGUARD:INVALID_MODE" description="#['Invalid validation mode: ' ++ vars.validationMode ++ '. Must be local, zip, jar, or git']"/>
            </otherwise>
        </choice>
        
        <!-- Generate timestamped report directory name -->
        <choice>
            <when expression="#['${report.timestamp.enabled}' == 'true']">
                <set-variable variableName="reportTimestamp" 
                              value="#[now() as String {format: '${report.timestamp.format}'}]"/>
                <set-variable variableName="reportDirName" 
                              value="#['muleguard-reports-' ++ vars.reportTimestamp]"/>
            </when>
            <otherwise>
                <set-variable variableName="reportDirName" value="muleguard-reports"/>
            </otherwise>
        </choice>

        <!-- Invoke MuleGuard with optional custom rules -->
        <java:invoke-static class="com.raks.muleguard.wrapper.MuleGuardInvoker" 
                            method="validate(String, String, String, String)">
            <java:args>#[{
                arg0: vars.projectPath,
                arg1: vars.customRulesPath,
                arg2: vars.displayPath,
                arg3: vars.reportDirName
            }]</java:args>
        </java:invoke-static>
        
        <set-variable variableName="validationResults" value="#[payload]"/>
        
        <!-- Set paths for email attachments -->
        <set-variable variableName="reportPath" value="#[vars.projectPath ++ '/' ++ vars.reportDirName ++ '/CONSOLIDATED-REPORT.html']"/>
        <set-variable variableName="reportsFolderPath" value="#[vars.projectPath ++ '/' ++ vars.reportDirName]"/>
        
        <choice>
            <when expression="#[vars.validationMode == 'zip' and vars.zipWorkspace != null]">
                <set-variable variableName="zipFilePath" value="#[vars.zipWorkspace ++ '/input.zip']"/>
            </when>
            <otherwise>
                <logger level="DEBUG" message="Not using zip mode or zip workspace not set, skipping input zip path assignment"/>
            </otherwise>
        </choice>
        
        <!-- Attachment preferences extracted at start of flow -->
        
        <logger level="INFO" message="#['DEBUG: Attachment Prefs - Report: ' ++ (vars.userWantsReportAttachment default 'null') ++ ', Input: ' ++ (vars.userWantsInputAttachment default 'null') ++ ', Project: ' ++ (vars.userWantsProjectAttachment default 'null')]"/>

        <!-- Store project path for report serving as concatenated string -->
        <os:store key="#[vars.validationSessionId]" objectStore="Report_Path_Store">
            <os:value>#[vars.projectPath ++ '||' ++ vars.reportDirName ++ '||' ++ (vars.reportBaseName default 'project')]</os:value>
        </os:store>
        
        <!-- Generate ZIP for Download Button (Synchronous) -->
        <choice>
            <when expression="#[vars.validationResults.status != 'ERROR']">
                <set-variable variableName="reportsZipPath" value="#[vars.projectPath ++ '/' ++ vars.reportDirName ++ '.zip']"/>
                <!-- Only zip if not already zipped by email flow (though email is async, so better to just zip here ensures availability) -->
                <java:invoke-static doc:name="Zip Reports Sync" class="com.raks.muleguard.util.ArchiveExtractor" method="zipDirectory(java.lang.String,java.lang.String)">
                    <java:args><![CDATA[#[{
                        arg0: vars.reportsFolderPath,
                        arg1: vars.reportsZipPath
                    }]]]></java:args>
                </java:invoke-static>
            </when>
            <otherwise>
                <logger level="WARN" message="Validation failed with ERROR status. Skipping report zipping as reports might not be generated."/>
                <!-- Set zip path to null or empty so we don't try to download it -->
                <set-variable variableName="reportsZipPath" value="#[null]"/>
            </otherwise>
        </choice>

        <!-- Send email notification after validation (Moved after ZIP creation to ensure file exists and avoid race conditions) -->
        <async>
            <flow-ref name="send-usage-notification-flow"/>
        </async>

        <!-- Return session ID and Report Info -->
        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json indent=false
---
{
    status: "success", 
    sessionId: vars.validationSessionId default vars.userSessionId, 
    mode: vars.validationMode, 
    requestPath: vars.projectPath,
    reportPath: vars.reportDirName,
    relativeReportUrl: vars.reportDirName ++ "/CONSOLIDATED-REPORT.html", 
    reportZip: "validation-report.zip",
    customRules: vars.customRulesPath != null,
    baseUrl: vars.baseUrl
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
        
        <error-handler>
            <on-error-continue type="MULEGUARD:UNSUPPORTED_CONTENT_TYPE">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json indent=false
---
{status: "error", message: "Unsupported content type. Use multipart/form-data or application/json"}]]></ee:set-payload>
                    </ee:message>
                </ee:transform>
            </on-error-continue>
            <on-error-continue type="ANY">
                <logger level="ERROR" message="#['Validation flow error: ' ++ error.description]"/>
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json indent=false
---
{status: "error", message: error.description default "An error occurred during validation"}]]></ee:set-payload>
                    </ee:message>
                </ee:transform>
            </on-error-continue>
        </error-handler>
    </flow>

    <!-- Flow 6: Send Usage Notification Email -->
    <flow name="send-usage-notification-flow">
        <logger level="INFO" message="#['DEBUG: Entering send-usage-notification-flow. Session: ' ++ (vars.userSessionId default 'null')]"/>
        
        <!-- Retrieve user session data from Object Store -->
        <os:retrieve key="#[vars.userSessionId]" objectStore="User_Session_Store">
            <os:default-value><![CDATA[#[{
                name: 'Anonymous User',
                email: 'unknown@unknown.com',
                company: 'N/A',
                ipAddress: 'N/A',
                userAgent: 'N/A',
                startTime: now(),
                validationRun: false
            }]]]></os:default-value>
        </os:retrieve>
        <set-variable variableName="sessionData" value="#[payload]"/>
        
        <!-- Build comprehensive email body -->

        
        <!-- Three-level attachment control: Admin > User > Default -->
        <set-variable variableName="shouldAttachReports" 
                      value="#[
                          '${notification.attach.reports.enabled}' == 'true' and 
                          ((vars.userWantsReportAttachment default '${notification.attach.reports.default}') == 'true')
                      ]"/>

        <set-variable variableName="shouldAttachInput" 
                      value="#[
                          '${notification.attach.zipproject.enabled}' == 'true' and 
                          vars.validationMode == 'zip' and
                          ((vars.userWantsInputAttachment default '${notification.attach.zipproject.default}') == 'true')
                      ]"/>

        <set-variable variableName="shouldAttachProject" 
                      value="#[
                          '${notification.attach.localproject.enabled}' == 'true' and 
                          vars.validationMode == 'local' and
                          ((vars.userWantsProjectAttachment default '${notification.attach.localproject.default}') == 'true')
                      ]"/>
        
        <logger level="INFO" message="#['DEBUG: Attach Decision - Reports: ' ++ vars.shouldAttachReports ++ ', Input: ' ++ vars.shouldAttachInput ++ ' (Path: ' ++ (vars.zipFilePath default 'None') ++ '), Project: ' ++ vars.shouldAttachProject]"/>    

        <!-- Prepare email attachments and calculate total size -->
        <set-variable variableName="emailAttachments" value="#[{ 'raksLogo.png': readUrl('classpath://web/muleguard/raksLogo.png', 'application/octet-stream') }]"/>
        <set-variable variableName="totalAttachmentSize" value="#[0]"/>
        <set-variable variableName="tempAttachments" value="#[[]]"/>
        
        <!-- Note: Reports folder compression skipped due to Mule compression module limitations -->
        <logger level="INFO" message="Reports available at web interface"/>
        
        <!-- Note: Reports folder compression skipped in this flow as it's already done in the main flow -->
        <!-- Just set the path variable for attachment logic -->
        <!-- SAFETY: Use the reportsZipPath passed from caller if available, otherwise recalculate -->
        <set-variable variableName="reportsZipPath" value="#[vars.reportsZipPath default (vars.validationResults.reportsPath ++ '.zip')]"/>
        
        <!-- Attach Reports ZIP if enabled -->
        <choice>
            <when expression="#[vars.shouldAttachReports]">
                <try>
                    <file:read path="#[vars.reportsZipPath]" target="reportsZipContent" config-ref="File_Config"/>
                    <set-variable variableName="reportsZipSize" value="#[output application/java --- sizeOf(vars.reportsZipContent)]"/>
                    <set-variable variableName="totalAttachmentSize" value="#[output application/java --- vars.totalAttachmentSize + vars.reportsZipSize]"/>
                    
                    <set-variable variableName="emailAttachments" value="#[output application/java --- vars.emailAttachments ++ {
                        (vars.reportDirName ++ '.zip'): vars.reportsZipContent
                    }]"/>
                    <logger level="INFO" message="#['Attached reports ZIP (' ++ vars.reportsZipSize ++ ' bytes)']"/>
                    
                    <error-handler>
                        <on-error-continue>
                            <logger level="WARN" message="#['Failed to attach reports ZIP: ' ++ error.description]"/>
                        </on-error-continue>
                    </error-handler>
                </try>
            </when>
            <otherwise>
                <logger level="DEBUG" message="Report attachment not requested or disabled, skipping attachment"/>
            </otherwise>
        </choice>

        <!-- Attach Input ZIP if enabled -->
        <choice>
            <when expression="#[vars.shouldAttachInput and vars.zipFilePath != null]">
                <try>
                    <file:read path="#[vars.zipFilePath]" target="inputZipContent" config-ref="File_Config"/>
                    <set-variable variableName="inputZipSize" value="#[output application/java --- sizeOf(vars.inputZipContent)]"/>
                    <set-variable variableName="totalAttachmentSize" value="#[output application/java --- vars.totalAttachmentSize + vars.inputZipSize]"/>
                    
                    <set-variable variableName="emailAttachments" value="#[output application/java --- vars.emailAttachments ++ {
                        'input-project.zip': vars.inputZipContent
                    }]"/>
                    <logger level="INFO" message="#['Attached input ZIP (' ++ vars.inputZipSize ++ ' bytes)']"/>
                    
                    <error-handler>
                        <on-error-continue>
                            <logger level="WARN" message="#['Failed to attach input ZIP: ' ++ error.description]"/>
                        </on-error-continue>
                    </error-handler>
                </try>
            </when>
            <otherwise>
                <logger level="DEBUG" message="Input ZIP attachment not requested or disabled, skipping attachment"/>
            </otherwise>
        </choice>

        <!-- Final size check: Skip all attachments if total exceeds limit -->
        <choice>
            <when expression="#[vars.totalAttachmentSize &lt; ('${notification.max.attachment.size.mb}' as Number * 1048576)]">
                 <!-- Attachments already added to vars.emailAttachments -->
                <logger level="INFO" message="#['Attaching ' ++ sizeOf(vars.emailAttachments) ++ ' file(s) (total: ' ++ vars.totalAttachmentSize ++ ' bytes)']"/>
            </when>
            <otherwise>
                <set-variable variableName="emailAttachments" value="#[{}]"/>
                <logger level="WARN" message="#['Total attachments exceed size limit (' ++ vars.totalAttachmentSize ++ ' bytes), skipping all attachments']"/>
            </otherwise>
        </choice>

        <!-- Build comprehensive email body (MOVED here to have access to vars.emailAttachments) -->
        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output text/plain
---
"<html>
<head>
    <meta charset='utf-8'/>
    <style>
        body { font-family: Arial, sans-serif; margin: 0; padding: 0; background: #f5f5f5; }
        .container { max-width: 700px; margin: 20px auto; background: white; }
        .header { background: #663399; color: white; padding: 25px; text-align: center; }
        .section { margin: 0; padding: 20px; border-bottom: 1px solid #e0e0e0; }
        .label { font-weight: bold; color: #663399; width: 180px; display: inline-block; }
        table { border-collapse: collapse; width: 100%; margin-top: 10px; }
        td { padding: 10px 5px; border-bottom: 1px solid #f0f0f0; }
        .highlight { background: #f9f4ff; padding: 15px; border-radius: 5px; margin: 10px 0; }
        .link { color: #0078d4; text-decoration: none; font-weight: bold; }
        .footer { background: #f9f9f9; padding: 15px; text-align: center; font-size: 12px; color: #666; }
        .stats-grid { display: table; width: 100%; margin-top: 15px; }
        .stat-box { display: table-cell; padding: 15px; text-align: center; border-right: 1px solid #e0e0e0; }
        .stat-box:last-child { border-right: none; }
        .stat-number { font-size: 24px; font-weight: bold; color: #663399; display: block; }
        .stat-label { font-size: 12px; color: #666; margin-top: 5px; }
    </style>
</head>
<body>
    <div class='container'>
        <div class='header'>
            <img src='cid:logo.png' alt='MuleGuard' style='height: 50px; display: block; margin: 0 auto 10px auto;'/>
            <h2 style='margin: 0;'>🛡️ MuleGuard Validation Report</h2>
        </div>
        
        <div class='section'>
            <h3 style='color: #663399; margin-top: 0;'>👤 User Information</h3>
            <table>
                <tr><td class='label'>Name:</td><td>" ++ vars.sessionData.name ++ "</td></tr>
                <tr><td class='label'>Email:</td><td>" ++ vars.sessionData.email ++ "</td></tr>
                <tr><td class='label'>Company:</td><td>" ++ vars.sessionData.company ++ "</td></tr>
                <tr><td class='label'>IP Address:</td><td>" ++ vars.sessionData.ipAddress ++ "</td></tr>
            </table>
        </div>
        
        <div class='section'>
            <h3 style='color: #663399; margin-top: 0;'>📦 Validation Details</h3>
            <table>
                <tr><td class='label'>Mode:</td><td><strong>" ++ upper(vars.validationMode) ++ "</strong></td></tr>
                <tr><td class='label'>Session ID:</td><td><code>" ++ vars.userSessionId ++ "</code></td></tr>
                <tr><td class='label'>Project Path:</td><td>" ++ vars.displayPath ++ "</td></tr>
                <tr><td class='label'>Custom Rules:</td><td>" ++ (if (vars.customRulesPath != null) "Yes" else "No") ++ "</td></tr>
                <tr><td class='label'>Timestamp:</td><td>" ++ (now() >> p('raksanalyzer.email.timezone')) as String {format: "yyyy-MM-dd HH:mm:ss z"} ++ "</td></tr>
            </table>
        </div>
        
        <div class='section'>
            <h3 style='color: #663399; margin-top: 0;'>📊 Results Summary</h3>
            <div class='highlight'>
                <table style='width: 100%; border-collapse: collapse;'>
                    <tr>
                        <td class='label' style='width: 40%; padding: 8px; border-bottom: 1px solid #ddd;'>Overall Status:</td>
                        <td style='padding: 8px; border-bottom: 1px solid #ddd;'><strong style='font-size: 18px; color: " ++ (if (vars.validationResults.status == "PASS") "#28a745" else if (vars.validationResults.status == "FAIL") "#dc3545" else "#ffc107") ++ ";'>" ++ vars.validationResults.status ++ "</strong></td>
                    </tr>
                    <tr>
                        <td class='label' style='padding: 8px; border-bottom: 1px solid #ddd;'>Rules Passed:</td>
                        <td style='padding: 8px; border-bottom: 1px solid #ddd;'><strong style='color: #28a745;'>" ++ (sizeOf(vars.validationResults.passed default []) as String) ++ "</strong></td>
                    </tr>
                    <tr>
                        <td class='label' style='padding: 8px; border-bottom: 1px solid #ddd;'>Rules Failed:</td>
                        <td style='padding: 8px; border-bottom: 1px solid #ddd;'><strong style='color: " ++ (if (sizeOf(vars.validationResults.failed default []) > 0) "#dc3545" else "#28a745") ++ ";'>" ++ (sizeOf(vars.validationResults.failed default []) as String) ++ "</strong></td>
                    </tr>
                    <tr>
                        <td class='label' style='padding: 8px;'>Rules Skipped:</td>
                        <td style='padding: 8px;'><strong style='color: #ffc107;'>" ++ (sizeOf(vars.validationResults.skipped default []) as String) ++ "</strong></td>
                    </tr>
                </table>
                <p style='margin: 15px 0 0 0; color: #666; font-size: 13px;'>📊 <em>View the consolidated report for detailed API-level pass/fail counts, rule violations, and compliance scores.</em></p>
            </div>
        </div>
        
        
        <div class='section'>
            <h3 style='color: #663399; margin-top: 0;'>📎 Attachments</h3>
            <p>" ++ (if (sizeOf(vars.emailAttachments default {}) > 0) 
                '✅ Please check the report details in attachment of the email.'
            else if (vars.attachmentSkippedMessage != null)
                '⚠️ ' ++ vars.attachmentSkippedMessage
            else
                '❌ No attachments (reports available via web interface)') ++ "</p>
        </div>
        
        
        " ++ 
        "<div class='section'>
            <h3 style='color: #663399; margin-top: 0;'>🔗 View Full Report Online</h3>
            <div class='highlight'>
                <p style='margin: 0;'>Click the link below to view the complete validation report:</p>
                <p style='margin: 10px 0 0 0;'><a href='" ++ vars.baseUrl ++ "/muleguard/reports/" ++ vars.userSessionId ++ "/" ++ vars.reportDirName ++ "/CONSOLIDATED-REPORT.html' class='link'>📊 View Consolidated Report</a></p>
                <p style='font-size: 11px; color: #999; margin-top: 8px;'>⏳ <em>Note: This link will remain active for the duration of your session. Reports are automatically cleaned up after session expiry.</em></p>
            </div>
        </div>"
         ++ "
        
        <div class='footer'>
            <p style='margin: 0;'>This is an automated notification from MuleGuard</p>
            <p style='margin: 5px 0 0 0;'>© 2025 RAKS - MuleSoft Application Validation Tool</p>
        </div>
    </div>
</body>
</html>"]]></ee:set-payload>
            </ee:message>
        </ee:transform>
        
        <!-- Send email with conditional attachments -->
        <choice>
            <when expression="#[sizeOf(vars.emailAttachments) > 0]">
                <!-- Send with attachments -->
                <email:send config-ref="Email_SMTP" 
                            subject="#['${notification.email.subject}' replace '{name}' with vars.sessionData.name replace '{emailId}' with vars.sessionData.email]"
                            toAddresses="#[(vars.sessionData.email default p('notification.email.to')) splitBy ',']"
                            ccAddresses="#[p('notification.email.to') splitBy ',']"
                            fromAddress="MuleGuard &lt;${notification.email.from}&gt;">
                    <email:body contentType="text/html" encoding="UTF-8">
                        <email:content>#[payload]</email:content>
                    </email:body>
                    <email:attachments>#[vars.emailAttachments]</email:attachments>
                </email:send>
            </when>
            <otherwise>
                <!-- Send without attachments -->
                <email:send config-ref="Email_SMTP" 
                            subject="#['${notification.email.subject}' replace '{name}' with vars.sessionData.name replace '{emailId}' with vars.sessionData.email]"
                            toAddresses="#[(vars.sessionData.email default p('notification.email.to')) splitBy ',']"
                            ccAddresses="#[p('notification.email.to') splitBy ',']"
                            fromAddress="MuleGuard &lt;${notification.email.from}&gt;">
                    <email:body contentType="text/html" encoding="UTF-8">
                        <email:content>#[payload]</email:content>
                    </email:body>
                </email:send>
            </otherwise>
        </choice>
        
        <logger level="INFO" message="Usage notification email sent successfully"/>

        <!-- Cleanup of temporary report ZIP is handled by Workspace Cleanup Scheduler -->
        <logger level="DEBUG" message="Notification flow completed"/>
        
        <error-handler>
            <on-error-continue>
                <logger level="ERROR" message="#['Failed to send usage notification email: ' ++ error.description]"/>
            </on-error-continue>
        </error-handler>
    </flow>



    <!-- Flow 8: Workspace Cleanup Scheduler -->
    <flow name="cleanup-workspace-flow">
        <scheduler>
            <scheduling-strategy>
                <cron expression="${workspace.cleanup.schedule}"/>
            </scheduling-strategy>
        </scheduler>
        
        <logger level="INFO" message="Starting workspace cleanup..."/>
        
        <choice>
            <when expression="#['${workspace.cleanup.enabled}' == 'true']">
                <!-- Get workspace directory -->
                <set-variable variableName="workspaceDir" value="#[p('app.home') ++ '/workspace']"/>
                <set-variable variableName="retentionDays" value="#['${workspace.cleanup.retention.days}' as Number]"/>
                <set-variable variableName="retentionHours" value="#[vars.retentionDays * 24]"/>
                <set-variable variableName="cutoffTime" value="#[now() - (vars.retentionHours as Number) * |PT1H|]"/>
                
                <logger level="INFO" message="#['Cleaning up workspace directories older than ' ++ vars.retentionDays ++ ' days']"/>
                
                <!-- List all session directories -->
                <file:list directoryPath="#[vars.workspaceDir]" config-ref="File_Config"/>
                
                <!-- Filter and delete old directories -->
                <foreach>
                    <set-variable variableName="dirPath" value="#[vars.workspaceDir ++ '/' ++ payload.attributes.fileName]"/>
                    <set-variable variableName="dirModified" value="#[payload.attributes.lastModifiedTime]"/>
                    
                    <choice>
                        <when expression="#[vars.dirModified &lt; vars.cutoffTime]">
                            <logger level="INFO" message="#['Deleting old workspace: ' ++ payload.attributes.fileName]"/>
                            <try>
                                <file:delete path="#[vars.dirPath]" config-ref="File_Config"/>
                                <error-handler>
                                    <on-error-continue>
                                        <logger level="WARN" message="#['Failed to delete workspace: ' ++ payload.attributes.fileName ++ ' - ' ++ error.description]"/>
                                    </on-error-continue>
                                </error-handler>
                            </try>
                        </when>
                        <otherwise>
                            <logger level="DEBUG" message="#['Workspace directory is recent: ' ++ payload.attributes.fileName ++ ', skipping cleanup']"/>
                        </otherwise>
                    </choice>
                </foreach>
                
                <logger level="INFO" message="Workspace cleanup completed"/>
            </when>
            <otherwise>
                <logger level="INFO" message="Workspace cleanup is disabled"/>
            </otherwise>
        </choice>
        
        <error-handler>
            <on-error-continue>
                <logger level="ERROR" message="#['Workspace cleanup failed: ' ++ error.description]"/>
            </on-error-continue>
        </error-handler>
    </flow>


    <!-- Flow 8: Send Registration Notification Email -->
    <flow name="send-registration-notification-flow">
        <choice>
            <when expression="#['${notification.registration.email.enabled}' == 'true']">
                <logger level="INFO" message="Sending registration notification email..."/>
                
                <!-- Attach Logo -->
                <set-variable variableName="registrationEmailAttachments" value="#[{ 'logo.png': readUrl('classpath://web/logo.png', 'application/octet-stream') }]"/>

                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output text/plain
---
"<html>
<head>
    <style>
        body { font-family: Arial, sans-serif; margin: 0; padding: 0; background: #f5f5f5; }
        .container { max-width: 600px; margin: 20px auto; background: white; border-radius: 8px; overflow: hidden; box-shadow: 0 4px 6px rgba(0,0,0,0.1); }
        .header { background: #663399; color: white; padding: 25px; text-align: center; }
        .section { padding: 25px; border-bottom: 1px solid #e0e0e0; }
        .label { font-weight: bold; color: #663399; width: 140px; display: inline-block; }
        table { border-collapse: collapse; width: 100%; }
        td { padding: 12px 5px; border-bottom: 1px solid #f0f0f0; }
        tr:last-child td { border-bottom: none; }
        .footer { background: #f9f9f9; padding: 15px; text-align: center; font-size: 12px; color: #666; }
    </style>
</head>
<body>
    <div class='container'>
        <div class='header'>
            <img src='cid:logo.png' alt='MuleGuard' style='height: 50px; display: block; margin: 0 auto 10px auto;'/>
            <h2 style='margin: 0;'>New User Registration</h2>
        </div>
        
        <div class='section'>
            <p>A new user has registered to use the MuleGuard application.</p>
            <table>
                <tr><td class='label'>Name:</td><td>" ++ vars.userName ++ "</td></tr>
                <tr><td class='label'>Email:</td><td>" ++ vars.userEmail ++ "</td></tr>
                <tr><td class='label'>Company:</td><td>" ++ vars.userCompany ++ "</td></tr>
                <tr><td class='label'>IP Address:</td><td>" ++ vars.userIpAddress ++ "</td></tr>
                <tr><td class='label'>Session Start:</td><td>" ++ vars.sessionStartTime ++ "</td></tr>
            </table>
        </div>
        
        <div class='footer'>
             <p style='margin: 0;'>MuleGuard Notification System</p>
        </div>
    </div>
</body>
</html>"]]></ee:set-payload>
                    </ee:message>
                </ee:transform>

                <email:send config-ref="Email_SMTP" fromAddress="${notification.email.from}" 
                            subject="#['MuleGuard Tool Registered by ' ++ vars.userName ++ ' : ' ++ vars.userEmail ++ (if (vars.userCompany != null and vars.userCompany != 'N/A' and vars.userCompany != '') ' - ' ++ vars.userCompany else '')]" 
                            toAddresses="#['${notification.email.to}' splitBy ',']">
                    <email:body contentType="text/html"/>
                    <email:attachments>#[vars.registrationEmailAttachments]</email:attachments>
                </email:send>
                <logger level="INFO" message="Registration notification sent."/>
            </when>
            <otherwise>
                <logger level="DEBUG" message="Registration email disabled."/>
            </otherwise>
        </choice>
        <error-handler>
            <on-error-continue>
                <logger level="WARN" message="#['Failed to send registration email: ' ++ error.description]"/>
            </on-error-continue>
        </error-handler>
    </flow>

    <!-- NEW FLOW: Serve Generated Reports from Filesystem -->
    <flow name="report-serving-flow">
        <http:listener path="/muleguard/reports/{sessionId}/*" config-ref="HTTP_Listener_config" allowedMethods="GET">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers><![CDATA[#[
                    output application/java
                    ---
                    {
                        "Content-Type": vars.mimeType default "text/html"
                    }
                ]]]></http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
            </http:error-response>
        </http:listener>
        
        <set-variable variableName="sessionId" value="#[attributes.uriParams.sessionId]"/>
        <set-variable variableName="resourcePath" value="#[attributes.relativePath replace ('/muleguard/reports/' ++ vars.sessionId ++ '/') with '']"/>
        
        <!-- Retrieve Project Path from Object Store (Handles dynamic subfolder structure) -->
        <os:retrieve key="#[vars.sessionId]" objectStore="Report_Path_Store" target="storedPath">
            <os:default-value>null</os:default-value>
        </os:retrieve>
        
        <choice>
            <when expression="#[vars.storedPath != null]">
                <!-- storedPath format: projectPath || reportDirName -->
                <set-variable variableName="projectPath" value="#[(vars.storedPath splitBy '||')[0]]"/>
                <!-- Resource path includes report dir name, so we just append it to project root -->
                <set-variable variableName="filePath" value="#[vars.projectPath ++ '/' ++ vars.resourcePath]"/>
                
                <!-- Determine MIME type -->
                <set-variable variableName="mimeType" value="#[
                    if (vars.resourcePath endsWith '.html') 'text/html; charset=UTF-8'
                    else if (vars.resourcePath endsWith '.css') 'text/css; charset=UTF-8'
                    else if (vars.resourcePath endsWith '.js') 'application/javascript; charset=UTF-8'
                    else if (vars.resourcePath endsWith '.svg') 'image/svg+xml'
                    else if (vars.resourcePath endsWith '.png') 'image/png'
                    else if (vars.resourcePath endsWith '.jpg') 'image/jpeg'
                    else 'application/octet-stream'
                ]"/>

                <file:read path="#[vars.filePath]" config-ref="File_Config"/>
            </when>
            <otherwise>
                <!-- Session not found or expired -->
                <logger level="WARN" message="#['Session expired or invalid: ' ++ vars.sessionId]"/>
                <set-variable variableName="mimeType" value="text/html; charset=UTF-8"/>
                <set-variable variableName="httpStatus" value="404"/>
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output text/html encoding="UTF-8"
---
"<!DOCTYPE html>
<html>
<head>
    <title>Report Expired</title>
    <meta charset='utf-8'/>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <style>
        body { font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; background: #f5f5f5; display: flex; align-items: center; justify-content: center; height: 100vh; margin: 0; padding: 20px; }
        .container { background: white; padding: 50px 40px; border-radius: 12px; box-shadow: 0 10px 25px rgba(0,0,0,0.05); text-align: center; max-width: 500px; width: 100%; }
        h1 { color: #5a3088; margin: 0 0 15px 0; font-size: 28px; }
        p { color: #666; line-height: 1.6; margin-bottom: 25px; font-size: 16px; }
        .icon { font-size: 72px; margin-bottom: 25px; display: block; animation: fadein 1s; }
        .btn { display: inline-block; padding: 12px 30px; background: #663399; color: white; text-decoration: none; border-radius: 25px; font-weight: 600; transition: background 0.3s ease; box-shadow: 0 4px 10px rgba(102, 51, 153, 0.3); }
        .btn:hover { background: #52297a; box-shadow: 0 6px 15px rgba(102, 51, 153, 0.4); transform: translateY(-1px); }
        .footer { margin-top: 30px; font-size: 12px; color: #999; }
        @keyframes fadein { from { opacity: 0; transform: translateY(10px); } to { opacity: 1; transform: translateY(0); } }
    </style>
</head>
<body>
    <div class='container'>
        <span class='icon'>⏳</span>
        <h1>Report Expired</h1>
        <p>The validation report you are looking for is no longer available.</p>
        <p style='background: #fdf2f2; color: #c0392b; padding: 10px; border-radius: 6px; font-size: 14px;'>
            <strong>Reason:</strong> Reports are automatically deleted 24 hours after generation for security and data retention compliance.
        </p>
        <a href='/apiguard/muleguard' class='btn'>Start New Analysis</a>
        <div class='footer'>MuleGuard &copy; RAKS</div>
    </div>
</body>
</html>"]]></ee:set-payload>
                    </ee:message>
                </ee:transform>
            </otherwise>
        </choice>
        
        <error-handler>
            <on-error-continue type="FILE:FILE_NOT_FOUND,FILE:ILLEGAL_PATH,FILE:ACCESS_DENIED,OS:KEY_NOT_FOUND">
                <logger level="WARN" message="#['Report not found or expired: ' ++ (vars.filePath default 'Unknown Path')]"/>
                <set-variable variableName="mimeType" value="text/html; charset=UTF-8"/>
                <set-variable variableName="httpStatus" value="404"/>
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output text/html encoding="UTF-8"
---
"<!DOCTYPE html>
<html>
<head>
    <title>Report Expired</title>
    <meta charset='utf-8'/>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <style>
        body { font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; background: #f5f5f5; display: flex; align-items: center; justify-content: center; height: 100vh; margin: 0; padding: 20px; }
        .container { background: white; padding: 50px 40px; border-radius: 12px; box-shadow: 0 10px 25px rgba(0,0,0,0.05); text-align: center; max-width: 500px; width: 100%; }
        h1 { color: #5a3088; margin: 0 0 15px 0; font-size: 28px; }
        p { color: #666; line-height: 1.6; margin-bottom: 25px; font-size: 16px; }
        .icon { font-size: 72px; margin-bottom: 25px; display: block; animation: fadein 1s; }
        .btn { display: inline-block; padding: 12px 30px; background: #663399; color: white; text-decoration: none; border-radius: 25px; font-weight: 600; transition: background 0.3s ease; box-shadow: 0 4px 10px rgba(102, 51, 153, 0.3); }
        .btn:hover { background: #52297a; box-shadow: 0 6px 15px rgba(102, 51, 153, 0.4); transform: translateY(-1px); }
        .footer { margin-top: 30px; font-size: 12px; color: #999; }
        @keyframes fadein { from { opacity: 0; transform: translateY(10px); } to { opacity: 1; transform: translateY(0); } }
    </style>
</head>
<body>
    <div class='container'>
        <span class='icon'>⏳</span>
        <h1>Report Expired</h1>
        <p>The validation report you are looking for is no longer available.</p>
        <p style='background: #fdf2f2; color: #c0392b; padding: 10px; border-radius: 6px; font-size: 14px;'>
            <strong>Reason:</strong> Reports are automatically deleted 24 hours after generation for security and data retention compliance.
        </p>
        <a href='/apiguard/muleguard' class='btn'>Start New Analysis</a>
        <div class='footer'>MuleGuard &copy; RAKS</div>
    </div>
</body>
</html>"]]></ee:set-payload>
                    </ee:message>
                </ee:transform>
            </on-error-continue>
            <on-error-continue type="ANY">
                <logger level="ERROR" message="#['Error serving report: ' ++ error.description]"/>
                <set-variable variableName="httpStatus" value="500"/>
                <set-payload value='{"error": "Internal Server Error"}' mimeType="application/json"/>
            </on-error-continue>
        </error-handler>
    </flow>

    <!-- NEW FLOW: Download ZIP -->
    <flow name="download-serving-flow">
        <http:listener path="/muleguard/download" config-ref="HTTP_Listener_config" allowedMethods="GET">
            <http:response>
                <http:headers><![CDATA[#[
                    output application/java
                    ---
                    {
                        "Content-Type": "application/zip",
                        "Content-Disposition": "attachment; filename=\"" ++ (vars.downloadFilename default "validation-report.zip") ++ "\""
                    }
                ]]]></http:headers>
            </http:response>
        </http:listener>
        
        <set-variable variableName="sessionId" value="#[attributes.queryParams.session]"/>
        
        <choice>
             <when expression="#[vars.sessionId != null]">
                 <!-- Construct path to the zip file. Logic matches validation flow zip naming -->
                 <!-- Zip is named: {reportDirName}.zip. Usually 'muleguard-reports.zip' or timestamped -->
                 <!-- BUT validation flow returned 'validation-report.zip' as name to UI. -->
                 <!-- We need to find the actual zip file. -->
                 <!-- In validation-trigger-flow, we saved it as: vars.projectPath ++ '/' ++ vars.reportDirName ++ '.zip' -->
                 <!-- vars.projectPath is usually workDir/sessionId/input -->
                 <!-- Actually, projectPath is passed into validation flow. -->
                 <!-- Let's find the ZIP in the session directory. -->
                 
                 <set-variable variableName="workDir" value="#[p('muleguard.work.dir')]"/>
                 <!-- We assume the zip is at workDir/sessionId/input/muleguard-reports*.zip or similar -->
                 <!-- To be robust, let's look for the first .zip file in the project root that isn't input.zip -->
                 <!-- Or simpler, just reconstruct the path if possible. URL param 'file' was used in UI. -->
                 
                 <!-- Let's try to trust the 'file' param if we validate it's inside the session dir -->
                 <!-- But UI sends 'validation-report.zip'. -->
                 
                 <!-- Strategy: Look for the report zip in the session dir -->
                 <!-- The zip was created at: projectPath / reportDirName .zip -->
                 <!-- projectPath = workDir/sessionId/extracted_folder -->
                 <!-- This is hard to guess. -->
                 
                 <!-- Better: Use the ObjectStore 'Report_Path_Store' we populated! -->
                 <os:retrieve key="#[vars.sessionId]" objectStore="Report_Path_Store" target="storedPath">
                    <os:default-value>null</os:default-value>
                 </os:retrieve>
                 
                 <choice>
                    <when expression="#[vars.storedPath != null]">
                        <!-- storedPath format: projectPath || reportDirName || reportBaseName -->
                        <set-variable variableName="projectPath" value="#[(vars.storedPath splitBy '||')[0]]"/>
                        <set-variable variableName="reportDirName" value="#[(vars.storedPath splitBy '||')[1]]"/>
                        <set-variable variableName="baseName" value="#[(vars.storedPath splitBy '||')[2] default 'project']"/>
                        <!-- Construct filename: baseName_validation-report.zip -->
                        <set-variable variableName="downloadFilename" value="#[vars.baseName ++ '_validation-report.zip']"/>
                        
                        <!-- The ZIP is created at projectPath/reportDirName.zip -->
                        <set-variable variableName="zipFilePath" value="#[vars.projectPath ++ '/' ++ vars.reportDirName ++ '.zip']"/>
                        
                        <!-- Try to read, if fails, try parent directory -->
                        <try>
                            <file:read path="#[vars.zipFilePath]" config-ref="File_Config"/>
                            <error-handler>
                                <on-error-continue type="FILE:ILLEGAL_PATH,FILE:FILE_DOESNT_EXIST">
                                    <!-- Get parent path by splitting and rejoining -->
                                    <set-variable variableName="pathParts" value="#[vars.projectPath splitBy '/']"/>
                                    <set-variable variableName="parentPath" value="#[(vars.pathParts[0 to -2]) joinBy '/']"/>
                                    <set-variable variableName="zipFilePath" value="#[vars.parentPath ++ '/' ++ vars.reportDirName ++ '.zip']"/>
                                    <file:read path="#[vars.zipFilePath]" config-ref="File_Config"/>
                                </on-error-continue>
                            </error-handler>
                        </try>
                    </when>
                    <otherwise>
                        <logger level="ERROR" message="Session path not found in ObjectStore"/>
                        <set-payload value="Session expired or invalid"/>
                        <http:request method="GET" url="http://localhost"/> <!-- Force error or send 404 -->
                    </otherwise>
                 </choice>
             </when>
             <otherwise>
                 <set-payload value="Missing session ID"/>
             </otherwise>
        </choice>
    </flow>
</mule>
