raksanalyzer/testdata/testmule1/src/main/mule/testmule1.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:email="http://www.mulesoft.org/schema/mule/email" xmlns:batch="http://www.mulesoft.org/schema/mule/batch"
	xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/batch http://www.mulesoft.org/schema/mule/batch/current/mule-batch.xsd
http://www.mulesoft.org/schema/mule/email http://www.mulesoft.org/schema/mule/email/current/mule-email.xsd">
	<email:smtp-config name="Email_SMTP" doc:name="Email SMTP" doc:id="acfd95b4-d4ea-4472-8a6d-a4fbb09e8cbd" >
		<email:smtp-connection />
	</email:smtp-config>
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="3e43eccd-04fe-42c7-ae91-c8f6e78f367e" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<http:request-config name="HTTP_Request_config" doc:name="HTTP Request config" doc:id="b550bc32-648d-403b-9f22-2f852e0e0e23" />
	<flow name="testmule1Flow" doc:id="04f6a065-9f5f-43c1-bb80-a41170e7b4b4" >
		<http:listener doc:name="Listener" doc:id="1ca3b064-7300-4615-9ffb-f37759ff75aa" config-ref="HTTP_Listener_config"/>
		<logger level="INFO" doc:name="Logger" doc:id="50a6b587-9222-4029-9154-a04cf5fe8032" />
		<set-payload value="#[payload]" doc:name="Set Payload" doc:id="5408cebf-e335-4c8c-91f5-7854c97462cc" />
		<choice doc:name="Choice" doc:id="81a0d8a5-a55b-4d8b-b57b-c6926e546295" >
			<when >
				<logger level="INFO" doc:name="Logger" doc:id="ced79856-0a53-48e0-aa49-dceabde13830" />
				<async doc:name="Async" doc:id="1a624ad8-b21d-4f15-9bc8-befa3aa4ce94" >
					<ee:transform doc:name="Transform Message" doc:id="740974f4-2e89-48de-826a-23fe1368e1b2">
					<ee:message>
						<ee:set-payload><![CDATA[%dw 2.0
output application/java
---
{
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
				</async>
				<flow-ref doc:name="Flow Reference" doc:id="dfd1363a-a2bd-41d2-87e1-210842659fca" name="testmule1Flow1"/>
			</when>
			<when >
				<logger level="INFO" doc:name="Logger" doc:id="6febc88e-be5e-49ef-83c2-bd5350005962" />
				<ee:transform doc:name="Transform Message" doc:id="c0e28820-d16a-4711-9889-9c4be2a7daef" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
{
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
				<http:request doc:name="Request" doc:id="820510ee-d21c-4b55-9910-c135e7371336" config-ref="HTTP_Request_config"/>
			
</when>
			<otherwise >
				<set-payload value="#[payload]" doc:name="Set Payload" doc:id="70699416-64d3-4675-a987-7feb7d73ca03" />
				<logger level="INFO" doc:name="Logger" doc:id="3cd8c15c-0cb1-4fb1-a9b0-ceddec2c4559" />
			</otherwise>
		</choice>
		<try doc:name="Try" doc:id="3374e94d-d176-47d5-9401-75db1f546f6e" >
			<logger level="INFO" doc:name="Logger" doc:id="1784a7d6-69b8-42ea-8f38-61718d2f5794" />
			<set-payload value="#[payload]" doc:name="Set Payload" doc:id="c54694f5-a1e1-4f21-8c8f-b68bd975cfb7" />
			<email:send doc:id="75499e8f-ea3b-41e1-a8b0-fbee5aca2bb7" toAddresses="" config-ref="Email_SMTP"/>
			<error-handler ref="testmule1Error_Handler" />
		</try>
		<choice doc:name="Choice" doc:id="d3569b42-3c6c-4f30-932d-c42705b2b70f" >
			<when >
				<logger level="INFO" doc:name="Logger" doc:id="83607933-0dc7-4ef3-a109-dc3f8d12cb85" />
			</when>
			<otherwise >
				<set-payload value="#[payload]" doc:name="Set Payload" doc:id="81f70144-f1b6-47db-8b6e-bbda136d9a86" />
				<logger level="INFO" doc:name="Logger" doc:id="d1d558e9-ecb5-4e95-8c43-47fa51ac6f70" />
			</otherwise>
		</choice>
		<scatter-gather doc:name="Scatter-Gather" doc:id="6a06fa65-ba5c-49a1-8677-fc9e39933432" >
			<route >
				<ee:transform doc:name="Transform Message" doc:id="de950a59-2ee7-4a41-a9b2-dae3b57dd0b4" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
{
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
				<batch:job jobName="Batch Job" doc:id="7bba0534-aa29-456c-9f63-03963322310a" >
					<batch:process-records >
						<batch:step name="Batch_Step" doc:id="ccc8d32f-06d8-4832-a133-e9ee9a4534ba" >
							<logger level="INFO" doc:name="Logger" doc:id="7d96d67e-f041-4a30-a406-1817680dc37d" />
						</batch:step>
					</batch:process-records>
					<batch:on-complete >
						<ee:invalidate-key doc:name="Invalidate Key" doc:id="4ad0cc84-9a3d-4abe-84af-4cb82151ac98" />
					</batch:on-complete>
				</batch:job>
			</route>
			<route >
				<tracking:transaction doc:name="Set Transaction Id" doc:id="15744db3-50b9-4ad5-917a-05d3a3492415" />
				<ee:invalidate-cache doc:name="Invalidate Cache" doc:id="daa7b2df-b6f9-4d8e-8cc4-a24f26580122" />
			</route>
		</scatter-gather>
	</flow>
	<flow name="testmule1Flow1" doc:id="6b962375-f2c0-4c02-838f-2bc958d01adb" >
		<http:listener doc:name="Listener" doc:id="b09b0df2-a209-4933-a410-5fe70c3a97cd" />
		<ee:transform doc:name="Transform Message" doc:id="c34cabfb-a986-485d-a864-9a3fcd85afa6" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
{
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<async doc:name="Async" doc:id="e67fcca1-65b2-4db2-8b6d-2dd123455fd4" />
		<set-payload value="#[payload]" doc:name="Set Payload" doc:id="e73be6d0-b1dc-4ab9-8865-be13a10a2cb7" />
	</flow>
	<error-handler name="testmule1Error_Handler" doc:id="3a70e50e-2dd1-4c63-a135-869b98d0c7b2" />
</mule>
